<style>
    .tht:hover {
        color: blue;
    }
    
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
        /*		background-color: #fff;*/
    }

</style>
<!--Up and Down Arrow -->
<style>
/*
    body {
        padding-top: 50px;
    }
*/

</style>

<style>
    th {
        cursor: pointer;
    }
    
    {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

</style>

<!--
<script type="text/javascript">
    var sortingOrder = 'FieldworkerName';

</script>
-->
<!-- Horizontal Form -->
<div class="box box-info custom-main-box" style="min-height:450px;border-top:none;" data-ng-init="toggleLoading()">
        <div class="box-header with-border custom-main-header">
            <h3 class="box-title">{{TILanguage.fwsitelink}}</h3>
        </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body custom-main-body">
        <div class="content-custom-sub-header" data-ng-hide="hideSearchFilter()">
            <div class="row">
                <div class="col-sm-6">
                    
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-md-3 col-lg-2">
                            <div data-ng-hide="hideSearchFilter()">
                                <div class="form-group">
                                    <label for="maritalstatus" class="select-label">{{TILanguage.show}} &nbsp;</label>
                                    <div class="custom-arrow-select">
                                        <select class="form-control select-custom" data-placeholder="{{TILanguage.show}}" ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-7 col-md-6 col-lg-6">
                            <div class="form-group" data-ng-hide="hideSearchFilter()">
                                <label>&nbsp;</label>
                                <div class="input-group search-bar">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                    </span>
                                    <input type="text" id="Search" class="form-control ng-pristine ng-valid" placeholder="{{TILanguage.search}}" data-ng-model="searchPart">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <a data-ng-href="/assignfwtosite/create" class="form-control btn btn-primary btn-sm custom-red-button" role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()">{{TILanguage.addNew}} </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--
        <div align="left">
            <a data-ng-href="/assignfwtosite/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton()">{{addnew}}</a>
        </div>
-->

        <div class="content-custom-sub-body" style="padding: 30px;" data-ng-show="showForm()">
            <form role="form">
                <p align="center" style="color:red;">{{TILanguage.mandatoryfield}}</p>
                <br/>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="partner" class="select-label">{{TILanguage.fieldworkerth}} </label>
                            <select ui-select2 ng-model="routelink.partnerId" data-placeholder="{{TILanguage.fieldworkerth}}" style="width:100%;">
                                <option value=""></option>
                                <option data-ng-repeat="partner in partners" value="{{partner.id}}">{{ partner.firstname +' - '+ partner.lastname}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="salesmanager" class="select-label">{{TILanguage.passignedsites}} </label>
                            <div style="width:100%; height:150px;">
                                <ul style="list-style:none; margin:0; padding:0;border: 1px solid lightgrey; height: 150px; overflow:auto; border-radius: 5px; padding:5px 10px;">
                                    <li ng-repeat="rout in exitingroutes">
                                        <input class="eventCheckbox" type="checkbox" ng-model="eventCheckbox" value="{{rout.id}}" name="vehicle" disabled>{{rout.name}}
                                    </li>

                                    <div ng-if="exitingroutes.length == 0" style="margin:0 auto;text-align:center;padding-top: 5%;"><span style="font-size:14px;font-weight:bold;">{{TILanguage.nositeassigned}}</span>
                                    </div>
                                </ul>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="salesmanager" class="select-label"><span style="color:red">{{TILanguage.pillarstarted}}</span></label>
                            
                            <div style="width:100%; height:150px;">
                                <ul style="list-style:none; margin:0; padding:0;border: 1px solid lightgrey; height: 150px; overflow:auto; border-radius: 5px; padding:5px 10px;">
                                    <li ng-repeat="route in availableroutes">
                                        <input class="messageCheckbox" type="checkbox" id="myCheck" ng-model="zipmaster.enabled" value="{{route.id}}" ng-change="Sitechange(zipmaster.enabled)"> {{route.name}}

                                    </li>
                                    <div ng-show="!availableroutes.length" style="margin:0 auto;text-align:center;padding-top: 20%;">
                                        <span style="font-size:18px;font-weight:bold;">{{TILanguage.nositeassigned}}</span>
                                    </div>
                                </ul>
                            </div>
                        </div>


                    </div>
                    <div class="col-sm-6"></div>
                </div>

                <br/>
                <br/>
                <br/>

                <div align="right">
                    <div>
                        <a data-ng-href="/assignfwtosite" class="btn btn-danger btn-sm custom-blue-light-button" role="button">{{TILanguage.cancel}}</a>

                        <a class="btn btn-success btn-sm custom-pink-button" type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()" ng-disabled="saveDisable">{{TILanguage.saveLabel}} </a>&nbsp;

                        <a class="btn btn-success btn-sm custom-pink-button" type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()">{{TILanguage.update}} </a>&nbsp;

                    </div>
                </div>
            </form>
        </div>

        <div class="content-custom-sub-body">
            <div data-ng-hide="showForm()" class="table-responsive custom-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <!--<th ng-style="style" >{{fieldworkerth | uppercase}}</th>-->
                            <!--<th class="tht" ng-style="style" ng-click="FWFilter()" style="cursor:pointer;"><span style="color:{{backgroundCol1}};">{{fieldworkerth | uppercase}}</span></th>-->

                            <!--                        <th ng-style="style" ng-click="FWFilter()" style="cursor:pointer;" class="FieldworkerName"><span style="color:{{backgroundCol1}};">{{fieldworkerth | uppercase}}</span>&nbsp;<a ng-click="sort_by('FieldworkerName')"><i class="icon-sort"></i></a></th>-->

                            <th title="{{TILanguage.fieldworkerth}}" ng-click="changeSorting('FieldworkerName')">{{TILanguage.fieldworkerth | uppercase}}<span class="pull-right"><i class="fa fa-sort-desc" ng-class="getIcon('FieldworkerName')"></i></span></th>

                            <th title="{{TILanguage.sitename}}" ng-click="changeSorting('Sitename')">{{TILanguage.sitename | uppercase}}<span class="pull-right"><i class="fa fa-sort-desc" ng-class="getIcon('Sitename')"></i></span></th>

                            <!--
                            <th>
                                <a href="" ng-click="sortType = 'FieldworkerName'; sortReverse = !sortReverse">
            {{fieldworkerth | uppercase}} 
                <span ng-show="sortType == 'FieldworkerName' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'FieldworkerName' && sortReverse" class="fa fa-caret-up"></span>
            </a></th>
    -->

                            <!--<th>{{TILanguage.sitename | uppercase}}</th>-->

                            <th title="{{TILanguage.action}}">{{TILanguage.action | uppercase}}</th>
                        </tr>
                    </thead>
                    <!--                 | orderBy:sortingOrder:reverse -->
                    <tbody id="bnbody">
                        <tr dir-paginate="routelink in TotalData  = ( displayroutelinks | search:searchPart:filterFields )|  itemsPerPage:pageSize" current-page="currentPage">
                            <td>{{ routelink.index }}</td>
                            <td>{{routelink.FieldworkerName }}</td>
                            <td>{{routelink.SitenameId}} - {{routelink.Sitename}}</td>
                            <td>
                                <!--							<a data-ng-href="/assignfwtosite/{{routelink.id}}"><span class="glyphicon glyphicon-edit" title="Edit" style="color: black;"></span></a>&nbsp;-->

                                <a confirm-button="Delete(routelink.id,routelink.partnerId,routelink.distributionRouteId)"><span class="glyphicon glyphicon-remove" style="cursor:pointer;" title="Bin"></span></a>&nbsp;

                                <!--                            <a data-ng-href="/assignfwtosite" data-ng-click="Delete(routelink.id)"><span class="glyphicon glyphicon-trash" style="color: red;" title="Bin"></span></a>&nbsp;-->
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div align="right" class="custom-pagination">
                    <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" on-page-change="PageChanged(newPageNumber, oldPageNumber)">

                    </dir-pagination-controls>

                </div>
            </div>
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->



<modal2 title1="{{modalTitle}}" visible="thankyouModal">
    <p>{{message}}</p>
</modal2>
<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>
