<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }
    
    .tht:hover {
        color: blue;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
    }

</style>
<!--
<script>
table th.active {color: blue;}
$(document).ready(function(){
    $("#rowClick > th").click(function(){
        $(this).toggleClass("active");
    });
});
</script>
-->
<!--
<script type="text/javascript">
    var sortingOrder = 'name';
</script>
-->

<!-- Horizontal Form -->
<div class="box box-info custom-main-box" style="min-height:450px;border-top:none;"  data-ng-init="toggleLoading()">
    <!-- .box-header  -->
    <div class="box-header with-border custom-main-header">
        <h3 class="box-title">{{memberLang.memberlist}}</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body custom-main-body">
        <!--
        <div align="left">
            <a data-ng-href="/members/create" class="btn btn-primary btn-sm " role="button">{{addnew}} </a>
        </div>
-->     <div data-ng-hide="hideSearchFilter()">
        <div class="content-custom-sub-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="maritalstatus" class="select-label">{{memberLang.statusFilter}} Status Filter &nbsp;</label>
                                <div>
                                    <!-- <select id="sel1" class="form-control select-custom" placeholder="Filter" ng-model="statusDate.name" style="height:34px;">
                                        <option value="" disabled selected>{{todofwstatus}}</option>
                                        <option ng-repeat="duetode in duetodostatuses" value="{{duetode.id}}">{{duetode.name}}</option>
                                        <option ng-repeat="duetode in duetodostatuses" value="{{duetode.parentId}}">{{duetode.name}}</option>
                                    </select> -->
                                    <select ui-select2="" id="maritalstatus" data-ng-model="status" data-placeholder="{{memberLang.statusFilter}}Status Filter" style="width:100%">
                                        <option value=""></option>
                                        <option value="active">Active</option>
                                        <option disabled>Archive</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-md-3 col-lg-2">
                            <div data-ng-hide="hideSearchFilter()">
                                <div class="form-group">
                                    <label for="maritalstatus" class="select-label">{{memberLang.show}} &nbsp;</label>
                                    <div class="custom-arrow-select">
                                        <select class="form-control select-custom" ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-7 col-md-6 col-lg-6">
                            <div class="form-group" data-ng-hide="hideSearchFilter()">
                                <label>&nbsp;</label>
                                <div class="input-group search-bar">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                    </span>
                                    <input type="text" id="Search" class="form-control ng-pristine ng-valid" placeholder="{{memberLang.search}}" data-ng-model="searchPart">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <a data-ng-href="/members/create" class="btn btn-primary btn-sm form-control custom-red-button " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()">{{memberLang.addNew}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="content-custom-sub-body">
                <div data-ng-hide="showForm()" class="table-responsive custom-table">
                        <table class="table">
                            <thead>
                                <tr id="rowClick">
                                    <th>#</th>
            
                                    <th title="{{memberLang.fullname}}" ng-click="changeSorting('fullname')">{{memberLang.fullname | uppercase}}<span class="pull-right"><i class="fa fa-sort-desc" ng-class="getIcon('fullname')"></i></span></th>
                                      
                                    
                                     <th title="{{memberLang.memberId}}" ng-click="changeSorting('tiId')">{{memberLang.memberId | uppercase}}<span class="pull-right"><i class="fa fa-sort-desc" ng-class="getIcon('tiId')"></i></span></th>
            
            <!--                        <th>{{nickname | uppercase}}</th>-->
            
                                    <th title="{{memberLang.site}}" ng-click="changeSorting('siteName')">{{memberLang.site | uppercase}}<span class="pull-right"><i class="fa fa-sort-desc" ng-class="getIcon('siteName')"></i></span></th>
            
                                    <th  title="{{memberLang.hotspot}}" ng-click="changeSorting('hotspot')">{{memberLang.hotspot | uppercase}}<span class="pull-right"><i class="fa fa-sort-desc" ng-class="getIcon('hotspot')"></i></span></th>
                                    
                                    <th title="{{memberLang.town}}" ng-click="changeSorting('townName')">{{memberLang.town | uppercase}}<span class="pull-right"><i class="fa fa-sort-desc" ng-class="getIcon('townName')"></i></span></th>
                                    
                                    <th title="{{memberLang.typology}}" ng-click="changeSorting('typologyName')">{{memberLang.typology | uppercase}}<span class="pull-right"><i class="fa fa-sort-desc" ng-class="getIcon('typologyName')"></i></span></th>
                                    
            <!--                        <th ng-click="changeSorting('memberLang.lastMeetingDate')">{{memberLang.lastMeetingDate | uppercase}}<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('lastMeetingDate')"></i></span></th>-->
            
            <!--                        <th>{{phonenumber | uppercase}}</th>-->
                                    <th title="{{memberLang.action}}">{{memberLang.action | uppercase}}</th>
                                </tr>
                            </thead>
                            <tbody id="bnbody">
            
                                <tr dir-paginate="beneficiary in TotalData  = ( beneficiaries | filter:searchPart ) | orderBy:sort.active:sort.descending  | itemsPerPage:pageSize" current-page="currentPage" ng-style="{color:beneficiary.backgroundColor}">
                                    <td>{{ beneficiary.index }}</td>
            
                                    <td>{{ beneficiary.fullname }} </td>
            
                                    <td>{{ beneficiary.tiId }}</td>
            
                                    <td>{{beneficiary.siteName}}</td>
            
                                    <td>{{ beneficiary.hotspot }}</td>
                                    
                                    <td>{{ beneficiary.townName }}</td>
                                    <td>{{ beneficiary.typologyName }}</td>
            <!--                        <td>{{ beneficiary.lastmeetingdate }}</td>-->
            
                                    
            
            
                                    <td ng-if="beneficiary.deleteflag == false&&beneficiary.partiallydeleted==false">
                                        <a data-ng-href="/members/{{beneficiary.id}}"><span class="glyphicon glyphicon-pencil"  title="Edit" style="color:#333;"></span></a>&nbsp;&nbsp;
                                        <a style="color:#b7b8c8;">|</a>&nbsp;&nbsp;
            
            
                                        <a ng-click="Delete1(beneficiary.id)" message="You Need to archive this member..">
                                            <span class="fa fa-archive" style="color: red;cursor:pointer;" title="Archive"></span>
            
                                        </a>&nbsp;&nbsp;
            
                                    </td>
            
                                    <td ng-if="beneficiary.deleteflag != false">
                                        <a confirm-button2="UnDelete(beneficiary.id)" message="Are you sure, you want to unarchive this member?">
                                            <span class="fa fa-eject" style="color: #333;cursor:pointer; height:10%; width:20%;" title="Unarchive"></span>
                                        </a>&nbsp;
                                    </td>
            
                                    <td ng-if="beneficiary.partiallydeleted==true">
            
                                        <a ng-click="Delete1(beneficiary.id)" message="You Need to archive this member.."><span class="fa fa-archive" style="color: red;cursor:pointer;" title="Archive"></span></a>&nbsp;
                                    </td>
            
                                </tr>
                            </tbody>
                        </table>
                        <div align="right" class="custom-pagination">
                            <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                            </dir-pagination-controls>
                        </div>
                    </div>
        </div>

        <!-- <div data-ng-hide="hideSearchFilter()">-->

            <!-- <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-5"></div>
                
                
                <div class="col-sm-2">
                    
                </div> -->
                <!--
                <div class="col-sm-6" style="padding-top:5px;">
                    <span>{{show}}</span>
                    <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span>{{entry}}</span>
                </div>
                <div class="col-sm-6">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            <form role="form">
                                <div class="input-group">
                                    <input type="text" id="Search" class="form-control ng-pristine ng-valid" placeholder="Search " style="z-index:0;border-radius:20px;width:140%;" data-ng-model="searchPart">
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                -->

            <!-- </div> -->
        <!-- </div> --> 

    </div>
    <!-- /.box-body -->
    <div class="box-footer custom-main-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->



<script type="text/ng-template" id="template/option.html">
    <div class="custom-modal">
        <div class="modal-header">
            <h4 class="modal-title">{{modalTitle}}</h4>
        </div>
        <div class="modal-body" style="padding:15px">
            <div id="savemodals">
                <form role="form">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="code" style="font-weight:600;padding-left:0px;text-align:left;">
                                    <input name="reasonforarchive" value="Unable_to_contact_over_the_last_6_months" type="radio" ng-model="beneficiary.reasonforarchive">
                                    Unable to contact over the last 6 months
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="code" style="font-weight:600;padding-left:0px;text-align:left;">
                                    <input name="reasonforarchive" value="Has_Died" type="radio" ng-model="beneficiary.reasonforarchive">
                                    Has Died
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="code" style="font-weight:600;padding-left:0px;text-align:left;">
                                    <input name="reasonforarchive" value="Duplicate_Member" type="radio" ng-model="beneficiary.reasonforarchive">
                                    Duplicate Member
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="code" style="font-weight:600;padding-left:0px;text-align:left;">
                                    <input name="reasonforarchive" value="Reason_Unknown" type="radio" ng-model="beneficiary.reasonforarchive">
                                    Reason Unknown
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <div class="pull-right">
                <a data-ng-click="Cancelmodal()" data-dismiss="modal" class="btn btn-default btn-sm custom-blue-light-button" role="button">{{printcancel}}</a>
                
                <a data-ng-click="OK()" data-dismiss="modal" class="btn btn-success btn-sm custom-pink-button" role="button">{{okbutton}}</a>&nbsp;&nbsp;
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="template/AlertModal.html">
    <style>
        p {
            white-space: pre;
        }

    </style>
    <div class="modal-header" style="background:#e85a5a;padding-bottom:22px;color:#ffffff;">
        <div class="pull-right">
            <a data-ng-click="okAlert()" data-dismiss="modal" class="btn btn-success btn-sm " role="button" style="background:#db4242;border-color:#db4242;padding:5px 20px;font-weight:bold;">{{okbutton}}</a>
        </div>
        <h4 class="modal-title">Alert</h4>
    </div>

    <div class="modal-body">

        Choose an Option
    </div>

    <!--<div class="modal-footer">
		<div align="left">
			<button type="button" class="btn btn-success btn-sm " ng-click="okAlert()">Ok</button>
		</div>
	</div>-->
</script>

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>
