<form class="form-horizontal" role="form">
  <data-cb-form-elements data-ng-repeat="item in cbFormConfig" data-cb-form-element-model="item"></data-cb-form-elements>
  
	<data-cb-form-submit data-singular="singular" data-plural="plural"></data-cb-form-submit>
  <div ng-transclude></div>
</form>
<hr />