<div style="width:100%; height:auto; min-height:500px;background: #FFFFF0;  border: 1px solid #E6E6E6; margin: 5px auto; padding:5px;">
    <div class="row" style="margin:0;padding:0;">
        <div>
            <h4 style="font-family: Arial; font-weight: bold; font-size: 19px;">CO Activity</h4>
        </div>
    </div>
    <br />


    <!--   ////////////////////////////////////////////////// TAB START ///////////////////////////////////////-->



    <div style="width:100%; height:auto; min-height:500px; margin: 5px auto; padding:10px;" data-ng-show="isCreateView">
        <tabset>
            <tab heading="Report Incident" style="font-weight: bold;">
                <br/>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th id="par" class="span" colspan="7" scope="colgroup">
                                Incident
                            </th>
                            <th id="par" class="span" colspan="9" scope="colgroup">
                                Perpetrator
                            </th>
                            <th id="par" class="span" colspan="2" scope="colgroup">
                                Reported To
                            </th>
                            <th id="par" class="span" colspan="1" scope="colgroup">
                                Time To Respond
                            </th>
                            <th id="par" class="span" colspan="1" scope="colgroup">
                                Location
                            </th>
                            <th id="par" class="span" colspan="1" scope="colgroup">
                                Resolved
                            </th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th style="font-size:12px;">#</th>
                            <th style="font-size:12px;">Phy</th>
                            <th style="font-size:12px;">Emo</th>
                            <th style="font-size:12px;">Sex</th>
                            <th style="font-size:12px;">Pro-Rel</th>
                            <th style="font-size:12px;">Child-Rel</th>
                            <th style="font-size:12px;">Other</th>

                            <th style="font-size:12px;">Polish</th>
                            <th style="font-size:12px;">Goons</th>
                            <th style="font-size:12px;">Clients</th>
                            <th style="font-size:12px;">Parents</th>
                            <th style="font-size:12px;">Ser-Prov</th>
                            <th style="font-size:12px;">Family-Mem</th>
                            <th style="font-size:12px;">Other KP</th>
                            <th style="font-size:12px;">Other</th>
                            <th style="font-size:12px;">Neighbour</th>

                            <th style="font-size:12px;">Auth</th>
                            <th style="font-size:12px;">CO</th>

                            <th style="font-size:12px;">Time to resp</th>


                            <th style="font-size:12px;">Loc</th>


                            <th style="font-size:12px;">Resld</th>
                        </tr>
                    </thead>
                    <tbody align="center">
                        <tr dir-paginate="reportincident in reportincidents | filter: searchZone |itemsPerPage:10">
                            <td style="font-size:12px;">{{ $index +1 }}</td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="reportincident.physical" onclick="return false" ng-checked="{{reportincident.physical}}">
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="reportincident.emotional" onclick="return false" ng-checked="{{reportincident.emotional}}">
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="reportincident.sexual" onclick="return false" ng-checked="{{reportincident.sexual}}">
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="reportincident.propertyrelated" onclick="return false" ng-checked="{{reportincident.propertyrelated}}">
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="reportincident.childrelated" onclick="return false" ng-checked="{{reportincident.childrelated}}">
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="reportincident.other" onclick="return false" ng-checked="{{reportincident.other}}">
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="reportincident.police" onclick="return false" ng-checked="{{reportincident.police}}">
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="reportincident.goons" onclick="return false" ng-checked="{{reportincident.goons}}">
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="reportincident.clients" onclick="return false" ng-checked="{{reportincident.clients}}">
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="reportincident.partners" onclick="return false" ng-checked="{{reportincident.partners}}">
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="reportincident.serviceprovider" onclick="return false" ng-checked="{{reportincident.serviceprovider}}">
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="reportincident.familymember" onclick="return false" ng-checked="{{reportincident.familymember}}">
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="reportincident.otherkp" onclick="return false" ng-checked="{{reportincident.otherkp}}">
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="reportincident.perpetratorother" onclick="return false" ng-checked="{{reportincident.perpetratorother}}">
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="reportincident.neighbour" onclick="return false" ng-checked="{{reportincident.neighbour}}">
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="reportincident.authorities" onclick="return false" ng-checked="{{reportincident.authorities}}">
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="reportincident.co" onclick="return false" ng-checked="{{reportincident.co}}">
                            </td>
                            <td>
                                {{reportincident.timetorespond}}
                            </td>
                            <td>
                                {{reportincident.incidentlocation}}
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="reportincident.resolved" onclick="return false" ng-checked="{{reportincident.resolved}}">
                            </td>

                        </tr>
                    </tbody>
                </table>
                <div align="center">
                    <a data-ng-href="/followupreportincident" class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-plus"></span> Add New</a>
                </div>

            </tab>

            <!-- //////////////////////////////REPORT INCIDENT END////////////////////////////////////////-->



            <tab heading="Health" style="font-weight: bold;">
                <br/>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="font-size:12px;">#</th>
                            <th style="font-size:12px;">Current Pregnent</th>
                            <th style="font-size:12px;">Reporting STI Symptoms</th>
                            <th style="font-size:12px;">Reporting any other health issues</th>
                            <th style="font-size:12px;">Require Condoms available</th>
                            <th style="font-size:12px;">Physical Appearance</th>
                            <th style="font-size:12px;">Emotional State</th>
                            <th style="font-size:12px;">Member want more info </th>

                        </tr>
                    </thead>
                    <tbody align="center">
                        <tr dir-paginate="health in healths | filter: searchZone |itemsPerPage:5">
                            <td style="font-size:12px;">{{ $index +1 }}</td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="health.currentlypregnant" ng-checked="{{health.currentlypregnant}}" onclick="return false">
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="health.reportingstisymptoms" ng-checked="{{health.reportingstisymptoms}}" onclick="return false">
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="health.reportingotherhealthissues" ng-checked="{{health.reportingotherhealthissues}}" onclick="return false">
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="health.requiredcondomsavailable" ng-checked="{{health.requiredcondomsavailable}}" onclick="return false">
                            </td>
                            <td style="font-size:12px;" data-ng-init="physicalappearance = getPhysical(health.physicalappearance)">{{physicalappearance.name}}</td>
                            <td style="font-size:12px;" data-ng-init="emotionalstate = getEmotion(health.emotionalstate)"> {{emotionalstate.name}}</td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="health.moreinformation" onclick="return false">
                            </td>

                        </tr>
                    </tbody>
                </table>
                <div align="center">
                    <a data-ng-href="/health" class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-plus"></span> Add New</a>
                </div>

            </tab>

            <!--  //////////////////////////////////////HEALTH END//////////////////////////////////////////////-->

            <tab heading="Outreach Activity" style="font-weight: bold;">
                <br/>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th id="par" class="span" colspan="4" scope="colgroup">
                                Outreach Activity
                            </th>
                            <th id="par" class="span" colspan="9" scope="colgroup">
                                Financial Secuity
                            </th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th style="font-size:12px;">#</th>
                            <th style="font-size:12px;">SP</th>
                            <th style="font-size:12px;">SSJ</th>
                            <th style="font-size:12px;">IDS</th>
                            <th style="font-size:12px;">Health</th>

                            <th style="font-size:12px;">Savings</th>
                            <th style="font-size:12px;">Credit</th>
                            <th style="font-size:12px;">Pension </th>
                            <th style="font-size:12px;">Insurance</th>
                            <th style="font-size:12px;">Financial Support</th>

                        </tr>
                    </thead>
                    <tbody align="center">
                        <tr dir-paginate="outreachactivity in outreachactivities | filter: searchZone |itemsPerPage:5">
                            <td style="font-size:12px;">{{ $index +1 }}</td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="outreachactivity.sp" ng-checked="{{outreachactivity.sp}}" onclick="return false">
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="outreachactivity.ssj" ng-checked="{{outreachactivity.ssj}}" onclick="return false">
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="outreachactivity.ids" ng-checked="{{outreachactivity.ids}}" onclick="return false">
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="outreachactivity.health" ng-checked="{{outreachactivity.health}}" onclick="return false">
                            </td>

                            <td>
                                <input type="checkbox" id="name" data-ng-model="outreachactivity.savings" ng-checked="{{outreachactivity.savings}}" onclick="return false">
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="outreachactivity.credit" ng-checked="{{outreachactivity.credit}}" onclick="return false">
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="outreachactivity.pension" ng-checked="{{outreachactivity.pension}}" onclick="return false">
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="outreachactivity.insurance" ng-checked="{{outreachactivity.insurance}}" onclick="return false">
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="outreachactivity.financialsupport" ng-checked="{{outreachactivity.financialsupport}}" onclick="return false">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div align="center">
                    <a data-ng-href="/outreachactivity" class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-plus"></span> Add New</a>
                </div>

            </tab>

            <!--  /////////////////////////////////////Outreach Activity End////////////////////////////////////////////-->

            <tab heading="Social Protection" style="font-weight: bold;">
                <br/>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th id="par" class="span" colspan="5" scope="colgroup">
                                IDs
                            </th>
                            <th id="par" class="span" colspan="2" scope="colgroup">
                                Schemes
                            </th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th style="font-size:12px;">#</th>
                            <th style="font-size:12px;">PAN</th>
                            <th style="font-size:12px;">BPL</th>
                            <th style="font-size:12px;">Aadhaar</th>
                            <th style="font-size:12px;">Voter ID</th>

                            <th style="font-size:12px;">Eligible Schemes One</th>
                            <th style="font-size:12px;">Eligible Schemes Two</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="socialprotection in socialprotections|itemsPerPage:10">
                            <td style="font-size:12px;">{{ $index +1 }}</td>

                            <td style="font-size:12px;" data-ng-init="applicationstage = getPan(socialprotection.pan)">{{applicationstage.name}}</td>

                            <td style="font-size:12px;" data-ng-init="applicationstage = getBpl(socialprotection.bpl)">{{applicationstage.name}}</td>

                            <td style="font-size:12px;" data-ng-init="applicationstage = getAadhaar(socialprotection.aadhar)">{{applicationstage.name}}</td>

                            <td style="font-size:12px;" data-ng-init="applicationstage = getVoter(socialprotection.voterid)">{{applicationstage.name}}</td>

                            <td style="font-size:12px;" data-ng-init="scheme = getScheme1(socialprotection.scheme1)">{{scheme.name}}</td>

                            <td style="font-size:12px;" data-ng-init="scheme = getScheme2(socialprotection.scheme2)">{{scheme.name}}</td>

                        </tr>
                    </tbody>
                </table>
                <div align="center">
                    <a data-ng-href="/socialprotection" class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-plus"></span> Add New</a>
                </div>

            </tab>
            <!--    /////////////////////////////////////////// SOCIAL PROTECTION END ///////////////////////////////////  -->
            <tab heading="Finance" style="font-weight: bold;">
                <br/>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th id="par" class="span" colspan="11" scope="colgroup">
                                Any Service Availed
                            </th>
                            <th id="par" class="span" colspan="9" scope="colgroup">
                                Investment/Saving
                            </th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th style="font-size:12px;">#</th>
                            <th style="font-size:12px;">Bank Acc</th>
                            <th style="font-size:12px;">Pension</th>
                            <th style="font-size:12px;">LIC</th>
                            <th style="font-size:12px;">Health Insurance</th>
                            <th style="font-size:12px;">FD</th>
                            <th style="font-size:12px;">RD</th>
                            <th style="font-size:12px;">NSC </th>
                            <th style="font-size:12px;">PPF</th>
                            <th style="font-size:12px;">Accidental Insurance</th>
                            <th style="font-size:12px;">Loan</th>

                            <th style="font-size:12px;">Money Lenders/ Others</th>

                        </tr>
                    </thead>
                    <tbody align="center">
                        <tr dir-paginate="finance in finances | filter: searchZone |itemsPerPage:5">
                            <td style="font-size:12px;">{{ $index +1 }}</td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="finance.bankaccount" ng-checked="{{finance.bankaccount}}" onclick="return false">
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="finance.pension" ng-checked="{{finance.pension}}" onclick="return false">
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="finance.lic" ng-checked="{{finance.lic}}" onclick="return false">
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="finance.healthinsurance" ng-checked="{{finance.healthinsurance}}" onclick="return false">
                            </td>

                            <td>
                                <input type="checkbox" id="name" data-ng-model="finance.fd" ng-checked="{{finance.fd}}" onclick="return false">
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="finance.rd" ng-checked="{{finance.rd}}" onclick="return false">
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="finance.nsc" ng-checked="{{finance.nsc}}" onclick="return false">
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="finance.ppf" ng-checked="{{finance.ppf}}" onclick="return false">
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="finance.accidentalinsurance" ng-checked="{{finance.accidentalinsurance}}" onclick="return false">
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="finance.loan" ng-checked="{{finance.loan}}" onclick="return false">
                            </td>
                            <td>
                                <input type="checkbox" id="name" data-ng-model="finance.moneylenders" ng-checked="{{finance.moneylenders}}" onclick="return false">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div align="center">
                    <a data-ng-href="/finance" class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-plus"></span> Add New</a>
                </div>

            </tab>

        </tabset>

    </div>
</div>
