<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }
    
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        /*		border-bottom: 2px solid #01adfb;*/
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
        /*		background-color: #fff;*/
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    
    .nav-tabs-custom>.nav-tabs>li {
        width: 16%;
    }
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 10px 20px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
    }
    
    .dropdown-menu {
        width: -moz-calc(100% - 28px);
        width: -webkit-calc(100% - 28px);
        width: calc(100% - 28px);
    }
    
    .card-3 {
        box-shadow: 0px 1px 2px 1px #f2f2f2;
        margin: 0px 15px;
        border-bottom: 1px solid #e2e2e2;
        padding: 5px;
        font-weight: 600;
    }
    
    a.adisabled {
        cursor: not-allowed;
        opacity: .65;
    }
    
    a.adisabled:hover {
        text-decoration: none;
    }
    
    a.adisabled:focus {
        text-decoration: none;
    }
    
    a.adisabled:active {
        text-decoration: none;
    }

</style>

<!-- Horizontal Form -->
<div class="box box-info custom-main-box with-background" style="min-height:450px;border-top:none">
    <div id="wrapper"> </div>
    <div class="box-header with-border custom-main-header">
        <a href="#"><span class="glyphicon glyphicon-menu-left"></span> &nbsp;</a><h3 class="box-title">{{PRHeading}}</h3>
    </div>

    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body custom-main-body">
        <div class="content-custom-sub-header" style="padding:0;">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="champion" class="select-label">{{ConditionLanguage.nameofmember}} </label>
                                <input type="text" class="form-control custom-form-control" id="name" data-ng-model="condition.membername" placeholder="{{PRLanguage.nameofmember}}" ng-disabled="memberDisabled">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="relationshipc" class="select-label">{{ConditionLanguage.relationshipc}} </label>
                                <select ui-select2 id="relationshipc" ng-model="condition.relation" data-placeholder="{{ConditionLanguage.relationshipc}} " style="width: 100%;" ng-disabled="editDisable">
                                    <option value=""></option>
                                    <option value="SELF">Self</option>
                                    <option value="SPOUSE">Spouse/Partner</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="condition" class="select-label">{{ConditionLanguage.condition}}</label>
                                <select ui-select2 id="condition" ng-model="condition.condition" data-placeholder="{{ConditionLanguage.condition}} " style="width: 100%;" ng-disabled="editDisable">
                                    <option value=""></option>
                                    <option data-ng-repeat="condition in conditionsdsply" value="{{condition.id}}" ng-if="UserLanguage==1">{{ condition.name }}  </option>
                                    <option data-ng-repeat="condition in conditionsdsply" value="{{condition.parentId}}" ng-if="UserLanguage!=1">{{ condition.name }}  </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="champion" class="select-label">{{ConditionLanguage.conditionId}}</label>
                                <input type="text" class="form-control custom-form-control" id="id" data-ng-model="condition.tiId" placeholder="{{PRLanguage.conditionId}}" ng-disabled="disabledId">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-lg-8">
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="champion" class="select-label">&nbsp;</label>
                                <a class="btn btn-primary btn-sm " type="submit" role="button" data-ng-click="updatepatientrec()"  ng-disabled="disablePatientAdd" style="padding:5px 20px;margin-bottom:10px" ng-if="hidePatient">{{ConditionLanguage.updatepatientrecord}}</a>&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        


        




        

        <!--
        <div class="row ">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:5px;">{{ConditionLanguage.step}} </label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:5px;">{{ConditionLanguage.status}} </label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:5px;">{{ConditionLanguage.date}} </label>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
-->
        <div class="content-custom-sub-body" style="margin: 0px -30px;">
            <div data-ng-hide="showForm()" class="table-responsive custom-table">
                <table class="table">
                    <thead>
                        <tr id="rowClick">
                            <th>{{ConditionLanguage.step}}</th>
                            <th>{{ConditionLanguage.status}}</th>
                            <th>{{ConditionLanguage.lastupdate}}</th>
                            <!--                        <th>{{ConditionLanguage.checkList}}</th>-->
                        </tr>
                    </thead>
                    <tbody id="bnbody">
                        <tr dir-paginate="trailer in trailerArray | itemsPerPage:25">
                            <td ng-if="trailer.hidelist">{{ trailer.step }}</td>

                            <td ng-if="trailer.hidelist">
                                <select ui-select2 id="risk" ng-model="trailer.status" ng-change="statusChange(trailer.id, $index, trailer.status, trailer.statuses,  trailer.step, '{{trailer.status}}')" data-placeholder="{{ConditionLanguage.selectStatus}}" style="width:100%;" ng-disabled="trailer.enabled" ng-disabled="trailer.enabled1">
                                    <option value=""></option>
                                    <option data-ng-repeat="conditionstatus in trailer.statuses" value="{{conditionstatus.id}}" ng-if="UserLanguage==1"ng-disabled="conditionstatus.enabled">{{ conditionstatus.name}}</option>
                                    <option data-ng-repeat="conditionstatus in trailer.statuses" value="{{conditionstatus.parentId}}" ng-if="UserLanguage!=1" ng-disabled="conditionstatus.enabled">{{ conditionstatus.name}}</option>
                                </select>
                            </td>
                            <td ng-if="trailer.hidelist">{{ trailer.date | date:'dd-MMM-yyyy' }}</td>


                            <!--
                            <td style="font-weight:600;margin-top:5px;width:295px;" ng-if="$first">
                                <a href="" data-ng-click="openCheckList(trailer.id, trailer.status)"><span class="glyphicon glyphicon-th-list" title="{{ConditionLanguage.checkList}}"></span></a>&nbsp;
                            </td>
    -->
                        </tr>
                    </tbody>
                </table>
                <!---<table class="table" ng-if="hideDiagnosis">
                    <thead>
                        <tr id="rowClick">
                        
                            <th>{{ConditionLanguage.value}}Value</th>
                            <th>Metric</th>
                            <th></th>
                    </thead>
                    <tbody id="bnbody">
                        <tr dir-paginate="diagnosis in diagnosisArray | itemsPerPage:25">
                            <td style="font-weight:600;margin-top:5px;width:325px;">
                                <select ui-select2 id="risk" ng-model="diagnosis.diagnosis" ng-change="diagnosisChange(diagnosis.diagnosis, $index)" data-placeholder="{{ConditionLanguage.selectDiagnosis}}select Diagnosis" style="width:65%;" ng-disabled="diagnosis.disableEdit">
                                    <option value=""></option>
                                    <option data-ng-repeat="diagnos in diagnosis.conditiondiagnosis" ng-if="UserLanguage==1" value="{{diagnos.id}}">{{ diagnos.name }}</option>
                                    <option data-ng-repeat="diagnos in diagnosis.conditiondiagnosis" ng-if="UserLanguage!=1" value="{{diagnos.parentId}}">{{ diagnos.name }}</option>
                                </select>
                            </td>
                            <td style="font-weight:600;margin-top:5px;width:255px;">
                                <input type="text" class="form-control" id="floatcheck" data-ng-model="diagnosis.value" placeholder="{{ConditionLanguage.value}}" style="width:60%;" ng-disabled="diagnosis.disableEdit" valid-number>
                            </td>
                            <td style="font-weight:600;margin-top:5px;width:155px;">
                                {{diagnosis.metric}}
                            </td>
                            <td ng-if="$last">
                                <a href="" data-ng-click="addDiagnosis(diagnosis.id, $index)" ng-class="{'adisabled': disableAddBtn}"><span class="glyphicon glyphicon-plus" title="{{ConditionLanguage.add}}"></span></a>
                            </td>
                            <td ng-if="!$last">
                                <a href="" data-ng-click="removeDiagnosis(diagnosis.id, $index)" ng-if="!diagnosis.disableEdit"><span class="glyphicon glyphicon-remove" title="{{ConditionLanguage.remove}}"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>---->
            </div>
        </div>
        <br>
        <div class="content-custom-sub-header" style="padding:0;">
        <div class="row">
            <div class="col-lg-3" ng-if="hideReason">
                <!--
        <div class="form-group">
            <input type="checkbox" value="{{check.id}}" ng-model="condition.caseClosed" type="radio" name="name" required="required" ng-disabled="disableCaseClosed" ng-change="closedCase(condition.caseClosed)" title="{{ConditionLanguage.caseClosed}}" />
            <label for="zone" class="col-sm-3" style="font-weight:600;margin-top:5px;">{{ConditionLanguage.caseClosed}}Case Closed </label>
        </div>
-->

                <div class="form-group">
                    <label for="zone" class="select-label">{{ConditionLanguage.reason}} </label>
                    <select ui-select2 id="reasonId" ng-model="condition.reasonForCancel" data-placeholder="{{ConditionLanguage.reason}}" style="width: 100%;">
                        <option value=""></option>
                        <option data-ng-repeat="reasonforcancellation in reasonforcancellations" ng-if="UserLanguage==1" value="{{reasonforcancellation.id}}">{{ reasonforcancellation.name }}</option>
                        <option data-ng-repeat="reasonforcancellation in reasonforcancellations" ng-if="UserLanguage!=1" value="{{reasonforcancellation.parentId}}">{{ reasonforcancellation.name }}</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group" ng-if="hideFollowUp">
                    <label for="zone" class="select-label">{{ConditionLanguage.followUpName}} </label>
                    <select ui-select2 id="zoneId" ng-model="condition.followup" data-placeholder="{{ConditionLanguage.followUpName}} " style="width: 100%;">
                        <option value=""></option>
                        <option data-ng-repeat="conditionfollowup in conditionfollowups" ng-if="UserLanguage==1" value="{{conditionfollowup.id}}">{{ conditionfollowup.name }}</option>
                        <option data-ng-repeat="conditionfollowup in conditionfollowups" ng-if="UserLanguage!=1" value="{{conditionfollowup.parentId}}">{{ conditionfollowup.parentId }}</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group" ng-if="hideFollowUp">
                    <label for="code" class="select-label">{{ConditionLanguage.followUpDate}}</label>
                    <p class="input-group">
                        <input type="text" id="{{'datepickerfollowup' + $index}}" class="form-control custom-form-control" datepicker-popup="{{format}}" ng-model="condition.followupdate" is-open="condition.followupdatepick" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" min-date="dt1" />
                        <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="conditionfollowupopen($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button></span>
                    </p>
                </div>
            </div>
        </div>
        </div>
        <br/>
        <br/>
        <div align="right">
            <a data-ng-href="" class="btn btn-danger btn-sm custom-blue-light-button" role="button"  data-ng-click="cancelCondition()"style="padding:5px 20px;margin-bottom:5px">{{ConditionLanguage.cancel}}</a>

            <a class="btn btn-primary btn-sm custom-pink-button" type="submit" role="button" data-ng-click="okConfirm()" data-ng-show="HideCreateButton" ng-disabled="CreateClicked" style="padding:5px 20px;margin-bottom:5px">{{ConditionLanguage.saveLabel}}</a>&nbsp;

            <a class="btn btn-primary btn-sm custom-pink-button" type="submit" role="button" data-ng-click="okConfirm()" data-ng-hide="HideCreateButton" style="padding:5px 20px;margin-bottom:5px">{{ConditionLanguage.update}}</a>&nbsp;
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer"> </div>
    <!-- /.box-footer -->
</div>

<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert!!!" visible="showValidation">
    {{validatestring1}}
</validationmodal>

<shgmeetingmodal visible="confirmationModel">
    <div class="custom-modal">
        <div class="modal-header">
            <h4 class="modal-title">{{modaltitle1}}</h4>
        </div>
        <div class="modal-body" style="padding:15px;">
            <form role="form">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="" class="select-label">{{ConditionLanguage.nameofmember}}</label>
                            <input type="text" class="form-control custom-form-control" id="name" data-ng-model="memberName" placeholder="{{ConditionLanguage.nameofmember}}" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="" class="select-label">{{ConditionLanguage.conditionId}}</label>
                            <input type="text" class="form-control custom-form-control" id="name" data-ng-model="condition.tiId" placeholder="{{ConditionLanguage.conditionId}}" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="" class="select-label">{{ConditionLanguage.relationshipc}}</label>
                            <input type="text" class="form-control custom-form-control" id="name" data-ng-model="condition.relation" placeholder="{{ConditionLanguage.relationshipc}}" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="" class="select-label">{{ConditionLanguage.condition}}</label>
                            <input type="text" class="form-control custom-form-control" id="name" data-ng-model="conditionName" placeholder="{{ConditionLanguage.condition}}" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="" class="select-label">{{ConditionLanguage.step}}</label>
                            <input type="text" class="form-control custom-form-control" id="name" data-ng-model="stepName" placeholder="{{ConditionLanguage.step}}" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="" class="select-label">{{ConditionLanguage.status}}</label>
                            <input type="text" class="form-control custom-form-control" id="name" data-ng-model="statusName" placeholder="{{ConditionLanguage.status}}" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div align="right">
                            <a data-ng-click="" data-dismiss="modal" class="btn btn-default btn-sm custom-blue-light-button" role="button">{{ConditionLanguage.cancel}} </a>
                            <a data-ng-click="Save()" data-dismiss="modal" class="btn btn-primary btn-sm custom-pink-button" role="button">{{ConditionLanguage.saveLabel}}</a>&nbsp;
                        </div>
                    </div>
                </div>
                    
                    
                    
                    
    
                    <!-- <div class="row" style="margin:0px;">
                        <div class="col-sm-9"></div>
                        <div class="col-sm-5" style="text-align:center;">
                            <div class="form-group">
                                <label for="" class="" style="font-weight:600;margin-top:4px;">{{ConditionLanguage.followUpName}} </label>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" data-ng-model="followUpName" placeholder="{{ConditionLanguage.followUpName}} " style="width:110%;" readonly>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
    
                    <div class="row" style="margin:0px;" >
                        <div class="col-sm-9"></div>
                        <div class="col-sm-5" style="text-align:center;">
                            <div class="form-group">
                                <label for="" class="" style="font-weight:600;margin-top:4px;">{{ConditionLanguage.followUpDate}} </label>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" data-ng-model="followUpDate" placeholder="{{ConditionLanguage.followUpDate}}" style="width:110%;" readonly>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
    
                    <div class="row" style="margin:0px;" ng-if="hideReason">
                        <div class="col-sm-9"></div>
                        <div class="col-sm-5" style="text-align:center;">
                            <div class="form-group">
                                <label for="" class="" style="font-weight:600;margin-top:4px;">{{ConditionLanguage.reason}}</label>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <input type="text" class="form-control" id="reason" data-ng-model="reasonForCancelName" placeholder="{{ConditionLanguage.reasonForCancelling}}" style="width:110%;" readonly>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>-->
    
                    
            </form>
        </div>
    </div>

    <style>
        div.scroll {
            width: 100%;
            height: 100px;
            overflow: scroll;
        }
        
        .toggle.android {
            border-radius: 0px;
        }
        
        .toggle.android .toggle-handle {
            border-radius: 0px;
        }
        
        #mapCanvas {
            width: 500px;
            height: 400px;
            float: left;
        }
        
        #infoPanel {
            margin-left: 100px;
        }
        
        #infoPanel div {
            margin-bottom: 5px;
        }

    </style>
</shgmeetingmodal>
