<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }

    .tht:hover {
        color: blue;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 10px 20px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .space {
            padding: 5px 0px 5px 0px;
        }
    }

</style>

<style>
    th {
        cursor: pointer;
    }

        {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

</style>
<!--
<script>
table th.active {color: blue;}
$(document).ready(function(){
    $("#rowClick > th").click(function(){
        $(this).toggleClass("active");
    });
});
</script>
-->
<!--
<script type="text/javascript">
    var sortingOrder = 'name';
</script>
-->

<!-- Horizontal Form -->
<div class="box box-info custom-main-box" style="min-height:450px;border-top:none;" data-ng-init="toggleLoading()">
    <!--  .box-header   -->
    <div class="box-header with-border custom-main-header">
        <h3 class="box-title">{{ConditionLanguage.conditionsList}}</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body custom-main-body">
        <div class="content-custom-sub-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row" data-ng-hide="hideSearchFilter()">
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <label for="maritalstatus" class="select-label">{{ConditionLanguage.condition}} </label>
                                <select ui-select2="" id="maritalstatus" data-ng-model="condition" data-placeholder="{{ConditionLanguage.selectCondition}}" style="width:100%">
                                    <option value=""></option>
                                    <option ng-repeat="condition in conditionsdsply" ng-if="UserLanguage==1" value="{{condition.id}}">{{condition.name}}</option>
                                    <option ng-repeat="condition in conditionsdsply" ng-if="UserLanguage!=1" value="{{condition.parentId}}">{{condition.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <label for="maritalstatus" class="select-label">{{ConditionLanguage.step}} </label>
                                <select ui-select2="" id="maritalstatus" data-ng-model="stepId" data-placeholder="{{ConditionLanguage.selectStep}}" style="width:100%">
                                    <option value=""></option>
                                    <option ng-repeat="step in conditionsteps" ng-if="UserLanguage==1" value="{{step.id}}">{{step.name}}</option>
                                    <option ng-repeat="step in conditionsteps" ng-if="UserLanguage!=1" value="{{step.parentId}}">{{step.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <label for="maritalstatus" class="select-label">{{ConditionLanguage.status}} </label>
                                <select ui-select2="" id="maritalstatus" data-ng-model="statusId" data-placeholder="{{ConditionLanguage.selectStatus}}" style="width:100%">
                                    <option value=""></option>
                                    <option ng-repeat="status in conditionstatuses" ng-if="UserLanguage==1" value="{{status.id}}">{{status.name}}</option>
                                    <option ng-repeat="status in conditionstatuses" ng-if="UserLanguage!=1" value="{{status.parentId}}">{{status.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group" data-ng-hide="hideSearchFilter()">
                            <label for="maritalstatus" class="select-label">{{ConditionLanguage.show}} </label>
                            <div class="custom-arrow-select">
                                <select class="form-control select-custom" ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                        </div>
                    </div> 
                    <div class="col-sm-4">
                        <div data-ng-hide="hideSearchFilter()">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <div class="input-group search-bar">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                    </span>
                                    <input type="text" id="Search" class="form-control ng-pristine ng-valid" placeholder="{{ConditionLanguage.search}}" data-ng-model="searchInput" focus="someFocusVariable">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <a data-ng-href="" class="btn btn-success btn-sm form-control custom-blue-dark-button" role="button" ng-click="exportData()"><img src="images/piclinks/export-icon-copy.png" style="width:8px;">&nbsp;&nbsp;{{ConditionLanguage.exportData}}</a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <a data-ng-href="" class="btn btn-primary btn-sm form-control custom-red-button" role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" ng-click="openMemberPouupOpen()">{{ConditionLanguage.addNew}}</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-custom-sub-body">
            <div data-ng-hide="showForm()" class="table-responsive custom-table">
                <table class="table">
                    <thead>
                        <tr id="rowClick">
                            <th title="#" ng-click="changeSorting('index')">#<span class="pull-right"><i class="fa fa-sort-desc" ng-class="getIcon('index')"></i></span>
                            </th>
                            <th title="{{ConditionLanguage.memberName}}" ng-click="changeSorting('memberId')">{{ConditionLanguage.memberName}}<span class="pull-right"><i class="fa fa-sort-desc" ng-class="getIcon('memberId')"></i></span>
                            </th>
                            
                            <th title="{{ConditionLanguage.condition}}" ng-click="changeSorting('condition')">{{ConditionLanguage.condition}}<span class="pull-right"><i class="fa fa-sort-desc" ng-class="getIcon('condition')"></i></span>
                            </th>
                            <th title="{{ConditionLanguage.step}}" ng-click="changeSorting('step')">{{ConditionLanguage.step}}<span class="pull-right"><i class="fa fa-sort-desc" ng-class="getIcon('status')"></i></span>
                            </th>
                            <th title="{{ConditionLanguage.status}}" ng-click="changeSorting('ssgThisHHBelongs')">{{ConditionLanguage.status}}<span class="pull-right"><i class="fa fa-sort-desc" ng-class="getIcon('status')"></i></span>
                            </th>
                            <th title="{{ConditionLanguage.nextFollowUpDate}}" ng-click="changeSorting('followupdate')">{{ConditionLanguage.nextFollowUpDate}}<span class="pull-right"><i class="fa fa-sort-desc" ng-class="getIcon('followupdate')"></i></span>
                            </th>
                            <th title="{{ConditionLanguage.statusRelation}}" ng-click="changeSorting('ssgThisHHBelongs')">{{ConditionLanguage.statusRelation}}<span class="pull-right"><i class="fa fa-sort-desc" ng-class="getIcon('ssgThisHHBelongs')"></i></span>
                            </th>
                            <th title="{{ConditionLanguage.action}}" ng-if="hideEdit">{{ConditionLanguage.action}}</th>
                        </tr>
                    </thead>
                    <tbody id="bnbody">
                        <tr dir-paginate="conditionheader in ConditionList | filter:searchInput |  orderBy:sort.active:sort.descending | itemsPerPage:pageSize" pagination-id="zonesid">
                            <td>{{ conditionheader.index }}</td>
                            <td>{{ conditionheader.membername + ' -' + conditionheader.tiId }}</td>
                            <td>{{ conditionheader.conditionname }}</td>
                            <td>{{ conditionheader.conditionstepname }}</td>
                            <td>{{ conditionheader.conditionstatusname }}</td>
                            <td>{{ conditionheader.followupdate | date:'dd-MMM-yyyy'}}</td>
                            <td>{{ conditionheader.relation }}</td>
                            
                            <td ng-if="hideEdit">
                                &nbsp;&nbsp;
                                <a data-ng-href="/condition/edit/{{conditionheader.id}}"><span class="glyphicon glyphicon-pencil" title="{{ConditionLanguage.edit}}" style="color:#333;" ng-if="hideEdit"></span></a>&nbsp;&nbsp;
                                    <a data-ng-href="/patientrecord/edit/{{conditionheader.patientId}}" ng-if="conditionheader.patientFlag"><span class="glyphicon glyphicon-user" title="{{ConditionLanguage.patient}}patient Record" style="color:#333;"></span></a>&nbsp;&nbsp;
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div align="right" class="custom-pagination">
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" pagination-id="zonesid" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                </dir-pagination-controls>
            </div>
            <div ng-show="!ConditionList.length" style="margin:0 auto;text-align:center;padding-top: 5%;">
                <span style="font-size:18px;font-weight:bold;font-family:Georgia, Serif;">{{ConditionLanguage.pleaseSelectanOptions}}</span>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->



<script type="text/ng-template" id="template/option.html">
    <style>
        p {
            white-space: pre;
        }

    </style>
    <div class="modal-header" style="padding:0px;color:#ffffff;">
        <div class="pull-right" style="padding:15px;">
            <a data-ng-click="OK()" data-dismiss="modal" class="btn btn-success btn-sm " role="button" style="background:#db4242;border-color:#db4242;padding:5px 20px;font-weight:bold;">{{okbutton}}</a>&nbsp;&nbsp;
            <a data-ng-click="Cancelmodal()" data-dismiss="modal" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;font-weight:bold;">{{printcancel}}</a>
        </div>
        <div class=" stylelink active box-header with-border">
            <h4 class="modal-title" style="font-weight:600;">{{modalTitle}}</h4>
        </div>
    </div>
    <div style="width:100%; height:auto; min-height:200px;  border: 1px solid #ffffff;padding:5px;" id="savemodals">
        <br/>
        <form class="form-horizontal" role="form">
            <br>

            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6" align="center" style="padding:right">

                    <div class="form-group" style="margin:0">

                        <input class="col-sm-2" name="reasonforarchive" value="Unable_to_contact_over_the_last_6_months" type="radio" ng-model="beneficiary.reasonforarchive">
                        <label class="col-sm-8" for="code" style="font-weight:600;padding-left:0px;text-align:left;">Unable to contact over the last 6 months</label>
                    </div>


                    <div class="form-group" style="margin:0">
                        <input class="col-sm-2" name="reasonforarchive" value="Has_Died" type="radio" ng-model="beneficiary.reasonforarchive">
                        <label class="col-sm-8" for="code" style="font-weight:600;padding-left:0px;text-align:left;">Has Died</label>
                    </div>

                    <div class="form-group" style="margin:0">
                        <input class="col-sm-2" name="reasonforarchive" value="Duplicate_Member" type="radio" ng-model="beneficiary.reasonforarchive">
                        <label class="col-sm-8" for="code" style="font-weight:600;padding-left:0px;text-align:left;">Duplicate Member</label>
                    </div>

                    <div class="form-group" style="margin:0">
                        <input class="col-sm-2" name="reasonforarchive" value="Reason_Unknown" type="radio" ng-model="beneficiary.reasonforarchive">
                        <label class="col-sm-8" for="code" style="font-weight:600;padding-left:0px;text-align:left;">Reason Unknown</label>
                    </div>


                </div>

            </div>

        </form>

    </div>
</script>

<script type="text/ng-template" id="template/AlertModal.html">
    <style>
        p {
            white-space: pre;
        }

    </style>
    <div class="modal-header" style="background:#e85a5a;padding-bottom:22px;color:#ffffff;">
        <div class="pull-right">
            <a data-ng-click="okAlert()" data-dismiss="modal" class="btn btn-success btn-sm " role="button" style="background:#db4242;border-color:#db4242;padding:5px 20px;font-weight:bold;">{{okbutton}}</a>
        </div>
        <h4 class="modal-title">Alert</h4>
    </div>

    <div class="modal-body">

        Choose an Option
    </div>

    <!--<div class="modal-footer">
		<div align="left">
			<button type="button" class="btn btn-success btn-sm " ng-click="okAlert()">Ok</button>
		</div>
	</div>-->
</script>

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>

<script type="text/ng-template" id="template/memberpopup.html">
    <div class="custom-modal">
        <div class="modal-header">
            <h4 class="modal-title">{{ConditionLanguage.memberslist}}</h4>
        </div>
        <div class="modal-body">
            <form role="form">
                <div class="row" style="padding: 0 10px">
                    <div class="col-lg-offset-8 col-lg-4">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <div class="input-group search-bar">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                </span>
                                <input type="text" id="Search" class="form-control ng-pristine ng-valid" placeholder="{{ConditionLanguage.search}}" data-ng-model="searchbulkupdate" style="border-left: unset;border-color: #d5d7df;">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="table-responsive custom-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{{ConditionLanguage.nameofmember | uppercase}}</th>
                            <th>{{ConditionLanguage.streetname | uppercase}}</th>
                            <th>{{ConditionLanguage.hotspot | uppercase}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="partner in partners | filter: searchbulkupdate |itemsPerPage:10" ng-click="okMemberpopup(partner.id)" onmouseover="" style="cursor:pointer;" ng-style="{color:partner.backgroundColor}">
                            <td>{{ partner.index }}</td>
                            <td> {{partner.fullname}} </td>
                            <td>{{partner.nickname}}</td>
                            <td>{{partner.hotspot}}</td>
                        </tr>
                    </tbody>
                </table>
                <div align="right" class="custom-pagination">
                    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"> </dir-pagination-controls>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div align="right">
                <a data-ng-click="cancelMemberPopup()" data-dismiss="modal" class="btn btn-default custom-blue-dark-button" role="button">{{ConditionLanguage.cancel}}</a>
            </div>
        </div>
    </div>
</script>
