<style>
    /*
	.stylelink {
		padding: 3px 10px;
		background: transparent;
		color: #333;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	
	.stylelink.active {
		padding: 3px 10px;
		background: #b71c1c;
		color: #fff;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	*/
    
    .stylelink {
        /*		padding: 3px 10px;*/
        
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }
    
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
        /*		background-color: #fff;*/
    }
    /*
	#wrapper div {
		display: table-cell;
		height: auto;
	}
*/
    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/
    
    .nav-tabs-custom > .nav-tabs > li {
        width: 19%;
    }
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 10px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 10px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
            padding: 5px 10px;
        }
        .sub_menu.active {
            font-size: 10px;
            padding: 5px 10px;
        }
        .nav-tabs-custom > .nav-tabs > li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
    }
    
    textarea {
        width: 100%;
        height: 100px;
    }
</style>



<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-TOP:none;">
    <div id="wrapper">
        <div class=" stylelink active box-header with-border" style="background:#ffffff;padding:20px 10px;">
            <h3 class="box-title" style="font-weight:600;">Text Fields</h3>
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body" style="padding:20px; ">

        <div class="row">

            <div class="col-sm-1" style=" margin-top:30px">
                <label for="name" style="font-weight:600;">Text Field One</label>
            </div>
            <div class="col-sm-1" style=" margin-top:30px">
                <input type="checkbox" ng-model="dynamicfield.text_one_enable">
            </div>

            <div class="col-sm-3">
                <label for="name" style="font-weight:600;">English</label>
                <input type="text" ng-model="dynamicfield.text_one_label" class="form-control">


            </div>
            <div class="col-sm-3">
                <label for="name" style="font-weight:600;">Hindi</label>
                <input type="text" ng-model="dynamicfield.text_one_label_hn" class="form-control">


            </div>
            <div class="col-sm-3">
                <label for="name" style="font-weight:600;">Kannada</label>
                <input type="text" ng-model="dynamicfield.text_one_label_kn" class="form-control">


            </div>


        </div>
        <br/>
        <div class="row" style="border-bottom:2px solid #ccc;padding-bottom:35px">
            <div class="col-sm-2"></div>


            <div class="col-sm-3">
                <label for="name" style="font-weight:600;">Tamil</label>
                <input type="text" ng-model="dynamicfield.text_one_label_ta" class="form-control">


            </div>
            <div class="col-sm-3">
                <label for="name" style="font-weight:600;">Telugu</label>
                <input type="text" ng-model="dynamicfield.text_one_label_te" class="form-control">


            </div>
            <div class="col-sm-3">
                <label for="name" style="font-weight:600;">Marathi</label>
                <input type="text" ng-model="dynamicfield.text_one_label_mr" class="form-control">


            </div>



        </div>
        <br/><div class="row">

            <div class="col-sm-1" style=" margin-top:30px">
                <label for="name" style="font-weight:600;">Text Field Two</label>
            </div>
            <div class="col-sm-1" style=" margin-top:30px">
                <input type="checkbox" ng-model="dynamicfield.text_two_enable">
            </div>

            <div class="col-sm-3">
                <label for="name" style="font-weight:600;">English</label>
                <input type="text" ng-model="dynamicfield.text_two_label" class="form-control">


            </div>
            <div class="col-sm-3">
                <label for="name" style="font-weight:600;">Hindi</label>
                <input type="text" ng-model="dynamicfield.text_two_label_hn" class="form-control">


            </div>
            <div class="col-sm-3">
                <label for="name" style="font-weight:600;">Kannada</label>
                <input type="text" ng-model="dynamicfield.text_two_label_kn" class="form-control">


            </div>


        </div>
        <br/>
        <div class="row" style="border-bottom:2px solid #ccc;padding-bottom:35px">
            <div class="col-sm-2"></div>


            <div class="col-sm-3">
                <label for="name" style="font-weight:600;">Tamil</label>
                <input type="text" ng-model="dynamicfield.text_two_label_ta" class="form-control">


            </div>
            <div class="col-sm-3">
                <label for="name" style="font-weight:600;">Telugu</label>
                <input type="text" ng-model="dynamicfield.text_two_label_te" class="form-control">


            </div>
            <div class="col-sm-3">
                <label for="name" style="font-weight:600;">Marathi</label>
                <input type="text" ng-model="dynamicfield.text_two_label_mr" class="form-control">


            </div>



        </div>

        <br/><div class="row">

            <div class="col-sm-1" style=" margin-top:30px">
                <label for="name" style="font-weight:600;">Text Field Three</label>
            </div>
            <div class="col-sm-1" style=" margin-top:30px">
                <input type="checkbox" ng-model="dynamicfield.text_three_enable">
            </div>

            <div class="col-sm-3">
                <label for="name" style="font-weight:600;">English</label>
                <input type="text" ng-model="dynamicfield.text_three_label" class="form-control">


            </div>
            <div class="col-sm-3">
                <label for="name" style="font-weight:600;">Hindi</label>
                <input type="text" ng-model="dynamicfield.text_three_label_hn" class="form-control">


            </div>
            <div class="col-sm-3">
                <label for="name" style="font-weight:600;">Kannada</label>
                <input type="text" ng-model="dynamicfield.text_three_label_kn" class="form-control">


            </div>


        </div>
        <br/>
        <div class="row" style="border-bottom:2px solid #ccc;padding-bottom:35px">
            <div class="col-sm-2"></div>


            <div class="col-sm-3">
                <label for="name" style="font-weight:600;">Tamil</label>
                <input type="text" ng-model="dynamicfield.text_three_label_ta" class="form-control">


            </div>
            <div class="col-sm-3">
                <label for="name" style="font-weight:600;">Telugu</label>
                <input type="text" ng-model="dynamicfield.text_three_label_te" class="form-control">


            </div>
            <div class="col-sm-3">
                <label for="name" style="font-weight:600;">Marathi</label>
                <input type="text" ng-model="dynamicfield.text_three_label_mr" class="form-control">


            </div>



        </div>
        <br/><div class="row">

            <div class="col-sm-1" style=" margin-top:30px">
                <label for="name" style="font-weight:600;">Text Field Four</label>
            </div>
            <div class="col-sm-1" style=" margin-top:30px">
                <input type="checkbox" ng-model="dynamicfield.text_four_enable">
            </div>

            <div class="col-sm-3">
                <label for="name" style="font-weight:600;">English</label>
                <input type="text" ng-model="dynamicfield.text_four_label" class="form-control">


            </div>
            <div class="col-sm-3">
                <label for="name" style="font-weight:600;">Hindi</label>
                <input type="text" ng-model="dynamicfield.text_four_label_hn" class="form-control">


            </div>
            <div class="col-sm-3">
                <label for="name" style="font-weight:600;">Kannada</label>
                <input type="text" ng-model="dynamicfield.text_four_label_kn" class="form-control">


            </div>


        </div>
        <br/>
        <div class="row" style="border-bottom:2px solid #ccc;padding-bottom:35px">
            <div class="col-sm-2"></div>


            <div class="col-sm-3">
                <label for="name" style="font-weight:600;">Tamil</label>
                <input type="text" ng-model="dynamicfield.text_four_label_ta" class="form-control">


            </div>
            <div class="col-sm-3">
                <label for="name" style="font-weight:600;">Telugu</label>
                <input type="text" ng-model="dynamicfield.text_four_label_te" class="form-control">


            </div>
            <div class="col-sm-3">
                <label for="name" style="font-weight:600;">Marathi</label>
                <input type="text" ng-model="dynamicfield.text_four_label_mr" class="form-control">


            </div>



        </div>
        
        <br/>
        <div class="row">

            <div class="col-sm-1" style=" margin-top:30px">
                <label for="name" style="font-weight:600;">Text Field Five</label>
            </div>
            <div class="col-sm-1" style=" margin-top:30px">
                <input type="checkbox" ng-model="dynamicfield.text_five_enable">
            </div>

            <div class="col-sm-3">
                <label for="name" style="font-weight:600;">English</label>
                <input type="text" ng-model="dynamicfield.text_five_label" class="form-control">


            </div>
            <div class="col-sm-3">
                <label for="name" style="font-weight:600;">Hindi</label>
                <input type="text" ng-model="dynamicfield.text_five_label_hn" class="form-control">


            </div>
            <div class="col-sm-3">
                <label for="name" style="font-weight:600;">Kannada</label>
                <input type="text" ng-model="dynamicfield.text_five_label_kn" class="form-control">


            </div>


        </div>
        <br/>
        <div class="row" style="border-bottom:2px solid #ccc;padding-bottom:35px">
            <div class="col-sm-2"></div>


            <div class="col-sm-3">
                <label for="name" style="font-weight:600;">Tamil</label>
                <input type="text" ng-model="dynamicfield.text_five_label_ta" class="form-control">


            </div>
            <div class="col-sm-3">
                <label for="name" style="font-weight:600;">Telugu</label>
                <input type="text" ng-model="dynamicfield.text_five_label_te" class="form-control">


            </div>
            <div class="col-sm-3">
                <label for="name" style="font-weight:600;">Marathi</label>
                <input type="text" ng-model="dynamicfield.text_five_label_mr" class="form-control">


            </div>



        </div>


        <div id="wrapper">
            <div class=" stylelink active box-header with-border" style="background:#ffffff;padding:20px 10px;">
                <h3 class="box-title" style="font-weight:600;">Dropdowns</h3>
            </div>
        </div>
        <!-- /.box-header -->
        <!-- form start -->

        <div class="box-body" style="padding:20px;padding-bottom:35px ">
            <div class="row">
                <div class="col-sm-1" style=" margin-top:30px">
                    <label for="name" style="font-weight:600;">Dropdown One</label>
                </div>
                <div class="col-sm-1" style=" margin-top:30px">
                    <input type="checkbox" ng-model="dynamicfield.dropdown_one_enable">
                </div>

                <div class="col-sm-3">
                    <label for="name" style="font-weight:600;">English</label>
                    <input type="text" ng-model="dynamicfield.dropdown_one_label" class="form-control">


                </div>
                <div class="col-sm-3">
                    <label for="name" style="font-weight:600;">Hindi</label>
                    <input type="text" ng-model="dynamicfield.dropdown_one_label_hn" class="form-control">


                </div>
                <div class="col-sm-3">
                    <label for="name" style="font-weight:600;">Kannada</label>
                    <input type="text" ng-model="dynamicfield.dropdown_one_label_kn" class="form-control">


                </div>


            </div>
            <div class="row">
                <div class="col-sm-2"></div>


                <div class="col-sm-3">


                    <textarea ng-model="dynamicfield.dropdown_one_options">

                    </textarea>



                </div>
                <div class="col-sm-3">

                    <textarea ng-model="dynamicfield.dropdown_one_options_hn">

                    </textarea>




                </div>
                <div class="col-sm-3">

                    <textarea ng-model="dynamicfield.dropdown_one_options_kn">

                    </textarea>



                </div>


            </div>

            <div class="row">
                <div class="col-sm-2"></div>


                <div class="col-sm-3">
                    <label for="name" style="font-weight:600;">Tamil</label>
                    <input type="text" ng-model="dynamicfield.dropdown_one_label_ta" class="form-control">


                </div>
                <div class="col-sm-3">
                    <label for="name" style="font-weight:600;">Telugu</label>
                    <input type="text" ng-model="dynamicfield.dropdown_one_label_te" class="form-control">


                </div>
                <div class="col-sm-3">
                    <label for="name" style="font-weight:600;">Marathi</label>
                    <input type="text" ng-model="dynamicfield.dropdown_one_label_mr" class="form-control">


                </div>


            </div>
            <div class="row" style="border-bottom:2px solid #ccc;padding-bottom:35px">
                <div class="col-sm-2"></div>


                <div class="col-sm-3">


                    <textarea ng-model="dynamicfield.dropdown_one_options_ta">

                    </textarea>



                </div>
                <div class="col-sm-3">

                    <textarea ng-model="dynamicfield.dropdown_one_options_te">

                    </textarea>




                </div>
                <div class="col-sm-3">

                    <textarea ng-model="dynamicfield.dropdown_one_options_mr">

                    </textarea>



                </div>


            </div>

            <br/>
            <div class="row">
                <div class="col-sm-1" style=" margin-top:30px">
                    <label for="name" style="font-weight:600;">Dropdown Two</label>
                </div>
                <div class="col-sm-1" style=" margin-top:30px">
                    <input type="checkbox" ng-model="dynamicfield.dropdown_two_enable">
                </div>

                <div class="col-sm-3">
                    <label for="name" style="font-weight:600;">English</label>
                    <input type="text" ng-model="dynamicfield.dropdown_two_label" class="form-control">


                </div>
                <div class="col-sm-3">
                    <label for="name" style="font-weight:600;">Hindi</label>
                    <input type="text" ng-model="dynamicfield.dropdown_two_label_hn" class="form-control">


                </div>
                <div class="col-sm-3">
                    <label for="name" style="font-weight:600;">Kannada</label>
                    <input type="text" ng-model="dynamicfield.dropdown_two_label_kn" class="form-control">


                </div>


            </div>
            <div class="row">
                <div class="col-sm-2"></div>


                <div class="col-sm-3">


                    <textarea ng-model="dynamicfield.dropdown_two_options">

                    </textarea>



                </div>
                <div class="col-sm-3">

                    <textarea ng-model="dynamicfield.dropdown_two_options_hn">

                    </textarea>




                </div>
                <div class="col-sm-3">

                    <textarea ng-model="dynamicfield.dropdown_two_options_kn">

                    </textarea>



                </div>


            </div>

            <div class="row">
                <div class="col-sm-2"></div>


                <div class="col-sm-3">
                    <label for="name" style="font-weight:600;">Tamil</label>
                    <input type="text" ng-model="dynamicfield.dropdown_two_label_ta" class="form-control">


                </div>
                <div class="col-sm-3">
                    <label for="name" style="font-weight:600;">Telugu</label>
                    <input type="text" ng-model="dynamicfield.dropdown_two_label_te" class="form-control">


                </div>
                <div class="col-sm-3">
                    <label for="name" style="font-weight:600;">Marathi</label>
                    <input type="text" ng-model="dynamicfield.dropdown_two_label_mr" class="form-control">


                </div>


            </div>
            <div class="row" style="border-bottom:2px solid #ccc;padding-bottom:35px">
                <div class="col-sm-2"></div>


                <div class="col-sm-3">


                    <textarea ng-model="dynamicfield.dropdown_two_options_ta">

                    </textarea>



                </div>
                <div class="col-sm-3">

                    <textarea ng-model="dynamicfield.dropdown_two_options_te">

                    </textarea>




                </div>
                <div class="col-sm-3">

                    <textarea ng-model="dynamicfield.dropdown_two_options_mr">

                    </textarea>



                </div>


            </div>
            <br/>
            <div class="row">
                <div class="col-sm-1" style=" margin-top:30px">
                    <label for="name" style="font-weight:600;">Dropdown Three</label>
                </div>
                <div class="col-sm-1" style=" margin-top:30px">
                    <input type="checkbox" ng-model="dynamicfield.dropdown_three_enable">
                </div>

                <div class="col-sm-3">
                    <label for="name" style="font-weight:600;">English</label>
                    <input type="text" ng-model="dynamicfield.dropdown_three_label" class="form-control">


                </div>
                <div class="col-sm-3">
                    <label for="name" style="font-weight:600;">Hindi</label>
                    <input type="text" ng-model="dynamicfield.dropdown_three_label_hn" class="form-control">


                </div>
                <div class="col-sm-3">
                    <label for="name" style="font-weight:600;">Kannada</label>
                    <input type="text" ng-model="dynamicfield.dropdown_three_label_kn" class="form-control">


                </div>


            </div>
            <div class="row">
                <div class="col-sm-2"></div>


                <div class="col-sm-3">


                    <textarea ng-model="dynamicfield.dropdown_three_options">

                    </textarea>



                </div>
                <div class="col-sm-3">

                    <textarea ng-model="dynamicfield.dropdown_three_options_hn">

                    </textarea>




                </div>
                <div class="col-sm-3">

                    <textarea ng-model="dynamicfield.dropdown_three_options_kn">

                    </textarea>



                </div>


            </div>

            <div class="row">
                <div class="col-sm-2"></div>


                <div class="col-sm-3">
                    <label for="name" style="font-weight:600;">Tamil</label>
                    <input type="text" ng-model="dynamicfield.dropdown_three_label_ta" class="form-control">


                </div>
                <div class="col-sm-3">
                    <label for="name" style="font-weight:600;">Telugu</label>
                    <input type="text" ng-model="dynamicfield.dropdown_three_label_te" class="form-control">


                </div>
                <div class="col-sm-3">
                    <label for="name" style="font-weight:600;">Marathi</label>
                    <input type="text" ng-model="dynamicfield.dropdown_three_label_mr" class="form-control">


                </div>


            </div>
            <div class="row" style="border-bottom:2px solid #ccc;padding-bottom:35px">
                <div class="col-sm-2"></div>


                <div class="col-sm-3">


                    <textarea ng-model="dynamicfield.dropdown_three_options_ta">

                    </textarea>



                </div>
                <div class="col-sm-3">

                    <textarea ng-model="dynamicfield.dropdown_three_options_te">

                    </textarea>




                </div>
                <div class="col-sm-3">

                    <textarea ng-model="dynamicfield.dropdown_three_options_mr">

                    </textarea>



                </div>


            </div>

            <br/>
            <div class="row">
                <div class="col-sm-1" style=" margin-top:30px">
                    <label for="name" style="font-weight:600;">Dropdown Four</label>
                </div>
                <div class="col-sm-1" style=" margin-top:30px">
                    <input type="checkbox" ng-model="dynamicfield.dropdown_four_enable">
                </div>

                <div class="col-sm-3">
                    <label for="name" style="font-weight:600;">English</label>
                    <input type="text" ng-model="dynamicfield.dropdown_four_label" class="form-control">


                </div>
                <div class="col-sm-3">
                    <label for="name" style="font-weight:600;">Hindi</label>
                    <input type="text" ng-model="dynamicfield.dropdown_four_label_hn" class="form-control">


                </div>
                <div class="col-sm-3">
                    <label for="name" style="font-weight:600;">Kannada</label>
                    <input type="text" ng-model="dynamicfield.dropdown_four_label_kn" class="form-control">


                </div>


            </div>
            <div class="row">
                <div class="col-sm-2"></div>


                <div class="col-sm-3">


                    <textarea ng-model="dynamicfield.dropdown_four_options">

                    </textarea>



                </div>
                <div class="col-sm-3">

                    <textarea ng-model="dynamicfield.dropdown_four_options_hn">

                    </textarea>




                </div>
                <div class="col-sm-3">

                    <textarea ng-model="dynamicfield.dropdown_four_options_kn">

                    </textarea>



                </div>


            </div>

            <div class="row">
                <div class="col-sm-2"></div>


                <div class="col-sm-3">
                    <label for="name" style="font-weight:600;">Tamil</label>
                    <input type="text" ng-model="dynamicfield.dropdown_four_label_ta" class="form-control">


                </div>
                <div class="col-sm-3">
                    <label for="name" style="font-weight:600;">Telugu</label>
                    <input type="text" ng-model="dynamicfield.dropdown_four_label_te" class="form-control">


                </div>
                <div class="col-sm-3">
                    <label for="name" style="font-weight:600;">Marathi</label>
                    <input type="text" ng-model="dynamicfield.dropdown_four_label_mr" class="form-control">


                </div>


            </div>
            <div class="row" style="border-bottom:2px solid #ccc;padding-bottom:35px">
                <div class="col-sm-2"></div>


                <div class="col-sm-3">


                    <textarea ng-model="dynamicfield.dropdown_four_options_ta">

                    </textarea>



                </div>
                <div class="col-sm-3">

                    <textarea ng-model="dynamicfield.dropdown_four_options_te">

                    </textarea>




                </div>
                <div class="col-sm-3">

                    <textarea ng-model="dynamicfield.dropdown_four_options_mr">

                    </textarea>



                </div>


            </div>
            <br/>
            <div class="row">
                <div class="col-sm-1" style=" margin-top:30px">
                    <label for="name" style="font-weight:600;">Dropdown Five</label>
                </div>
                <div class="col-sm-1" style=" margin-top:30px">
                    <input type="checkbox" ng-model="dynamicfield.dropdown_five_enable">
                </div>

                <div class="col-sm-3">
                    <label for="name" style="font-weight:600;">English</label>
                    <input type="text" ng-model="dynamicfield.dropdown_five_label" class="form-control">


                </div>
                <div class="col-sm-3">
                    <label for="name" style="font-weight:600;">Hindi</label>
                    <input type="text" ng-model="dynamicfield.dropdown_five_label_hn" class="form-control">


                </div>
                <div class="col-sm-3">
                    <label for="name" style="font-weight:600;">Kannada</label>
                    <input type="text" ng-model="dynamicfield.dropdown_five_label_kn" class="form-control">


                </div>


            </div>
            <div class="row">
                <div class="col-sm-2"></div>


                <div class="col-sm-3">


                    <textarea ng-model="dynamicfield.dropdown_five_options">

                    </textarea>



                </div>
                <div class="col-sm-3">

                    <textarea ng-model="dynamicfield.dropdown_five_options_hn">

                    </textarea>




                </div>
                <div class="col-sm-3">

                    <textarea ng-model="dynamicfield.dropdown_five_options_kn">

                    </textarea>



                </div>


            </div>

            <div class="row">
                <div class="col-sm-2"></div>


                <div class="col-sm-3">
                    <label for="name" style="font-weight:600;">Tamil</label>
                    <input type="text" ng-model="dynamicfield.dropdown_five_label_ta" class="form-control">


                </div>
                <div class="col-sm-3">
                    <label for="name" style="font-weight:600;">Telugu</label>
                    <input type="text" ng-model="dynamicfield.dropdown_five_label_te" class="form-control">


                </div>
                <div class="col-sm-3">
                    <label for="name" style="font-weight:600;">Marathi</label>
                    <input type="text" ng-model="dynamicfield.dropdown_five_label_mr" class="form-control">


                </div>


            </div>
            <div class="row" style="border-bottom:2px solid #ccc;padding-bottom:35px">
                <div class="col-sm-2"></div>


                <div class="col-sm-3">


                    <textarea ng-model="dynamicfield.dropdown_five_options_ta">

                    </textarea>



                </div>
                <div class="col-sm-3">

                    <textarea ng-model="dynamicfield.dropdown_five_options_te">

                    </textarea>




                </div>
                <div class="col-sm-3">

                    <textarea ng-model="dynamicfield.dropdown_five_options_mr">

                    </textarea>



                </div>


            </div>





            <div class="row">



                <!-- /.box-body -->
                <div class="box-footer">
                    <div align="left">
                        <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="SaveDynamicField()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Update </a>

                        <a data-ng-href="/" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel</a>
                    </div>

                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->