<div style="width:100%; height:auto; min-height:500px;background: #FFFFF0; border: 1px solid #E6E6E6; margin: 5px auto; padding:5px;">
<div class="row">
        <div class="col-sm-5">
            <h4 style="font-family: Arial; font-weight: bold;font-size:19px;">Groups</h4>
        </div>
        
        <div class="col-sm-7" style="padding-left: 65px;">
            <a data-ng-href="/groups/create" class="btn btn-primary btn-sm" role="button" data-ng-hide="hideCreateButton()"><span class="glyphicon glyphicon-plus"></span> Add New </a>
        </div>

    </div>

    <br/>
  
<form class="form-horizontal" role="form" data-ng-show="showForm()">
    <div class="form-group">
        <label for="name" class="col-sm-4 control-label" style="font-size: 12px;">Group:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="name" data-ng-model="group.name" placeholder="Group Name">
        </div>
    </div>

    <div class="form-group">
        <div align="center">
            <a class="btn btn-success btn-sm" type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()"><span class="glyphicon glyphicon-ok"></span> Create </a>

                <a class="btn btn-success btn-sm" type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()"><span class="glyphicon glyphicon-ok"></span> Update </a>

            <a data-ng-href="/groups" class="btn btn-info btn-sm" role="button"><span class="glyphicon glyphicon-remove"></span>Cancel</a>

        </div>
    </div>
</form>

 <div data-ng-hide="hideSearchFilter()">
    <form role="form">
        <div class="row">
            <div class="col-lg-offset-8 col-lg-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." style="z-index:0; border-top-left-radius: 15px;border-bottom-left-radius: 15px;" data-ng-model="searchGroup">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" style="border-top-right-radius: 15px;border-bottom-right-radius: 15px;"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
        </div>
    </form>

    </div>
    <br />
 <div data-ng-hide="showForm()">

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                     <th style="font-size:12px;">#</th>
                    <th style="font-size:12px;">Group</th>
                    <th style="font-size:12px;">Action</th>
                </tr>
            </thead>
            <tbody>
            <tr dir-paginate="group in groups | filter: searchGroup |itemsPerPage:5">
                <td style="font-size:12px;">{{ group.index }}</td>
                <td style="font-size:12px;">{{group.name}}</td>
               
               
                    <td><a data-ng-href="/groups/{{group.id}}"><span class="glyphicon glyphicon-edit" title="Edit" style="color: black;"></span></a>&nbsp;
                <a data-ng-href="/groups" data-ng-click="updateGroupFlag(group.id)"><span class="glyphicon glyphicon-trash" style="color: red;" title="Bin"></span></a>&nbsp; </td>
          
            </tr>
            </tbody>
        </table>
        
        <div align="right">
            <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
        
    </dir-pagination-controls>
        
        </div>
    </div>
</div>