<style>
    /*
    .stylelink {
        padding: 3px 10px;
        background: transparent;
        color: #333;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }
    
    .stylelink.active {
        padding: 3px 10px;
        background: #b71c1c;
        color: #fff;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    } */

    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
        border-bottom: 4px solid #e72e5a;
    }

    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
        /*        background-color: #fff;*/
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }

    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/

    .nav-tabs-custom>.nav-tabs>li {
        width: 19%;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .nav-tabs-custom>.nav-tabs>li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
    }

</style>

<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink active" href="/LangMemberList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="MEMBER LIST">MEMBER LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/LangOrwList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ORW  LIST">ORW LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/LangTIList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="TI LIST">TI LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangOnetooneList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ONE TO ONE LIST">ONE TO ONE LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/LangMainList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="MAIN/NAV LIST">MAIN/NAV LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangConditionList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="CONDITIONS LIST">CONDITIONS LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangPRList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="PATIENT RECORD LIST">PATIENT RECORD LIST</span></a>
        </div>
         <div style="text-align:center;">
            <a class="stylelink" href="/LangTodo"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ToDO">ToDO</span></a>
        </div>


    </div>



</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div class="box-header with-border">
        <!--        <h3 class="box-title">Gender</h3>-->
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body" style="padding:20px;">
        <div class="row">
            <div class="col-sm-5"></div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-2" style="text-align:right;padding-right:0px;border-color:#e1e8ee">
                <span>Show</span>
                <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <!--					<span>Entries</span>-->
            </div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-3" style="padding-right:0px;">
                <!--
            <div class="row" style="margin:0;padding:0;">
						<div class="col-sm-5"></div>
						<div class="col-sm-7">
-->
                <form role="form">
                    <div class="input-group">
                        <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search " style="z-index:0;border-right:none;border-color:#e1e8ee;border-top-left-radius:4px;border-bottom-left-radius: 4px;" data-ng-model="Search" focus="someFocusVariable">
                        <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius:4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>

                <!--
						</div>
					</div>
-->
            </div>
            <div class="col-sm-2">
                <a data-ng-href="/LangMember/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New </a>
            </div>
        </div>


        <form class="form-horizontal" role="form" data-ng-show="showForm()">
            <p align="center" style="color:red">All fields in red are mandatory</p>



            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" id="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Language </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="language" data-ng-model="memblanguage.language" data-placeholder="Pick a language" style="width:100%;" data-ng-disabled="!isCreateView()">
                                <option value=""></option>
                                <option data-ng-repeat="language in languages" value="{{language.id}}">{{ language.name }}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <br/>

            <form class="form-horizontal" role="form">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">All fields are in red Mandatory </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="memblanguage.mandatoryfield" placeholder="All * in red fields are Mandatory"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Member List </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="memblanguage.memberlist" placeholder="Member List"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Member Registration </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="memblanguage.memberregistration" placeholder="Member Registration"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Member Registration Edit </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="memblanguage.memberregistrationedit" placeholder="Member Registration Edit"> </div>
                        </div>
                    </div>
                </div>
                <div style="width:100%;height:auto;padding:5px 5px;background:#ddd;">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-6" style="padding:0;">
                            <div class="form-group" style="margin:0;">
                                <label for="extended" class="col-sm-4" style="font-weight:bold;margin-top: 8px;padding:0;color:red;">PRIMARY DETAILS</label>
                                <div class="col-sm-6" style="padding:0;padding-right:15px;">
                                    <input type="text" class="form-control" id="extended" data-ng-model="memblanguage.divbasic" placeholder="Basic"> </div>
                            </div>
                        </div>
                        <div class="col-sm-6" style="padding:0;"></div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Full Name </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="memblanguage.fullname" placeholder="Full Name"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Nick/Street Name </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="memblanguage.nickname" placeholder="Nick/Street Name"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="age" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Age </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="age" data-ng-model="memblanguage.age" placeholder="Age"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="dob" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">DOB </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="dob" data-ng-model="memblanguage.dob" placeholder="DOB"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="maritalstatus" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Marital Status </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="age" data-ng-model="memblanguage.maritalstatus" placeholder="Marital Status"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="phoneno" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Primary Phone</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="phoneno" data-ng-model="memblanguage.phonenumber" placeholder="Phone No"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="phoneno" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Secondary Phone</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="anotherphoneno" data-ng-model="memblanguage.anotherphonenumber" placeholder="Another Phone No"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Phone Type </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.phonetype" placeholder="phone type"> </div>
                        </div>
                    </div>
                </div>
                <div style="width:100%;height:auto;padding:5px 5px;background:#ddd;">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-6" style="padding:0;">
                            <div class="form-group" style="margin:0;">
                                <label for="extended" class="col-sm-4" style="font-weight:bold;margin-top: 8px;padding:0;color:red;">PROFILE</label>
                                <div class="col-sm-6" style="padding:0;padding-right:15px;">
                                    <input type="text" class="form-control" id="extended" data-ng-model="memblanguage.divprofile" placeholder="PROFILE"> </div>
                            </div>
                        </div>
                        <div class="col-sm-6" style="padding:0;"></div>
                    </div>
                </div>
                <br>
                <!--
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="phoneno" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Primary Phone </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="Primary Phone" data-ng-model="multilanguage.primaryphone" placeholder="Another Phone No"> </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Secondary Phone </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="action" data-ng-model="multilanguage.secphone" placeholder="Secondary Phone "> </div>
                                    </div>
                                </div>
                            </div>
-->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="typology" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Sub Typology </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="extended" data-ng-model="memblanguage.subtypology" placeholder="Sub Typology"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="fw" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Reason for moving </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="extended" data-ng-model="memblanguage.reasonformoving" placeholder="Reason for moving"> </div>
                        </div>
                    </div>
                </div>
                <div style="width:100%;height:auto;padding:5px 5px;background:#ddd;">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-6" style="padding:0;">
                            <div class="form-group" style="margin:0;">
                                <label for="extended" class="col-sm-4" style="font-weight:bold;margin-top: 8px;padding:0;color:black;">Mobility status</label>
                                <div class="col-sm-6" style="padding:0;padding-right:15px;">
                                    <input type="text" class="form-control" id="extended" data-ng-model="memblanguage.divmobstatus" placeholder="Mobility status"> </div>
                            </div>
                        </div>
                        <div class="col-sm-6" style="padding:0;"></div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="typology" class="col-sm-4" style="font-weight:600;margin-top:4px;color:black">In the last 3 months </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="extended" data-ng-model="memblanguage.lastmonth" placeholder="In the last 3 months"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="fw" class="col-sm-4" style="font-weight:600;margin-top:4px;color:black">No of times</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="extended" data-ng-model="memblanguage.nooftime" placeholder="No of times"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="typology" class="col-sm-4" style="font-weight:600;margin-top:4px;color:black">No of days</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="extended" data-ng-model="memblanguage.noofday" placeholder="No of days"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="typology" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Native District</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="extended" data-ng-model="memblanguage.nativedist" placeholder="Native distict"> </div>
                        </div>
                    </div>
                    <!--<div class="col-sm-6">
                        <div class="form-group">
                            <label for="fw" class="col-sm-4" style="font-weight:600;margin-top:4px;color:black">Reason for moving</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="extended" data-ng-model="memblanguage.reasonformoving" placeholder="Reason for moving"> </div>
                        </div>
                    </div>-->
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="typology" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Within the distict</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="extended" data-ng-model="memblanguage.withindist" placeholder="Within the distict"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="fw" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Within the state</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="extended" data-ng-model="memblanguage.withinstate" placeholder="Within the state"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="typology" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Outside the state</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="extended" data-ng-model="memblanguage.outsidestate" placeholder="Outside the state"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="fw" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Native State</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="extended" data-ng-model="memblanguage.nativestate" placeholder="Native State"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                   

                </div>
                <div style="width:100%;height:auto;padding:5px 5px;background:#ddd;">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-6" style="padding:0;">
                            <div class="form-group" style="margin:0;">
                                <label for="extended" class="col-sm-4" style="font-weight:bold;margin-top: 8px;padding:0;color:red;">FAMILY PROFILE</label>
                                <div class="col-sm-6" style="padding:0;padding-right:15px;">
                                    <input type="text" class="form-control" id="extended" data-ng-model="memblanguage.divfamprofile" placeholder="FAMILY PROFILE"> </div>
                            </div>
                        </div>
                        <div class="col-sm-6" style="padding:0;"></div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="typology" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Regular Partner</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="extended" data-ng-model="memblanguage.regularpartner" placeholder="Regular Partner"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="fw" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Vocation of the partner</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="extended" data-ng-model="memblanguage.vocation" placeholder="Vocation of the partner"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="typology" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Number of years in sex work</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="extended" data-ng-model="memblanguage.noofyrssexwrk" placeholder="Number of years in sex work"> </div>
                        </div>
                    </div>

                </div>
                <div style="width:100%;height:auto;padding:5px 5px;background:#ddd;">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-6" style="padding:0;">
                            <div class="form-group" style="margin:0;">
                                <label for="extended" class="col-sm-4" style="font-weight:bold;margin-top: 8px;padding:0;color:red;">EXTENDED</label>
                                <div class="col-sm-6" style="padding:0;padding-right:15px;">
                                    <input type="text" class="form-control" id="extended" data-ng-model="memblanguage.divextended" placeholder="Extended"> </div>
                            </div>
                        </div>
                        <div class="col-sm-6" style="padding:0;"></div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="typology" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Typology </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="extended" data-ng-model="memblanguage.typology" placeholder="Typology"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="fw" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Gender </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="extended" data-ng-model="memblanguage.gender" placeholder="Gender"> </div>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="typology" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Native State</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="extended" data-ng-model="memblanguage.state" placeholder="Native State"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="fw" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Native District</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="extended" data-ng-model="memblanguage.district" placeholder="Native District"> </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="plhiv" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">PLHIV </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="extended" data-ng-model="memblanguage.plhivprint" placeholder="PLHIV"> </div>
                        </div>
                        <div class="form-group">
                            <label for="code" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Month of Detection</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="extended" data-ng-model="memblanguage.monthofdetection" placeholder="Month of Detection"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="formid" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Month/Year of start of Sex work</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="extended" data-ng-model="memblanguage.startsexwork" placeholder="Month/Year of start of Sex work"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="disabled" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Physically Disabled</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="extended" data-ng-model="memblanguage.physicaldisable" placeholder="Physically Disabled"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="mentallydisabled" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Mentally Disabled</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="extended" data-ng-model="memblanguage.mentaldisable" placeholder="Mentally Disabled"> </div>
                        </div>
                    </div>
                </div>
                <!--************new added***-->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Vulnerable Member </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.vulnerablemember" placeholder="Vulnerable Member"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="maritalstatus" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">On Art </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.onart" placeholder="On Art"> </div>
                        </div>
                    </div>
                </div>
                <!--<div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Aadhar card </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.aadharcard" placeholder="Aadhar card"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="maritalstatus" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Ration card </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.rationcard" placeholder="Ration card"> </div>
                        </div>
                    </div>
                </div>-->
                <!--<div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Voter ID </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.voterid" placeholder="Voter ID"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="maritalstatus" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Saving account </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.savingaccount" placeholder="Saving account"> </div>
                        </div>
                    </div>
                </div>-->
               <!-- <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Life insurance </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.lifeinsurance" placeholder="Life insurance"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="maritalstatus" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Health insurance </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.healthinsurance" placeholder="Health insurance"> </div>
                        </div>
                    </div>
                </div>-->
                
               <!-- <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Accidental insurance </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.accidentalinsurance" placeholder="Accidental insurance"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="maritalstatus" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Loan </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.loan" placeholder="Loan"> </div>
                        </div>
                    </div>
                </div>-->
               <!-- 
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Financial Literacy </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.financialiteracy" placeholder="Financial Literacy"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="maritalstatus" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Financial Planning </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.financialplanning" placeholder="Financial Planning"> </div>
                        </div>
                    </div>
                </div>-->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="maritalstatus" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Children </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.children" placeholder="Children"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Education </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.studyingin" placeholder="Education"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Last term start date </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.lasttermstartdate" placeholder="Last term start date
"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Last term end date </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.lasttermenddate" placeholder="Last term end date
"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Sl No </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.slno" placeholder="Sl No"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Has PLV ID Card </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.hasplvidcard" placeholder="Has PLV ID Card"> </div>
                        </div>
                    </div>
                </div>
                <!--************-->
                <!--<div style="width:100%;height:auto;padding:5px 5px;background:#ddd;">
								<span style="font-weight:bold;">FACILITY</span>
							</div>-->
                <div style="width:100%;height:auto;padding:5px 5px;background:#ddd;">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-6" style="padding:0;">
                            <div class="form-group" style="margin:0;">
                                <label for="extended" class="col-sm-4" style="font-weight:bold;margin-top: 8px;padding:0;color:red;">FACILITY</label>
                                <div class="col-sm-6" style="padding:0;padding-right:15px;">
                                    <input type="text" class="form-control" id="extended" data-ng-model="memblanguage.divfacility" placeholder="Basic"> </div>
                            </div>
                        </div>
                        <div class="col-sm-6" style="padding:0;"></div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="state" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">State </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="state" data-ng-model="memblanguage.state" placeholder="State"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="co" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">TI </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="state" data-ng-model="memblanguage.ti" placeholder="TI"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="state" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Country </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="state" data-ng-model="memblanguage.country" placeholder="Country"> </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="state" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">District </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="state" data-ng-model="memblanguage.district" placeholder="District"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="site" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Site </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="state" data-ng-model="memblanguage.site" placeholder="Site"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="fw" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">FW </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="tiid" data-ng-model="memblanguage.fw" placeholder="Field Worker"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="fw" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Hotspot </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="tiid" data-ng-model="memblanguage.hotspot" placeholder="Hotspot"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="town" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Town </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="tiid" data-ng-model="memblanguage.town" placeholder="Town"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="avahanid" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">TI Id </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="avahanid" data-ng-model="memblanguage.avahanid" placeholder="TI Id"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="tiid" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Member Id</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="tiid" data-ng-model="memblanguage.tiid" placeholder="Member Id"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="cfcid" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">CFC Id </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="cfcid" data-ng-model="memblanguage.cfcid" placeholder="CFC Id"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="cfcid" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Updated Hotspot </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="cfcid" data-ng-model="memblanguage.savedhotspot" placeholder="Updated Hotspot"> </div>
                        </div>
                    </div>
                </div>
                <!--<div style="width:100%;height:auto;padding:5px 5px;background:#ddd;">
								<span style="font-weight:bold;">MEMBERSHIP</span>
							</div>-->
                <div style="width:100%;height:auto;padding:5px 5px;background:#ddd;">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-6" style="padding:0;">
                            <div class="form-group" style="margin:0;">
                                <label for="extended" class="col-sm-4" style="font-weight:bold;margin-top: 8px;padding:0;color:red;">MEMBERSHIP</label>
                                <div class="col-sm-6" style="padding:0;padding-right:15px;">
                                    <input type="text" class="form-control" id="extended" data-ng-model="memblanguage.divmembername" placeholder="membership"> </div>
                            </div>
                        </div>
                        <div class="col-sm-6" style="padding:0;"></div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="activemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Active Member </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="tiid" data-ng-model="memblanguage.activemember" placeholder="Active Member"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="registered" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Paid Member </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="tiid" data-ng-model="memblanguage.paidmember" placeholder="Paid Member"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="maritalstatus" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Champion </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="tiid" data-ng-model="memblanguage.champion" placeholder="Champion"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="maritalstatus" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Proposed </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="tiid" data-ng-model="memblanguage.proposed" placeholder="Proposed"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="maritalstatus" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Approved </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="tiid" data-ng-model="memblanguage.approved" placeholder="Approved"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Dynamic Member </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.dynamicmember" placeholder="Dynamic Member"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Para legal volunteer </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.paralegalvolunteer" placeholder="Para legal volunteer"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Trained </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.trained" placeholder="Trained"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Start Date </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.startdate" placeholder="Start Date
"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">End Date </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.enddate" placeholder="End Date"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Board member ever </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.boardmemberever" placeholder="Board member ever"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">No of terms held </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.nooftermsheld" placeholder="No of terms held"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Create Date </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.createdate" placeholder="Create Date"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Modified Date </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.modifieddate" placeholder="Modified Date"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="memberId" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Member Id </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.memberId" placeholder="Member Id"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="lastmeetingdate" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Last Meeting Date</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.lastMeetingDate" placeholder="last Meeting Date"> </div>
                        </div>
                    </div>
                </div>
                 
                <div style="width:100%;height:auto;padding:5px 5px;background:#ddd;">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-6" style="padding:0;">
                            <div class="form-group" style="margin:0;">
                                <label for="extended" class="col-sm-4" style="font-weight:bold;margin-top: 8px;padding:0;color:red;">Button</label>

                            </div>
                        </div>
                        <div class="col-sm-6" style="padding:0;"></div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="maritalstatus" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Create </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="tiid" data-ng-model="memblanguage.create" placeholder="Create"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="maritalstatus" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Update </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="tiid" data-ng-model="memblanguage.update" placeholder="Update"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="maritalstatus" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Cancel </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="tiid" data-ng-model="memblanguage.cancel" placeholder="Cancel"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="maritalstatus" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Delete </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="tiid" data-ng-model="memblanguage.delete" placeholder="Cancel"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="maritalstatus" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Action </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.action" placeholder="Action"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="maritalstatus" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Save </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.savebutton" placeholder="Save"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="maritalstatus" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Add New </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.addNew" placeholder="Add New"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="maritalstatus" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Add Member </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.addmember" placeholder="Add Member"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="maritalstatus" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Remove </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.removebutton" placeholder="Remove"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="maritalstatus" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Ok </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.ok" placeholder="OK"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="viewpreviousdata" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">View Previous Data </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.viewpreviousdata" placeholder="View Previous Data"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="viewpreviousdata" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Show</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.show" placeholder="Show"> </div>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="Search" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">Search</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.search" placeholder="Search"> </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6">
                        <div class="form-group">

                        </div>
                    </div>
                </div>
                <div style="width:100%;height:auto;padding:5px 5px;background:#ddd;">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-6" style="padding:0;">
                            <div class="form-group" style="margin:0;">
                                <label for="extended" class="col-sm-4" style="font-weight:bold;margin-top: 8px;padding:0;color:red;">Error Message</label>
                            </div>
                        </div>
                        <div class="col-sm-6" style="padding:0;"></div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="phoneno" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Only Two Numbers Are Allowed </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="anotherphoneno" data-ng-model="memblanguage.onlytwono" placeholder="Only Two Numbers Are Allowed"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">No Number to Remove </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.nonumtoremove" placeholder="No Number to Remove"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Difference between Member Age and Start of Sex must not be less than 12 years </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.difference" placeholder="Difference between Member Age and Start of Sex must not be less than 12 years"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Select Date Of Birth </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.Seldob" placeholder="Select Date Of Birth"> </div>
                        </div>
                    </div>
                </div>
               <!-- <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Difference between Member Age and Start of Sex must not be less than 12 years </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.difference" placeholder="Difference between Member Age and Start of Sex must not be less than 12 years"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Select Date Of Birth </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.Seldob" placeholder="Select Date Of Birth"> </div>
                        </div>
                    </div>
                </div>-->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Please Enter Your Fullname </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.peyfullname" placeholder="Please Enter Your Fullname"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Fullname must consist of two words eg:1)Latha w 2)Latha Ganesh 3)A Anjana </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.nameconsistword" placeholder="Fullname must consist of two words"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Please Select a Facility </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.selfacility" placeholder="Please Select a Facility"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Please Select a Age </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.selage" placeholder="Please Select a Age"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Please Select a Marital status </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.selmaritalstatus" placeholder="Please Select a Marital status"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Please Select a Phone Type </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.selphonetype" placeholder="Please Select a Phone Type"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Please Select a Typology </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.seltypology" placeholder="Please Select a Typology"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Please Select a Gender </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.selgender" placeholder="Please Select a Gender"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Please Select a SubTypology </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.selsubtypology" placeholder="Please Select a Sub Typology"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Please Select a Native State </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.selnativestate" placeholder="Please Select a Native State"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Please Select a Native District</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.selnativedistrict" placeholder="Please Select a Native District"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Please Select a Regular Partner</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.selregularpartner" placeholder="Please Select a Regular Partner"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Please Select a Vocation of the partner</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.selvocation" placeholder="Please Select a Vocation of the partner"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Please Select a Country</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.selcountry" placeholder="Please Select a Country"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Please Select a State </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.selstate" placeholder="Please Select a State"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Please Select a Site </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.selsite" placeholder="Please Select a Site"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Please Select a FW </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.selfw" placeholder="Please Select a FW"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Please Enter a Hotspot </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.enterhotspot" placeholder="Please Enter a Hotspot"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Please Select a Town </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.seltown" placeholder="Please Select a Town"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Please Enter No of Terms </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.enternoofterm" placeholder="Please Enter No of Terms"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Enter Children Age </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.enterchildage" placeholder="Enter Children Age"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Select Childern DOB </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.selchilddob" placeholder="Select Childern DOB"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Enter Children Gender </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.enterchildgender" placeholder="Enter Children Gender"> </div>
                        </div>
                    </div>
                     <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Enter Nick Name </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.enternickname" placeholder="Enter Nick Name"> </div>
                        </div>
                    </div>
                    
                </div>
                 <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Enter Phone number</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.enterphonenumber" placeholder="Enter Phone number"> </div>
                        </div>
                    </div>
                     <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Enter  Number of Sex Year</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.entersexyear" placeholder="Enter  Number of Sex Year"> </div>
                        </div>
                    </div>
                </div>
                 <div class="row">
                     <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Are you sure want to save</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.areYouSureToWantToSave" placeholder="are you sure want to save"> </div>
                        </div>
                    </div>
                     <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Member has been created</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.memberSaved" placeholder="member has been created"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Member has been updated</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.memberUpdated" placeholder="member has been updated"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Are you sure want to update</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="memblanguage.areYouSureToWantToUpdate" placeholder="are you sure want to save"> </div>
                        </div>
                    </div>
                </div>

                <br/>
                <br/>
                <br/>



                <br>
                <div align="left">
                    <div>
                        <a class="btn btn-primary btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Create </a>

                        <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Update </a>


                        <a data-ng-href="/LangMemberList" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel</a>
                    </div>
                </div>
            </form>

            <div data-ng-hide="hideSearchFilter()">


            </div>
            <br />



            <div data-ng-hide="showForm()" class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th ng-click="changeSorting('language')" title="LANGUAGE" style="cursor:pointer;">LANGUAGE<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('language')"></i></span></th>
                            <th ng-click="changeSorting('fullname')" title="NAME" style="cursor:pointer;">NAME<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('fullname')"></i></span></th>
                            <th ng-click="changeSorting('country')" title="NAME" style="cursor:pointer;">COUNTRY<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('country')"></i></span></th>
                            <th ng-click="changeSorting('state')" title="NAME" style="cursor:pointer;">STATE<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('state')"></i></span></th>
                            <th ng-click="changeSorting('district')" title="NAME" style="cursor:pointer;">DISTRICT<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('district')"></i></span></th>

                            <th style="width:100px;">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="memlan in memberlanguages| orderBy:sort.active:sort.descending | search:Search:filterFields  |itemsPerPage:pageSize">
                            <td>{{ memlan.index }}</td>
                            <td>{{ memlan.languageName }}</td>
                            <td>{{memlan.fullname}}</td>
                            <td>{{memlan.country}}</td>
                            <td>{{memlan.state}}</td>
                            <td>{{memlan.district}}</td>

                            <td><a data-ng-href="/LangMember/edit/{{memlan.id}}"><span class="glyphicon glyphicon-pencil" title="Edit" ></span></a>&nbsp;&nbsp;
                            </td>
                            <!--
<a style="color:#b7b8c8;">|</a>&nbsp;&nbsp;
<a confirm-button="Delete(gender.id)" message="Are you sure? you want to delete?"><span class="glyphicon glyphicon-remove " style="cursor:pointer;" title="Bin"></span></a>&nbsp;
-->
                        </tr>
                    </tbody>
                </table>
                <br/>
                <div align="right">
                    <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true">
                    </dir-pagination-controls>

                </div>
            </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->




<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>
    
    
    <validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>

<checkmodal title1="Alert" visible="showValidationNew">
    {{validatestring1}}
    <br>
             <div class="form-group">
                <div align="center">
                    <div align="center">
                        <a data-ng-click="OKBUTTON()" class="btn btn-success btn-sm " role="button" style="border-color:#db4242;padding:5px 20px;font-weight:bold;">Ok</a>
                        
                    </div>
                </div>
            </div>
</checkmodal>
