<style>
    /*
    .stylelink {
        padding: 3px 10px;
        background: transparent;
        color: #333;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }
    
    .stylelink.active {
        padding: 3px 10px;
        background: #b71c1c;
        color: #fff;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    } */
    
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
        border-bottom: 4px solid #e72e5a;
    }
    
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
        /*        background-color: #fff;*/
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/
    
    .nav-tabs-custom>.nav-tabs>li {
        width: 19%;
    }
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .nav-tabs-custom>.nav-tabs>li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
    }

</style>

<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink" href="/LangMemberList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="MEMBER LIST">MEMBER LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/LangOrwList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ORW  LIST">ORW LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/LangTIList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="TI LIST">TI LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink active" href="/LangOnetooneList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ONE TO ONE LIST">ONE TO ONE LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/LangMainList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="MAIN/NAV LIST">MAIN/NAV LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangConditionList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="CONDITIONS LIST">CONDITIONS LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangPRList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="PATIENT RECORD LIST">PATIENT RECORD LIST</span></a>
        </div>
        
         <div style="text-align:center;">
            <a class="stylelink" href="/LangTodo"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ToDO">ToDO</span></a>
        </div>

    </div>




</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div class="box-header with-border">
        <!--        <h3 class="box-title">Gender</h3>-->
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body" style="padding:20px;">
        <div class="row">
            <div class="col-sm-5"></div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-2" style="text-align:right;padding-right:0px;border-color:#e1e8ee">
                <span>Show</span>
                <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <!--					<span>Entries</span>-->
            </div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-3" style="padding-right:0px;">
                <!--
            <div class="row" style="margin:0;padding:0;">
						<div class="col-sm-5"></div>
						<div class="col-sm-7">
-->
                <form role="form">
                    <div class="input-group">
                        <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search " style="z-index:0;border-right:none;border-color:#e1e8ee;border-top-left-radius:4px;border-bottom-left-radius: 4px;" data-ng-model="Search" focus="someFocusVariable">
                        <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius:4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>

                <!--
						</div>
					</div>
-->
            </div>
            <div class="col-sm-2">
                <a data-ng-href="/LangOnetoone/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New </a>
            </div>
        </div>


        <form class="form-horizontal" role="form" data-ng-show="showForm()">
            <p align="center" style="color:red">All fields in red are mandatory</p>



            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" id="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Language </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="language" data-ng-model="onetonelist.language" data-placeholder="Pick a language" style="width:100%;" data-ng-disabled="!isCreateView()">
                                <option value=""></option>
                                <option data-ng-repeat="language in languages" value="{{language.id}}">{{ language.name }}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>


            <!--start-->
            <form class="form-horizontal" role="form">
                <br />
                <br />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">One To One </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.onetoneheader" placeholder="One To One"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Full Name </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.fullname" placeholder="Full Name"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Previous Answers </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.previousanswers" placeholder="Previous Answers"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Last Meeting Date </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.lastmeetingdate" placeholder="Last Meeting Date"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">More Details </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.moredetails" placeholder="More Details"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Less Details </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.lessdetails" placeholder="Less Details"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Date </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.date" placeholder="Date"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Month of Last HIV Test </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.monthofhivtest" placeholder="Month of Last HIV Test"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Month of Last STI Test </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.monthofstitest" placeholder="Month of Last STI Test"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Current HIV Status </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.currenthivstatus" placeholder="Current HIV Status"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Facility Helpline Numbers </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.facilityhelplineno" placeholder="Facility Helpline Numbers"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">To Do List </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.todolist" placeholder="To Do List"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Typology</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.typology" placeholder="Typology"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Date Of Birth </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.dob" placeholder="Date Of Birth"> </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Nick/Street Name</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.nickname" placeholder="Nick/Street Name"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">TI Id </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.tiid" placeholder="TI Id"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Age</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.age" placeholder="Age"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Last Answered </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.lastanswer" placeholder="Last Answered"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">ToDo </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.tododisplay" placeholder="ToDo"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Prev Question List </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.prevquestionlist" placeholder="Prev Question List"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Selected </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.select" placeholder="Selected"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Message </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.message" placeholder="Message"> </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Todo Type </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.todotype" placeholder="Todo Type"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Todo Status </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.todostatus" placeholder="Todo Status"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">No. of incidents in the last 6 months </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.noofincidentmonth" placeholder="No. of incidents in the last 6 months"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Month/year of Infection </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.monthyesrinfection" placeholder="Month/year of Infection"> </div>
                        </div>
                    </div>
                    <!--<div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Document/Scheme </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.documentscheme" placeholder="Document/Scheme"> </div>
                                </div>
                            </div>-->
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Reference No </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.referenceno" placeholder="Reference No"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Date of the last FS session attended </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.dateoflastfs" placeholder="Date of the last FS session attended"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--<div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Month of Last Saving </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.monthoflastsaving" placeholder="Reference No"> </div>
                                </div>
                            </div>-->
                    <!--<div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">No. of Savings Accounts </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.noofsavingaccount" placeholder="No. of Savings Accounts"> </div>
                                </div>
                            </div>-->
                </div>
                <div class="row">
                    <!--<div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">No. of Insurance Products </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.noofinsuranceproduct" placeholder="No. of Insurance Products"> </div>
                                </div>
                            </div>-->
                    <!--<div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">No. of Pension Products </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.noofpensionproduct" placeholder="No. of Pension Products"> </div>
                                </div>
                            </div>-->
                </div>
                <!-- <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">No. of Investment Products </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.noofinvestmentproduct" placeholder="No. of Investment Products"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">No of Informal Savings Sources </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.noofinformalsaving" placeholder="No of Informal Savings Sources"> </div>
                                </div>
                            </div>
                        </div>-->
                <!--<div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">No of Informal Credit Sources </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.noofinformalcredit" placeholder="No of Informal Credit Sources"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">No of Formal Credit Sources </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.noofformalcredit" placeholder="No of Formal Credit Sources"> </div>
                                </div>
                            </div>
                        </div>-->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">When was the last membership fees paid </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.lastmembershipfeespaid" placeholder="When was the last membership fees paid"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Date and details of next event </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.dateanddetailnextevent" placeholder="Date and details of next event"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Whether board or champion positions held in the past </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.whetherbordpast" placeholder="Whether board or champion positions held in the past"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Health </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.healthpillar" placeholder="Health"> </div>
                        </div>
                    </div>
                </div>
                <!--<div class="row">
                            
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">SSJ </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.ssjpillar" placeholder="SSJ"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">SP </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.sppillar" placeholder="SP"> </div>
                                </div>
                            </div>
                        </div>-->
                <!-- <div class="row">
                            
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">FS </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.fspillar" placeholder="FS"> </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">IDS </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.idspillar" placeholder="IDS"> </div>
                                </div>
                            </div>
                        </div>-->
                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Task Summary </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.alltaskpillar" placeholder="Task Summary"> </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Select TODOs </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.selecttodos" placeholder="Select TODOs"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Select Status </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.selectstatus" placeholder="Select Status"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Month Time when availed </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.monthtimeavailed" placeholder="Month Time when availed"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Reference Number </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.referencenumber" placeholder="Reference Number"> </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">ToDo's </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.todosprint" placeholder="ToDo's"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <!-- <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Scheme or Document </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.schemeordocument" placeholder="Reference Number"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Scheme/Document </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.schemedocument" placeholder="ToDo's"> </div>
                                </div>
                            </div>-->
                </div>
                <div class="row">

                    <!--<div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Month/year of Infection </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.monthyesrinfection" placeholder="Month/year of Infection"> </div>
                                </div>
                            </div>-->
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">No Of Condoms Asked </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.noofcondomask" placeholder="No Of Condoms Asked"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">No Of Condoms Provided </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.noofcondomprovide" placeholder="No Of Condoms Provided"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Date Provided </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.dateprovided" placeholder="Date Provided"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Month Availed </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.monthavailed" placeholder="Month Availed"> </div>
                        </div>
                    </div>


                </div>
                <div class="row">

                    <!-- 
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Insurance </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.insurance" placeholder="Insurance"> </div>
                                </div>
                            </div>-->
                </div>
                <div class="row">

                    <!-- <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Pension </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.pension" placeholder="Pension"> </div>
                                </div>
                            </div>-->
                    <!--<div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Credit </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.credit" placeholder="Credit"> </div>
                                </div>
                            </div>-->
                </div>
                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Remittance </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.remitance" placeholder="Remittance"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Age Group </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.agegroup" placeholder="Age Group"> </div>
                        </div>
                    </div>
                    <!-- <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Date of last saving </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.dateoflastsaving" placeholder="Date of last saving"> </div>
                                </div>
                            </div>-->

                </div>
                <div class="row">
                    <!-- 
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Scheme Name </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.schemename" placeholder="Scheme Name"> </div>
                                </div>
                            </div>-->
                    <!--<div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Age Group </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.agegroup" placeholder="Age Group"> </div>
                                </div>
                            </div>-->
                </div>
                <div class="row">

                    <!--<div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Scheme Local Name </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.schemelocalname" placeholder="Scheme Local Name"> </div>
                                </div>
                            </div>-->
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Category </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.category" placeholder="Category"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">All Task </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.alltask" placeholder="All Task"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">CLICK YES TO REPEAT 1-1 MEETING </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.clickyestorepeat" placeholder="CLICK YES TO REPEAT 1-1 MEETING"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">CLICK NO TO VIEW ALL TASKS </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.clicknotoview" placeholder="CLICK NO TO VIEW ALL TASKS"> </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Question </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.question" placeholder="Question"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Answer </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.answer" placeholder="Answer"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Last Modified Time </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.lastmodifytime" placeholder="Last Modified Time"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Consent Title</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="name" data-ng-model="onetonelist.consentmsg" placeholder="Consent Title">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Month Availed </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.monthavailed" placeholder="Month Availed"> </div>
                                </div>
                            </div>-->
                </div>
                <div class="row">
                    
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Consent </label>
                            <div class="col-sm-6">
                                <textarea rows="3" class="form-control" id="name" data-ng-model="onetonelist.consent" placeholder="Consent"> </textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Follow Up Date</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="name" data-ng-model="onetonelist.followupdate" placeholder="Follow Up Date">
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="row">
                    
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">No of Days Alcohal Consumed in a week </label>
                            <div class="col-sm-6">
                                <textarea rows="3" class="form-control" id="name" data-ng-model="onetonelist.alcohalconsume" placeholder="No of Days Alcohal Consumed in a week"> </textarea>
                            </div>
                        </div>
                    </div>

                   <!-- <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Follow Up Date</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="name" data-ng-model="onetonelist.followupdate" placeholder="Follow Up Date">
                            </div>
                        </div>
                    </div>-->
                </div>
                
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Save</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="name" data-ng-model="onetonelist.save" placeholder="Save">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Update </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.update" placeholder="Update"> </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Ok </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.ok" placeholder="Ok"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Cancel</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="name" data-ng-model="onetonelist.cancel" placeholder="Cancel">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--<div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Consent Title</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" id="name" data-ng-model="onetonelist.consentmsg" placeholder="Consent Title">
                                    </div>
                                </div>
                            </div>-->
                    <div class="col-sm-6"></div>
                </div>
                <div style="width:100%;height:auto;padding:5px 5px;background:#ddd;">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-6" style="padding:0;">
                            <div class="form-group" style="margin:0;">
                                <label for="extended" class="col-sm-4" style="font-weight:bold;margin-top: 8px;padding:0;color:red;">Error Message</label>
                            </div>
                        </div>
                        <div class="col-sm-6" style="padding:0;"></div>
                    </div>
                </div>
                <br/>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Condoms Asked cannot be Empty </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.condomsaskedempty" placeholder="Condoms Asked cannot be Empty"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Condoms Provided cannot be Empty </label>
                            <div class="col-sm-6">
                                <input rows="3" class="form-control" id="name" data-ng-model="onetonelist.condomsprovidedempty" placeholder="Condoms Provided cannot be Empty">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Date Provided cannot be Empty </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.dateprovidedempty" placeholder="Date Provided cannot be Empty"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">

                    </div>
                </div>
                <!--end-->
                <br/>
                <br/>
                <br/>



                <br>
                <div align="left">
                    <div>
                        <a class="btn btn-primary btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Create </a>

                        <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Update </a>


                        <a data-ng-href="/LangOnetooneList" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel</a>
                    </div>
                </div>
            </form>

            <div data-ng-hide="hideSearchFilter()">


            </div>
            <br />



            <div data-ng-hide="showForm()" class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th ng-click="changeSorting('language')" title="LANGUAGE" style="cursor:pointer;">LANGUAGE<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('language')"></i></span></th>
                            <th ng-click="changeSorting('name')" title="REFERENCE NO" style="cursor:pointer;">REFERENCE NO<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('name')"></i></span></th>
                            <th ng-click="changeSorting('date')" title="Date" style="cursor:pointer;">Date<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('date')"></i></span></th>
                            <th ng-click="changeSorting('currenthivstatus')" title="Current HIV Status" style="cursor:pointer;">Current HIV Status<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('currenthivstatus')"></i></span></th>
                            <th ng-click="changeSorting('facilityhelplineno')" title="Facility Helpline Numbers" style="cursor:pointer;">Facility Helpline Numbers<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('facilityhelplineno')"></i></span></th>
                            <th style="width:100px;">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="onetoone in onetoonelanguages| orderBy:sort.active:sort.descending | search:Search:filterFields  |itemsPerPage:pageSize">
                            <td>{{ onetoone.index }}</td>
                            <td>{{ onetoone.languageName }}</td>
                            <td>{{onetoone.referenceno}}</td>
                            <td>{{onetoone.date}}</td>
                            <td>{{onetoone.currenthivstatus}}</td>
                            <td>{{onetoone.facilityhelplineno}}</td>


                            <td><a data-ng-href="/LangOnetoone/edit/{{onetoone.id}}"><span class="glyphicon glyphicon-pencil" title="Edit" ></span></a>&nbsp;&nbsp;

                        </tr>
                    </tbody>
                </table>
                <br/>
                <div align="right">
                    <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true">
                    </dir-pagination-controls>

                </div>
            </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->




<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>

<checkmodal title1="Alert" visible="showValidationNew">
    {{validatestring1}}
    <br>

    <div class="form-group">
        <div align="center">
            <div align="center">
                <a data-ng-click="OKBUTTON()" class="btn btn-success btn-sm " role="button" style="border-color:#db4242;padding:5px 20px;font-weight:bold;">Ok</a>

            </div>
        </div>
    </div>
</checkmodal>
