<style>
    /*
    .stylelink {
        padding: 3px 10px;
        background: transparent;
        color: #333;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }
    
    .stylelink.active {
        padding: 3px 10px;
        background: #b71c1c;
        color: #fff;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    } */

    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
        border-bottom: 4px solid #e72e5a;
    }

    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
        /*        background-color: #fff;*/
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }

    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/

    .nav-tabs-custom>.nav-tabs>li {
        width: 19%;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .nav-tabs-custom>.nav-tabs>li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
        .space {
            padding: 5px 0px 5px 0px;
        }
    }

</style>

<!--
<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
-->
<!--
<div style="text-align:center;">
    <a class="stylelink" href="/LangConditions-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">CONDITIONS LIST</span></a>
</div>
-->
<!--
<div style="text-align:center;">
    <a class="stylelink" href="/language-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">Language</span></a>
</div>
-->



<!--
        <div style="text-align:center;">
            <a class="stylelink" href="/conditionchecklist-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">CHECK LIST</span></a>
        </div>
-->

<!--
        <div style="text-align:center;">
            <a class="stylelink" href="/conditiondiagnosis-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">DIAGNOSIS</span></a>
        </div>
-->
<!--    </div>-->
<!--</div>-->

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div class="box-header with-border">
        <!--        <h3 class="box-title">Gender</h3>-->
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body" style="padding:20px;">
        <div class="row">
            <div class="col-sm-5"></div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-2" style="text-align:right;padding-right:0px;border-color:#e1e8ee">
                <span>Show</span>
                <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <!--<span>Entries</span>-->
            </div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-3" style="padding-right:0px;">
                <!--
            <div class="row" style="margin:0;padding:0;">
						<div class="col-sm-5"></div>
						<div class="col-sm-7">
-->
                <div class="space">
                    <form role="form">
                        <div class="input-group">
                            <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search " style="z-index:0;border-right:none;border-color:#e1e8ee;border-top-left-radius:4px;border-bottom-left-radius: 4px;" data-ng-model="Search" focus="someFocusVariable">
                            <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius:4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    </form>
                </div>

                <!--
						</div>
					</div>
-->
            </div>
            <div class="col-sm-2">
                <a data-ng-href="/language/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;" ng-if="hideAddButton">Add New </a>
            </div>
        </div>
        <br/>

        <form class="form-horizontal" role="form" data-ng-show="showForm()">
            <p align="center" style="color:red">All fields in red are mandatory</p>
            <br/>




            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" id="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Language  </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" data-ng-model="language.name" placeholder="Language " pattern='[A-Za-z\\s]*' onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6"></div>
            </div>


            <br/>

            <br>

            <div align="left">
                <div>
                    <a class="btn btn-primary btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;margin-bottom:5px">Create </a>

                    <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;margin-bottom:5px">Update </a>


                    <a data-ng-href="/language-list" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-bottom:5px">Cancel</a>
                </div>
            </div>
        </form>

        <div data-ng-hide="hideSearchFilter()">


        </div>
        <br />






        <div data-ng-hide="showForm()" class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <!--                        <th ng-click="changeSorting('index')" title="#" style="cursor:pointer;">#<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('index')"></i></span></th>-->
                        <th style="width:50px;">#</th>
                        <th ng-click="changeSorting('name')" title="NAME" style="cursor:pointer;">Language<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('name')"></i></span></th>

                        <th style="width:100px;">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="language in languagedisplys| orderBy:sort.active:sort.descending | search:Search:filterFields |itemsPerPage:pageSize">
                        <td>{{ language.index }}</td>
                        <td>{{language.name}}</td>


                        <td><a data-ng-href="/language/edit/{{language.id}}"><span class="glyphicon glyphicon-pencil" title="Edit" ></span></a>&nbsp;&nbsp;
<!--                            <a style="color:#b7b8c8;">|</a>&nbsp;&nbsp;-->
<!--                            <a confirm-button="Delete(language.id)" message="Are you sure? you want to delete?"><span class="glyphicon glyphicon-remove " style="cursor:pointer;" title="Bin" ng-if="hideAddButton"></span></a>&nbsp;-->
                    </tr>
                </tbody>
            </table>
            <br/>
            <div align="right">
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true">
                </dir-pagination-controls>

            </div>
        </div>


    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->




<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>
