<style>
    /*
    .stylelink {
        padding: 3px 10px;
        background: transparent;
        color: #333;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }
    
    .stylelink.active {
        padding: 3px 10px;
        background: #b71c1c;
        color: #fff;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    } */

    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
        border-bottom: 4px solid #e72e5a;
    }

    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
        /*        background-color: #fff;*/
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }

    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/

    .nav-tabs-custom>.nav-tabs>li {
        width: 19%;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .nav-tabs-custom>.nav-tabs>li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
    }

</style>

<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink" href="/LangMemberList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="MEMBER LIST">MEMBER LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink active" href="/LangOrwList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ORW  LIST">ORW LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/LangTIList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="TI LIST">TI LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangOnetooneList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ONE TO ONE LIST">ONE TO ONE LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/LangMainList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="MAIN/NAV LIST">MAIN/NAV LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangConditionList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="CONDITIONS LIST">CONDITIONS LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangPRList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="PATIENT RECORD LIST">PATIENT RECORD LIST</span></a>
        </div>
        
         <div style="text-align:center;">
            <a class="stylelink" href="/LangTodo"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ToDO">ToDO</span></a>
        </div>

    </div>



</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div class="box-header with-border">
        <!--        <h3 class="box-title">Gender</h3>-->
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body" style="padding:20px;">
        <div class="row">
            <div class="col-sm-5"></div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-2" style="text-align:right;padding-right:0px;border-color:#e1e8ee">
                <span>Show</span>
                <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <!--					<span>Entries</span>-->
            </div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-3" style="padding-right:0px;">
                <!--
            <div class="row" style="margin:0;padding:0;">
						<div class="col-sm-5"></div>
						<div class="col-sm-7">
-->
                <form role="form">
                    <div class="input-group">
                        <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search " style="z-index:0;border-right:none;border-color:#e1e8ee;border-top-left-radius:4px;border-bottom-left-radius: 4px;" data-ng-model="Search" focus="someFocusVariable">
                        <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius:4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>

                <!--
						</div>
					</div>
-->
            </div>
            <div class="col-sm-2">
                <a data-ng-href="/LangOrw/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New </a>
            </div>
        </div>


        <form class="form-horizontal" role="form" data-ng-show="showForm()">
            <p align="center" style="color:red">All fields in red are mandatory</p>



            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" id="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Language </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="language" data-ng-model="langorw.language" data-placeholder="Pick a language" style="width:100%;" data-ng-disabled="!isCreateView()">
                                <option value=""></option>
                                <option data-ng-repeat="language in languages" value="{{language.id}}">{{ language.name }}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>


            <form class="form-horizontal" role="form">
                <br />
                <br />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="first-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">ORW List </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="firstname" data-ng-model="langorw.fieldworkerlist" placeholder="ORW List"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">ORW Create </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="lastname" data-ng-model="langorw.fieldworkercreate" placeholder="ORW Create"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="first-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Basic Info </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="firstname" data-ng-model="langorw.divbasicinfo" placeholder="Basic Info"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">User Info </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="lastname" data-ng-model="langorw.divuserinfo" placeholder="User Info"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="first-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">First Name </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="firstname" data-ng-model="langorw.firstname" placeholder="First Name"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Last Name </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="lastname" data-ng-model="langorw.lastname" placeholder="Last Name"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="code" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">TI </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="ti" data-ng-model="langorw.ti" placeholder="TI"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="email" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Email</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="email" data-ng-model="langorw.email" placeholder="Email"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="mobile" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Mobile (+91) </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="mobile" data-ng-model="langorw.mobile" placeholder="Mobile number"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="address" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Address</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="address" data-ng-model="langorw.address" placeholder="Address"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="first-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">User Name </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="firstname" data-ng-model="langorw.username" placeholder="User Name"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Password </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="lastname" data-ng-model="langorw.password" placeholder="Password"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Lat/Long </label>
                            <div class="col-sm-6">
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.lat" placeholder="Lat/Long"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">ORW Name </label>
                            <div class="col-sm-6">
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.fieldworkername" placeholder="ORW Name"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
<div class="col-sm-6">

    <div class="form-group">
        <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">ORW Code </label>
        <div class="col-sm-6">
            <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.fieldworkercode" placeholder="ORW Code"> </div>
    </div>

</div>                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">ORW Email </label>
                            <div class="col-sm-6">
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.fieldworkeremail" placeholder="ORW Email"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">ORW Edit </label>
                            <div class="col-sm-6">
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.fieldworkeredit" placeholder="ORW Edit"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">TI Manager </label>
                            <div class="col-sm-6">
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.comanagerhdf" placeholder="TI Manager"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">TI Manager Profile </label>
                            <div class="col-sm-6">
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.comanagerhdfprofileheader" placeholder="TI Manager Profile"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">TI Manager ID </label>
                            <div class="col-sm-6">
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.comanagerhdfid" placeholder="TI Manager ID"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Assigned Sites </label>
                            <div class="col-sm-6">
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.assignedsites" placeholder="Assigned Sites"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">ORW</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="lastname" data-ng-model="langorw.fieldworkerlistorw" placeholder="ORW"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="full-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Fullname </label>
                            <div class="col-sm-6">
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.fullname" placeholder="fullname"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="Show" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Show</label>
                            <div class="col-sm-6">
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.show" placeholder="show"> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Search</label>
                            <div class="col-sm-6">
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.search" placeholder="search"> </div>
                        </div>
                    </div>
                    
                     <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Action</label>
                            <div class="col-sm-6">
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.action" placeholder="action"> </div>
                        </div>
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">print Mobile</label>
                            <div class="col-sm-6">
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.printmobile" placeholder="printmobile"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="addnew" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Add New</label>
                            <div class="col-sm-6">
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.addNew" placeholder="addnew"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                <div class="col-sm-6">
                        <div class="form-group">
                            <label for="printfwcode" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Print FW Code</label>
                            <div class="col-sm-6">
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.printfwcode" placeholder="print fw code"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="state" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">State</label>
                            <div class="col-sm-6">
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.state" placeholder="state"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                <div class="col-sm-6">
                        <div class="form-group">
                            <label for="district" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">District</label>
                            <div class="col-sm-6">
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.district" placeholder="district"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last pushed data" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Last Pushed Data</label>
                            <div class="col-sm-6">
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.lastpusheddata" placeholder="lastpusheddata"></div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-6">
                <div class="form-group">
                            <label for="fw user name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">FW Username</label>
                            <div class="col-sm-6">
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.fwusername" placeholder="fwusername"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                    <div class="form-group">
                            <label for="fw full name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">FW fullname</label>
                            <div class="col-sm-6">
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.fwfullname" placeholder="fwfullname"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                    <div class="form-group">
                            <label for="Assigned" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Assigned</label>
                            <div class="col-sm-6">
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.Assigned" placeholder="assigned"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                    <div class="form-group">
                            <label for="Details" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Action Details</label>
                            <div class="col-sm-6">
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.actiondetails" placeholder="actiondetails"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                     <div class="form-group">
                            <label for="memebers updated" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Members Updated</label>
                            <div class="col-sm-6">
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.memebersupdated" placeholder="members updated"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                     <div class="form-group">
                            <label for="memebers updated" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Application</label>
                            <div class="col-sm-6">
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.application" placeholder="application"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                    <div class="form-group">
                            <label for="1-1" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">1-1</label>
                            <div class="col-sm-6">
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.onetoone" placeholder="onetoone"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                    <div class="form-group">
                            <label for="incident" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Incident</label>
                            <div class="col-sm-6">
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.incident" placeholder="incident"></div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-sm-6">
                    <div class="form-group">
                            <label for="stakeholdermeetings" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">stakeholdermeetings</label>
                            <div class="col-sm-6">
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.stakeholdermeetings" placeholder="onetoone"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                    <div class="form-group">
                            <label for="groupmeetings" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Group Meetings</label>
                            <div class="col-sm-6">
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.groupmeetings" placeholder="group meetings"></div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                     <div class="col-sm-6">
                        <div class="form-group">
                            <label for="mandatory fields" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">All fields in red are mandatory</label>
                            <div class="col-sm-6">
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.mandatoryfield" placeholder="All fields in red are mandatory"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="language" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Language</label>
                            <div class="col-sm-6">
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.langslabel" placeholder="language for label"></div>
                        </div>
                    </div>
                     
                </div>
                
                <div style="width:100%;height:auto;padding:5px 5px;background:#ddd;">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-6" style="padding:0;">
                            <div class="form-group" style="margin:0;">
                                <label for="extended" class="col-sm-4" style="font-weight:bold;margin-top: 8px;padding:0;color:red;">Common</label>
                            </div>
                        </div>
                        <div class="col-sm-6" style="padding:0;"></div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Please </label>
                            <div class="col-sm-6">
                                <input type="latitude" class="form-control" id="please" data-ng-model="langorw.please" placeholder="please"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Enter </label>
                            <div class="col-sm-6">
                                <input type="enter" class="form-control" id="enter" data-ng-model="langorw.enter" placeholder="enter"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Your </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="your" data-ng-model="langorw.your" placeholder="your"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Invalid </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="invalid" data-ng-model="langorw.invalid" placeholder="invalid"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Can Not </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="cannot" data-ng-model="langorw.cannot" placeholder="Can Not"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Reset </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="reset" data-ng-model="langorw.reset" placeholder="Reset"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Alert </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="alert" data-ng-model="langorw.alert" placeholder="alert"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Thank You </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="thankyou" data-ng-model="langorw.thankYou" placeholder="Thank You"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Created With the Following Details </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="createdetails" data-ng-model="langorw.createdetails" placeholder="Created With the Following DetailsmodalTitle12"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Update With the Following Details </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="updatedetails" data-ng-model="langorw.updatedetails" placeholder="Update With the Following Details"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;"> ORW has been created </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="hasbeencreated" data-ng-model="langorw.hasbeencreated" placeholder=" ORW has been created"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;"> ORW has been updated </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="hasbeenupdated" data-ng-model="langorw.hasbeenupdated" placeholder=" ORW has been updated"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Cancel </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="cancel" data-ng-model="langorw.cancel" placeholder="cancel"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">ok </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="ok" data-ng-model="langorw.ok" placeholder="ok"> </div>
                        </div>
                    </div>
                </div>
                <div style="width:100%;height:auto;padding:5px 5px;background:#ddd;">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-6" style="padding:0;">
                            <div class="form-group" style="margin:0;">
                                <label for="extended" class="col-sm-4" style="font-weight:bold;margin-top: 8px;padding:0;color:red;">Error Message</label>
                            </div>
                        </div>
                        <div class="col-sm-6" style="padding:0;"></div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;"> Please Enter Full Name </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="hasbeencreated" data-ng-model="langorw.enterfullname" placeholder="Please Enter Full Name"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Please Enter Mobile (+91) </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="entermobile" data-ng-model="langorw.entermobile" placeholder="Please Enter Mobile (+91)"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Please Enter Email </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="enteremail" data-ng-model="langorw.enteremail" placeholder="Please Enter Email"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;"> Please Enter Password </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="enterpassword" data-ng-model="langorw.enterpassword" placeholder="Please Enter Password"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;"> Username already exits please refresh the page and try again </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="usernameexits" data-ng-model="langorw.usernameexits" placeholder="Username already exits please refresh the page and try again"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Email id already exits </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="emailexit" data-ng-model="langorw.emailexit" placeholder="Email id already exits"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Please Select Language </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="sellanguage" data-ng-model="langorw.sellanguage" placeholder="Please Select Language"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Please Select Field Worker </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="selfielworker" data-ng-model="langorw.selfielworker" placeholder="Please Select Field Worker"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Please Select Available Site </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="selavailablesite" data-ng-model="langorw.selavailablesite" placeholder="Please Select Available Site"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Site has been created </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="sitehascreated" data-ng-model="langorw.sitehascreated" placeholder="Site has been created"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Site has been updated </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="sitehasupdated" data-ng-model="langorw.sitehasupdated" placeholder="Site has been updated"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Update</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="sitehasupdated" data-ng-model="langorw.update" placeholder="update"> </div>
                        </div>
                    </div>
                </div>
                  <div class="row">
                      <div class="col-sm-6">
                      <div class="form-group">
                            <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">Create</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="saveLabel" data-ng-model="langorw.saveLabel" placeholder="create"> </div>
                        </div>
                      </div>
                      
                </div>

                <br/>
                <br/>
                <br/>



                <br>
                <div align="left">
                    <div>
                        <a class="btn btn-primary btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Create </a>

                        <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Update </a>


                        <a data-ng-href="/LangOrwList" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel</a>
                    </div>
                </div>
            </form>

            <div data-ng-hide="hideSearchFilter()">


            </div>
            <br />



            <div data-ng-hide="showForm()" class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th ng-click="changeSorting('language')" title="LANGUAGE" style="cursor:pointer;">LANGUAGE<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('language')"></i></span></th>
                            <th ng-click="changeSorting('firstname')" title="NAME" style="cursor:pointer;">NAME<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('firstname')"></i></span></th>
                            <th ng-click="changeSorting('email')" title="NAME" style="cursor:pointer;">EMAIL<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('email')"></i></span></th>
                            <th ng-click="changeSorting('fwcode')" title="NAME" style="cursor:pointer;">ORW CODE<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('fwcode')"></i></span></th>
                            <th style="width:100px;">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="gender in orwlanguages| orderBy:sort.active:sort.descending | search:Search:filterFields  |itemsPerPage:pageSize">
                            <td>{{gender.index }}</td>
                            <td>{{gender.languageName }}</td>
                            <td>{{gender.firstname}}</td>
                            <td>{{gender.email}}</td>
                            <td>{{gender.fwcode}}</td>


                            <td><a data-ng-href="/LangOrw/edit/{{gender.id}}"><span class="glyphicon glyphicon-pencil" title="Edit" ></span></a>&nbsp;&nbsp;
                            </td>

                        </tr>
                    </tbody>
                </table>
                <br/>
                <div align="right">
                    <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true">
                    </dir-pagination-controls>

                </div>
            </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->




<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>
    
    <checkmodal title1="Alert" visible="showValidationNew">
    {{validatestring1}}
    <br>
   
             <div class="form-group">
                <div align="center">
                    <div align="center">
                        <a data-ng-click="OKBUTTON()" class="btn btn-success btn-sm " role="button" style="border-color:#db4242;padding:5px 20px;font-weight:bold;">Ok</a>
                        
                    </div>
                </div>
            </div>
</checkmodal>

