<style>
    /*
    .stylelink {
        padding: 3px 10px;
        background: transparent;
        color: #333;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }
    
    .stylelink.active {
        padding: 3px 10px;
        background: #b71c1c;
        color: #fff;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    } */

    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
        border-bottom: 4px solid #e72e5a;
    }

    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
        /*        background-color: #fff;*/
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }

    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/

    .nav-tabs-custom>.nav-tabs>li {
        width: 19%;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .nav-tabs-custom>.nav-tabs>li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
    }

</style>

<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
       <div style="text-align:center;">
            <a class="stylelink" href="/LangMemberList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="MEMBER LIST">MEMBER LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/LangOrwList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ORW  LIST">ORW LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink active" href="/LangTIList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="TI LIST">TI LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangOnetooneList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ONE TO ONE LIST">ONE TO ONE LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/LangMainList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="MAIN/NAV LIST">MAIN/NAV LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangConditionList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="CONDITIONS LIST">CONDITIONS LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangPRList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="PATIENT RECORD LIST">PATIENT RECORD LIST</span></a>
        </div>
        
         <div style="text-align:center;">
            <a class="stylelink" href="/LangTodo"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ToDO">ToDO</span></a>
        </div>

    </div>



</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div class="box-header with-border">
        <!--        <h3 class="box-title">Gender</h3>-->
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body" style="padding:20px;">
        <div class="row">
            <div class="col-sm-5"></div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-2" style="text-align:right;padding-right:0px;border-color:#e1e8ee">
                <span>Show</span>
                <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <!--					<span>Entries</span>-->
            </div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-3" style="padding-right:0px;">
                <!--
            <div class="row" style="margin:0;padding:0;">
						<div class="col-sm-5"></div>
						<div class="col-sm-7">
-->
                <form role="form">
                    <div class="input-group">
                        <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search " style="z-index:0;border-right:none;border-color:#e1e8ee;border-top-left-radius:4px;border-bottom-left-radius: 4px;" data-ng-model="Search" focus="someFocusVariable">
                        <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius:4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>

                <!--
						</div>
					</div>
-->
            </div>
            <div class="col-sm-2">
                <a data-ng-href="/LangTI/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New </a>
            </div>
        </div>
        

        <form class="form-horizontal" role="form" data-ng-show="showForm()">
            <p align="center" style="color:red">All fields in red are mandatory</p>
            


            <div class="row" style="margin:0;padding:0;">
                 <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" id="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Language </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="language" data-ng-model="langtilist.language" data-placeholder="Pick a language" style="width:100%;" data-ng-disabled="!isCreateView()">
                                <option value=""></option>
                                <option data-ng-repeat="language in languages" value="{{language.id}}">{{ language.name }}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
            

             <form class="form-horizontal" role="form">
                        <br />
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Country </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.country" placeholder="Country"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">State </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.state" placeholder="State"> </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">District </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.district" placeholder="District"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Town </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.town" placeholder="Town"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">TI ID</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.facility" placeholder="TI ID"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Address </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.address" placeholder="Address"> </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Helpline No </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.helplineno" placeholder="Helpline No"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Another Helpline No </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.anotherhelplineno" placeholder="Another Helpline No"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Event </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.eventheader" placeholder="Event"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Event Name </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.eventname" placeholder="Event Name"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Venue </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.venue" placeholder="Venue"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;"> Event Type </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.eventtype" placeholder="Event Type"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Site List </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.headersitelist" placeholder="Site List"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;"> Site Name </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.sitename" placeholder="Site Name"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">TI Profile </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.facilityprofileheader" placeholder="TI Profile"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">TI  </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.facilitycode" placeholder="TI "> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Pin Code </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.pincode" placeholder="Pin Code"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">TI Type  </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.facilitytype" placeholder="TI Type "> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Area of Operation </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.areaofoperation" placeholder="Area of Operation"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">CO is Empanelled for LIC/Insurance Company </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.insurancecompany" placeholder="CO is Empanelled for LIC/Insurance Company"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">No of Towns Covered </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.nooftowncover" placeholder="No of Towns Covered"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">No of Mandals/Talukas/Blocks Covered </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.noofblockcovered" placeholder="No of Mandals/Talukas/Blocks Covered"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">CO Representation in HIV Management and Governance at State or District Level </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.corepresentationinhiv" placeholder="CO Representation in HIV Management and Governance at State or District Level"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">CO a Member of Any State or National Level Networks </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.stateornationallevel" placeholder="CO a Member of Any State or National Level Networks"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Implements TI </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.implementti" placeholder="Implements TI"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">No of Income Generating Activities Undertaken by the CO </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.noofincome" placeholder="No of Income Generating Activities Undertaken by the CO"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">No of TIs Implemented by the TI</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.nooftiimplemented" placeholder="No of TIs Implemented by the TI"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">TI- Rating </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.tirating" placeholder="TI-  Rating"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">No of Non TI and Non Avahan Projects Implemented by the CO </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.noofnontiimplemented" placeholder="No of Non TI and Non Avahan Projects Implemented by the CO"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Name of the Projects Implemented by the CO </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.nameofprojects" placeholder="Name of the Projects Implemented by the CO"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Registration Number </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.registrationno" placeholder="Registration Number"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Registration Renewal Date </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.registrationrenewaldt" placeholder="Registration Renewal Date"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">PAN Card Number </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.pancardno" placeholder="PAN Card Number"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Income tax returns filed for the last financial year </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.incometaxreturn" placeholder="Income tax returns filed for the last financial year"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">12 A Status </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.astatus" placeholder="12 A Status"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">80 G Status </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.gstatus" placeholder="80 G Status"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">FCRA Status </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.fcrastatus" placeholder="FCRA Status"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Date of Last AGBM </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.dateoflastagbm" placeholder="Date of Last AGBM"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">External Audit Completed </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.externalaudit" placeholder="External Audit Completed"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Audit Report Submitted </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.auditreport" placeholder="Audit Report Submitted"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Board has discussed Audit Report and prepared Action plan </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.boardhasdiscuss" placeholder="Board has discussed Audit Report and prepared Action plan"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Date of Last Elections </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.dateoflastelection" placeholder="Date of Last Elections"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Total No.of Members in the Elected Body( No of board members) </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.totalnoofmembers" placeholder="Total No.of Members in the Elected Body( No of board members)"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">BASIC </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.basic" placeholder="Basic"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">NON STATUTORY </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.nonstatutory" placeholder="NON STATUTORY"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">STATUTORY </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.statutory" placeholder="STATUTORY"> </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Events </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.eventslabel" placeholder="Events"> </div>
                                </div>
                            </div>
                           
                            
                             <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">First Name </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.firstName" placeholder="First Name"> </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            
                            <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Mobile No</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.mobile" placeholder="Mobile No"> </div>
                        </div>
                    </div>

                           
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Last Name</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.lastName" placeholder="Last Name"> </div>
                                </div>
                            </div>
                        </div>




                        <div class="row">
                           
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Email </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.email " placeholder="Email"> </div>
                                </div>
                            </div>
                            
                             <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">ICTC</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.ictcName" placeholder="ICTC"> </div>
                        </div>
                    </div>
                            
                        </div>




                        <div class="row">
                            
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">ART</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.artName" placeholder="ART"> </div>
                                </div>
                            </div>
                            
                             <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Typology</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.typology" placeholder="Typology"> </div>
                        </div>
                    </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">TI CODE</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.salesCode" placeholder="TI CODE"> </div>
                                </div>
                            </div>
                            
                             <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="search" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">FW Site Link</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="mandatory" data-ng-model="langtilist.fwsitelink" placeholder="FW Site Link"> </div>
                                </div>
                            </div>
                            
                        </div>
                 <div class="row">
                     <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="search" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Search</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.search" placeholder="search"> </div>
                                </div>
                            </div>
                     <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="show" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Show</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="show" data-ng-model="langtilist.show" placeholder="show"> </div>
                                </div>
                            </div>
                 </div>
                 <div class="row">
                     <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="search" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Add New</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="addnew" data-ng-model="langtilist.addNew" placeholder="addnew"> </div>
                                </div>
                            </div>
                     <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="show" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Action</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="action" data-ng-model="langtilist.action" placeholder="action"> </div>
                                </div>
                            </div>
                 </div>
                 <div class="row">
                     <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="search" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">All fields in red are Mandatory</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="mandatory" data-ng-model="langtilist.mandatoryfield" placeholder="all fields are mandatory"> </div>
                                </div>
                            </div>
                     <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="show" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Field Worker</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="action" data-ng-model="langtilist.fieldworkerth" placeholder="Field Worker"> </div>
                                </div>
                            </div>
                 </div>
                 <div class="row">
                     <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="search" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Assigned Sites</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="mandatory" data-ng-model="langtilist.passignedsites" placeholder="Assigned Sites"> </div>
                                </div>
                            </div>
                     <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="show" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">No Site Assigned</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="action" data-ng-model="langtilist.nositeassigned" placeholder="No Site Assigned"> </div>
                                </div>
                            </div>
                 </div>
                 <div class="row">
                     <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="search" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Unassigned Site</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="mandatory" data-ng-model="langtilist.pillarstarted" placeholder="Unassigned Site"> </div>
                                </div>
                            </div>
                     <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">TI Profile</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.facilityprofile" placeholder="TI Profile"> </div>
                                </div>
                            </div>
                    
                 </div>
                 
                 <div class="row">
                     <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="search" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Create</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="mandatory" data-ng-model="langtilist.saveLabel" placeholder="Create"> </div>
                                </div>
                            </div>
                     <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Update</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="langtilist.update" placeholder="Update"> </div>
                                </div>
                            </div>
                    
                 </div>
                 
                 
                 <div class="row">
                     <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="search" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Cancel</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="mandatory" data-ng-model="langtilist.cancel" placeholder="Cancel"> </div>
                                </div>
                            </div>
                     <div class="col-sm-6">
                                
                            </div>
                    
                 </div>




                        <div style="width:100%;height:auto;padding:5px 5px;background:#ddd;">
                            <div class="row" style="margin:0;padding:0;">
                                <div class="col-sm-6" style="padding:0;">
                                    <div class="form-group" style="margin:0;">
                                        <label for="extended" class="col-sm-4" style="font-weight:bold;margin-top: 8px;padding:0;color:red;">Error Message</label>
                                    </div>
                                </div>
                                <div class="col-sm-6" style="padding:0;"></div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Please enter first name </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="enterfirstname" data-ng-model="langtilist.enterfirstname" placeholder="Please enter first name"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Please select TI type </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="selfacilitytype" data-ng-model="langtilist.selfacilitytype" placeholder="Please select TI type"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Please select area of operation </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="selareaofopt" data-ng-model="langtilist.selareaofopt" placeholder="Please select area of operation"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Please enter no of town covered </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="enternooftowncov" data-ng-model="langtilist.enternooftowncov" placeholder="Please enter no of town covered"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;"> Please enter No of Mandals/Talukas/Blocks Covered </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="entermandal" data-ng-model="langtilist.entermandal" placeholder="Please enter No of Mandals/Talukas/Blocks Covered"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Please enter No of Income Generating Activities Undertaken by the CO </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="enternoofincome" data-ng-model="langtilist.enternoofincome" placeholder="Please enter No of Income Generating Activities Undertaken by the CO"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;"> Please select Implements TI </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="selimplementsti" data-ng-model="langtilist.selimplementsti" placeholder="Please select Implements TI"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Please enter No of TIs Implemented by the TI  </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="enternooftis" data-ng-model="langtilist.enternooftis" placeholder="Please enter No of TIs Implemented by the TI "> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;"> Please enter No of Non TI and Non Avahan Projects Implemented by the CO </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="enternoofnontis" data-ng-model="langtilist.enternoofnontis" placeholder="Please enter No of Non TI and Non Avahan Projects Implemented by the CO"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;"> Please enter registration number </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="enterregisterno" data-ng-model="langtilist.enterregisterno" placeholder="Please enter registration number"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;"> Please select Registration Renewal Date </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="selregrenewdate" data-ng-model="langtilist.selregrenewdate" placeholder="Please select Registration Renewal Date"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;"> Please enter PAN card number </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="enterpancard" data-ng-model="langtilist.enterpancard" placeholder="Please enter PAN card number"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;"> Please select 12 A Status </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="selastatus" data-ng-model="langtilist.selastatus" placeholder="Please select 12 A Status"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;"> Please select 80 G Status </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="selgstatus" data-ng-model="langtilist.selgstatus" placeholder="Please select 80 G Status"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;"> Please select FCRA Status </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="selfcrastatus" data-ng-model="langtilist.selfcrastatus" placeholder="Please select FCRA Status"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;"> Please select Date of Last AGBM </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="seldateofagbm" data-ng-model="langtilist.seldateofagbm" placeholder="Please select Date of Last AGBM"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;"> Please select External Audit Completed </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="selexternalaudit" data-ng-model="langtilist.selexternalaudit" placeholder="Please select External Audit Completed"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;"> Please select Audit Report Submitted</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="selauditreport" data-ng-model="langtilist.selauditreport" placeholder="Please select Audit Report Submitted"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;"> Please select Board has discussed Audit Report and prepared Action plan </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="selexternalaudit" data-ng-model="langtilist.selactionplan" placeholder="Please select Board has discussed Audit Report and prepared Action plan"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;"> Please select Date of Last Elections</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="seldateofelection" data-ng-model="langtilist.seldateofelection" placeholder="Please select Audit Report Submitted"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;"> Please Total No.of Members in the Elected Body( No of board members) </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="enterelectionbody" data-ng-model="langtilist.enterelectionbody" placeholder="Please Total No.of Members in the Elected Body( No of board members)"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;"> TI has been updated</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="facilityhasupdated" data-ng-model="langtilist.facilityhasupdated" placeholder="TI has been updated"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;"> Please enter event name </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="entereventname" data-ng-model="langtilist.entereventname" placeholder="Please enter event name"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;"> Please enter venue</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="entervenue" data-ng-model="langtilist.entervenue" placeholder="Please enter venue"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;"> Please select event type </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="seleventtype" data-ng-model="langtilist.seleventtype" placeholder="Please select event type"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;"> Event has been created</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="eventcreated" data-ng-model="langtilist.eventcreated" placeholder="Event has been created"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;"> Event has been updated </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="eventupdated" data-ng-model="langtilist.eventupdate" placeholder="Event has been updated"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6"> </div>
                        </div>
                 <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="members" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;"> Members </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="eventupdated" data-ng-model="langtilist.members" placeholder=" Members"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6"> </div>
                        </div>
            <br/>
            <br/>
            <br/>



            <br>
            <div align="left">
                <div>
                    <a class="btn btn-primary btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Create </a>

                    <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Update </a>


                    <a data-ng-href="/LangTIList" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel</a>
                </div>
            </div>
        </form>

        <div data-ng-hide="hideSearchFilter()">

            
        </div>
        <br />



        <div data-ng-hide="showForm()" class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th ng-click="changeSorting('language')" title="LANGUAGE" style="cursor:pointer;">LANGUAGE<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('language')"></i></span></th>
                        <th ng-click="changeSorting('name')" title="NAME" style="cursor:pointer;">NAME<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('name')"></i></span></th>
                        
                        <th ng-click="changeSorting('facility')" title="Facility ID" style="cursor:pointer;">Facility ID<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('facility')"></i></span></th>
                        
                        <th ng-click="changeSorting('address')" title="Address" style="cursor:pointer;">Address<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('address')"></i></span></th>
                        
                        <th ng-click="changeSorting('helplineno')" title="Helpline No" style="cursor:pointer;">Helpline No<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('helplineno')"></i></span></th>
                        <th style="width:100px;">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="langti in tilanguages| orderBy:sort.active:sort.descending | search:Search:filterFields |itemsPerPage:pageSize">
                        <td>{{ langti.index }}</td>
                        <td>{{ langti.languageName }}</td>
                        <td>{{langti.country}}</td>
                        <td>{{langti.facility}}</td>
                        <td>{{langti.address}}</td>
                        <td>{{langti.helplineno}}</td>


                        <td><a data-ng-href="/LangTI/edit/{{langti.id}}"><span class="glyphicon glyphicon-pencil" title="Edit" ></span></a>&nbsp;&nbsp;
                            
                    </tr>
                </tbody>
            </table>
            <br/>
            <div align="right">
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true">
                </dir-pagination-controls>

            </div>
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->




<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>

<checkmodal title1="Alert" visible="showValidationNew">
    {{validatestring1}}
    <br>
   
             <div class="form-group">
                <div align="center">
                    <div align="center">
                        <a data-ng-click="OKBUTTON()" class="btn btn-success btn-sm " role="button" style="border-color:#db4242;padding:5px 20px;font-weight:bold;">Ok</a>
                        
                    </div>
                </div>
            </div>
</checkmodal>