<style>
    /*
    .stylelink {
        padding: 3px 10px;
        background: transparent;
        color: #333;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }
    
    .stylelink.active {
        padding: 3px 10px;
        background: #b71c1c;
        color: #fff;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    } */

    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
        border-bottom: 4px solid #e72e5a;
    }

    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
        /*        background-color: #fff;*/
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }

    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/

    .nav-tabs-custom>.nav-tabs>li {
        width: 19%;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .nav-tabs-custom>.nav-tabs>li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
    }

</style>

<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink" href="/LangMemberList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="MEMBER LIST">MEMBER LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/LangOrwList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ORW  LIST">ORW LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/LangTIList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="TI LIST">TI LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangOnetooneList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ONE TO ONE LIST">ONE TO ONE LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/LangMainList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="MAIN/NAV LIST">MAIN/NAV LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink " href="/LangConditionList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="CONDITIONS LIST">CONDITIONS LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink active" href="/LangPRList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="PATIENT RECORD LIST">PATIENT RECORD LIST</span></a>
        </div>
        
         <div style="text-align:center;">
            <a class="stylelink" href="/LangTodo"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ToDO">ToDO</span></a>
        </div>

    </div>


</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div class="box-header with-border">
        <!--        <h3 class="box-title">Gender</h3>-->
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body" style="padding:20px;">
        <div class="row">
            <div class="col-sm-5"></div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-2" style="text-align:right;padding-right:0px;border-color:#e1e8ee">
                <span>Show</span>
                <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <!--					<span>Entries</span>-->
            </div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-3" style="padding-right:0px;">
                <!--
            <div class="row" style="margin:0;padding:0;">
						<div class="col-sm-5"></div>
						<div class="col-sm-7">
-->
                <form role="form">
                    <div class="input-group">
                        <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search " style="z-index:0;border-right:none;border-color:#e1e8ee;border-top-left-radius:4px;border-bottom-left-radius: 4px;" data-ng-model="Search" focus="someFocusVariable">
                        <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius:4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>

                <!--
						</div>
					</div>
-->
            </div>
            <div class="col-sm-2">
                <a data-ng-href="/LangPR/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New </a>
            </div>
        </div>
        

        <form class="form-horizontal" role="form" data-ng-show="showForm()">
            <p align="center" style="color:red">All fields in red are mandatory</p>
        


            <div class="row" style="margin:0;padding:0;">
                 <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" id="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Language </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="language" data-ng-model="precord.language" data-placeholder="Pick a language" style="width:100%;" data-ng-disabled="langdisable">
                                <option value=""></option>
                                <option data-ng-repeat="language in languages" value="{{language.id}}">{{ language.name }}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
           
               <br/>
                        <div class="row" style="margin:0px;">
                            <div style="width:100%;height:auto;padding:5px 5px;color:#4a4d72;"> <span style="font-weight:bold">Labels</span> </div>
                            <br/>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Name</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" ng-model="precord.prName" placeholder="Name">
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">ID</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="id" ng-model="precord.prId" placeholder="ID">
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Condition</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="condition" ng-model="precord.condition" placeholder="condition">
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Relationship</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="relation" ng-model="precord.relation" placeholder="relation">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Patient Flow</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="patientflow" ng-model="precord.patientflow" placeholder="patientflow">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Visit</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="visit" ng-model="precord.visitDate" placeholder="visit">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Symptom</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="symptons" ng-model="precord.symptom" placeholder="symptons">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Test Name</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="symptons" ng-model="precord.testname" placeholder="testname">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Date of testing</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="dateoftest" ng-model="precord.dateoftest" placeholder="Date of testing">
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Kit Prescribed</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="dateoftest" ng-model="precord.kitprescribed" placeholder="Kit Prescribed">
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Drugs given</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="dateoftest" ng-model="precord.drugsgiven" placeholder="Drugs given">
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Findings</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="dateoftest" ng-model="precord.findings" placeholder="Findings">
                                    </div>
                                </div>

                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Patient Record List </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="memberId" ng-model="precord.prlist" placeholder="Patient Record Edit">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Patient Record Create</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="memberId" ng-model="precord.prCreate" placeholder="Patient Record Create">
                                    </div>
                                </div>

                            </div>
                            
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Patient Record Edit </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="memberId" ng-model="precord.prEdit" placeholder="Patient Record Edit">
                                    </div>
                                </div>
                                </div>
                                 
                                <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Action</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="action" data-ng-model="precord.action" placeholder="Action">
                                    </div>
                                </div>
                                </div>
                                 <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Results of Test</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="patientidfromWHP" data-ng-model="precord.result" placeholder="Results of Test">
                                    </div>
                                </div>
                                </div>
                                
                                <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Show</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="show" data-ng-model="precord.show" placeholder="Show">
                                    </div>
                                </div>
                                </div>
                                
                                <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Search</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="search" data-ng-model="precord.search" placeholder="Search">
                                    </div>
                                </div>
                            </div>
                              <div class="col-sm-6">
                                  <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Step</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="step" data-ng-model="precord.prstep" placeholder="Step">
                                    </div>
                                </div>
                                  
                            </div>
                             <div class="col-sm-6">
                                  <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Status</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="step" data-ng-model="precord.prstatus" placeholder="Status">
                                    </div>
                                </div>
                                  
                            </div>
                            <div class="col-sm-6">
                                  <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Followup</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="step" data-ng-model="precord.prfollowup" placeholder="Followup">
                                    </div>
                                </div>
                                  
                            </div>
                            
                           
                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Purpose of visit</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="thankYouUpdated" data-ng-model="precord.purposeofVisit" placeholder="Purpose of visit"> </div>
                                    </div>
                                </div>
                            
                             

           
                       <!-- </div>
                        <div class="row" style="margin:0px;">
                            
                                <div class="form-group">
                                    <label for="sales-code" class="col-sm-4" style="font-weight:600;color:red;">Member of SHG </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="memberofSHG" ng-model="precord.memberofSHG" placeholder="Member of SHG">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Name of the patient (SHG) </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="patientSHG" ng-model="precord.patientSHG" placeholder="Name of the patient (SHG)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Name of the patient (non SHG) </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="patientnonSHG" ng-model="precord.patientnonSHG" placeholder="Name of the patient (non SHG)">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Symptom</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="Symptom" data-ng-model="precord.symptom" placeholder="Symptom">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Illness</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="Illness" data-ng-model="precord.illness" placeholder="Illness">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Seen by</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="seenBy" data-ng-model="precord.seenBy" placeholder="Seen by">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Patient ID from WHP</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="patientidfromWHP" data-ng-model="precord.patientidfromWHP" placeholder="Patient ID from WHP">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Vital Record</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="patientidfromWHP" data-ng-model="precord.vitalRecord" placeholder="Vital Record">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Temperature</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="patientidfromWHP" data-ng-model="precord.temperature" placeholder="Temperature">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">BP (Diastolic)</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="patientidfromWHP" data-ng-model="precord.bpDiastolic" placeholder="BP (Diastolic)">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">SPO2</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="patientidfromWHP" data-ng-model="precord.spo" placeholder="SPO2">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Sugar Level</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="patientidfromWHP" data-ng-model="precord.sugerLevel" placeholder="Sugar Level">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Height</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="patientidfromWHP" data-ng-model="precord.height" placeholder="Height">
                                    </div>
                                </div>

                                
                                <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Test Name</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="patientidfromWHP" data-ng-model="precord.testName" placeholder="Test Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Patient Name</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="show" data-ng-model="precord.patient" placeholder="Patient Name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Age </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="memberId" ng-model="precord.age" placeholder="Age">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Gender </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="memberId" ng-model="precord.gender" placeholder="Gender">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Contact Number </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="memberId" ng-model="precord.mobile" placeholder="Contact Number">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Migrant </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="memberId" ng-model="precord.migrant" placeholder="Migrant">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="sales-code" class="col-sm-4" style="font-weight:600;color:red;">Assigned To </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="assigned" ng-model="precord.assignedTo" placeholder="Assigned To">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Visit Date</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="{{'datepicker' + $index}}" data-ng-model="precord.visitDate" placeholder="Visit Date">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Name of the Medicine</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="show" data-ng-model="precord.medicineName" placeholder="Name of the Medicine">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Amount charged</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="show" data-ng-model="precord.amountCharged" placeholder="Amount charged">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Refer To</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="show" data-ng-model="precord.referto" placeholder="Refer To">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">BMI</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="show" data-ng-model="precord.bmi" placeholder="BMI">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Pulse Rate</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="show" data-ng-model="precord.pulseRate" placeholder="Pulse Rate">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">BP (Systolic) </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="show" data-ng-model="precord.bpSystolic" placeholder="BP (Systolic) ">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Hemoglobin</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="show" data-ng-model="precord.hemoglobin" placeholder="Hemoglobin">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">RR</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="show" data-ng-model="precord.rr" placeholder="RR">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Weight</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="show" data-ng-model="precord.weight" placeholder="Weight">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Results</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="patientidfromWHP" data-ng-model="precord.result" placeholder="Results">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Show</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="show" data-ng-model="precord.show" placeholder="Show">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">HF Name</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="show" data-ng-model="precord.hfName" placeholder="HF Name">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin:0px;">
                            <div style="width:100%;height:auto;padding:5px 5px;color:#4a4d72;border-bottom:2px solid #f4f4f4;"> <span style="font-weight:bold">Placeholders</span> </div>
                            <br/>
                            <div class="col-sm-6">
                                <div class="form-group" ng-hide="reponserec">
                                    <label for="agegroup" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Select Member of SHG</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="organizationId" ng-model="precord.selectmemberOfSHG" placeholder="Select Member of SHG">
                                    </div>
                                </div>

                                <div class="form-group" ng-hide="rejectdis">
                                    <label for="state" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Select Name of the patient(SHG) </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="stateId" ng-model="precord.selectpatientnameSHG" placeholder="Select Name of the patient(SHG)">
                                    </div>
                                </div>


                                <div class="form-group" ng-hide="delaydis">
                                    <label for="city" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Select Gender </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="cityId" ng-model="precord.selectGender" placeholder="Select Gender">
                                    </div>
                                </div>

                                <div class="form-group" ng-hide="delaydis">
                                    <label for="city" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Select Migrant </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="cityId" ng-model="precord.selectMigrant" placeholder="Select Migrant">
                                    </div>
                                </div>
                                <div class="form-group" ng-hide="reponserec">
                                    <label for="agegroup" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Select Assigned To</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="selectassigned" ng-model="precord.selectAssignedTo" placeholder="Select Assigned To">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Select a VisitDate</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="selectFollowUp" data-ng-model="precord.selectVisitDate" placeholder="Select a VisitDate">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Select Illness</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="selectReasonForDelay" data-ng-model="precord.selectIllness" placeholder="Select Illness"> </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Enter </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="selectResponseReceived" data-ng-model="precord.enter" placeholder="Enter "> </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Enter Amount Charged </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="selectResponseReceived" data-ng-model="precord.enterAmount" placeholder="Enter Amount Charged "> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Search</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="search" data-ng-model="precord.search" placeholder="Search">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Select Medicine Name</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="search" data-ng-model="precord.selectMedicineName" placeholder="Select Medicine Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Select Seen by</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="selectMember" data-ng-model="precord.selectSeenBy" placeholder="Select Seen by"> </div>
                                </div>
                                <div class="form-group">
                                    <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Select Refer To</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="selectScheme" data-ng-model="precord.selectreferTo" placeholder="Select Refer To">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Select a Test Name</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="selectStage" data-ng-model="precord.selecttestname" placeholder="Select a Test Name"> </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Select Symptom</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="selectResponseReceived" data-ng-model="precord.selectSymptom" placeholder="Select Symptom"> </div>
                                </div>

                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Enter Age</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="selectResponseReceived" data-ng-model="precord.enterAge" placeholder="Enter Age"> </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Enter Contact No</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="selectResponseReceived" data-ng-model="precord.enterContact" placeholder="Enter Contact No"> </div>
                                </div>


                            </div>
                        </div>
-->
               </div>
                            <div class="row" style="margin:0px;">
                                <div style="width:100%;height:auto;padding:5px 5px;color:#4a4d72;border-bottom:2px solid #f4f4f4;"> <span style="font-weight:bold">Placeholders</span> </div>
                                <br/>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Please enter Name</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="name" data-ng-model="precord.entername" placeholder="Please enter Name">
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Please enter ID</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="name" data-ng-model="precord.enterid" placeholder="Please enter ID">
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Please Select relation</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="name" data-ng-model="precord.enterrelation" placeholder="Please Select relation">
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Please select a condition</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="thankYouCreated" data-ng-model="precord.selcondition" placeholder="Please select a condition">
                                        </div>
                                    </div>

                                </div>
                                
                            </div>
                            <div class="row" style="margin:0;">
                               
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Please select Patient Flow</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="confirmDelete" data-ng-model="precord.selectPf" placeholder="Please select Patient Flow">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Please select symptoms</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="confirmDelete" data-ng-model="precord.selectSymptom" placeholder="Please select symptoms">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row" style="margin:0;">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Please select date of testing</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="confirmDelete" data-ng-model="precord.seldateoftesting" placeholder="Please select date of testing">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Please select test name</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="confirmDelete" data-ng-model="precord.selecttestname" placeholder="Please select test name">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row" style="margin:0;">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Please enter Result</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="confirmDelete" data-ng-model="precord.enterresult" placeholder="Please enter result">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Please select Kit Prescribed</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="confirmDelete" data-ng-model="precord.selkitprescribed" placeholder="Please select Kit Prescribed">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row" style="margin:0;">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Please select Drugs Given</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="confirmDelete" data-ng-model="precord.seldrugsgiven" placeholder="Please select Drugs Given">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Please enter Findings</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="confirmDelete" data-ng-model="precord.selectSeenBy" placeholder="Please enter Findings">
                                        </div>
                                    </div>
                                </div>
                                 

                            </div>
            <div class="row" style="margin:0px;">
                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Please select a Purpose of visit</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="thankYouUpdated" data-ng-model="precord.selectpurposeofVisit" placeholder="Please select a  Purpose of visit"> </div>
                                    </div>
                                </div>

            </div>
               
                <div class="row" style="margin:0px;">
                <div style="width:100%;height:auto;padding:5px 5px;color:#4a4d72;border-bottom:2px solid #f4f4f4;"> <span style="font-weight:bold">Error Messages</span> </div>
                <br/>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Patient Record has been Created</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="thankYouCreated" data-ng-model="precord.thankYouCreated" placeholder="Patient Record has been Created">
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Patient Record has been Updated</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="thankYouUpdated" data-ng-model="precord.thankYouUpdated" placeholder="Patient Record has been Updated"> </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Confirm Delete</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="confirmDelete" data-ng-model="precord.confirmDelete" placeholder="Confirm Delete">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Patient Record Already Added</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="confirmDelete" data-ng-model="precord.patientAlreadyAdded" placeholder="Patient Record Already Added">
                        </div>
                    </div>
                </div>
            </div>
             <div class="row" style="margin:0;">
            <div class="col-sm-6">
                    <div class="form-group">
                        <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">All fields in red are mandatory</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="confirmDelete" data-ng-model="precord.mandatoryfield" placeholder="All  fields in red are mandatory">
                        </div>
                    </div>
                </div>
                 
                  <div class="col-sm-6">
                    <div class="form-group">
                        <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Are You Sure Want To Save</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="confirmDelete" data-ng-model="precord.areYouSureWantToSave" placeholder="Are You Sure Want To Save">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Are You Sure Want To Update</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="confirmDelete" data-ng-model="precord.areYouSureToWantToUpdate" placeholder="Are You Sure Want To Update">
                        </div>
                    </div>
                </div>
            </div>


                            <div class="row" style="margin:0px;">
                                <div style="width:100%;height:auto;padding:5px 5px;color:#4a4d72;border-bottom:2px solid #f4f4f4;"> <span style="font-weight:bold">Buttons</span> </div>
                                <br/>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Export Data</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="exportData" data-ng-model="precord.exportData" placeholder="Export Data"> </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Cancel</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="cancel" data-ng-model="precord.cancel" placeholder="Cancel"> </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Save</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="saveLabel" data-ng-model="precord.saveLabel" placeholder="Save">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Update</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="update" data-ng-model="precord.update" placeholder="Update"> </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Add New</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="addNew" data-ng-model="precord.addNew" placeholder="Add New"> </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Edit</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="edit" data-ng-model="precord.edit" placeholder="Edit"> </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Delete</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="delete" data-ng-model="precord.delete" placeholder="Delete">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Add</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="delete" data-ng-model="precord.add" placeholder="add">
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Remove</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="delete" data-ng-model="precord.removebutton" placeholder="remove">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Yes</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="delete" data-ng-model="precord.yes" placeholder="yes">
                                        </div>
                                    </div>
                                </div>
                            </div>
    <!--end-->
            <br/>
            <br/>
            <br/>


            <br>
            <div align="left">
                <div>
                    <a class="btn btn-primary btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Create </a>

                    <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Update </a>


                    <a data-ng-href="/LangPRList" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel</a>
                </div>
                            </div>
        </form>
              

        <div data-ng-hide="hideSearchFilter()">

            
        </div>
        <br />



        <div data-ng-hide="showForm()" class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th ng-click="changeSorting('language')" title="LANGUAGE" style="cursor:pointer;">LANGUAGE<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('language')"></i></span></th>
                        <th ng-click="changeSorting('prName')" title="NAME" style="cursor:pointer;">NAME<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('prName')"></i></span></th>
                        
                        <th ng-click="changeSorting('condition')" title="CONDITION" style="cursor:pointer;">CONDITION<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('condition')"></i></span></th>
                        
                        <th ng-click="changeSorting('relation')" title="RELATION" style="cursor:pointer;">
                            RELATION<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('relation')"></i></span></th>
                        
                        <th ng-click="changeSorting('patientflow')" title="PATIENTFLOW" style="cursor:pointer;">PATIENT FLOW<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('patientflow')"></i></span></th>
                        
                        <th style="width:100px;">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="prl in prlanguages| orderBy:sort.active:sort.descending | search:Search:filterFields  |itemsPerPage:pageSize">
                        <td>{{ prl.index }}</td>
                        <td>{{ prl.languageName }}</td>
                        <td>{{prl.prName}}</td>
                        <td>{{prl.condition}}</td>
                        <td>{{prl.relation}}</td>
                        <td>{{prl.patientflow}}</td>
                        

                        <td><a data-ng-href="/LangPR/edit/{{prl.id}}"><span class="glyphicon glyphicon-pencil" title="Edit" ></span></a>&nbsp;&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <div align="right">
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true">
                </dir-pagination-controls>

            </div>
        </div>

    
        
    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->




<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>

<checkmodal title1="Alert" visible="showValidationNew">
    {{validatestring1}}
    <br>
   
             <div class="form-group">
                <div align="center">
                    <div align="center">
                        <a data-ng-click="OKBUTTON()" class="btn btn-success btn-sm " role="button" style="border-color:#db4242;padding:5px 20px;font-weight:bold;">Ok</a>
                        
                    </div>
                </div>
            </div>
</checkmodal>
