<style>
    /*
    .stylelink {
        padding: 3px 10px;
        background: transparent;
        color: #333;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }
    
    .stylelink.active {
        padding: 3px 10px;
        background: #b71c1c;
        color: #fff;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    } */

    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
        border-bottom: 4px solid #e72e5a;
    }

    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
        /*        background-color: #fff;*/
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }

    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/

    .nav-tabs-custom>.nav-tabs>li {
        width: 19%;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .nav-tabs-custom>.nav-tabs>li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
    }

</style>

<div style="width:100%;height:auto;background:#ffffff;">
     <div id="wrapper">
         <div style="text-align:center;">
            <a class="stylelink" href="/LangMemberList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="MEMBER LIST">MEMBER LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/LangOrwList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ORW  LIST">ORW LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/LangTIList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="TI LIST">TI LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangOnetooneList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ONE TO ONE LIST">ONE TO ONE LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink active" href="/LangMainList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="MAIN/NAV LIST">MAIN/NAV LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangConditionList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="CONDITIONS LIST">CONDITIONS LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangPRList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="PATIENT RECORD LIST">PATIENT RECORD LIST</span></a>
        </div>

    </div>



</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div class="box-header with-border">
        <!--        <h3 class="box-title">Gender</h3>-->
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body" style="padding:20px;">
        <div class="row">
            <div class="col-sm-5"></div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-2" style="text-align:right;padding-right:0px;border-color:#e1e8ee">
                <span>Show</span>
                <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <!--					<span>Entries</span>-->
            </div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-3" style="padding-right:0px;">
                <!--
            <div class="row" style="margin:0;padding:0;">
						<div class="col-sm-5"></div>
						<div class="col-sm-7">
-->
                <form role="form">
                    <div class="input-group">
                        <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search " style="z-index:0;border-right:none;border-color:#e1e8ee;border-top-left-radius:4px;border-bottom-left-radius: 4px;" data-ng-model="Search" focus="someFocusVariable">
                        <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius:4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>

                <!--
						</div>
					</div>
-->
            </div>
            <div class="col-sm-2">
                <a data-ng-href="/LangMain/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New </a>
            </div>
        </div>


        <form class="form-horizontal" role="form" data-ng-show="showForm()">
            <p align="center" style="color:red">All fields in red are mandatory</p>



            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" id="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Language </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="language" data-ng-model="langmain.language" data-placeholder="Pick a language" style="width:100%;" data-ng-disabled="!isCreateView()">
                                <option value=""></option>
                                <option data-ng-repeat="language in languages" value="{{language.id}}">{{ language.name }}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>


            <form class="form-horizontal" role="form">
                <br />
                <br />
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Welcome </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.welcome" placeholder="welcome"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="schememaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">New Member </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.newmember" placeholder="New Member"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">With Member </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.withmember" placeholder="With Member"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="schememaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">My To-Do's </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.mytodos" placeholder="My To-Do's"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Action Type </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.actiontype" placeholder="action type"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="schememaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">No Data </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.nodata" placeholder="No Data"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Broadcast Messages</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.broadcastmessages" placeholder="Broadcast Messages"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="schememaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">No Broadcast Messages </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.nobroadcastmessages" placeholder="No Broadcast Messages"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Home</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.home" placeholder="Home"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="schememaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Field Work</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.fieldwork" placeholder="Field Work"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Condition</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.condition" placeholder="Condition"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="schememaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Patient Record</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.patientRecord" placeholder="Patient Record"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">One to One</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.onetone" placeholder="One to One"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="schememaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">ORW</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.orw" placeholder="ORW"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Site</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.site" placeholder="Site"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="schememaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">TI Manager Profile</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.tiprofile" placeholder="TI Manager Profile"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Members</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.members" placeholder="Members"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="schememaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Track Application</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.trackapplication" placeholder="Track Application"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Archived Members</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.archivedmembers" placeholder="Archived Members"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="schememaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Assign Field Worker to Site</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.assignfwtosite" placeholder="Assign Field Worker to Site"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Dashboard</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.dashboard" placeholder="Dashboards"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Data</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.data" placeholder="Data"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Follow Up Member</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.followupmember" placeholder="Follow Up Member"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Others </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="multilanguage.others" placeholder="Others"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Profile</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.profile" placeholder="Profile"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Sign Out </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.logout" placeholder="Sign Out"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">FW ToDos</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.fwtodos" placeholder="FW ToDos"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Not Applicable </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="langmain.notapplicable" placeholder="Not Applicable"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                     <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">knowledge Base</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.knowledgebasename" placeholder="knowledge Base Name"> </div>
                        </div>
                    </div>
                     <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Facility</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.facility" placeholder="Facility"> </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Roles</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.roles" placeholder="Roles"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">TI</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.tiname" placeholder="TI"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Name</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.uname" placeholder="Name"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Mobile</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.mobile" placeholder="Mobile"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Email</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.email" placeholder="Email"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Country</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.country" placeholder="Country"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">State</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.state" placeholder="State"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">District</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.district" placeholder="District"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Town</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.town" placeholder="Town"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">ICTC</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.ictc" placeholder="ICTC"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">ART</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.art" placeholder="ART"> </div>
                        </div>
                    </div>
                     <div class="col-sm-6">
                    <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Username</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.username" placeholder="Username"> </div>
                        </div>
                    </div>    
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">   
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Password</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.password" placeholder="password"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6"> 
                        
                         
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">User Status</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.status" placeholder="User Status"> </div>
                        </div>
                    
                    <!--<div class="form-group">
                                    <label for="zone" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">User status</label>
                                    <div class="col-sm-6">
                                        <label class="radio-inline">
								<input type="radio" data-ng-model="langmain.status" value="active" ng-disabled="usernameDisable">Active
							</label>
                                        <label class="radio-inline">
								<input type="radio" data-ng-model="langmain.status" value="inactive" ng-disabled="usernameDisable">Inactive
							</label>

                                    </div>
                                </div>-->
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">   
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Update</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.update" placeholder="Update"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">   
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Cancel</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.cancel" placeholder="Cancel"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">   
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Language</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.languagelabel" placeholder="Language"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">   
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">User</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.userlabel" placeholder="User"> </div>
                        </div>
                    </div> 
                    
                </div>
                <div class="row" style="margin:0;padding:0;">
                   <div class="col-sm-6">   
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">ART Name</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.artname" placeholder="ART Name"> </div>
                        </div>
                    </div> 
                    <div class="col-sm-6">   
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">ICTC Name</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.ictcname" placeholder="ICTC Name"> </div>
                        </div>
                    </div> 
                </div>
                <br/>
                <br/>
                <br/>



                <br>
                <div align="left">
                    <div>
                        <a class="btn btn-primary btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Create </a>

                        <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Update </a>


                        <a data-ng-href="/LangMainList" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel</a>
                    </div>
                </div>
            </form>

            <div data-ng-hide="hideSearchFilter()">


            </div>
            <br />



            <div data-ng-hide="showForm()" class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th ng-click="changeSorting('language')" title="LANGUAGE" style="cursor:pointer;">LANGUAGE<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('language')"></i></span></th>
                            <th ng-click="changeSorting('followupmember')" title="FOLLOWUP MEMBER" style="cursor:pointer;">FOLLOWUP MEMBER<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('followupmember')"></i></span></th>
                            <th ng-click="changeSorting('profile')" title="PROFILE" style="cursor:pointer;">PROFILE<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('profile')"></i></span></th>
                            <th style="width:100px;">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="gender in lhslanguages| orderBy:sort.active:sort.descending | search:Search:filterFields |itemsPerPage:pageSize">
                            <td>{{ gender.index }}</td>
                            <td>{{ gender.languageName }}</td>
                            <td>{{gender.followupmember}}</td>
                            <td>{{gender.profile}}</td>


                            <td><a data-ng-href="/LangMain/edit/{{gender.id}}"><span class="glyphicon glyphicon-pencil" title="Edit" ></span></a>&nbsp;&nbsp;
                            </td>
                                
                        </tr>
                    </tbody>
                </table>
                <br/>
                <div align="right">
                    <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true">
                    </dir-pagination-controls>

                </div>
            </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->




<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>
    
    <checkmodal title1="Alert" visible="showValidationNew">
    {{validatestring1}}
    <br>
   
             <div class="form-group">
                <div align="center">
                    <div align="center">
                        <a data-ng-click="OKBUTTON()" class="btn btn-success btn-sm " role="button" style="border-color:#db4242;padding:5px 20px;font-weight:bold;">Ok</a>
                        
                    </div>
                </div>
            </div>
</checkmodal>
