<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }

    .tht:hover {
        color: blue;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 10px 20px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }



        .space {
            padding: 5px 0px 5px 0px;
        }

    }

</style>


<div class="box box-info ng-scope" style="min-height:450px;border-top:none;">
    <!--    data-ng-init="toggleLoading()"-->
    <div id="wrapper">
        <div class="stylelink active  box-header with-border ">
            <h3 class=" box-title" style="font-weight:600;">{{PRLanguage.prlist}}</h3>
        </div>
    </div>
    <div class="box-body">
        <br>
        <div class="row" style="margin:0;padding:0;">
            <div class="col-sm-3"></div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-2" style="text-align:right;padding-right:0px;border-color:#e1e8ee">
                <span>{{PRLanguage.show}}</span>
                <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)" class="ng-pristine ng-valid">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <!--					<span>Entries</span>-->
            </div>

            <div class="col-sm-2">
                <a data-ng-href="" class="btn btn-success btn-sm" role="button" ng-click="exportData()" style="padding:5px 20px;margin-right:10px;" ng-disabled="DisableExport">{{PRLanguage.exportData}}</a>
            </div>

            <div data-ng-hide="hideSearchFilter()" class="col-sm-3" style="padding-right:0px;">
                <!--
            <div class="row" style="margin:0;padding:0;">
						<div class="col-sm-5"></div>
						<div class="col-sm-7">
-->
                <div class="space">
                    <form role="form" class="ng-pristine ng-valid">

                        <div class="input-group">
                            <input type="text" class="form-control ng-pristine ng-valid" placeholder="{{PRLanguage.search}}" style="z-index:0;border-right:none;border-color:#e1e8ee;border-top-left-radius:4px;border-bottom-left-radius: 4px;" ng-model="searchInput" focus="someFocusVariable">
                            <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius:4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-primary btn-sm" role="button" data-ng-hide="hideCreateButton()" style="padding:5px 20px;margin-right:10px;" href="/patientrecord/create" ng-if="hideAddBtn">{{PRLanguage.addNew}}</a>
            </div>
        </div>
        <br>

        <div data-ng-hide="showForm()" class="">
            <div>
                <br>

                <div class="table-responsive">
                    <table class="table">
                        <thead>

                            <tr>
                                <th ng-click="changeSorting('index')">#<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('index')"></i></span></th>

                                <th ng-click="changeSorting('PRLanguage.prName')">{{PRLanguage.prName}}<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('patientname')"></i></span></th>


                                <th ng-click="changeSorting('PRLanguage.condition')">{{PRLanguage.condition}}<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('datedisply')"></i></span></th>

                                <th ng-click="changeSorting('PRLanguage.prstep')">{{PRLanguage.prstep}}<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('PRLanguage.prstep')"></i></span></th>

                                <th ng-click="changeSorting('PRLanguage.prstatus')">{{PRLanguage.prstatus}}<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('PRLanguage.prstatus')"></i></span></th>
                                <th ng-click="changeSorting('PRLanguage.prfollowup')">{{PRLanguage.prfollowup}}<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('PRLanguage.relation')"></i></span></th>
                                <th ng-click="changeSorting('PRLanguage.relation')">{{PRLanguage.relation}}<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('PRLanguage.relation')"></i></span></th>

                                <!--                                <th ng-click="changeSorting('associatedHFName')" >{{PRLanguage.hfName}}<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('associatedHFName')"></i></span></th>-->

                                <th>{{PRLanguage.action}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--TotalData -->
                            <tr dir-paginate="patientrecord in patientrecords | orderBy:sort.active:sort.descending |itemsPerPage:pageSize" current-page="currentPage" pagination-id="surId">
                                <td>{{patientrecord.index}}</td>
                                <!--<td ng-if="memberofShgFlag == true" data-ng-init="member = getMember(patientrecord.memberId)">{{member.name}}</td>-->


                                <td ng-if="patientrecord.memberofShgFlag == true">{{patientrecord.patientname}}</td>
                                <td ng-if="patientrecord.memberofShgFlag == false">{{patientrecord.patientname}} </td>
                                <td>{{patientrecord.datedisply}}</td>
                                <td>{{patientrecord.symptomName}}</td>
                                <td>{{patientrecord.illnessName}}</td>
                                <!--                                <td>{{patientrecord.associatedHFName}}</td>-->

                                <!-- <td data-ng-init="Symptom = getSymptom(patientrecord.symptom)">{{Symptom.name}}</td>
                                <td data-ng-init="Illness = getIllness(patientrecord.illness)">{{Illness.name}}</td>
                                <td data-ng-init="HFName = getIllness(patientrecord.associatedHF)">{{HFName.name}}</td>-->
                                <td>&nbsp;&nbsp;
                                    <a data-ng-href="/patientrecord/edit/{{patientrecord.id}}" role="button" title="{{prLanguage.edit}}"><span class="glyphicon glyphicon-pencil" ></span> </a> &nbsp;&nbsp;
                                    <!--
                                    <a style="color:#b7b8c8">|</a>&nbsp;&nbsp;

                                    <a confirm-button="Delete(reportincident.id)" message="{{RILanguage.areYouSure}}"><span class="glyphicon glyphicon-remove" style=";cursor:pointer;" title="{{RILanguage.delete}}"></span></a>&nbsp;
-->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div align="right">
                    <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" pagination-id="surId" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                    </dir-pagination-controls>
                </div>
                <!--
                <div ng-show="!reportincidents.length" style="margin:0 auto;text-align:center;padding-top: 5%;">
                    <span style="font-size:18px;font-weight:bold;font-family:Georgia, Serif;">Please select an options</span>
                    			<p class="lead text-muted">Please select an options</p>
                </div>
-->

            </div>
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>

<!-- /.box -->

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>
