<style>
    /*
	.stylelink {
		padding: 3px 10px;
		background: transparent;
		color: #333;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	
	.stylelink.active {
		padding: 3px 10px;
		background: #b71c1c;
		color: #fff;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}*/

    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }

    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
        /*		background-color: #fff;*/
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }

    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/

    .nav-tabs-custom>.nav-tabs>li {
        cursor: pointer;
    }

    /**
	.nav-tabs-custom > .nav-tabs > li.active {
		border-top-color: #b71c1c;
	}  **/

    .nav-tabs-custom>.nav-tabs>li {
        width: 30%;
        text-align: center;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 10px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 10px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
            padding: 5px 10px;
        }
        .sub_menu.active {
            font-size: 10px;
            padding: 5px 10px;
        }
        .nav-tabs-custom>.nav-tabs>li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
    }

</style>

<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        
 <div style="text-align:center;">
            <a class="stylelink active" href="/roles"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ROLES">ROLES</span></a>
        </div>
       <!-- <div style="text-align:center;">
            <a class="stylelink " href="/profile"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title = "PROFILE">PROFILE</span></a>
        </div>-->
        
       
        <div style="text-align:center;">
            <a class="stylelink" href="/users"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="USERS PROFILE"> USERS PROFILE</span></a>
        </div>

    </div>
</div>


<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div class="box-header with-border">
        <!--		<h3 class="box-title">Role</h3>-->
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body" style="padding:20px;">
        <div class="row">
            <div class="col-sm-5"></div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-2" style="text-align:right;padding-right:0px;border-color:#e1e8ee">
                <span>Show</span>
                <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <!--					<span>Entries</span>-->
            </div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-3" style="padding-right:0px;">
                <!--
            <div class="row" style="margin:0;padding:0;">
						<div class="col-sm-5"></div>
						<div class="col-sm-7">
-->
                <form role="form">
                    <div class="input-group">
                        <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-right:none;border-color:#e1e8ee;border-top-left-radius:4px;border-bottom-left-radius: 4px;" data-ng-model="searchRole" focus="someFocusVariable">
                        <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius:4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>

                <!--
						</div>
					</div>
-->
            </div>
            <div class="col-sm-2">
                <a data-ng-href="/roles/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New </a>
            </div>
        </div>
        <br/>

        <form class="form-horizontal" role="form" data-ng-show="showForm()">
            <p align="center" style="color:red">All fields in red are mandatory</p>
            <br/>
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="role" class="col-sm-4" style="font-weight: 600;margin-top:7px;color:red">Role </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" data-ng-model="role.name" placeholder="Role">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="role-description" class="col-sm-4" style="font-weight: 600;margin-top:7px;">Role Description</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" id="role-description" ng-model="role.description" placeholder="Role Description" rows="3"></textarea>
                        </div>
                    </div>
                    
                    
                        
                            <div class="form-group">
                                <label for="name" class="col-sm-4 " style="font-weight:600;color:red">Admin</label>
                                <div class="col-sm-4">
                                    <input type="checkbox" id="viewflag" data-ng-model="rolefalg" ng-change="changeFlag(rolefalg)">
                                </div>
                            </div>
                </div>
                <div class="col-sm-6"></div>
            </div>
        <table class="table table-responsive table-bordered">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <th colspan="3" style="text-align:center; color:red">PERMISSIONS</th>
                </tr>
                <tr>
                    <th style="color:red">MODULE</th>
                    <td style="color:red">READ ONLY</td>
                    <td style="color:red">READ/WRITE</td>
                </tr>
                <tr>
                    <th style="color:red">Members</th>
                    <td>
                        <div class="col-sm-6"> <span>
                                <input name="enableMember" ng-model="role.enableMember" type="radio" id="1" ng-value="false">
                                <label for="enableMember" style="font-weight:600" class="ng-binding"></label>
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="col-sm-6"> <span>
                                <input name="enableMember" ng-model="role.enableMember" type="radio" id="2" ng-value="true">
                                <label for="enableMember" style="font-weight:600" class="ng-binding"></label>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th style="color:red">1-1</th>
                    <td>
                        <div class="col-sm-6"> <span>
                                <input name="enableOnetoone" ng-model="role.enableOnetoone" type="radio" id="3" ng-value="false">
                                <label for="enableOnetoone" style="font-weight:600" class="ng-binding"></label>
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="col-sm-6"> <span>
                                <input name="enableOnetoone" ng-model="role.enableOnetoone" type="radio" id="4" ng-value="true">
                                <label for="enableOnetoone" style="font-weight:600" class="ng-binding"></label>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th style="color:red">Condition</th>
                    <td>
                        <div class="col-sm-6"> <span>
                                <input name="enableCondition" ng-model="role.enableCondition" type="radio" id="5" ng-value="false">
                                <label for="enableCondition" style="font-weight:600" class="ng-binding"></label>
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="col-sm-6"> <span>
                                <input name="enableCondition" ng-model="role.enableCondition" type="radio" id="6" ng-value="true">
                                <label for="enableCondition" style="font-weight:600" class="ng-binding"></label>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th style="color:red">Patient Record</th>
                    <td>
                        <div class="col-sm-6"> <span>
                                <input name="enablePR" ng-model="role.enablePR" type="radio" id="7" ng-value="false">
                                <label for="enablePR" style="font-weight:600" class="ng-binding"></label>
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="col-sm-6"> <span>
                                <input name="enablePR" ng-model="role.enablePR" type="radio" id="8" ng-value="true">
                                <label for="enablePR" style="font-weight:600" class="ng-binding"></label>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                  <!--  <th>ToDo</th>
                    <td>
                        <div class="col-sm-6"> <span>
                                <input name="enableAFD" ng-model="role.enableTodo" type="radio" id="9" ng-value="false">
                                <label for="enableAFD" style="font-weight:600" class="ng-binding"></label>
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="col-sm-6"> <span>
                                <input name="enableAFD" ng-model="role.enableTodo" type="radio" id="10" ng-value="true">
                                <label for="enableAFD" style="font-weight:600" class="ng-binding"></label>
                            </span>
                        </div>
                    </td>-->
                    <th style="color:red">ORW</th>
                    <td>
                        <div class="col-sm-6"> <span>
                                <input name="enableORW" ng-model="role.enableORW" type="radio" id="9" ng-value="false">
                                <label for="enableORW" style="font-weight:600" class="ng-binding"></label>
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="col-sm-6"> <span>
                                <input name="enableORW" ng-model="role.enableORW" type="radio" id="10" ng-value="true">
                                <label for="enableORW" style="font-weight:600" class="ng-binding"></label>
                            </span>
                        </div>
                    </td>
                    
                </tr>
                   <tr>
                       <th style="color:red">Site Assignment</th>
                    <td>
                        <div class="col-sm-6"> <span>
                                <input name="enableSiteAssignment" ng-model="role.enableSiteAssignment" type="radio" id="11" ng-value="false">
                                <label for="enableSiteAssignment" style="font-weight:600" class="ng-binding"></label>
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="col-sm-6"> <span>
                                <input name="enableSiteAssignment" ng-model="role.enableSiteAssignment" type="radio" id="12" ng-value="true">
                                <label for="enableSiteAssignment" style="font-weight:600" class="ng-binding"></label>
                            </span>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
            <br/>

            <div data-ng-show="isCreateView">
               <!--- <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-target="#tab_1" data-toggle="tab">Configuration</a></li>
                        <li><a data-target="#tab_2" data-toggle="tab">Field Worker</a></li>
                        <li><a data-target="#tab_3" data-toggle="tab">Facility</a></li>
                       
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="row" style="margin:0;padding:0;">
                                <h4 style="border-bottom:1px solid #e1e8ed;padding:5px;font-weight:600;">Organisation Hierarchy</h4>
                            </div>
                            <br/>
                            <form class="form-inline" role="form" data-ng-show="showForm()">
                                <div class="row" style="margin:0;padding:0;">
                                    <div class="col-sm-3" style="margin:0;padding:0;">
                                        <div class="form-group">
                                            <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                <input type="checkbox" name="vehicle" data-ng-model="role.statearea">
                                            </div>
                                            <label for="role" class="col-sm-8" style="font-weight: 600;">State Area</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-3" style="margin:0;padding:0;">
                                        <div class="form-group">
                                            <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                <input type="checkbox" id="name" data-ng-model="role.districtarea">
                                            </div>
                                            <label for="role-description" class="col-sm-8" style="font-weight: 600;">District Area </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-3" style="margin:0;padding:0;">
                                        <div class="form-group">

                                            <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                <input type="checkbox" name="vehicle" data-ng-model="role.coorganisation">
                                            </div>
                                            <label for="role" class="col-sm-8" style="font-weight: 600;">CO_Organisation</label>
                                        </div>
                                    </div>

                                    <div class="col-sm-3" style="margin:0;padding:0;">
                                        <div class="form-group">

                                            <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                <input type="checkbox" id="name" data-ng-model="role.site">
                                            </div>
                                            <label for="role-description" class="col-sm-8" style="font-weight: 600;">Site </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-3" style="margin:0;padding:0;">
                                    </div>
                                </div>

                            </form>


                         
                            <div class="row" style="margin:0;padding:0;">
                                <h4 style="border-bottom:1px solid #e1e8ed;padding:5px;font-weight:600;">Location</h4>
                                <br/>
                                <form class="form-horizontal" role="form">
                                    <div class="row" style="margin:0;padding:0;" style="margin:0;padding:0;">
                                        <div class="col-sm-3" style="margin:0;padding:0;">
                                            <div class="form-group">

                                                <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                    <input type="checkbox" name="vehicle" data-ng-model="role.countries">
                                                </div>
                                                <label for="role" class="col-sm-8" style="font-weight: 600;margin-top:0px;">Country</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3" style="margin:0;padding:0;">
                                            <div class="form-group">

                                                <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                    <input type="checkbox" id="name" data-ng-model="role.states">
                                                </div>
                                                <label for="role-description" class="col-sm-8" style="font-weight: 600;margin-top:0px;">State </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3" style="margin:0;padding:0;">
                                            <div class="form-group">

                                                <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                    <input type="checkbox" id="name" data-ng-model="role.cities">
                                                </div>
                                                <label for="role-description" class="col-sm-8" style="font-weight: 600;margin-top:0px;">City </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3" style="margin:0;padding:0;"></div>
                                    </div>
                                </form>
                            </div>

                            <div class="row" style="margin:0;padding:0;">
                                <h4 style="border-bottom:1px solid #e1e8ed;padding:5px;font-weight:600;">Scheme</h4>
                                <br/>
                                <form class="form-horizontal" role="form">
                                    <div class="row" style="margin:0;padding:0;" style="margin:0;padding:0;">
                                        <div class="col-sm-3" style="margin:0;padding:0;">
                                            <div class="form-group">

                                                <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                    <input type="checkbox" name="vehicle" data-ng-model="role.schemes">
                                                </div>
                                                <label for="role" class="col-sm-8" style="font-weight: 600;margin-top:0px;">Scheme Type</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3" style="margin:0;padding:0;">
                                            <div class="form-group">

                                                <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                    <input type="checkbox" id="name" data-ng-model="role.providers">
                                                </div>
                                                <label for="role-description" class="col-sm-8" style="font-weight: 600;margin-top:0px;">Scheme Provider </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3" style="margin:0;padding:0;"></div>
                                    </div>
                                </form>
                            </div>



                            <div class="row" style="margin:0;padding:0;">
                                <h4 style="border-bottom:1px solid #e1e8ed;padding:5px;font-weight:600;">Registration</h4>
                                <br/>
                                <form class="form-horizontal" role="form">
                                    <div class="row" style="margin:0;padding:0;">
                                        <div class="col-sm-3" style="margin:0;padding:0;">
                                            <div class="form-group">
                                                <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                    <input type="checkbox" name="vehicle" data-ng-model="role.users">
                                                </div>
                                                <label for="role" class="col-sm-8" style="font-weight: 600;">User</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3" style="margin:0;padding:0;">
                                            <div class="form-group">

                                                <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                    <input type="checkbox" id="name" data-ng-model="role.roles">
                                                </div>
                                                <label for="role-description" class="col-sm-8" style="font-weight: 600;">Role </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-3" style="margin:0;padding:0;">
                                            <div class="form-group">
                                                <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                    <input type="checkbox" id="name" data-ng-model="role.groups">
                                                </div>
                                                <label for="role-description" class="col-sm-8" style="font-weight: 600;">Group </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-3" style="margin:0;padding:0;">
                                            <div class="form-group">

                                                <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                    <input type="checkbox" id="name" data-ng-model="role.employees">
                                                </div>
                                                <label for="role-description" class="col-sm-8" style="font-weight: 600;">Employee </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin:0;padding:0;">
                                        <div class="col-sm-3" style="margin:0;padding:0;">
                                            <div class="form-group">
                                                <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                    <input type="checkbox" id="name" data-ng-model="role.im">
                                                </div>
                                                <label for="role-description" class="col-sm-8" style="font-weight: 600;">IM </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-3" style="margin:0;padding:0;">
                                            <div class="form-group">
                                                <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                    <input type="checkbox" id="name" data-ng-model="role.departments">
                                                </div>
                                                <label for="role-description" class="col-sm-8" style="font-weight: 600;">Department </label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            

                            <div class="row" style="margin:0;padding:0;">
                                <h4 style="border-bottom:1px solid #e1e8ed;padding:5px;font-weight:600;">Beneficiary</h4>
                                <br/>
                                <form class="form-horizontal" role="form">
                                    <div class="row" style="margin:0;padding:0;">
                                        <div class="col-sm-3" style="margin:0;padding:0;">
                                            <div class="form-group">

                                                <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                    <input type="checkbox" name="vehicle" data-ng-model="role.sdocumenttype">
                                                </div>
                                                <label for="role" class="col-sm-8" style="font-weight: 600;">Social protection </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3" style="margin:0;padding:0;">
                                            <div class="form-group">

                                                <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                    <input type="checkbox" name="vehicle" data-ng-model="role.fdocumenttype">
                                                </div>
                                                <label for="role" class="col-sm-8" style="font-weight: 600;">Financial Security </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3" style="margin:0;padding:0;">
                                            <div class="form-group">

                                                <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                    <input type="checkbox" id="name" data-ng-model="role.gender">
                                                </div>
                                                <label for="role-description" class="col-sm-8" style="font-weight: 600;">Gender </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3" style="margin:0;padding:0;">
                                            <div class="form-group">

                                                <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                    <input type="checkbox" id="name" data-ng-model="role.typology">
                                                </div>
                                                <label for="role-description" class="col-sm-8" style="font-weight: 600;">Typology </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-3" style="margin:0;padding:0;">
                                            <div class="form-group">

                                                <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                    <input type="checkbox" id="name" data-ng-model="role.education">
                                                </div>
                                                <label for="role-description" class="col-sm-8" style="font-weight: 600;">Education </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" style="margin:0;padding:0;">
                                        <div class="col-sm-3" style="margin:0;padding:0;">
                                            <div class="form-group">

                                                <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                    <input type="checkbox" id="name" data-ng-model="role.maritalstatus">
                                                </div>
                                                <label for="role-description" class="col-sm-8" style="font-weight: 600;">Marital Status </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-3" style="margin:0;padding:0;">
                                            <div class="form-group">

                                                <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                    <input type="checkbox" id="name" data-ng-model="role.employmentstatus">
                                                </div>
                                                <label for="role-description" class="col-sm-8" style="font-weight: 600;">Employment Status </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3" style="margin:0;padding:0;">
                                            <div class="form-group">

                                                <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                    <input type="checkbox" id="name" data-ng-model="role.physicalappearance">
                                                </div>
                                                <label for="role-description" class="col-sm-8" style="font-weight: 600;">Physical Appearence </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-3" style="margin:0;padding:0;">
                                            <div class="form-group">

                                                <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                    <input type="checkbox" id="name" data-ng-model="role.emotionalstate">
                                                </div>
                                                <label for="role-description" class="col-sm-8" style="font-weight: 600;">Emotional State </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" style="margin:0;padding:0;">
                                        <div class="col-sm-3" style="margin:0;padding:0;">
                                            <div class="form-group">

                                                <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                    <input type="checkbox" id="name" data-ng-model="role.reminderreason">
                                                </div>
                                                <label for="role-description" class="col-sm-8" style="font-weight: 600;"> Reminder Reason </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin:0;padding:0;">
                                        <div class="col-sm-3" style="margin:0;padding:0;">
                                            <div class="form-group">

                                                <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                    <input type="checkbox" id="name" data-ng-model="role.cocategory">
                                                </div>
                                                <label for="role-description" class="col-sm-8" style="font-weight: 600;"> CO Category </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" style="margin:0;padding:0;">
                                        <div class="col-sm-3" style="margin:0;padding:0;">
                                            <div class="form-group">

                                                <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                    <input type="checkbox" id="name" data-ng-model="role.applicationstage">
                                                </div>
                                                <label for="role-description" class="col-sm-8" style="font-weight: 600;"> Application Stage </label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_2">
                            <div class="row" style="margin:0;padding:0;">
                                <h4 style="border-bottom:1px solid #e1e8ed;padding:5px;font-weight:600;">Field Worker</h4>
                            </div>
                            <br/>
                            <form class=" form-horizontal" role="form" data-ng-show="showForm()">
                                <div class="row" style="margin:0;padding:0;">
                                    <div class="col-sm-3" style="margin:0;padding:0;">
                                        <div class="form-group">
                                            <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                <input type="checkbox" name="vehicle" data-ng-model="role.onetoonemember">
                                            </div>
                                            <label for="role" class="col-sm-8" style="font-weight: 600;">One To One</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-3" style="margin:0;padding:0;">
                                        <div class="form-group">
                                            <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                <input type="checkbox" id="name" data-ng-model="role.memberregistration">
                                            </div>
                                            <label for="role-description" class="col-sm-8" style="font-weight: 600;">Member </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-3" style="margin:0;padding:0;">
                                        <div class="form-group">

                                            <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                <input type="checkbox" name="vehicle" data-ng-model="role.applyforscheme">
                                            </div>
                                            <label for="role" class="col-sm-8" style="font-weight: 600;">Apply For Scheme</label>
                                        </div>
                                    </div>

                                    <div class="col-sm-3" style="margin:0;padding:0;">
                                        <div class="form-group">

                                            <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                <input type="checkbox" id="name" data-ng-model="role.applyfordocument">
                                            </div>
                                            <label for="role-description" class="col-sm-8" style="font-weight: 600;">Apply For Document </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="margin:0;padding:0;">

                                    <div class="col-sm-3" style="margin:0;padding:0;">
                                        <div class="form-group">

                                            <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                <input type="checkbox" id="name" data-ng-model="role.groupmeeting">
                                            </div>
                                            <label for="role-description" class="col-sm-8" style="font-weight: 600;">Group Meeting </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-3" style="margin:0;padding:0;">
                                        <div class="form-group">

                                            <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                <input type="checkbox" id="name" data-ng-model="role.stakeholdermeeting">
                                            </div>
                                            <label for="role-description" class="col-sm-8" style="font-weight: 600;">Stake Holder Meeting </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-3" style="margin:0;padding:0;">
                                        <div class="form-group">

                                            <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                <input type="checkbox" id="name" data-ng-model="role.bulkupdate">
                                            </div>
                                            <label for="role-description" class="col-sm-8" style="font-weight: 600;">Bulk Update </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-3" style="margin:0;padding:0;">
                                        <div class="form-group">

                                            <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                <input type="checkbox" id="name" data-ng-model="role.archivemember">
                                            </div>
                                            <label for="role-description" class="col-sm-8" style="font-weight: 600;">Archive Member </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-3" style="margin:0;padding:0;">
                                        <div class="form-group">

                                            <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                <input type="checkbox" id="name" data-ng-model="role.dashboardfw">
                                            </div>
                                            <label for="role-description" class="col-sm-8" style="font-weight: 600;">Dashboard </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-3" style="margin:0;padding:0;">
                                        <div class="form-group">
                                            <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                <input type="checkbox" id="name" data-ng-model="role.reportincident">
                                            </div>
                                            <label for="role-description" class="col-sm-8" style="font-weight: 600;">Report Incident </label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>







                        <div class="tab-pane" id="tab_3">
                            <div class="row" style="margin:0;padding:0;">
                                <h4 style="border-bottom:1px solid #e1e8ed;padding:5px;font-weight:600;">Facility</h4>
                            </div>
                            <br/>
                            <form class="form-horizontal" role="form" data-ng-show="showForm()">
                                <div class="row" style="margin:0;padding:0;">
                                    <div class="col-sm-3" style="margin:0;padding:0;">
                                        <div class="form-group">
                                            <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                <input type="checkbox" name="vehicle" data-ng-model="role.fieldworker">
                                            </div>
                                            <label for="role" class="col-sm-8" style="font-weight: 600;">Field Worker</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-3" style="margin:0;padding:0;">
                                        <div class="form-group">
                                            <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                <input type="checkbox" id="name" data-ng-model="role.assignfieldworkertosite">
                                            </div>
                                            <label for="role-description" class="col-sm-8" style="font-weight: 600;">Assign Field Worker To Site </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-3" style="margin:0;padding:0;">
                                        <div class="form-group">

                                            <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                <input type="checkbox" name="vehicle" data-ng-model="role.event">
                                            </div>
                                            <label for="role" class="col-sm-8" style="font-weight: 600;">Event</label>
                                        </div>
                                    </div>

                                    <div class="col-sm-3" style="margin:0;padding:0;">
                                        <div class="form-group">

                                            <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                <input type="checkbox" id="name" data-ng-model="role.comanagerprofile">
                                            </div>
                                            <label for="role-description" class="col-sm-8" style="font-weight: 600;">CO Manager/HDF Profile </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="margin:0;padding:0;">

                                    <div class="col-sm-3" style="margin:0;padding:0;">
                                        <div class="form-group">

                                            <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                <input type="checkbox" id="name" data-ng-model="role.siteview">
                                            </div>
                                            <label for="role-description" class="col-sm-8" style="font-weight: 600;">Site </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-3" style="margin:0;padding:0;">
                                        <div class="form-group">

                                            <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                <input type="checkbox" id="name" data-ng-model="role.dashboardfacility">
                                            </div>
                                            <label for="role-description" class="col-sm-8" style="font-weight: 600;">Dashboard </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-3" style="margin:0;padding:0;">
                                        <div class="form-group">

                                            <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                <input type="checkbox" id="name" data-ng-model="role.spmbudget">
                                            </div>
                                            <label for="role-description" class="col-sm-8" style="font-weight: 600;">SPM Budget </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-3" style="margin:0;padding:0;">
                                        <div class="form-group">

                                            <div class="col-sm-4 control-label" style="margin:0px;padding:0;">
                                                <input type="checkbox" id="name" data-ng-model="role.nobudget">
                                            </div>
                                            <label for="role-description" class="col-sm-8" style="font-weight: 600;">NO Budget </label>
                                        </div>
                                    </div>


                                </div>


                            </form>
                        </div>


                       
                    </div>
                    
                </div>-->
                <br/>
                <br/>
                <br/>

                <div align="left">
                    <div>
                        <a class="btn btn-primary btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()" style="padding:5px 20px;margin-right:10px;">Create </a>

                        <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()" style="padding:5px 20px;margin-right:10px;">Update </a>

                        <a data-ng-href="/roles" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel</a>

                    </div>
                </div>
            </div>

        </form>

        <div data-ng-hide="hideSearchFilter()">
            <!--
			<div class="row" style="margin:0;padding:0;">
				<div class="col-sm-6" style="padding-top:5px;">
					<span>Show</span>
					<select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
						<option value="25">25</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
					<span>Entries</span>
				</div>
				<div class="col-sm-6">
					<div class="row" style="margin:0;padding:0;">
						<div class="col-sm-4"></div>
						<div class="col-sm-8">
							<form role="form">
								<div class="input-group">
									<input type="text" class="form-control  ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-radius:20px;width:140%;" data-ng-model="searchRole">

								</div>
							</form>

						</div>
					</div>
				</div>

			</div>
-->
        </div>
        <br />




        <div data-ng-hide="showForm()" class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width:50px;">#</th>
                        <th>ROLE</th>
                        <th>DESCRIPTION</th>
                        <th style="width:100px;">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="role in displayroles | search:searchRole:filterFields   |itemsPerPage:pageSize" current-page="currentpage">
                        <td>{{ role.index }}</td>
                        <td>{{role.name}}</td>
                        <td>{{role.description}}</td>

                        <td><a data-ng-href="/roles/{{role.id}}"><span class="glyphicon glyphicon-pencil" title="Edit" ></span></a>&nbsp;&nbsp;
                            <a style="color:#b7b8c8;">|</a>&nbsp;&nbsp;
                           
<!--                         <a confirm-button="updateRoleFlag(role.id)" message="Are you sure? you want to delete?"><span class="glyphicon glyphicon-remove" style="cursor:pointer;" title="Bin"></span></a>&nbsp;-->
 <a data-ng-href="/roles" data-ng-click="updateRoleFlag(role.id)"><span class="glyphicon glyphicon-remove"  title="Bin"></span></a>&nbsp;
                        </td>

                    </tr>
                </tbody>
            </table>

            <div align="right">
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                </dir-pagination-controls>

            </div>
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->


<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>
