<style>
   /* .stylelink {
        padding: 3px 10px;
        background: transparent;
        color: #333;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }
    
    .stylelink.active {
        padding: 3px 10px;
        background: #b71c1c;
        color: #fff;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }   */
    
    
    
      
	  .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }

    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
        /*		background-color: #fff;*/
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }

    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/

    .nav-tabs-custom>.nav-tabs>li {
        width: 19%;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 10px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 10px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
            padding: 5px 10px;
        }
        .sub_menu.active {
            font-size: 10px;
            padding: 5px 10px;
        }
        .nav-tabs-custom>.nav-tabs>li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
    }
</style>

<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
          <div style="text-align:center;">
            <a class="stylelink " href="/countries"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="COUNTRY">COUNTRY</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/state"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="STATE">STATE</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/district"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="DISTRICT">DISTRICT</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/town"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="TOWN">TOWN</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/ictccenter"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ICTC">ICTC </span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/artcenter"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ART">ART </span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/ti"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="TI">TI</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink active" href="/sites"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="SITES">SITES</span></a>
        </div>
        
        
        <!--<div style="text-align:center;">
            <a class="stylelink " href="/ictccenter"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">ICTC </span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink active" href="/artcenter"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">ART </span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/ti"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">TI</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/timanager"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">TI MANAGER</span></a>
        </div>-->
        <!--
        <div style="text-align:center;">
            <a class="stylelink" href="/otherroles"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">OTHER ROLES</span></a>
        </div>
-->
        <!--<div style="text-align:center;">
            <a class="stylelink" href="/roles"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">ROLES</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/users"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">USERS</span></a>
        </div>-->
        <!--
        <div style="text-align:center;">
            <a class="stylelink" href="/ictcassign"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">TI ASSIGN</span></a>
        </div>
-->
    </div>
</div>


<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-TOP:none;">
    <!--<div id="wrapper">
	<div class=" stylelink active box-header with-border" style="background:#ffffff;padding:20px 10px;">
		<h3 class="box-title" style="font-weight:600;">Site</h3>
	</div>
        </div>-->
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body" style="padding:20px;">
        <br/>
        <form class="form-horizontal" role="form">
				<p align="center" style="color:red">All fields in red are mandatory</p>
			<br/>

			<div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Site Name </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" data-ng-model="routename" class="form-control" placeholder="Site Name" ng-disabled="Sitestatedisable" 
onkeypress="return (event.charCode > 47 && event.charCode < 58) || (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)|| event.charCode==189 ||event.charCode==32 || event.charCode==45" ng-change="CheckDuplicate(routename)">
                        </div>
                    </div>

                 <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red">Country </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="facility" ng-model="route.countryId" data-placeholder="Pick a Country" style="width:100%;" ng-disabled="fscodedisable">
								<option value=""></option>
								<option data-ng-repeat="country in countries" value="{{country.id}}">{{ country.name }}</option>
							</select>
                        </div>
                    </div>
                
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:5px;color:red;">State </label>
                        <div class="col-sm-6">
                            <select ui-select2 ng-model="route.state" data-placeholder="Pick a State Name" style="width:100%;" ng-disabled="fscodedisable">
                                <option value=""></option>
                                <option data-ng-repeat="zone in zones" value="{{zone.id}}">{{ zone.name }}</option>
                            </select>
                          </div>
                    </div>

                    <div class="form-group">
                        <label for="sales-area" class="col-sm-4" style="font-weight:600;margin-top:5px;color:red;">District </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="sales-area" ng-model="route.district" data-placeholder="Pick a District Area" style="width:100%;" ng-disabled="fscodedisable">
                                <option value=""></option>
                                <option data-ng-repeat="salesArea in salesareas" value="{{salesArea.id}}">{{ salesArea.name }}</option>
                            </select>
                           </div>
                    </div>
                
                 <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red">Town </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="facility" ng-model="route.town" data-placeholder="Pick a Town" style="width:100%;" ng-disabled="fscodedisable">
								<option value=""></option>
								<option data-ng-repeat="city in cities" value="{{city.id}}">{{ city.name }}</option>
							</select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="distribution-area" class="col-sm-4" style="font-weight:600;margin-top:5px;color:red;">TI </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="distribution-area" ng-model="route.tiId" data-placeholder="Pick a TI" style="width:100%;" ng-disabled="fscodedisable">
                                <option value=""></option>
                                <option data-ng-repeat="partner in displaytis" value="{{partner.id}}">{{ partner.firstName }}</option>
                            </select>
                          </div>
                    </div>
                    
                           
                </div>
               
                <div class="col-sm-6"></div>

            </div>
            <br />
            <br />
            <br />
            <div align="left">
                <div>
                    <a class="btn btn-primary btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView" style="padding:5px 20px;margin-right:10px;">Create </a>

                    <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView" style="padding:5px 20px;margin-right:10px;">Update </a>


                    <a data-ng-href="/sites" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel</a>
                </div>
            </div>
        </form>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->

<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
	<p>{{message}}</p>
</modal2>

<validationmodal title1="Alert!!!" visible="showValidation">
	{{validatestring1}}
</validationmodal>
