<style>
    .tht:hover {
        color: blue;
    }

</style>

<style>
    th {
        cursor: pointer;
    }
    
    {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
    
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
    }

</style>

<script type="text/javascript">
    var sortingOrder = 'name';

</script>
<!-- Horizontal Form -->
<div class="box box-info custom-main-box" style="min-height:450px;border-top:none;" data-ng-init="toggleLoading()">
<!--    data-ng-init="toggleLoading()"-->
    <div class="box-header with-border custom-main-header">
        <h3 class="box-title">{{TILanguage.headersitelist}}</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body custom-main-body">
        <div data-ng-hide="hideSearchFilter()">
            <div class="content-custom-sub-header">
                <div class="row">
                    <div class="col-sm-6">
                        
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-xs-12 col-sm-5 col-md-3 col-lg-2">
                                <div data-ng-hide="hideSearchFilter()">
                                    <div class="form-group">
                                        <label for="maritalstatus" class="select-label">{{TILanguage.show}} &nbsp;</label>
                                        <div class="custom-arrow-select">
                                            <select class="form-control select-custom" ng-model="pageSize" data-placeholder="{{TILanguage.show}}" ng-change="pageFunction(pageSize)">
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-7 col-md-9 col-lg-10">
                                <div class="form-group" data-ng-hide="hideSearchFilter()">
                                    <label>&nbsp;</label>
                                    <div class="input-group search-bar">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                        </span>
                                        <input type="text" id="Search" class="form-control ng-pristine ng-valid" placeholder="{{TILanguage.search}}" data-ng-model="searchPart">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-custom-sub-body">
            <div class="table-responsive custom-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <!--						<th ng-style="style">{{sitename | uppercase}}</th>-->
                            <!-- <th class="tht" ng-style="style" ng-click="SiteFilter()" style="cursor:pointer;"><span style="color:{{backgroundCol1}};">{{sitename | uppercase}}</span></th>
                            <th class="tht" ng-style="style" ng-click="FacilityFilter()" style="cursor:pointer;"><span style="color:{{backgroundCol2}};">{{facility | uppercase}}</span></th> -->

                            <!--
                            <th ng-style="style" ng-click="SiteFilter()" style="cursor:pointer;" class="name"><span style="color:{{backgroundCol1}};">{{sitename | uppercase}}</span>&nbsp;<a ng-click="sort_by('name')"><i class="icon-sort"></i></a></th>

                            <th ng-style="style" ng-click="FacilityFilter()" style="cursor:pointer;" class="FacilityName.firstName"><span style="color:{{backgroundCol2}};">{{facility | uppercase}}</span>&nbsp;<a ng-click="sort_by('FacilityName.firstName')"><i class="icon-sort"></i></a></th>
                            -->
                            <th title="{{TILanguage.sitename}}" ng-click="changeSorting('name')">{{TILanguage.sitename | uppercase}}<span class="pull-right"><i class="fa fa-sort-desc" ng-class="getIcon('name')"></i></span></th>
                            <th title="{{TILanguage.facilitycode}}" ng-click="changeSorting('FacilityName')">{{TILanguage.facilitycode | uppercase}}<span class="pull-right"><i class="fa fa-sort-desc" ng-class="getIconOne('FacilityName')"></i></span></th>
                            <th title="{{TILanguage.country}}" ng-click="changeSorting('CountryName')">{{TILanguage.country | uppercase}}<span class="pull-right"><i class="fa fa-sort-desc" ng-class="getIcon('CountryName')"></i></span></th>
                            <th title="{{TILanguage.state}}" ng-click="changeSorting('StateName')">{{TILanguage.state | uppercase}}<span class="pull-right"><i class="fa fa-sort-desc" ng-class="getIcon('StateName')"></i></span></th>
                            <th title="{{TILanguage.district}}" ng-click="changeSorting('DistrictName')">{{TILanguage.district | uppercase}}<span class="pull-right"><i class="fa fa-sort-desc" ng-class="getIcon('DistrictName')"></i></span></th>
                            <th title="{{TILanguage.town}}" ng-click="changeSorting('TownName')">{{TILanguage.town | uppercase}}<span class="pull-right"><i class="fa fa-sort-desc" ng-class="getIcon('TownName')"></i></span></th>
                            <th title="{{TILanguage.members}}">{{TILanguage.members | uppercase}}</th>

                            <!--  <th>s
                                <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                {{sitename | uppercase}} 
                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
            </a>
                            </th>

                            <th>
                                <a href="" ng-click="sortType = 'FacilityName.firstName'; sortReverse = !sortReverse">
            {{facility | uppercase}}
                <span ng-show="sortType == 'FacilityName.firstName' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'FacilityName.firstName' && sortReverse" class="fa fa-caret-up"></span>
            </a>
                            </th>-->
                        <!-- <th>{{TILanguage.country | uppercase}}</th>-->
                        <!-- <th>{{TILanguage.state | uppercase}}</th>-->
                            <!--<th>{{TILanguage.district | uppercase}}</th>
                            <th>{{TILanguage.town | uppercase}}</th>-->
                        <!-- <th ng-click="changeSorting('totalamounts.length')">{{TILanguage.members | uppercase}} &nbsp;&nbsp;<i class="fa fa-sort-desc" ng-class="getIconOne('totalamounts.length')"></i></th>-->
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="route in TotalData  = ( routes | filter:searchPart ) | itemsPerPage:pageSize" current-page="currentPage">
                            <td>{{ route.index }}</td>
                            <td>{{route.name}}</td>
                            <td>{{route.FacilityName}}</td>
                            <td>{{route.CountryName}}</td>
                            <td>{{route.StateName}}</td>
                            <td>{{route.DistrictName}}</td>
                            <td>{{route.TownName}}</td>
                            
                            <td>{{route.totalamounts.length}}</td>
                        </tr>
                    </tbody>
                </table>

                <div align="right" class="custom-pagination">
                    <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                    </dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->
