<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
    }

</style>
<style>
    th {
        cursor: pointer;
    }
    
    {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

</style>

<!--
<script type="text/javascript">
    var sortingOrder = 'filterDate';

</script>
-->

<style>
    .tht:hover {
        color: blue;
    }

</style>
<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;" data-ng-init="toggleLoading()">
    <div id="wrapper">
        <div class="stylelink active box-header with-border" style="padding:20px 10px;">
            <h3 class="box-title" style="font-weight:600;" data-ng-show="showForm()">{{stakeholdermeeting}}</h3>
            <h3 class="box-title" style="font-weight:600;" data-ng-hide="showForm()">{{stakeholdermeetingslabel}}</h3>
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <br/>
    <div class="box-body">
        <div class="row">
            <div class="col-sm-5"></div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-2" style="text-align:right;padding-right:0px;border-color:#e1e8ee">
                <span>Show</span>
                <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <!--					<span>Entries</span>-->
            </div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-3" style="padding-right:0px;">
                <!--
            <div class="row" style="margin:0;padding:0;">
						<div class="col-sm-5"></div>
						<div class="col-sm-7">
-->
                <form role="form">
                    <div class="input-group">
                        <input type="text" id="Search" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-right:none;border-color:#e1e8ee;border-top-left-radius:4px;border-bottom-left-radius: 4px;margin-top:0px;" data-ng-model="searchDep">
                        <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius:4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>

                <!--
						</div>
					</div>
-->
            </div>
            <div class="col-sm-2">
                <a data-ng-href="/stakeholdermeeting/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New </a>
            </div>
        </div>
        <!--
        <div align="left">
            <a data-ng-href="/stakeholdermeetings/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton()">{{addnew}}</a>
        </div>
-->
        <br/>

        <form class="form-horizontal" role="form" data-ng-show="showForm()">
            <p align="center" style="color:red;">{{mandatoryfield}}</p>
            <br/>
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="city" class="col-sm-4" style="font-weight: 600;margin-top: 8px;color:red;">{{date}}</label>
                        <div class="col-sm-6">
                            <p class="input-group">
                                <input type="text" id="{{'datepickercurpast' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="stakeholder.datetime" is-open="picker.currpastopened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" max-date="dtmax" close-text="Close" />
                                <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="CurrentPast($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

                <!--<div class="col-sm-6" ng-hide="fieldworkersite">
					<div class="form-group">
						<label for="zone" class="col-sm-4" style="font-weight: 600;margin-top: 4px;color:red;">{{site}}</label>
						<div class="col-sm-6">
							<select ui-select2 id="site" ng-model="stakeholder.site" data-placeholder="{{site}}" style="width:100%;">
								<option value=""></option>
								<option ng-repeat="route in routelinksget" value="{{route.distributionRouteId}}">{{route.routeName.name}}</option>
							</select>
						</div>
					</div>
				</div>

				<div class="col-sm-6" ng-hide="cosite">
					<div class="form-group">
						<label for="zone" class="col-sm-4" style="font-weight: 600;margin-top: 4px;color:red;">{{site}}</label>
						<div class="col-sm-6">
							<select ui-select2 id="site" ng-model="stakeholder.site" data-placeholder="{{site}}" style="width:100%;">
								<option value=""></option>
								<option ng-repeat="route in routes" value="{{route.id}}">{{route.name}}</option>
							</select>
						</div>
					</div>
				</div>-->

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight: 600;margin-top: 4px;color:red;">{{stakeholdertype}} </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="stakeholdertype" ng-model="stakeholder.stakeholdertyp" data-placeholder="{{stakeholdertype}}" style="width:100%;" multiple>
                                <!--								<option value=""></option>-->
                                <option ng-repeat="sht in stakeholdertypes" value="{{sht.id}}" ng-if="UserLanguage==1">{{sht.name}}</option>
                                <option ng-repeat="sht in stakeholdertypes" value="{{sht.id}}" ng-if="UserLanguage==2">{{sht.hnname}}</option>
                                <option ng-repeat="sht in stakeholdertypes" value="{{sht.id}}" ng-if="UserLanguage==3">{{sht.knname}}</option>
                                <option ng-repeat="sht in stakeholdertypes" value="{{sht.id}}" ng-if="UserLanguage==4">{{sht.taname}}</option>
                                <option ng-repeat="sht in stakeholdertypes" value="{{sht.id}}" ng-if="UserLanguage==5">{{sht.tename}}</option>
                                <option ng-repeat="sht in stakeholdertypes" value="{{sht.id}}" ng-if="UserLanguage==6">{{sht.mrname}}</option>
                            </select>
                        </div>
                    </div>


                </div>


            </div>

            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight: 600;margin-top: 4px;color:red;">{{district}}</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="site" ng-model="stakeholder.district" data-placeholder="{{district}}" style="width:100%;">
                                <option value=""></option>
                                <option ng-repeat="dist in districts" value="{{dist.id}}">{{dist.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <!--<div class="form-group">
						<label for="zone" class="col-sm-4" style="font-weight: 600;margin-top: 4px;color:red;">{{organizedby}} </label>
						<div class="col-sm-6">
							<select ui-select2 id="organisedby" multi ng-model="stakeholder.organisedby" data-placeholder="{{organizedby}}" style="width:100%;">
								<option value=""></option>
								<option ng-repeat="org in organisebystakeholders" value="{{org.name}}" ng-if="UserLanguage==1">{{org.name}}</option>
								<option ng-repeat="org in organisebystakeholders" value="{{org.name}}" ng-if="UserLanguage==2">{{org.hnname}}</option>
								<option ng-repeat="org in organisebystakeholders" value="{{org.name}}" ng-if="UserLanguage==3">{{org.knname}}</option>
								<option ng-repeat="org in organisebystakeholders" value="{{org.name}}" ng-if="UserLanguage==4">{{org.taname}}</option>
								<option ng-repeat="org in organisebystakeholders" value="{{org.name}}" ng-if="UserLanguage==5">{{org.tename}}</option>
								<option ng-repeat="org in organisebystakeholders" value="{{org.name}}" ng-if="UserLanguage==6">{{org.mrname}}</option>
							</select>
						</div>
					</div>-->

                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight: 600;margin-top: 4px;">{{town}} </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="site" multi ng-model="stakeholder.city" data-placeholder="{{town}}" style="width:100%;">
                                <option value=""></option>
                                <option ng-repeat="twn in towns" value="{{twn.id}}">{{twn.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight: 600;margin-top: 4px;color:red;">{{organizedby}} </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="organisedby" multi ng-model="stakeholder.organisedby" data-placeholder="{{organizedby}}" style="width:100%;">
                                <option value=""></option>
                                <option ng-repeat="org in organisebystakeholders" value="{{org.name}}" ng-if="UserLanguage==1">{{org.name}}</option>
                                <option ng-repeat="org in organisebystakeholders" value="{{org.name}}" ng-if="UserLanguage==2">{{org.hnname}}</option>
                                <option ng-repeat="org in organisebystakeholders" value="{{org.name}}" ng-if="UserLanguage==3">{{org.knname}}</option>
                                <option ng-repeat="org in organisebystakeholders" value="{{org.name}}" ng-if="UserLanguage==4">{{org.taname}}</option>
                                <option ng-repeat="org in organisebystakeholders" value="{{org.name}}" ng-if="UserLanguage==5">{{org.tename}}</option>
                                <option ng-repeat="org in organisebystakeholders" value="{{org.name}}" ng-if="UserLanguage==6">{{org.mrname}}</option>
                            </select>
                        </div>
                    </div>


                </div>
                <div class="col-sm-6">

                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight: 600;margin-top: 8px;">{{purposeofmeeting}} </label>
                        <div class="col-sm-6">
                            <select ui-select2 multiple data-ng-model="stakeholder.meeting" placeholder="{{purposeofmeeting}}" style="width:100%;">
                                <!--								<option value=""></option>-->
                                <option ng-repeat="purposeofmeeting in purposeofmeetings" value="{{purposeofmeeting.id}}" ng-if="UserLanguage==1">{{purposeofmeeting.name}}</option>
                                <option ng-repeat="purposeofmeeting in purposeofmeetings" value="{{purposeofmeeting.id}}" ng-if="UserLanguage==2">{{purposeofmeeting.hnname}}</option>
                                <option ng-repeat="purposeofmeeting in purposeofmeetings" value="{{purposeofmeeting.id}}" ng-if="UserLanguage==3">{{purposeofmeeting.knname}}</option>
                                <option ng-repeat="purposeofmeeting in purposeofmeetings" value="{{purposeofmeeting.id}}" ng-if="UserLanguage==4">{{purposeofmeeting.taname}}</option>
                                <option ng-repeat="purposeofmeeting in purposeofmeetings" value="{{purposeofmeeting.id}}" ng-if="UserLanguage==5">{{purposeofmeeting.tename}}</option>
                                <option ng-repeat="purposeofmeeting in purposeofmeetings" value="{{purposeofmeeting.id}}" ng-if="UserLanguage==6">{{purposeofmeeting.mrname}}</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight: 600;margin-top: 8px;">{{followuprequired}}</label>
                        <div class="col-sm-6">
                            <select ui-select2 ng-model="stakeholder.follow" multiple data-placeholder="{{followuprequired}}" style="width:100%;" ng-disabled="DisableFollowup" ng-change="changeFollowup(stakeholder.follow);">
                                <option value=""></option>
                                <option ng-repeat="todopurpose in followupstacks" value="{{todopurpose.id}}" ng-if="UserLanguage==1">{{todopurpose.name}}</option>
                                <option ng-repeat="todopurpose in followupstacks" value="{{todopurpose.id}}" ng-if="UserLanguage==2">{{todopurpose.hnname}}</option>
                                <option ng-repeat="todopurpose in followupstacks" value="{{todopurpose.id}}" ng-if="UserLanguage==3">{{todopurpose.knname}}</option>
                                <option ng-repeat="todopurpose in followupstacks" value="{{todopurpose.id}}" ng-if="UserLanguage==4">{{todopurpose.taname}}</option>
                                <option ng-repeat="todopurpose in followupstacks" value="{{todopurpose.id}}" ng-if="UserLanguage==5">{{todopurpose.tename}}</option>
                                <option ng-repeat="todopurpose in followupstacks" value="{{todopurpose.id}}" ng-if="UserLanguage==6">{{todopurpose.mrname}}</option>
                                <option value="None">None</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6"></div>
            </div>
            <br/>
            <br/>
            <br/>


            <div align="left">
                <div>
                    <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Savestakeholder()" data-ng-show="isCreateView()" style="padding:5px 20px;">{{savebutton}}</a>&nbsp;

                    <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Updatestakeholder()" data-ng-hide="isCreateView()" style="padding:5px 20px;">{{update}}</a>&nbsp;

                    <a data-ng-href="/stakeholdermeetings" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">{{cancel}}</a>
                </div>
            </div>
        </form>

        <div data-ng-hide="hideSearchFilter()">
        </div>
        <br />


        <div data-ng-hide="showForm()" class="table-responsive">
            <table class="table">

                <thead>
                    <tr>
                        <th  style="width:50px;">#</th>

<!--                        <th ng-if="UserLanguage==1" ng-click="changeSorting('StakeholdertypeName')">{{stakeholdertype | uppercase}}<i class="glyphicon" ng-class="getIcon('name')"></i></th>-->
                        
                        <th ng-if="UserLanguage==1" ng-click="changeSorting('StakeholdertypeName')">{{stakeholdertype | uppercase}}<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('StakeholdertypeName')"></i></span></th>

                        <th ng-if="UserLanguage==2" ng-click="changeSorting('StakeholdertypeName')">{{stakeholdertype | uppercase}}<i class="glyphicon" ng-class="getIcon('hnname')"></i></th>

                        <th ng-if="UserLanguage==3" ng-click="changeSorting('StakeholdertypeName')">{{stakeholdertype | uppercase}}<i class="glyphicon" ng-class="getIcon('knname')"></i></th>

                        <th ng-if="UserLanguage==4" ng-click="changeSorting('StakeholdertypeName')">{{stakeholdertype | uppercase}}<i class="glyphicon" ng-class="getIcon('taname')"></i></th>

                        <th ng-if="UserLanguage==5" ng-click="changeSorting('StakeholdertypeName')">{{stakeholdertype | uppercase}}<i class="glyphicon" ng-class="getIcon('tename')"></i></th>

                        <th ng-if="UserLanguage==6" ng-click="changeSorting('StakeholdertypeName')">{{stakeholdertype | uppercase}}<i class="glyphicon" ng-class="getIcon('mrname')"></i></th>

                        <th >{{organizedby | uppercase}}</th>
                        <th >{{district | uppercase}}</th>
<!--                        <th ng-click="changeSorting('filterDate')">{{date | uppercase}}<i class="glyphicon" ng-class="getIcon('filterDate')"></i></th>-->
                        <th ng-if="UserLanguage==1" ng-click="changeSorting('filterDate')">{{date | uppercase}}<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('filterDate')"></i></span></th>
                        <th  style="width:75px;">{{action | uppercase}}</th>
                    </tr>
                </thead>
                <tbody id="bnbody">
                    <!--					<tr dir-paginate="stakeholder in stakeholders |itemsPerPage:pageSize" current-page="currentpage">-->
                    <tr dir-paginate="stakeholder in TotalTodos  = ( stakeholders | filter:searchDep ) | orderBy:sort.active:sort.descending | itemsPerPage:pageSize" current-page="currentPage">
                        <td>{{ stakeholder.index }}</td>
                        <td>{{stakeholder.StakeholdertypeName}}</td>


                        <!--<td>
                            <p ng-repeat="specificpillar in stakeholder.stakeholdertypes">
                                <a ng-if="UserLanguage==1" style="color:black">
									{{specificpillar.name}}
							</a>
                                <a ng-if="UserLanguage==2" style="color:black">
								{{specificpillar.hnname}}
							</a>
                                <a ng-if="UserLanguage==3" style="color:black">
								{{specificpillar.knname}}
							</a>
                                <a ng-if="UserLanguage==4" style="color:black">
								{{specificpillar.taname}}
							</a>
                                <a ng-if="UserLanguage==5" style="color:black">
								{{specificpillar.tename}}
							</a>
                                <a ng-if="UserLanguage==6" style="color:black">
								{{specificpillar.mrname}}
							</a>
                            </p>
                        </td>-->
                        <td data-ng-init="stake = getOrg(stakeholder.organisedby)">
                            <!--{{stakeholder.organisedby}}-->
                            <a ng-if="UserLanguage==1" style="color:black">
									{{stake[0].name}}
							</a>
                            <a ng-if="UserLanguage==2" style="color:black">
								{{stake[0].hnname}}
							</a>
                            <a ng-if="UserLanguage==3" style="color:black">
								{{stake[0].knname}}
							</a>
                            <a ng-if="UserLanguage==4" style="color:black">
								{{stake[0].taname}}
							</a>
                            <a ng-if="UserLanguage==5" style="color:black">
								{{stake[0].tename}}
							</a>
                            <a ng-if="UserLanguage==6" style="color:black">
								{{stake[0].mrname}}
							</a>
                        </td>
                        <!--						<td data-ng-init="st = getSite(stakeholder.site)">{{st.name}}</td>-->
                        <td>{{stakeholder.Sitename.name}}</td>
                        <td>{{stakeholder.datetime}}</td>
                        <td><a data-ng-href="/stakeholdermeeting/{{stakeholder.id}}"><span class="glyphicon glyphicon-pencil" title="Edit" ></span></a>&nbsp;&nbsp;
                            <!--<a data-ng-href="/stakeholdermeetings" data-ng-click="Delete(stakeholder.id)"><span class="glyphicon glyphicon-trash" title="Bin" style="color: red;"></span></a>-->&nbsp; </td>
                    </tr>
                </tbody>
            </table>

            <div align="right">
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                </dir-pagination-controls>

            </div>
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->



<modal1 title1="{{followupmemberTitle}}" visible="showfollowupModal">
    <div style="width:100%; height:auto; min-height:300px;  border: 1px solid #E6E6E6; margin: 5px auto; padding:5px;">
        <br/>

        <br />
        <div>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="name" class="col-sm-4" style="font-weight: 600;margin-top: 8px;">{{name}}</label>
                    <div class="col-sm-4">
                        <!--						<input type="text" class="form-control" id="name" data-ng-model="printpurpose" placeholder="{{name}}" style="width:260px;">-->

                        <input type="text" class="form-control" id="name" data-ng-model="printpurpose.name" placeholder="{{name}}" style="width:260px;" ng-if="UserLanguage==1">

                        <input type="text" class="form-control" id="name" data-ng-model="printpurpose.hnname" placeholder="{{name}}" style="width:260px;" ng-if="UserLanguage==2">

                        <input type="text" class="form-control" id="name" data-ng-model="printpurpose.knname" placeholder="{{name}}" style="width:260px;" ng-if="UserLanguage==3">

                        <input type="text" class="form-control" id="name" data-ng-model="printpurpose.taname" placeholder="{{name}}" style="width:260px;" ng-if="UserLanguage==4">

                        <input type="text" class="form-control" id="name" data-ng-model="printpurpose.tename" placeholder="{{name}}" style="width:260px;" ng-if="UserLanguage==5">

                        <input type="text" class="form-control" id="name" data-ng-model="printpurpose.mrname" placeholder="{{name}}" style="width:260px;" ng-if="UserLanguage==6">

                    </div>
                </div>

                <div class="form-group">
                    <label for="city" class="col-sm-4" style="font-weight: 600;margin-top: 4px;">{{status}}</label>
                    <div class="col-sm-6">
                        <select ui-select2 data-ng-model="newtodo.status" data-placeholder="{{status}}" style="width:260px;">
                            <option value=""></option>
                            <!--<option value="1">Open</option>
							<option value="3" disabled>Close</option>-->
                            <option data-ng-repeat="delay in todostatuses" value="{{delay.id}}" ng-if="UserLanguage==1" data-ng-disabled="delay.id==3">{{ delay.name }}</option>
                            <option data-ng-repeat="delay in todostatuses" value="{{delay.id}}" ng-if="UserLanguage==2" data-ng-disabled="delay.id==3">{{ delay.hnname }}</option>
                            <option data-ng-repeat="delay in todostatuses" value="{{delay.id}}" ng-if="UserLanguage==3" data-ng-disabled="delay.id==3">{{ delay.knname }}</option>
                            <option data-ng-repeat="delay in todostatuses" value="{{delay.id}}" ng-if="UserLanguage==4" data-ng-disabled="delay.id==3">{{ delay.taname }}</option>
                            <option data-ng-repeat="delay in todostatuses" value="{{delay.id}}" ng-if="UserLanguage==5" data-ng-disabled="delay.id==3">{{ delay.tename }}</option>
                            <option data-ng-repeat="delay in todostatuses" value="{{delay.id}}" ng-if="UserLanguage==6" data-ng-disabled="delay.id==3">{{ delay.mrname }}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="city" class="col-sm-4" style="font-weight: 600;margin-top: 8px;">{{followupdate}}</label>
                    <div class="col-sm-6">
                        <td style="width: 250px;">
                            <p class="input-group" style="width: 200px;">
                                <input type="text" id="{{'datepickerfollowup' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="newtodo.datetime" is-open="picker.followupopened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" style="width:220px;" min-date="dtmin" />
                                <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="followdt($event,item, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </td>
                    </div>
                </div>

                <br/>
                <br/>
                <br/>


                <div class="form-group">
                    <div style="padding-left:3%">
                        <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="SavetodoFollow()" style="padding:5px 20px;">{{savebutton}} </a>&nbsp;

                        <a data-ng-click="CancelFollow()" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">{{cancel}}</a>
                    </div>
                </div>

            </form>
        </div>
    </div>


    <style>
        .toggle.android {
            border-radius: 0px;
        }
        
        .toggle.android .toggle-handle {
            border-radius: 0px;
        }

    </style>


</modal1>


<!--

<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>
-->
<script type="text/ng-template" id="template/AlertModal.html" class="modal" class="modal fade" role="dialog">
    <div class="modal-header">
        <h4 class="modal-title">{{modalTitle}}</h4>
    </div>
    <div class="modal-body"> {{message}} </div>
</script>


<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>
