<div style="width:100%; height:auto; min-height:500px; background: #FFFFF0;  border: 1px solid #E6E6E6; margin: 5px auto; padding:5px;">
    <div class="row" style="margin:0;padding:0;">

        <div align="center">
            <div class="form-group">
                <a data-ng-href="/states/create" class="btn btn-primary btn-sm" role="button" data-ng-hide="hideCreateButton()"><span class="glyphicon glyphicon-plus"></span>Add New  </a>
            </div>
        </div>

        <div>

            <h4 style="font-family: Arial; font-weight: bold; font-size: 19px;">States</h4>
        </div>
    </div>
    <br />
    <form class="form-horizontal" role="form" data-ng-show="showForm()">
        <div class="form-group">
            <label for="name" class="col-sm-4 control-label">Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="name" data-ng-model="state.name" placeholder="Name">
            </div>
        </div>

        <div class="form-group">
            <label for="zone" class="col-sm-4 control-label">Country</label>
            <div class="col-sm-4">
                <select ui-select2 id="countryId" data-ng-model="state.countryId" data-placeholder="Pick a country" style="width:180px">
		    <option value=""></option>
		    <option data-ng-repeat="country in countries" value="{{country.id}}">{{ country.name }}</option>
			</select>
            </div>
        </div>

        <div class="form-group" align="center">
            <div>
                <a class="btn btn-success btn-sm" type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()"><span class="glyphicon glyphicon-ok"></span> Create </a>

                <a class="btn btn-success btn-sm" type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()"><span class="glyphicon glyphicon-ok"></span> Update </a>

                <a data-ng-href="/states" class="btn btn-info btn-sm" role="button"><span class="glyphicon glyphicon-remove"></span> Cancel</a>

            </div>
        </div>
    </form>
    <div data-ng-hide="hideSearchFilter()">
        <form role="form">
            <div class="row">
                <div class="col-lg-offset-8 col-lg-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." style="z-index:0; border-top-left-radius: 15px;border-bottom-left-radius: 15px;" data-ng-model="searchCon">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button" style="border-top-right-radius: 15px;border-bottom-right-radius: 15px;"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div data-ng-hide="showForm()">
        <div class="col-sm-6">

            <div class="form-group">
                <label for="zone" class="col-sm-4 control-label">Country</label>
                <div class="col-sm-8">
                    <select ui-select2 id="zone" ng-model="countryId" data-placeholder="Pick a country" style="width:180px">
          <option value=""></option>
          <option data-ng-repeat="country  in countries" value="{{country.id}}">{{ country.name }}</option>
        </select>
                </div>
            </div>

        </div>
        <br />
        <br />

        <div data-ng-hide="showForm()">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="font-size:12px;">#</th>
                        <th style="font-size:12px;">State</th>
                        <th style="font-size:12px;">Country</th>
                        <th style="font-size:12px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="state in statesss1 | filter: searchCon |itemsPerPage:5">
                        <td style="font-size:12px;">{{ state.index }}</td>
                        <td style="font-size:12px;">{{state.name}}</td>
                        <td data-ng-init="country = getCountry(state.countryId)">{{country.name}}</td>

                        <td><a data-ng-href="/states/{{state.id}}"><span class="glyphicon glyphicon-edit" title="Edit" style="color: black;"></span></a>&nbsp;
                            <a data-ng-href="/states" data-ng-click="Delete(state.id)"><span class="glyphicon glyphicon-trash" style="color: red;" title="Bin"></span></a>&nbsp; </td>
                    </tr>
                </tbody>
            </table>

            <div align="right">
                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">

                </dir-pagination-controls>

            </div>
        </div>
    </div>
</div>
