<h2>Tooltips in Angular</h2>

<form class="form-horizontal" role="form">
	<div class="form-group">
		<label for="name" class="col-sm-4 control-label" style="font-size:12px;">Name:</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="name" data-ng-model="workflow.name" placeholder="State Name" data-toggle="tooltip" tooltip="Please enter state name" tooltip-placement="right">
		</div>
	</div>



	<div align="center">
		<button type="submit" class="btn btn-default" data-toggle="tooltip" tooltip="Submit" tooltip-placement="right" ng-click="SubmitForm()">
			Submit
		</button>
	</div>
</form>



<!-----------------------------Bootstrap------------------->
<a href="#" data-toggle="tooltip" title="Some tooltip text!">Hover over me</a>
<!-- Generated markup by the plugin -->
<!--<div class="tooltip top" role="tooltip">
  <div class="tooltip-arrow"></div>
  <div class="tooltip-inner">
    Some tooltip text!
  </div>
</div>-->