<div style="width:100%; height:auto; min-height:500px;  border: 1px solid #E6E6E6; margin: 5px auto; padding:5px;">    
     <div class="row" style="margin:0;padding:0;">
        
        <div align="center">
            <div class="form-group">
                <a data-ng-href="/tourtypes/create" class="btn btn-primary btn-sm" role="button" data-ng-hide="hideCreateButton()"><span class="glyphicon glyphicon-plus"></span>Add New Tour Types </a>
            </div>
        </div>
         
         <div>

            <h4 style="font-family: Arial; font-weight: bold; font-size: 19px;">Tourtypes</h4>
        </div>
    </div>
    <br />


<form class="form-horizontal" role="form" data-ng-show="showForm()">
  <div class="form-group">
    <label for="name" class="col-sm-4 control-label">Tourtypes</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="name" data-ng-model="tourtype.name" placeholder="Tourtype">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-6 col-md-offset-3" align="center">
			<data-cb-form-submit data-singular="tourtype" data-plural="tourtypes" data-label="Create Tourtype" data-slug="tourtypes" data-ng-show="isCreateView()"></data-cb-form-submit>

			<data-cb-button-update data-singular="tourtype" data-plural="tourtypes" data-label="Update" data-slug="tourtypes" data-ng-hide="isCreateView()"></data-cb-button-update>

      <a data-ng-href="/tourtypes" class="btn btn-info" role="button">Cancel</a>

      <data-cb-button-delete data-singular="original" data-slug="tourtypes" data-ng-hide="isCreateView()"></data-cb-button-delete>
		</div>
	</div>
</form>


<data-cb-grid data-slug="tourtypes" data-ng-model="tourtypes" data-cb-grid-config="cbGridConfig" data-ng-hide="showForm()"></data-cb-grid>