<style>
    .stylelink {
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
    }
    
    .stylelink.active {
        color: #4a4d72;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
        border-bottom: 4px solid #e72e5a;
    }
    
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
        /*		background-color: #fff;*/
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    
    .nav-tabs-custom > .nav-tabs > li {
        width: 19%;
    }
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
        }
        .stylelink.active {
            font-size: 12px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .nav-tabs-custom > .nav-tabs > li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
        .space {
            padding: 5px 0px 5px 0px;
        }
    }
</style>


<!-- Horizontal Form -->

<div class="box box-info" style="min-height:450px;border-TOP:none;">
    <div style=" border-bottom: 1px solid #e6e6e6;">
        <div class="stylelink active box-header with-border " style="padding:20px 10px;">
            <h3 class="box-title" style="font-weight:600;">Transfer Member</h3>
        </div>
    </div>

    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body" style="padding:20px;">

        <br/>

        <form class="form-horizontal" role="form">
            <div class="row" style="margin:0px;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="role" class="col-sm-4" style="font-weight: 600;margin-top:7px;color:red">Avahan ID </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" data-ng-model="transfer.avahanid" placeholder="Please type Avahan ID">
                        </div>
                    </div>


                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-info" style="background: #1a1a1a;border-color:#1a1a1a;" ng-click="getMemberDetails()">View Detail</button>
                </div>
            </div>

            <br/>
            <div class="row" style="margin:0px;">

                <div id="demo" class="collapse">
                    <div class="row" style="margin:0px;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tiid" class="col-sm-4 ng-binding" style="font-weight:600;margin-top: 8px">Full Name</label>
                                <div class="col-sm-6">
                                    {{beneficiary.fullname}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tiid" class="col-sm-4 ng-binding" style="font-weight:600;margin-top: 8px">Nick Name</label>
                                <div class="col-sm-6">
                                    {{beneficiary.nickname}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tiid" class="col-sm-4 ng-binding" style="font-weight:600;margin-top: 8px">Typology</label>
                                <div class="col-sm-6">
                                    {{beneficiary.typology|uppercase}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tiid" class="col-sm-4 ng-binding" style="font-weight:600;margin-top: 8px">Gender</label>
                                <div class="col-sm-6">
                                    {{beneficiary.genderName}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tiid" class="col-sm-4 ng-binding" style="font-weight:600;margin-top: 8px">CO</label>
                                <div class="col-sm-6">
                                    {{beneficiary.facilityName}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tiid" class="col-sm-4 ng-binding" style="font-weight:600;margin-top: 8px">Site</label>
                                <div class="col-sm-6">
                                    {{beneficiary.siteName}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tiid" class="col-sm-4 ng-binding" style="font-weight:600;margin-top: 8px">FW</label>
                                <div class="col-sm-6">
                                    {{beneficiary.fieldworkername}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row form-horizontal">
            <div class="col-sm-6">
                <button ng-disabled="disableInitiateTransfer" class="btn" style="background:#e62e59;color:#fafafa;font-weight:600;padding:5px 10px;" ng-click="inviteTransfer()">INITIATE TRANSFER</button>
                <br/>
                <br/>
                <div class="form-group" ng-show="showFacility">
                    <label for="code" class="col-sm-6" style="font-weight: bold">TARGET FACILITY</label>
                    <div class="col-sm-6">
                        <select ui-select2="" id="employee" ng-model="transfer.facility" data-placeholder="TARGET FACILITY" style="width:100%">
                            <option value=""></option>
                            <option data-ng-repeat="emp in employees" value="{{emp.id}}">{{ emp.firstName }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-show="showFacility">
                    <label for="code" class="col-sm-6" style="font-weight: bold">TARGET SITE</label>
                    <div class="col-sm-6">
                        <select ui-select2="" id="site" ng-model="transfer.site" data-placeholder="TARGET SITE" style="width:100%">
                            <option value=""></option>
                            <option data-ng-repeat="sit in sites" value="{{sit.id}}">{{ sit.name }}</option>
                        </select>
                    </div>
                </div>
                <button ng-show="showFacility" class="btn" style="background:#e62e59;color:#fafafa;font-weight:600;padding:5px 10px;" ng-click="confirmTransfer()">CONFIRM TRANSFER</button>
                <br/>
            </div>
            <div class="col-sm-6"></div>
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->


<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring}}
</validationmodal>