/* main.css: Add and override styles */
.dc-data-count small {
  font-size: 16px;
}

.container-fluid {
  padding-left: 40px;
  padding-right: 40px;
}

.pie-chart {
  height: 150px;
}

.dc-chart .axis text{
  font-size: 12px;
}

text {
  font-size: 16px;
}

#map {
  height: 150px;
}

#control-row {
  padding-bottom: 20px;
}

a { cursor: pointer }



///////////////////// Landing part ////////////////////////////////////

/* div.dc-chart {
    float: left;
}
*/
.dc-chart rect.bar {
    stroke: none;
    cursor: pointer;
}


.dc-chart rect.stack1 {
    stroke: none;
    fill: #FFEEEE;
    <!-- fill: #0033cc;
    font-weight: bold;-->
   <!-- fill: red;-->
    <!--background-image: url('http://www.e-pint.com/epint.jpg');-->
}

.dc-chart rect.stack2 {
    stroke: none;
    fill: green;
}



.dc-chart .empty-chart .pie-slice path {
    fill: #FFEEEE;
    cursor: default;
}

.dc-chart  .pie-slice path {
 /*  stroke:white;*/
   stroke-width:3px;
cursor: pointer;
}

.dc-chart .empty-chart .pie-slice {
    cursor: default;
    
}

.dc-chart .pie-slice {
    fill: black;
    font-size: 7px;
    cursor: pointer;
}

.dc-chart .pie-slice {
    fill: white;
}
.dc-chart .pie-slice.external{
    fill: black;
}







/*.dc-chart .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}*/

    .dc-chart .axis text {
        font-size: 8px;
        stroke-width: 0.7px;
        stroke:#9d9d99;
    }
    
     .dc-chart .axis line
    {
        font-size: 8px;
        stroke-width: 0.7px;
        stroke:#9d9d99;
    }
    

.dc-chart .axis text {
    font: 10px sans-serif;
}

.dc-chart .grid-line {
    fill: none;
    stroke: #ccc;
    opacity: .5;
    shape-rendering: crispEdges;
}

.dc-chart .grid-line line {
    fill: none;
    stroke: #ccc;
    opacity: .5;
    shape-rendering: crispEdges;
}

.dc-chart .brush rect.background {
    z-index: -999;
}

.dc-chart .brush rect.extent {
    fill: steelblue;
    fill-opacity: .125;
}

.dc-chart .brush .resize path {
    fill: #eee;
    stroke: #666;
}

.dc-chart path.line {
    fill: none;
    stroke-width: 1.5px;
}

.dc-chart circle.dot {
    stroke: none;
}

.dc-chart g.dc-tooltip path {
    fill: none;
    stroke: grey;
    stroke-opacity: .8;
}

.dc-chart path.area {
    fill-opacity: .3;
    stroke: none;
}

.dc-chart .node {
    font-size: 0.7em;
    cursor: pointer;
}



.dc-chart .selected circle {
    stroke-width: 3;
    stroke: #ccc;
    fill-opacity: 1;
}

.dc-chart .deselected circle {
    stroke: none;
    fill-opacity: .5;
    fill: #ccc;
}

.dc-chart .bubble {
    stroke: none;
    fill-opacity: 0.6;
}

.dc-data-count {
    float: right;
    margin-top: -8px;
    margin-right: 15px;
}

.dc-data-count .filter-count {
    color: #3182bd;
    font-weight: bold;
}

.dc-data-count .total-count {
    color: #3182bd;
    font-weight: bold;
}



.dc-chart g.state {
    cursor: pointer;
}







.dc-chart g.county path {
    stroke: white;
    fill: none;
}

.dc-chart g.debug rect {
    fill: blue;
    fill-opacity: .2;
}

.dc-chart g.row rect {
    fill-opacity: 0.8;
    cursor: pointer;
    border: black;
}




.dc-chart g.row text {
    fill: #000;
    font-size: 20px;
    cursor: pointer;
}



.dc-legend {
    font-size: 5px;
}

.dc-legend-item {
    cursor: pointer;
}

.dc-chart g.axis text {
    /* Makes it so the user can't accidentally click and select text that is meant as a label only */
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10 */
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
}



.dc-chart .fadeout {
    fill-opacity: 0.2;
    stroke-opacity: 0.2;
}

.dc-chart path.dc-symbol, g.dc-legend-item.fadeout {
    fill-opacity: 0.5;
    stroke-opacity: 0.5;
}

.dc-hard .number-display {
    float: none;
    fill: blue;
    font-size: 20px;
}

.dc-chart .box text {
    font: 10px sans-serif;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10 */
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
}

.dc-chart .box line,
.dc-chart .box circle {
    fill: #fff;
    stroke: #000;
    stroke-width: 1.5px;
}

.dc-chart .box rect {
    stroke: #000;
    stroke-width: 1.5px;
}

.dc-chart .box .center {
    stroke-dasharray: 3,3;
}

.dc-chart .box .outlier {
    fill: none;
    stroke: #ccc;
}




.dc-chart .symbol{
    stroke: none;
}


.dc-chart .heatmap g.axis text {
    pointer-events: all;
    cursor: pointer;
}
