$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

@import url(//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic|Roboto+Slab:400,100,300,700);

//Error for older browser
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@import url(//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic|Roboto+Slab:400,100,300,700);

/* Space out content a bit */
body {
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Droid Serif';
}

.cb-nav{
    background-color: #34495E;
}
.menu {
    position:relative;
}

.menu > .dropdown-menu {
    position:static;
    display:block;
}


.dropdown-submenu{
    position:relative;
}
.dropdown-submenu>.dropdown-menu{
    top:0;
    left:100%;
    width:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu{
    display:block;
}

.dropdown-submenu>a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after{
    border-left-color:#000000;
}
.dropdown-submenu.pull-left{
    float:none;
}.dropdown-submenu.pull-left>.dropdown-menu{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

#marker-panel {
        height: 100%;
        float: left;
        width: 300px;
        overflow: auto;
        text-align:left;
   
      }