<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }
  #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
    }

</style>
<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div id="wrapper">
    <div class=" stylelink active box-header with-border" style="padding:20px 10px;">
		<h3 class="box-title"  style="font-weight:600;">{{applyforscheme}}</h3>
	</div>
        </div>
    <!-- Horizontal Form -->
    <!-- class="box box-info" style="min-height:450px;border-color:#b71c1c;">
	<div class="box-header with-border">
		<h3 class="box-title">{{applyforscheme}}</h3>
	</div>-->
    <!-- /.box-header -->
    <!-- form start -->
    <div class="box-body">
        <br/>
        <form class="form-horizontal" role="form">
            <p align="center" style="color:red">{{mandatoryfield}}</p>
            <br/>
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="schememaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">{{member}}</label>
                        <div class="col-sm-6">
                            <!--							{{memberfullname.fullname}}-->
                            <select ui-select2 id="memberId" ng-model="schememaster.memberId" data-placeholder="{{member}}" style="width:100%;" ng-disabled="HideCreateButton">
                                <option value=""></option>
                                <option data-ng-repeat="ben in beneficiaries" value="{{ben.id}}">{{ ben.fullname }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="sales-code" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">{{scheme}} </label>
                        <div class="col-sm-6">
                            <p >
                                <select ui-select2 id="schemeId" ng-model="schememaster.schemeId" data-placeholder="{{scheme}}" style="width:100%;" ng-disabled="HideCreateButton">
                                    <option value=""></option>
                                    <option data-ng-repeat="state in printschemes" value="{{state.id}}" ng-if="UserLanguage==1">{{ state.name }} </option>
                                    <option data-ng-repeat="state in printschemes" value="{{state.id}}" ng-if="UserLanguage==2">{{ state.hnname }} </option>
                                    <option data-ng-repeat="state in printschemes" value="{{state.id}}" ng-if="UserLanguage==3">{{ state.knname }} </option>
                                    <option data-ng-repeat="state in printschemes" value="{{state.id}}" ng-if="UserLanguage==4">{{ state.taname }} </option>
                                    <option data-ng-repeat="state in printschemes" value="{{state.id}}" ng-if="UserLanguage==5">{{ state.tename }} </option>
                                    <option data-ng-repeat="state in printschemes" value="{{state.id}}" ng-if="UserLanguage==6">{{ state.mrname }} </option>
                                </select>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">{{stage}}</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="stage" data-ng-model="schememaster.stage" data-placeholder="{{stage}}" style="width:100%;">
                                <option value=""></option>
                                <option data-ng-repeat="state in schemestages" value="{{state.id}}" ng-if="UserLanguage==1">{{ state.name }}</option>
                                <option data-ng-repeat="state in schemestages" value="{{state.id}}" ng-if="UserLanguage==2">{{ state.hnname }}</option>
                                <option data-ng-repeat="state in schemestages" value="{{state.id}}" ng-if="UserLanguage==3">{{ state.knname }}</option>
                                <option data-ng-repeat="state in schemestages" value="{{state.id}}" ng-if="UserLanguage==4">{{ state.taname }}</option>
                                <option data-ng-repeat="state in schemestages" value="{{state.id}}" ng-if="UserLanguage==5">{{ state.tename }}</option>
                                <option data-ng-repeat="state in schemestages" value="{{state.id}}" ng-if="UserLanguage==6">{{ state.mrname }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div ng-hide="datetimehide">
                        <div class="form-group">
                            <label for="formid" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">{{followupdate}}</label>
                            <div class="col-sm-6">
                                <p class="input-group" style="width: 100%">
                                    <input type="text" id="{{'datepickerstart' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="schememaster.datetime" is-open="start.openedstart" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" min-date="dtmin" ng-disabled="ShowStart"> <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="openstart($event, $index)" ng-disabled="ShowStart"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span> </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-hide="reponserec">
                        <label for="agegroup" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">{{responsereceive}}</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="organizationId" ng-model="schememaster.responserecieve" data-placeholder="{{responsereceive}}" style="width:100%;">
                                <option value=""></option>
                                <!--<option value="Approved">Approved</option>
								<option value="Rejected">Rejected</option>-->
                                <option data-ng-repeat="responcedreceive in responcedreceived" value="{{responcedreceive.name}}" ng-if="UserLanguage==1">{{ responcedreceive.name }}</option>
                                <option data-ng-repeat="responcedreceive in responcedreceived" value="{{responcedreceive.name}}" ng-if="UserLanguage==2">{{ responcedreceive.hnname }}</option>
                                <option data-ng-repeat="responcedreceive in responcedreceived" value="{{responcedreceive.name}}" ng-if="UserLanguage==3">{{ responcedreceive.knname }}</option>
                                <option data-ng-repeat="responcedreceive in responcedreceived" value="{{responcedreceive.name}}" ng-if="UserLanguage==4">{{ responcedreceive.taname }}</option>
                                <option data-ng-repeat="responcedreceive in responcedreceived" value="{{responcedreceive.name}}" ng-if="UserLanguage==5">{{ responcedreceive.tename }}</option>
                                <option data-ng-repeat="responcedreceive in responcedreceived" value="{{responcedreceive.name}}" ng-if="UserLanguage==6">{{ responcedreceive.mrname }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-hide="rejectdis">
                        <label for="state" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">{{responserejection}}</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="stateId" style="width:100%;" ng-model="schememaster.rejection" data-placeholder="{{responserejection}}">
                                <option value=""></option>
                                <!--<option value="Incomplete Form">Incomplete Form</option>
								<option value="Insufficient Supporting Documents">Insufficient Supporting Documents</option>
								<option value="Asking For Facilitation Fee">Asking For Facilitation Fee</option>
								<option value="Stigma">Stigma</option>
								<option value="Not Eligible">Not Eligible</option>
								<option value="Reason Unknown">Reason Unknown</option>-->
                                <option data-ng-repeat="resrej in reasonforrejections" value="{{resrej.name}}" ng-if="UserLanguage==1">{{ resrej.name }}</option>
                                <option data-ng-repeat="resrej in reasonforrejections" value="{{resrej.name}}" ng-if="UserLanguage==2">{{ resrej.hnname }}</option>
                                <option data-ng-repeat="resrej in reasonforrejections" value="{{resrej.name}}" ng-if="UserLanguage==3">{{ resrej.knname }}</option>
                                <option data-ng-repeat="resrej in reasonforrejections" value="{{resrej.name}}" ng-if="UserLanguage==4">{{ resrej.taname }}</option>
                                <option data-ng-repeat="resrej in reasonforrejections" value="{{resrej.name}}" ng-if="UserLanguage==5">{{ resrej.tename }}</option>
                                <option data-ng-repeat="resrej in reasonforrejections" value="{{resrej.name}}" ng-if="UserLanguage==6">{{ resrej.mrname }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-hide="delaydis">
                        <label for="city" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">{{responsedelay}}</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="cityId" style="width:100%;" ng-model="schememaster.delay" data-placeholder="{{responsedelay}}">
                                <option value=""></option>
                                <option data-ng-repeat="delay in reasonfordelayed" value="{{delay.name}}" ng-if="UserLanguage==1">{{ delay.name }}</option>
                                <option data-ng-repeat="delay in reasonfordelayed" value="{{delay.name}}" ng-if="UserLanguage==2">{{ delay.hnname }}</option>
                                <option data-ng-repeat="delay in reasonfordelayed" value="{{delay.name}}" ng-if="UserLanguage==3">{{ delay.knname }}</option>
                                <option data-ng-repeat="delay in reasonfordelayed" value="{{delay.name}}" ng-if="UserLanguage==4">{{ delay.taname }}</option>
                                <option data-ng-repeat="delay in reasonfordelayed" value="{{delay.name}}" ng-if="UserLanguage==5">{{ delay.tename }}</option>
                                <option data-ng-repeat="delay in reasonfordelayed" value="{{delay.name}}" ng-if="UserLanguage==6">{{ delay.mrname }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin:0;padding:0;">
                <!--                <div class="col-sm-6">-->
                <div class="col-sm-6" ng-show="datetimehide" ng-if="schememaster.stage !=9">
                    <!--<div class="form-group">
                        <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">{{followupdate}}</label>
                        <div class="col-sm-6">
                            <p class="input-group">
                                <input type="text" id="{{'datepickertwo' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="schememaster.datetime1" is-open="seconddate.secdate" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" min-date="dtmin" /> <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="openSecond($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span> </p>
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label for="formid" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">{{followupdate}}</label>
                        <div class="col-sm-6">
                            <p class="input-group" style="width: 100%">
                                <input type="text" id="{{'datepickerstart' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="schememaster.datetime" is-open="start.openedstart" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" min-date="dtmin" ng-disabled="ShowStart"> <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="openstart1($event, $index)" ng-disabled="ShowStart"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span> </p>
                        </div>
                    </div>
                </div>
                <!--                    </div>-->
                <div class="col-sm-6">
                    <!-- <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">{{amounttaken}}</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="amounttaken" data-ng-model="schememaster.amount" placeholder="{{amounttaken}}" ng-change="TestamountTaken(schememaster.amount)"> </div>
                    </div>--></div>
            </div>
            <div class="row" style="margin:0px;">
                <div class="col-sm-6">
                    <div class="form-group" ng-hide="purposeofloanhide">
                        <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">{{purposeofloan}}</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="financialgoal" data-ng-model="schememaster.purposeofloan" data-placeholder="{{purposeofloan}}" style="width:100%;" ng-change="TestPurposeofLoan(schememaster.purposeofloan)">
                                <option value=""></option>
                                <option data-ng-repeat="financialgoal in financialgoals" value="{{financialgoal.id}}" ng-if="UserLanguage==1">{{ financialgoal.name }}</option>
                                <option data-ng-repeat="financialgoal in financialgoals" value="{{financialgoal.id}}" ng-if="UserLanguage==2">{{ financialgoal.hnname }}</option>
                                <option data-ng-repeat="financialgoal in financialgoals" value="{{financialgoal.id}}" ng-if="UserLanguage==3">{{ financialgoal.knname }}</option>
                                <option data-ng-repeat="financialgoal in financialgoals" value="{{financialgoal.id}}" ng-if="UserLanguage==4">{{ financialgoal.taname }}</option>
                                <option data-ng-repeat="financialgoal in financialgoals" value="{{financialgoal.id}}" ng-if="UserLanguage==5">{{ financialgoal.tename }}</option>
                                <option data-ng-repeat="financialgoal in financialgoals" value="{{financialgoal.id}}" ng-if="UserLanguage==6">{{ financialgoal.mrname }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" ng-hide="purposeofloanhide">
                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">{{amounttaken}}</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="amounttaken" data-ng-model="schememaster.amount" placeholder="{{amounttaken}}" ng-change="TestamountTaken(schememaster.amount)"> </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin:0;padding:0;" ng-hide="purposeofloanhide">
                <div class="col-sm-6" ng-hide="noofmonthrepay_Hide">
                    <div class="form-group">
                        <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">{{noofmonthrepay}}</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="financialgoal" data-ng-model="schememaster.noofmonthrepay" data-placeholder="{{noofmonthrepay}}" style="width:100%;" ng-change="MonthRepay(schememaster.noofmonthrepay)">
                                <option value=""></option>
                                <option data-ng-repeat="noofmonth in newnoofmonthrepay" value="{{noofmonth}}">{{ noofmonth }}</option>
<!--
                                <option data-ng-repeat="noofmonthrepay in noofmonthrepaid" value="{{noofmonthrepay.id}}" ng-if="UserLanguage==2">{{ noofmonthrepay.hnname }}</option>
                                <option data-ng-repeat="noofmonthrepay in noofmonthrepaid" value="{{noofmonthrepay.id}}" ng-if="UserLanguage==3">{{ noofmonthrepay.knname }}</option>
                                <option data-ng-repeat="noofmonthrepay in noofmonthrepaid" value="{{noofmonthrepay.id}}" ng-if="UserLanguage==4">{{ noofmonthrepay.taname }}</option>
                                <option data-ng-repeat="noofmonthrepay in noofmonthrepaid" value="{{noofmonthrepay.id}}" ng-if="UserLanguage==5">{{ noofmonthrepay.tename }}</option>
                                <option data-ng-repeat="noofmonthrepay in noofmonthrepaid" value="{{noofmonthrepay.id}}" ng-if="UserLanguage==6">{{ noofmonthrepay.mrname }}</option>
-->
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin:0;padding:0;" ng-hide="purposeofloanhide">
                <div class="col-sm-3" ng-repeat="item in currMonthyear">
                    <div class="form-group">
                        <div class="col-sm-6">{{item}}</div>
                        <div class="col-sm-4">
                            <input type="checkbox" ng-model="studcheck[$index]" ng-value="$index" /> </div>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
            <div>
                <div align="left"> <a class="btn btn-primary btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-hide="HideCreateButton" ng-disabled="createClicked" style="padding:5px 20px;">{{create}} </a>&nbsp; <a class="btn btn-success btn-sm" type="submit" role="button" data-ng-click="Update()" data-ng-show="HideCreateButton" ng-disabled="updateClicked"  style="padding:5px 20px;">{{update}} </a>&nbsp; <a data-ng-href="/" class="btn btn-danger btn-sm " role="button"  style="padding:5px 20px;">{{cancel}}</a> </div>
            </div>
        </form>
    </div>
    <!-- /.box-body -->
    <div class="box-footer"> </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->
<modal1 title1="Search Schemes" visible="showschemesModal">
    <div style="width:100%; height:auto; min-height:500px;  border: 1px solid #E6E6E6; margin: 5px auto; padding:5px;">
        <br/>
        <form role="form" class="form-horizontal">
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="last-name" class="col-sm-4" style="font-weight: 600; ">{{schemename}}</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="last-name" placeholder="{{schemename}}" ng-model="schemename"> </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="title" class="col-sm-4" style="font-weight: 600; margin-top: 4px;">{{state}}</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="group" data-placeholder="{{state}}" style="width:100%;" ng-model="schememaster.stateid">
                                <option value=""></option>
                                <option data-ng-repeat="state in states" value="{{state.id}}">{{ state.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="title" class="col-sm-4" style="font-weight: 600; margin-top: 4px;">{{agegroup}}</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="organizationId" ng-model="schememaster.agegrp" data-placeholder="{{agegroup}}" style="width:100%;">
                                <option value=""></option>
                                <option value="Any Age Group">Any Age Group</option>
                                <option value="Child(0-17 years)">Child(0-17 years)</option>
                                <option value="Adult(18-59 years)">Adult(18-59 years)</option>
                                <option value="Senior(60 and above years)">Senior(60 and above years)</option>
                                <!--<option data-ng-repeat="organization in organizations" value="{{organization.id}}">{{ organization.orgname }} </option>-->
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="title" class="col-sm-4" style="font-weight: 600; margin-top: 4px;">{{gender}}</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="group" data-placeholder="{{gender}}" style="width:100%;" ng-model="schememaster.gender">
                                <option value=""></option>
                                <option data-ng-repeat="gender in genders" value="{{gender.id}}">{{ gender.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div>
            <table class="table ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ schemename }}</th>
                        <th>{{ schemelocalname }}</th>
                        <th>{{ category }}</th>
                        <th>{{ agegroup }}</th>
                        <th>{{ gender }}</th>
                        <th>{{ select }}?</th>
                        <!--<th></th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="schememaster in printschemes| filter:schemename |itemsPerPage:5">
                        <td>{{ $index + 1 }}</td>
                        <td>{{schememaster.name}}</td>
                        <td>{{schememaster.localname}}</td>
                        <td>{{schememaster.category}}</td>
                        <td>{{schememaster.agegroup}}</td>
                        <td data-ng-init="gender = getGender(schememaster.gender)">{{gender.name}}</td>
                        <td>
                            <!--							<input class="eventCheckbox" type="radio" ng-model="schememaster.enabled" id="{{schememaster.enabled}}" value="{{schememaster.id}}" name="vehicle">-->
                            <input class="eventCheckbox" type="radio" ng-model="schememaster.enabled" id="{{schememaster.enabled}}" ng-value="yes" name="vehicle">
                            <!--							<input name="enabled" ng-value="yes" type="radio" ng-model="schememaster.enabled" checked="checked">-->
                        </td>
                    </tr>
                </tbody>
            </table>
            <div align="right">
                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"> </dir-pagination-controls>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <div align="left">
            <button class="btn btn-success btn-sm " ng-click="SaveScheme()"><span class="glyphicon glyphicon-ok"></span>{{ savebutton }}</button>
        </div>
    </div>
    <style>
        .toggle.android {
            border-radius: 0px;
        }
        
        .toggle.android .toggle-handle {
            border-radius: 0px;
        }

    </style>
</modal1>
<!--<modal2 title1="{{modalTitle}}" visible="applyforschemedataModal">
		<p>{{message}}</p>
</modal2>-->
<validationmodal title1="Alert" visible="showValidation"> {{validatestring1}} </validationmodal>

<benefmodal1 visible="documentdataModal">
    <div class="modal-header" style="padding:0px;color:#ffffff;">
        <div class="pull-right" style="padding:15px;"> <a data-ng-click="OK()" data-dismiss="modal" class="btn btn-success btn-sm " role="button" style="background:#db4242;border-color:#db4242;padding:5px 20px;font-weight:bold;">{{okbutton}}</a> </div>
        <h4 class=" stylelink active modal-title">{{modalTitle}}</h4>
    </div>
    <div style="width:100%; height:auto; min-height:200px;  border: 1px solid #ffffff;padding:5px;" id="savemodals">
        <br/>
        <form class="form-horizontal" role="form">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="first-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{member}}</label>
                        <div class="col-sm-6"> {{printmember.fullname}} </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="email" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{scheme}}</label>
                        <div class="col-sm-6">
                            <div ng-if="UserLanguage==1"> {{printdocumenttype.name}} </div>
                            <div ng-if="UserLanguage==2"> {{printdocumenttype.hnname}} </div>
                            <div ng-if="UserLanguage==3"> {{printdocumenttype.knname}} </div>
                            <div ng-if="UserLanguage==4"> {{printdocumenttype.taname}} </div>
                            <div ng-if="UserLanguage==5"> {{printdocumenttype.tename}} </div>
                            <div ng-if="UserLanguage==6"> {{printdocumenttype.mrname}} </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="mobile" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{stage}}</label>
                        <div class="col-sm-6">
                            <!--							{{printstage.name}}-->
                            <div ng-if="UserLanguage==1"> {{printstage.name}} </div>
                            <div ng-if="UserLanguage==2"> {{printstage.hnname}} </div>
                            <div ng-if="UserLanguage==3"> {{printstage.knname}} </div>
                            <div ng-if="UserLanguage==4"> {{printstage.taname}} </div>
                            <div ng-if="UserLanguage==5"> {{printstage.tename}} </div>
                            <div ng-if="UserLanguage==6"> {{printstage.mrname}} </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="mobile" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{followupdate}}</label>
                        <div class="col-sm-6"> {{printdate | date:'dd-MMM-yyyy'}} </div>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
            <!--<div>
				<div align="left">
					<a class="btn btn-success btn-sm " role="button" data-ng-click="OK()">{{okbutton}}</a>
				</div>
			</div>-->
        </form>
    </div>
    <style>
        .toggle.android {
            border-radius: 0px;
        }
        
        .toggle.android .toggle-handle {
            border-radius: 0px;
        }
        
        #mapCanvas {
            width: 500px;
            height: 400px;
            float: left;
        }
        
        #infoPanel {
            margin-left: 100px;
        }
        
        #infoPanel div {
            margin-bottom: 5px;
        }

    </style>
</benefmodal1>

<script type="text/ng-template" id="template/AlertModal.html" class="modal" class="modal fade" role="dialog">
    <div class="modal-header">
        <h4 class="modal-title">{{palert}}</h4>
    </div>
    <div class="modal-body"> {{AlertMessage}} </div>
    <div class="modal-footer">
        <div align="left">

            <button type="button" class="btn btn-success btn-sm " ng-click="$close()">{{okbutton}}</button>

        </div>
    </div>
</script>
