<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
    }

    .custom-main-box.with-background .custom-main-body {
        padding: 0px;
    }

    .mr {
        width: 91%;
    }

    .h4 {
        font-size: 16px;
    }

</style>
<!-- Horizontal Form -->
<div class=" box box-info custom-main-box with-background" style="min-height:450px;border-top:none;" data-ng-init="toggleLoading()">
    <div class="box-header with-border custom-main-header">
        <a href="/members">
            <!--            <span class="glyphicon glyphicon-menu-left"></span>-->
            <img src="images/piclinks/back.png" width="10px" height="16px" style="margin-bottom: 5px;" />&nbsp;</a>
        <h3 class="box-title">{{memberHeading}}</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <!-- Horizontal Form -->
    <!--<div class="box box-info" style="min-height:450px;border-color:#b71c1c" data-ng-init="toggleLoading()">
	<div class="box-header with-border">
		<h3 class="box-title">{{memberregistration}}</h3>
	</div>-->
    <!-- /.box-header -->
    <!-- form start -->
    <div class="box-body custom-main-body">
        <div data-ng-show="isCreateView">
            <form role="form">
                <p align="center" style="font-weight:600;margin-top: 8px;color:#ec0b6d;">{{memberLang.mandatoryfield}}
                    <span class="pull-right"><button ng-click="redirecttransfer()" type="button" class="btn btn-danger" style="background:#1a1a1a;" ng-hide="hidePrevData">{{memberLang.viewpreviousdata}}</button>
                    </span>
                </p>

                <!--------------- Profile ----------------->
                <h4 class="section-sub-header padding2 h4">{{memberLang.divprofile}}</h4>
                <br />
                <!--- <div class="row" ng-if="validationStateId==25">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px">Stress Data </label>
                            <div class="col-sm-3" style="">
                                <input type="checkbox" name="stress_data" ng-model="beneficiary.stress_data">
                                <label></label>
                            </div>
                        </div>
                    </div>
                </div>--->
                <div class="row padding">
                    <div class="col-lg-3 col-md-4">
                        <div class="form-group">
                            <label for="name" class="select-label">{{memberLang.fullname}} <sup>*</sup></label>
                            <input type="text" class="form-control custom-form-control" id="name" data-ng-model="beneficiary.fullname" ng-blur="Validname($event, beneficiary.fullname)" placeholder="{{memberLang.fullname}}" onkeypress="return (event.charCode > 47 && event.charCode < 58) || (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)|| event.charCode==189 ||event.charCode==32 || event.charCode==45" ng-disabled="disablefullname">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="form-group">
                            <label for="name" class="select-label">{{memberLang.nickname}}<sup>*</sup></label>
                            <input type="text" class="form-control custom-form-control" id="nick" data-ng-model="beneficiary.nickname" placeholder="{{memberLang.nickname}}">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4" ng-hide="cosite">
                        <div class="form-group">
                            <label for="site" class="select-label">{{memberLang.site}} <sup>*</sup></label>
                            <select ui-select2="" id="site" ng-model="beneficiary.site" data-placeholder="{{memberLang.site}}" style="width:100%">
                                <option value=""></option>
                                <option data-ng-repeat="site in sites" value="{{site.id}}">{{ site.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4" ng-hide="fwsitehide">
                        <div class="form-group">
                            <label for="zone" class="select-label">{{memberLang.site}} <sup>*</sup></label>
                            <select ui-select2="" id="site" ng-model="beneficiary.site" data-placeholder="{{memberLang.site}}" style="width:100%">
                                <option value=""></option>
                                <option ng-repeat="route in routelinksget" value="{{route.distributionRouteId}}">{{route.routeName.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="form-group">
                            <label for="hotspot" class="select-label">{{memberLang.hotspot}} <sup>*</sup></label>
                            <angucomplete id="ex1" class="angualar-complete-form" placeholder="{{memberLang.hotspot}}" pause="100" selectedobject="beneficiary.hotspot" localdata="hotspots" searchfields="name" titlefield="name" minlength="1" inputclass="form-control " matchclass="highlight" searchstring="no.Noresponse" autocomplete="off"></angucomplete>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4" ng-hide="hotspotprint">
                        <div class="form-group">
                            <label for="fw" class="select-label">{{memberLang.savedhotspot}} <sup>*</sup></label>
                            <input type="text" class="form-control custom-form-control" data-ng-model="beneficiary.hotspot" placeholder="{{memberLang.savedhotspot}}" readonly="readonly">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="form-group">
                            <label for="fw" class="select-label">{{memberLang.fw}} <sup>*</sup></label>
                            <input type="text" class="form-control custom-form-control" id="tiid" data-ng-model="beneficiary.fieldworkername" placeholder="{{memberLang.fw}}" readonly="readonly">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4" ng-hide="hidememberId">
                        <div class="form-group">
                            <label for="tiid" class="select-label">{{memberLang.tiid}}<sup>*</sup></label>
                            <input type="text" class="form-control custom-form-control" id="tiid" data-ng-model="beneiTiId" placeholder="{{memberLang.tiid}}" readonly="readonly">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="form-group">
                            <label for="typology" class="select-label">{{memberLang.typology}} <sup>*</sup></label>
                            <select ui-select2="" id="fw" ng-model="beneficiary.typology" data-placeholder="{{memberLang.typology}}" style="width:100%" ng-disabled="disablefullname">
                                <option value=""></option>
                                <option data-ng-repeat="typo in typologies" value="{{typo.id}}" ng-if="UserLanguage==1">{{ typo.name | uppercase}}</option>
                                <option data-ng-repeat="typo in typologies" value="{{typo.parentId}}" ng-if="UserLanguage!=1">{{ typo.name | uppercase}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="form-group">
                            <label for="fw" class="select-label">{{memberLang.gender}} <sup>*</sup></label>
                            <select ui-select2="" id="fw" ng-model="beneficiary.gender" data-placeholder="{{memberLang.gender}}" style="width:100%" ng-disabled="DisableGender">
                                <option value=""></option>
                                <option data-ng-repeat="gender in genders" ng-if="UserLanguage==1" value="{{gender.id}}">{{ gender.name }}</option>
                                <option data-ng-repeat="gender in genders" ng-if="UserLanguage!=1" value="{{gender.parentId}}">{{ gender.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="form-group">
                            <label for="typology" class="select-label">{{memberLang.subtypology}} <sup>*</sup></label>
                            <select ui-select2="" id="fw" ng-model="beneficiary.subTypologyId" data-placeholder="{{memberLang.subtypology}}" style="width:100%" ng-disabled="disablefullname">
                                <option value=""></option>
                                <option data-ng-repeat="subtypo in subtypologies" value="{{subtypo.id}}" ng-if="UserLanguage==1">{{ subtypo.name | uppercase}}</option>
                                <option data-ng-repeat="subtypo in subtypologies" value="{{subtypo.parentId}}" ng-if="UserLanguage!=1">{{ subtypo.name | uppercase}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="form-group">
                            <label for="maritalstatus" class="select-label">{{memberLang.maritalstatus}} <sup>*</sup></label>
                            <select ui-select2="" id="maritalstatus" data-ng-model="beneficiary.maritalstatus" data-placeholder="{{memberLang.maritalstatus}}" style="width:100%">
                                <option value=""></option>
                                <option data-ng-repeat="marital in maritalstatuses" value="{{marital.id}}" ng-if="UserLanguage==1">{{marital.name}}</option>
                                <option data-ng-repeat="marital in maritalstatuses" value="{{marital.parentId}}" ng-if="UserLanguage!=1">{{marital.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="form-group">
                            <label for="age" class="select-label">{{memberLang.age}} <sup>*</sup></label>
                            <input type="text" class="form-control custom-form-control" id="age" data-ng-model="beneficiary.age" placeholder="{{memberLang.age}}" numbers-only="true">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="form-group">
                            <label for="dob" class="select-label">{{memberLang.dob}} <sup>*</sup></label>
                            <p class="input-group" style="width: 100%">
                                <input type="text" id="{{'datepickerdob' + $index}}" class="form-control custom-form-control" datepicker-popup="{{format}}" ng-model="beneficiary.dob" is-open="picker.dobopened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" max-date="dtmax" style="border-right:none;border-color: #d5d7df;">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="opendob($event, $index)" style="border-left:none;background:none;border-color: #d5d7df;">
                                        <!--                                        <i class="glyphicon glyphicon-calendar"></i>-->
                                        <img src="images/piclinks/calender-copy-3.png" class="calddate" style="margin-bottom:4px;width:16px;">
                                    </button></span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="form-group">
                            <label for="phoneno" class="select-label">{{memberLang.phonenumber}}<sup>*</sup></label>
                            <input type="text" class="form-control custom-form-control" id="phoneno" data-ng-model="beneficiary.phonenumber" placeholder="{{memberLang.phonenumber}}" maxlength="10" numbers-only="true">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="form-group">
                            <label for="route" class="select-label">{{memberLang.anotherphonenumber}}</label>
                            <input type="text" class="form-control custom-form-control" id="phoneno" data-ng-model="beneficiary.anotherPhone" placeholder="{{memberLang.anotherphonenumber}}" maxlength="10" numbers-only="true">
                        </div>
                    </div>
                </div>
                <br />
                <!--------------- /Profile ----------------->

                <!--------------- Mobility Status ----------------->
                <h4 class="section-sub-header padding2 h4">{{memberLang.divmobstatus}}</h4>
                <br />
                <div class="row">
                    <div class="col-lg-12 table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="padding-left:25px;">{{memberLang.lastmonth}}</th>
                                    <th>{{memberLang.nooftime}}</th>
                                    <th>{{memberLang.noofday}}</th>
                                    <th>{{memberLang.reasonformoving}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="padding-left:25px;">{{memberLang.withindist}}<sup>*</sup></td>
                                    <td>
                                        <div class="form-group mr">
                                            <input type="text" class="form-control custom-form-control" id="term" ng-model="beneficiary.noofTimeDistrict" placeholder="{{memberLang.nooftime}}" numbers-only="true" ng-change="ValidNumberOne(beneficiary.noofTimeDistrict)">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group mr">
                                            <input type="text" class="form-control custom-form-control" id="noday" data-ng-model="beneficiary.noofDayDistrict" placeholder="{{memberLang.noofday}}" numbers-only="true" ng-disabled="disableNoofdaysWD">
                                        </div>
                                    </td>
                                    <td>
                                        <select ui-select2 id="name" ng-model="beneficiary.reasonofMovingDistrict" data-placeholder="{{memberLang.reasonformoving}}" style="width:91%;" ng-disabled="disablerReasonOfMoveWD">
                                            <option value=""></option>
                                            <option data-ng-repeat="reasonofmove in reasonofmovedistricts" ng-if="UserLanguage==1" value="{{reasonofmove.id}}">{{ reasonofmove.name }}</option>
                                            <option data-ng-repeat="reasonofmove in reasonofmovedistricts" ng-if="UserLanguage!=1" value="{{reasonofmove.parentId}}">{{ reasonofmove.name }}</option>
                                        </select>
                                    </td>

                                </tr>
                                <tr>
                                    <td style="padding-left:25px;">{{memberLang.withinstate}}<sup>*</sup></td>
                                    <td>
                                        <div class="form-group mr">
                                            <input type="text" class="form-control custom-form-control" id="term" data-ng-model="beneficiary.noofTimeState" placeholder="{{memberLang.nooftime}}" numbers-only="true" ng-change="ValidNumberTwo(beneficiary.noofTimeState)">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group mr">
                                            <input type="text" class="form-control custom-form-control" id="noday" data-ng-model="beneficiary.noofDayState" placeholder="{{memberLang.noofday}}" numbers-only="true" ng-disabled="disableNoofdaysWS">
                                        </div>
                                    </td>
                                    <td>
                                        <select ui-select2 id="name" ng-model="beneficiary.reasonofMovingState" data-placeholder="{{memberLang.reasonformoving}}" style="width:91%;" ng-disabled="disablerReasonOfMoveWS">
                                            <option value=""></option>
                                            <option data-ng-repeat="reasonofmove in reasonofmovestate" ng-if="UserLanguage==1" value="{{reasonofmove.id}}">{{ reasonofmove.name }}</option>
                                            <option data-ng-repeat="reasonofmove in reasonofmovestate" ng-if="UserLanguage!=1" value="{{reasonofmove.parentId}}">{{ reasonofmove.name }}</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left:25px;">{{memberLang.outsidestate}}<sup>*</sup></td>
                                    <td>
                                        <div class="form-group mr">
                                            <input type="text" class="form-control custom-form-control" id="term" data-ng-model="beneficiary.noofTimeOutState" placeholder="{{memberLang.nooftime}}" numbers-only="true" ng-change="ValidNumberThree(beneficiary.noofTimeOutState)">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group mr">
                                            <input type="text" class="form-control custom-form-control" id="noday" data-ng-model="beneficiary.noofDayOutState" placeholder="{{memberLang.noofday}}" numbers-only="true" ng-disabled="disableNoofdaysOS">
                                        </div>
                                    </td>
                                    <td>
                                        <select ui-select2 id="name" ng-model="beneficiary.reasonofMovingOutState" data-placeholder="{{memberLang.reasonformoving}}" style="width:91%;" ng-disabled="disablerReasonOfMoveOS">
                                            <option value=""></option>
                                            <option data-ng-repeat="reasonofmove in reasonofmoveouts" ng-if="UserLanguage==1" value="{{reasonofmove.id}}">{{ reasonofmove.name }}</option>
                                            <option data-ng-repeat="reasonofmove in reasonofmoveouts" ng-if="UserLanguage!=1" value="{{reasonofmove.parentId}}">{{ reasonofmove.name }}</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row padding">
                    <div class="col-lg-3 col-md-4">
                        <div class="form-group">
                            <label for="maritalstatus" class="select-label">{{memberLang.nativestate}} <sup>*</sup></label>
                            <select ui-select2="" id="maritalstatus" data-ng-model="beneficiary.nativeStateId" data-placeholder="{{memberLang.nativestate}}" style="width:100%">
                                <option value=""></option>
                                <option data-ng-repeat="zone in zones" value="{{zone.id}}">{{zone.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="form-group">
                            <label for="maritalstatus" class="select-label">{{memberLang.nativedist}} <sup>*</sup></label>
                            <select ui-select2="" id="maritalstatus" data-ng-model="beneficiary.nativeDistrictId" data-placeholder="{{memberLang.nativedist}}" style="width:100%">
                                <option value=""></option>
                                <option data-ng-repeat="salesarea in salesareas" value="{{salesarea.id}}">{{salesarea.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br />

                <!--------------- /Mobility Status ----------------->

                <!---------------  Family Member ------------------->
                <h4 class="section-sub-header padding2 h4">{{memberLang.divfamprofile | uppercase}}</h4>
                <br />
                <div class="row">
                    <div class="col-lg-12 table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="padding-left:25px;">{{memberLang.slno}}</th>
                                    <th>{{memberLang.gender}}</th>
                                    <th>{{memberLang.age}}</th>
                                    <th>{{memberLang.dob}}</th>
                                    <!-- <th>{{action}}</th>-->
                                    <th class="left"><a href="" data-ng-click="addFamilyMember(familymember.id, $index)"><span class="glyphicon glyphicon-plus" title="Title"></span></a></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="familymember in familymembers | filter: { 'deleteflag': false }">
                                    <td><strong class="text-cente col-sm-2">{{$index+1}}</strong></td>
                                    <td>
                                        <select ui-select2="" id="fw" ng-model="familymember.gender" data-placeholder="{{memberLang.gender}}" style="width:100%" ng-click="CheckGender(familymember.gender,this,$index,familymember.id)">
                                            <option value=""></option>
                                            <option data-ng-repeat="gender in genderdisplays" ng-if="UserLanguage==1" value="{{gender.id}}">{{ gender.name }}</option>
                                            <option data-ng-repeat="gender in genderdisplays" ng-if="UserLanguage!=1" value="{{gender.parentId}}">{{ gender.name }}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control custom-form-control" ng-model="familymember.age" ng-change="ChilredAge(this, $index)" numbers-only="true">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <p class="input-group" style="width: 100%">
                                                <input type="text" id="{{'familydobopened' + $index}}" class="form-control custom-form-control custom-table-override" datepicker-popup="{{format}}" ng-model="familymember.dob" is-open="familydobopened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" max-date="dtmax" ng-change="ChilredDOB(this, $index)" datepicker-append-to-body="true" style="border-right:none;border-color: #d5d7df;">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="openfamilydob($event,this, $index)" style="border-left:none;background:#fff;border-color: #d5d7df;">
                                                        <!--                                            <i class="glyphicon glyphicon-calendar"></i>-->
                                                        <img src="images/piclinks/calender-copy-3.png" class="calddate" style="margin-bottom:4px;width:16px;">
                                                    </button></span>
                                            </p>
                                        </div>
                                    </td>
                                    <td style="vertical-align:middle">
                                        <!--                                        <a type="submit" ng-click="addFamilyMember(familymember.id, $index)" ng-show="$last"><span class="glyphicon glyphicon-plus" style="color: black;cursor:pointer; size:100%" title="Add"></span></a>-->
                                        <a type="submit" data-ng-click="removeFamilyMember($index)" ng-if="familymember.beneficiaryid == 0">
                                            <!--                                            <span class="glyphicon glyphicon-remove" style="color: red;cursor:pointer;" title="Remove"></span>-->
                                            <img src="images/piclinks/cross.png" style=";cursor:pointer;margin-bottom:15px;" title="Remove" width="16px;">
                                        </a>
                                        <a type="submit" data-ng-click="DeleteFamilyMember(familymember.id, $index, familymember.beneficiaryid)" ng-hide="familydeletebuttonhide" ng-if="familymember.beneficiaryid != 0">
                                            <!--                                            <span class="glyphicon glyphicon-trash" style="color: red;cursor:pointer; size:50%" title="Delete"></span>-->
                                            <img src="images/piclinks/cross.png" style=";cursor:pointer;margin-bottom:15px;" title="Delete" width="16px;">
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!---------------  /Family Member ------------------->
                <div class="row padding">
                    <div class="col-lg-3 col-md-4">
                        <div class="form-group">
                            <label for="maritalstatus" class="select-label">{{memberLang.regularpartner}} <sup>*</sup></label>
                            <select ui-select2="" id="regularpartner" data-ng-model="beneficiary.regularpartnerId" data-placeholder="{{memberLang.regularpartner}}" style="width:100%">
                                <option value=""></option>
                                <option data-ng-repeat="regularpartner in regularpartners" ng-if="UserLanguage==1" value="{{regularpartner.id}}">{{regularpartner.name}}</option>
                                <option data-ng-repeat="regularpartner in regularpartners" ng-if="UserLanguage!=1" value="{{regularpartner.parentId}}">{{regularpartner.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="form-group">
                            <label for="maritalstatus" class="select-label">{{memberLang.vocation}} <sup>*</sup></label>
                            <select ui-select2="" id="vocationpartner" data-ng-model="beneficiary.vocationPartnerId" data-placeholder="{{memberLang.vocation}}" style="width:100%" ng-disabled="disableVocation">
                                <option value=""></option>
                                <option data-ng-repeat="vocationpartner in vocationpartners" ng-if="UserLanguage==1" value="{{vocationpartner.id}}">{{vocationpartner.name}}</option>
                                <option data-ng-repeat="vocationpartner in vocationpartners" ng-if="UserLanguage!=1" value="{{vocationpartner.parentId}}">{{vocationpartner.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="form-group">
                            <label for="route" class="select-label">{{memberLang.noofyrssexwrk}}<sup>*</sup></label>
                            <input type="text" class="form-control custom-form-control" id="phoneno" data-ng-model="beneficiary.noofSexYear" placeholder="{{memberLang.noofyrssexwrk}}" numbers-only="true">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4"></div>
                </div>
                <br />

                <div ng-hide="hideconditionform">
                    <h4 class="section-sub-header padding2 h4">{{memberLang.formonetoonelabel | uppercase}}</h4>
                    <br />
                    <!--  <div >
                        <table class="table"  style="margin-bottom: 0px;">
                            <thead>
                                <tr id="rowClick">
                                </tr>
                            </thead>
                            <tbody id="bnbody">
                                <tr ng-repeat="test in ConditionArray">
                                    <td style="padding-left:25px;">
                                        <div class="form-group">
                                            <label for="name" class="select-label">{{test.condition}}</label>
                                            <input type="text" class="form-control custom-form-control" id="nick" data-ng-model="test.result" placeholder="Result of test" readonly>
                                        </div>
                                    </td>

                                    <td style="padding-left:25px;">
                                        <div class="form-group">
                                            <label for="code" class="select-label">{{memberLang.dateoftestingcondOne}}</label>
                                            <input type="text" class="form-control custom-form-control" id="nick" data-ng-model="test.resultdate" placeholder="{{memberLang.dateoftestingcondOne}}" readonly>
                                        </div>
                                    </td>

                                    <td style="padding-left:25px;">
                                        <div class="form-group" style="margin-right:15px;">
                                            <label for="code" class="select-label">{{memberLang.dateoftreatcondOne}}</label>
                                             <input type="text" class="form-control custom-form-control" id="nick" data-ng-model="test.treatmentdate" placeholder="{{memberLang.dateoftreatcondOne}}" readonly ng-style="{'color':test.backgroungclr}">
                                        </div>
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>-->

                    <div class="row padding">
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <label for="name" class="select-label">{{memberLang.conditionOne}}</label>
                                <input type="text" class="form-control custom-form-control" id="nick" data-ng-model="beneficiary.condition1" placeholder="{{memberLang.conditionOne}}" readonly>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <label for="code" class="select-label">{{memberLang.dateoftestingcondOne}}</label>
                                    <input type="text" class="form-control custom-form-control" id="nick" data-ng-model="beneficiary.resultdate1" placeholder="{{memberLang.dateoftestingcondOne}}" readonly>
                                </div>
                            </div>

                        <div class="col-lg-4 col-md-4">
                                <div class="form-group" style="margin-right:15px;">
                                    <label for="code" class="select-label">{{memberLang.dateoftreatcondOne}}</label>
                                    <input type="text" class="form-control custom-form-control" id="nick" data-ng-model="beneficiary.treatmentdate1" placeholder="{{memberLang.dateoftreatcondOne}}" readonly ng-style="{'color':backgroungclr1}">
                                </div>
                            </div>
                       
                    </div>

                    <div class="row padding" >
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <label for="name" class="select-label">{{memberLang.conditionTwo}}</label>
                                <input type="text" class="form-control custom-form-control" id="nick" data-ng-model="beneficiary.condition2" placeholder="{{memberLang.conditionTwo}}" readonly>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4">
                            
                                <div class="form-group">
                                    <label for="code" class="select-label">{{memberLang.dateoftestingcondOne}}</label>
                                    <input type="text" class="form-control custom-form-control" id="nick" data-ng-model="beneficiary.resultdate2" placeholder="{{memberLang.dateoftestingcondOne}}" readonly>
                                </div>
                            </div>


                        <div class="col-lg-4 col-md-4">
                                <div class="form-group" style="margin-right:15px;">
                                    <label for="code" class="select-label">{{memberLang.dateoftreatcondOne}}</label>
                                    <input type="text" class="form-control custom-form-control" id="nick" data-ng-model="beneficiary.treatmentdate2" placeholder="{{memberLang.dateoftreatcondOne}}" readonly ng-style="{'color':backgroungclr}">
                                </div>
                            </div>
                    </div>
                    <!--                    <br/>-->


                    <div class="row padding">

                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <label for="name" class="select-label">{{memberLang.consumealchohol}}</label>
                                <input type="text" class="form-control custom-form-control" id="nick" data-ng-model="consumealcohol" placeholder="{{memberLang.consumealchohol}}" readonly>

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <label for="name" class="select-label">{{memberLang.daysconsumingalchohol}}</label>
                                <input type="text" class="form-control custom-form-control" id="nick" data-ng-model="nofodayalchohol" placeholder="{{memberLang.daysconsumingalchohol}}" readonly>
                            </div>
                        </div>


                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <label for="name" class="select-label">{{memberLang.avgdailyinjection}}</label>
                                <input type="text" class="form-control custom-form-control" id="nick" data-ng-model="dailyinjection" style="width:95%;" placeholder="{{memberLang.avgdailyinjection}}" readonly>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <label for="name" class="select-label">{{memberLang.avgnondailyinjection}}</label>
                                <input type="text" class="form-control custom-form-control" id="nick" data-ng-model="nondailyinjection" placeholder="{{memberLang.avgnondailyinjection}}" readonly>
                            </div>
                        </div>
                    </div>
                    <!--                    </div>-->

                    <!--
                    <div class="row">
                        
                    </div>
-->
                </div>
                <br />
                <br />
                <!--</form>-->
                <div>
                    <div align="right">
                        <a data-ng-href="/members" class="btn btn-danger " role="button" style="padding:5px 20px;">{{memberLang.cancel}}</a>&nbsp;&nbsp;&nbsp;

                        <a class="btn btn-info " type="submit" role="button" data-ng-click="SaveProfile()" data-ng-show="isCreateSave" ng-disabled="createClicked" style="padding:5px 20px;margin-right:30px;">{{memberLang.create}} </a>&nbsp;&nbsp;&nbsp;

                        <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="UpdateProfile()" data-ng-hide="isCreateEdit" ng-disabled="UpdateClicked" ng-hide="UpdateButtonHide" style="padding:5px 20px;margin-right:30px;">{{memberLang.update}} </a>&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </form>
        </div>
        <br />
        <div class="box-footer"> </div>
    </div>
    <!-- /.box-body -->
</div>

<!--- <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="state" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">{{printstate}} </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="state" data-ng-model="zoneName" placeholder="{{state}}" readonly="readonly"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="co" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red">{{printfacility}} </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="state" data-ng-model="facilityName" placeholder="{{printfacility}}" readonly="readonly"> </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="town" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{printtown}} </label>
                            <div class="col-sm-6">
                                <select ui-select2="" id="town" ng-model="beneficiary.town" data-placeholder="{{printtown}}" style="width:100%">
                                    <option value=""></option>
                                    <option data-ng-repeat="town in towns" value="{{town.id}}">{{ town.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" ng-hide="hideavahanid">
                            <label for="avahanid" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">{{printavahanid}} </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="avahanid" data-ng-model="beneficiary.avahanid" placeholder="Avahan Id" readonly="readonly"> </div>
                        </div>
                        <div class="form-group" ng-show="hideavahanid">
                            <label for="tiid" class="col-sm-4" style="font-weight:600;margin-top: 8px">{{printcfcid}}</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="cfcid" data-ng-model="beneficiary.cfcid" placeholder="{{printcfcid}}"> </div>
                        </div>
                    </div>

                </div>
                <div class="row" ng-hide="hideavahanid">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="tiid" class="col-sm-4" style="font-weight:600;margin-top: 8px">{{printcfcid}}</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="cfcid" data-ng-model="beneficiary.cfcid" placeholder="{{printcfcid}}"> </div>
                        </div>

                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
        </div>
        
        <div ng-show="detailsHide">
            <div style="width:100%;height:auto;padding:5px 5px;;color:#4a4d72;border-bottom:2px solid #f4f4f4;"> <span style="font-weight:bold">{{divfacility}}</span>
                <a href="" class="small-box-footer" id="toggle4" style="color:#0097bc;text-decoration: underline;font-size:16px"> <span ng-show="showMoreDetails" ng-click="MoreDetails()">More Details</span> <span ng-hide="showMoreDetails" ng-click="MoreDetails()">Less Details</span> <i class="fa fa-arrow-circle-down"></i> </a>
            </div>
            <br>
            <div class="toggle4" style="display:none">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="state" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">{{printstate}} </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="state" data-ng-model="zoneName" placeholder="{{state}}" readonly="readonly"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="co" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">{{printfacility}} </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="state" data-ng-model="facilityName" placeholder="{{printfacility}}" readonly="readonly"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6" ng-hide="cosite">
                        <div class="form-group">
                            <label for="site" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{printsite}} </label>
                            <div class="col-sm-6">
                                <select ui-select2="" id="site" ng-model="beneficiary.site" data-placeholder="{{printsite}}" style="width:100%">
                                    <option value=""></option>
                                    <option data-ng-repeat="site in sites" value="{{site.id}}">{{ site.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" ng-hide="fwsitehide">
                        <div class="form-group">
                            <label for="zone" class="col-sm-4" style="font-weight: 600;margin-top: 4px;color:red;">{{printsite}} </label>
                            <div class="col-sm-6">
                                <select ui-select2="" id="site" ng-model="beneficiary.site" data-placeholder="{{printsite}}" style="width:100%">
                                    <option value=""></option>
                                    <option ng-repeat="route in routelinksget" value="{{route.distributionRouteId}}">{{route.routeName.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="fw" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{printfw}} </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="tiid" data-ng-model="beneficiary.fieldworkername" placeholder="{{printfw}}" readonly="readonly"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-bottom:0">
                            <label for="hotspot" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">{{photspot}} </label>
                            <div class="col-sm-6">
                                <angucomplete id="ex1" placeholder="{{photspot}}" pause="100" selectedobject="beneficiary.hotspot" localdata="hotspots" searchfields="name" titlefield="name" minlength="1" inputclass="form-control form-control-small" matchclass="highlight" searchstring="no.Noresponse" autocomplete="off">
                            </div>
                        </div> <span ng-hide="hotspotprint" style="display:block;padding-left:36%;margin-top: 0px;margin-bottom:15px">
									<span>{{photspot}}: {{beneficiary.hotspot}}</span> </span>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="town" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{printtown}} </label>
                            <div class="col-sm-6">
                                <select ui-select2="" id="town" ng-model="beneficiary.town" data-placeholder="{{printtown}}" style="width:100%">
                                    <option value=""></option>
                                    <option data-ng-repeat="town in towns" value="{{town.id}}">{{ town.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" ng-hide="hideavahanid">
                            <label for="avahanid" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">{{printavahanid}} </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="avahanid" data-ng-model="beneficiary.avahanid" placeholder="Avahan Id" readonly="readonly"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="tiid" class="col-sm-4" style="font-weight:600;margin-top: 8px">{{printtiid}}</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="tiid" data-ng-model="beneficiary.tiid" placeholder="{{printtiid}}"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-hide="hideavahanid">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="tiid" class="col-sm-4" style="font-weight:600;margin-top: 8px">{{printcfcid}}</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="cfcid" data-ng-model="beneficiary.cfcid" placeholder="{{printcfcid}}"> </div>
                        </div>

                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
            </div>
        </div>
        <div style="width:100%;height:auto;padding:5px 5px;color:#4a4d72;border-bottom:2px solid #f4f4f4;"> <span style="font-weight:bold">{{divmembername}}</span> </div>
        <br>
        <div class="row" ng-hide="actpaid">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="dynamicmember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{printdynamicmemberlabel}} </label>
                    <div class="col-sm-6"> <span>
		 					<input name="dynamicmember" ng-value="false" type="radio" ng-model="beneficiary.dynamicmember">	
						        <label for="code" style="font-weight:600">{{nomessage}}</label>
                            </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span>
                                <input name="dynamicmember" ng-value="true" type="radio" ng-model="beneficiary.dynamicmember" ng-disabled=true>
                                <label for="code" style="font-weight:600">{{yes}}</label>
                            </span> </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="registered" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{printmypaidmember}} </label>
                    <div class="col-sm-6"> <span>
                                <input name="paidmember" ng-value="false" type="radio" ng-model="beneficiary.paidmember">
                                <label for="code" style="font-weight:600">{{nomessage}}</label>
                            </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span>
                                <input name="paidmember" ng-value="true" type="radio" ng-model="beneficiary.paidmember">
                                <label for="code" style="font-weight:600">{{yes}}</label>
                            </span> </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="actpaid">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="co" class="col-sm-4" style="font-weight:600;padding-bottom:5px;">{{printmydynamicmember}} </label>
                    <div class="col-sm-6" style="font-weight:600;background:#f4f4f4;width:45%;margin-left:18px;">
                        <div class="form-group" style="margin:0">
                            <label for="code" style="font-weight:600" ng-if="beneficiary.dynamicmember == false">{{nomessage}}</label>
                            <label for="code" style="font-weight:600" ng-if="beneficiary.dynamicmember == true">{{yes}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    
                    <label for="co" class="col-sm-4" style="font-weight:600;padding-bottom:5px;">{{printmypaidmember}} </label>
                    
                    <div class="col-sm-6" style="font-weight:600;background:#f4f4f4;width:45%;margin-left:16px;">
                        <div class="form-group" style="margin:0"> <span>
                                <label for="code" style="font-weight:600" ng-if="beneficiary.paidmember == false" >{{nomessage}}</label>
                            </span> <span>
                                <label for="code" style="font-weight:600" ng-if="beneficiary.paidmember == true">{{yes}}</label>
                            </span> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px">{{printchampion}} </label>
                    <div class="col-sm-3" style="">
                        <input type="checkbox" name="champion" ng-model="beneficiary.championproposed">
                        <label>{{proposed}}</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="checkbox" name="champion" ng-model="beneficiary.championapproved" ng-disabled="disableapprove">
                        <label>{{approved}}</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;">{{paralegalvolunteer}} </label>
                    <div class="col-sm-4">
                        <div style="margin:5%;margin-left:0px;">
                            <input type="checkbox" name="paralegalproposed" ng-model="beneficiary.paralegalproposed">
                            <label>{{proposed}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div style="margin:5%;margin-left:0px;">
                            <input type="checkbox" name="paralegaltrained" ng-model="beneficiary.paralegaltrained">
                            <label>{{trained}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{boardmemberever}} </label>
                    <div class="col-sm-6"> <span>
                                <input name="boardmember" ng-value="false" type="radio" ng-model="beneficiary.boardmember">
                                <label for="code" style="font-weight:600">{{nomessage}}</label>
                            </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span>
                                <input name="boardmember" ng-value="true" type="radio" ng-model="beneficiary.boardmember">
                                <label for="code" style="font-weight:600">{{yes}}</label>
                            </span> </div>
                </div>
            </div>
            <div class="col-sm-6" ng-hide="paralegalproposed_yes">
                <label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px"> </label>
                <div class="col-sm-3">
                    <input type="checkbox" name="paralegalhasplv" ng-model="beneficiary.paralegalhasplv">
                    <label>{{hasplvidcard}}</label>
                </div>
                <div class="col-sm-3"> </div>
            </div>
        </div>
        <div class="row" ng-hide="boardmemberhide">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="dob" class="col-sm-4" style="font-weight:600;margin-top: 8px;">{{startdate}} </label>
                    <div class="col-sm-6">
                        <td style="width: 100%">
                            <p class="input-group" style="width: 100%">
                                <input type="text" id="{{'datepickerdob' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="beneficiary.termstartdate" is-open="termstartdate.dobopened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" max-date="dtmax"> <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="termstartdate($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span> </p>
                        </td>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="dob" class="col-sm-4" style="font-weight:600;margin-top: 8px;">{{emddate}} </label>
                    <div class="col-sm-6">
                        <td style="width: 100%">
                            <p class="input-group" style="width: 100%">
                                <input type="text" id="{{'datepickerdob' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="beneficiary.termenddate" is-open="termenddate.dobopened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" min-date="beneficiary.termstartdate"> <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="termenddate($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span> </p>
                        </td>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-hide="boardmemberhide">
            <div class="col-sm-6">
     

                <div class="form-group">
                    <label for="town" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{nooftermsheld}} </label>
                    <div class="col-sm-6">
                        <select ui-select2="" id="site" ng-model="beneficiary.nooftermsheld" data-placeholder="{{nooftermsheld}}" style="width:100%">{{beneficiary.nooftermsheld}}
                            <option value=""></option>
                            <option ng-repeat="no in newnoofterms" value="{{no}}">{{no}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
            </div>
        </div>




        <br>
        <div style="width:100%;height:auto;padding:5px 5px;color:#4a4d72;border-bottom:2px solid #f4f4f4;" ng-hide="hideavahanid"> <span style="font-weight:bold">Dynamic Fields</span> </div>
        <br>
        <div class="row" ng-hide="hideavahanid">
            <div class="col-sm-6" ng-if="DynamicFields.text_one_enable===true">
                <div class="form-group">
                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;">{{TextOne}} </label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="name" data-ng-model="beneficiary.text_one" placeholder="{{TextOne}}" disabled> </div>
                </div>
            </div>
            <div class="col-sm-6" ng-if="DynamicFields.text_two_enable===true">
                <div class="form-group">
                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;">{{TextTwo}}</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="name" data-ng-model="beneficiary.text_two" placeholder="{{TextTwo}}" disabled> </div>
                </div>
            </div>
        </div>
        <div class="row" ng-hide="hideavahanid">
            <div class="col-sm-6" ng-if="DynamicFields.text_three_enable===true">
                <div class="form-group">
                    <label for="age" class="col-sm-4" style="font-weight:600;margin-top: 8px;">{{TextThree}} </label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="age" data-ng-model="beneficiary.text_three" placeholder="{{TextOne}}" disabled> </div>
                </div>
            </div>
            <div class="col-sm-6" ng-if="DynamicFields.text_four_enable===true">
                <div class="form-group">
                    <label for="age" class="col-sm-4" style="font-weight:600;margin-top: 8px;">{{TextFour}} </label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="age" data-ng-model="beneficiary.text_four" placeholder="{{TextFour}}" disabled> </div>
                </div>
            </div>
        </div>

        <div class="row" ng-hide="hideavahanid">
            <div class="col-sm-6" ng-if="DynamicFields.text_five_enable===true">
                <div class="form-group">
                    <label for="age" class="col-sm-4" style="font-weight:600;margin-top: 8px;">{{TextFive}} </label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="age" data-ng-model="beneficiary.text_five" placeholder="{{text_five}}" disabled> </div>
                </div>
            </div>
            <div class="col-sm-6" ng-if="DynamicFields.dropdown_one_enable===true">
                <div class="form-group">
                    <label for="age" class="col-sm-4" style="font-weight:600;margin-top: 8px;">{{DropdownOne}} </label>
                    <div class="col-sm-6">
                        <select ui-select2 id="group" data-placeholder="{{DropdownOne}}" style="width:100%;" ng-model="beneficiary.dropdown_one" disabled>
                            <option value=""></option>
                            <option data-ng-repeat="dropdown in DropdownOneOptions" value="{{dropdown.value}}">{{ dropdown.label }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-hide="hideavahanid">
            <div class="col-sm-6" ng-if="DynamicFields.dropdown_two_enable===true">
                <div class="form-group">
                    <label for="age" class="col-sm-4" style="font-weight:600;margin-top: 8px;">{{DropdownTwo}} </label>
                    <div class="col-sm-6">
                        <select ui-select2 id="group" data-placeholder="{{DropdownTwo}}" style="width:100%;" ng-model="beneficiary.dropdown_two" disabled>
                            <option value=""></option>
                            <option data-ng-repeat="dropdown in DropdownTwoOptions" value="{{dropdown.value}}">{{ dropdown.label }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" ng-if="DynamicFields.dropdown_three_enable===true">
                <div class="form-group">
                    <label for="age" class="col-sm-4" style="font-weight:600;margin-top: 8px;">{{DropdownThree}} </label>
                    <div class="col-sm-6">
                        <select ui-select2 id="group" data-placeholder="{{DropdownThree}}" style="width:100%;" ng-model="beneficiary.dropdown_three" disabled>
                            <option value=""></option>
                            <option data-ng-repeat="dropdown in DropdownThreeOptions" value="{{dropdown.value}}">{{ dropdown.label }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-hide="hideavahanid">
            <div class="col-sm-6" ng-if="DynamicFields.dropdown_four_enable===true">
                <div class="form-group">
                    <label for="age" class="col-sm-4" style="font-weight:600;margin-top: 8px;">{{DropdownFour}} </label>
                    <div class="col-sm-6">
                        <select ui-select2 id="group" data-placeholder="{{DropdownFour}}" style="width:100%;" ng-model="beneficiary.dropdown_four" disabled>
                            <option value=""></option>
                            <option data-ng-repeat="dropdown in DropdownFourOptions" value="{{dropdown.value}}">{{ dropdown.label }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" ng-if="DynamicFields.dropdown_five_enable===true">
                <div class="form-group">
                    <label for="age" class="col-sm-4" style="font-weight:600;margin-top: 8px;">{{DropdownFive}} </label>
                    <div class="col-sm-6">
                        <select ui-select2 id="group" data-placeholder="{{DropdownFive}}" style="width:100%;" ng-model="beneficiary.dropdown_five" disabled>
                            <option value=""></option>
                            <option data-ng-repeat="dropdown in DropdownFiveOptions" value="{{dropdown.value}}">{{ dropdown.label }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>






        <div class="row" ng-hide="createmodifyDisable">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="champion" class="col-sm-3" style="font-weight:600;margin-top:2px">Create Date: </label>
                    
                    <label style="font-weight:600;margin-top:2px">{{beneficiary.createddatetime|date:'dd-MMM-yyyy/hh:mm:ss a'}}</label>
                   
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="champion" class="col-sm-3" style="font-weight:600;margin-top:2px">Modified Date: </label>
                   
                    <label style="font-weight:600;margin-top:2px">{{beneficiary.lastmodifiedtime|date:'dd-MMM-yyyy/hh:mm:ss a'}}</label>
                   
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div>
            <div align="left"> <a class="btn btn-primary btn-sm " type="submit" role="button" data-ng-click="SaveProfile()" data-ng-show="isCreateSave" ng-disabled="createClicked" style="padding:5px 20px;">{{create}} </a>&nbsp;
                <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="UpdateProfile()" data-ng-hide="isCreateEdit" ng-disabled="UpdateClicked" ng-hide="UpdateButtonHide" style="padding:5px 20px;">{{update}} </a>&nbsp;
                <a data-ng-href="/members" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">{{cancel}}</a> </div>
        </div>
    </div>
    </form>
</div>
<div class="box-footer"> </div>
</div>
<!-- /.box-body -->

<!-- /.box-footer -->
<!--</div>-->
<!-- /.box -->
<!-------------------------------------------- MODAL  START ------------------------------------>
<!-- <modal1 title1="PLHIV Details" visible="showplhivModal">
    <div style="width:100%; height:auto;  border: 1px solid #E6E6E6; margin: 5px auto; padding:5px">
        <div>
            <h4>Source of Infection </h4> </div>
        <br>
        <form class="form-horizontal" role="form">
            <div class="row" style="margin:0;padding:0">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="code" class="col-sm-4" style="font-weight:600;margin-top: 8px">Month of Detection</label>
                        <div class="col-sm-6">
                            <p class="input-group">
                                <input type="text" id="{{'datepickermod' + $index}}" class="form-control" datepicker-popup="MM/yyyy" ng-model="beneficiary.monthofdetection" is-open="mod.openedmod" min="minDate" max="'2015-06-22'" datepicker-options="monthOptions" datepicker-mode="'month'" date-disabled="disabled(date, mode)" close-text="Close" max-date="presenttoday"> <span class="input-group-btn"><button class="btn btn-default" ng-click="openmod($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span> </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="code" class="col-sm-4" style="font-weight:600;margin-top: -5px"> Type of Transmission</label>
                        <div class="col-sm-6">
                            <select ui-select2="" id="zone" data-ng-model="beneficiary.typeoftransmission" data-placeholder="Pick a Type" style="width:100%">
                                <option value=""></option>
                                <option value="Heterosexual">Heterosexual</option>
                                <option value="Homesexual">Homesexual</option>
                                <option value="Blood transfusion">Blood transfusion</option>
                                <option value="Needles/Syringes">Needles/Syringes</option>
                                <option value="Parent to child transfusion">Parent to child transfusion</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <br>
            <br>
            <br>
            <div>
                <div align="left">
                    <div> <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="SavePLHIV()">Save </a> <a data-ng-href="" class="btn btn-danger btn-sm " role="button" data-ng-click="CancelPLHIV()">Cancel</a> </div>
                </div>
            </div>
        </form>
        <style>
            .toggle.android {
                border-radius: 0px;
            }
            
            .toggle.android .toggle-handle {
                border-radius: 0px;
            }
        </style>
    </div>
</modal1>
<modal1 title1="Get Location" visible="showMapModal">
    <div style="width:100%; height:auto; min-height:500px;  border: 1px solid #E6E6E6; margin: 5px auto; padding:5px" id="mapmodals">
        <br>
        <form class="form-horizontal" role="form">
            <div class="row" style="margin-left:20px">
                <div id="mapCanvas"></div>
                <div id="infoPanel"> <b>Marker status:</b>
                    <div id="markerStatus"><i>Click and drag the marker.</i> </div> <b>Current position:</b>
                    <div id="info"></div> <b>Closest matching address:</b>
                    <div id="address"></div>
                </div>
            </div>
            <br>
            <br>
            <div align="left">
                <div>
                    <div class="col-sm-6 col-md-offset-3" align="center"> <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="SaveMap()">Save </a> <a data-ng-href="" class="btn btn-danger btn-sm " role="button" data-ng-click="CancelMap()">Cancel</a> </div>
                </div>
            </div>
        </form>
    </div>
    <style>
        .toggle.android {
            border-radius: 0px;
        }
        
        .toggle.android .toggle-handle {
            border-radius: 0px;
        }
        
        #mapCanvas {
            width: 500px;
            height: 400px;
            float: left;
        }
        
        #infoPanel {
            margin-left: 100px;
        }
        
        #infoPanel div {
            margin-bottom: 5px;
        }
    </style>
</modal1>-->

<benefmodal1 visible="beneficiarydataModal">
    <div class="custom-modal">
        <div class="modal-header">
            <!--    <a data-ng-click="OKBUTTON()" data-dismiss="modal" class="btn btn-success btn-sm " role="button" style="background:#db4242;border-color:#db4242;padding:5px 20px;font-weight:bold;">{{ok}}</a>    -->
            <h4 class="modal-title" style="padding-left:10px;">
                <img src="images/piclinks/save.png" width="16px" height="16px" style="margin-bottom:2px;" />&nbsp;&nbsp;{{modalTitle1}}</h4>
        </div>
        <br />
        <div class="modal-body">
            <div id="savemodals">
                <form role="form">
                    <h4 class="section-sub-header padding2 h4">{{memberLang.divprofile}}</h4>
                    <br />
                    <div class="row padding">
                        <div class="col-lg-3 col-md-4">
                            <div class="form-group">
                                <label for="first-name" class="select-label">{{memberLang.fullname}} </label>
                                <div>
                                    <input type="text" class="form-control" placeholder="{{beneficiary.fullname}}" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="form-group">
                                <label for="name" class="select-label">{{memberLang.nickname}}</label>
                                <div class="">
                                    <input type="text" class="form-control" placeholder="{{beneficiary.nickname}}" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="form-group">
                                <label for="im-provider" class="select-label">{{memberLang.site}} </label>
                                <div class="">
                                    <input type="text" class="form-control" placeholder="{{siteName}}" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="form-group">
                                <label for="partner-manager" class="select-label">{{memberLang.hotspot}} </label>
                                <div class="">
                                    <input type="text" class="form-control" placeholder="{{beneficiary.hotspot}}" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="form-group">
                                <label for="fw" class="select-label">{{memberLang.fw}} </label>
                                <div class="">
                                    <input type="text" class="form-control" placeholder="{{printfieldworkerName}}" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4" ng-hide="hidememberId">
                            <div class="form-group">
                                <label for="tiid" class="select-label">{{memberLang.tiid}}</label>
                                <div class="">
                                    <input type="text" class="form-control" placeholder="{{TiIdDisplay}}" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="form-group">
                                <label for="typology" class="select-label">{{memberLang.typology}} </label>
                                <div class="">
                                    <div ng-if="UserLanguage==1">
                                        <input type="text" class="form-control" placeholder="{{typologyName.name}}" readonly>
                                    </div>
                                    <div ng-if="UserLanguage!=1">
                                        <input type="text" class="form-control" placeholder="{{typologyName1.name}}" readonly> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="form-group">
                                <label for="email" class="select-label">{{memberLang.gender}} </label>
                               <div class="">
                                    <div ng-if="UserLanguage==1">
                                        <input type="text" class="form-control" placeholder="{{genderName.name}}" readonly>
                                    </div>
                                    <div ng-if="UserLanguage!=1">
                                        <input type="text" class="form-control" placeholder="{{genderName1.name}}" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="form-group">
                                <label for="typology" class="select-label">{{memberLang.subtypology}} </label>
                                <div class="">
                                    <div ng-if="UserLanguage==1">
                                        <input type="text" class="form-control" placeholder="{{subtypologyName.name}}" readonly>
                                    </div>
                                    <div ng-if="UserLanguage!=1">
                                        <input type="text" class="form-control" placeholder="{{subtypologyName1.name}}" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="form-group">
                                <label for="mobile" class="select-label">{{memberLang.maritalstatus}} </label>
                                 <div class="">
                                    <div ng-if="UserLanguage==1">
                                        <input type="text" class="form-control" placeholder="{{maritalstatusName.name}}" readonly>
                                    </div>
                                    <div ng-if="UserLanguage!=1">
                                        <input type="text" class="form-control" placeholder="{{maritalstatusName1.name}}" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="form-group">
                                <label for="email" class="select-label">{{memberLang.age}} </label>
                                <div class="">
                                    <input type="text" class="form-control" placeholder="{{beneficiary.age}}" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="form-group">
                                <label for="mobile" class="select-label">{{memberLang.dob}} </label>
                                <div class="">
                                    <input type="text" class="form-control" placeholder="{{beneficiary.dob | date:'dd-MMM-yyyy'}}" readonly> </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <h4 class="section-sub-header padding2">{{memberLang.divmobstatus}}</h4>
                    <br />
                    <div class="row">
                        <div class="col-lg-12 table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="padding-left:25px;">{{memberLang.lastmonth}}</th>
                                        <th>{{memberLang.nooftime}}</th>
                                        <th>{{memberLang.noofday}}</th>
                                        <th>{{memberLang.reasonformoving}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="padding-left:25px">{{memberLang.withindist}}</td>

                                        <td>
                                            <div class="form-group mr">
                                                <input type="text" class="form-control custom-form-control" id="term" data-ng-model="beneficiary.noofTimeDistrict" placeholder="{{memberLang.nooftime}}" numbers-only="true" ng-change="ValidNumberOne(beneficiary.noofTimeDistrict)">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group mr">
                                                <input type="text" class="form-control custom-form-control" id="noday" data-ng-model="beneficiary.noofDayDistrict" placeholder="{{memberLang.noofday}}" numbers-only="true" ng-disabled="disableNoofdaysWD">
                                            </div>
                                        </td>
                                        <td>
                                            <select ui-select2 id="name" ng-model="beneficiary.reasonofMovingDistrict" data-placeholder="{{memberLang.reasonformoving}}" style="width:91 %;" ng-disabled="disablerReasonOfMoveWD">
                                                <option value=""></option>
                                            <option data-ng-repeat="reasonofmove in reasonofmovedistricts" ng-if="UserLanguage==1" value="{{reasonofmove.id}}">{{ reasonofmove.name }}</option>
                                            <option data-ng-repeat="reasonofmove in reasonofmovedistricts" ng-if="UserLanguage!=1" value="{{reasonofmove.parentId}}">{{ reasonofmove.name }}</option>
                                               <!-- <option data-ng-repeat="reasonofmove in reasonofmovedistricts" value="{{reasonofmove.id}}">{{ reasonofmove.name }}</option>-->
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left:25px">{{memberLang.withinstate}}</td>

                                        <td>
                                            <div class="form-group mr">
                                                <input type="text" class="form-control custom-form-control" id="term" data-ng-model="beneficiary.noofTimeState" placeholder="{{memberLang.nooftime}}" numbers-only="true" ng-change="ValidNumberTwo(beneficiary.noofTimeState)">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group mr">
                                                <input type="text" class="form-control custom-form-control" id="noday" data-ng-model="beneficiary.noofDayState" placeholder="{{memberLang.noofday}}" numbers-only="true" ng-disabled="disableNoofdaysWS">
                                            </div>
                                        </td>
                                        <td>
                                            <select ui-select2 id="name" ng-model="beneficiary.reasonofMovingState" data-placeholder="{{memberLang.reasonformoving}}" style="width:91%;" ng-disabled="disablerReasonOfMoveWS">
                                                <option value=""></option>
                                                <option data-ng-repeat="reasonofmove in reasonofmovestate" ng-if="UserLanguage==1" value="{{reasonofmove.id}}">{{ reasonofmove.name }}</option>
                                            <option data-ng-repeat="reasonofmove in reasonofmovestate" ng-if="UserLanguage!=1" value="{{reasonofmove.parentId}}">{{ reasonofmove.name }}</option>
                                               <!-- <option data-ng-repeat="reasonofmove in reasonofmovestate" value="{{reasonofmove.id}}">{{ reasonofmove.name }}</option>-->
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left:25px">{{memberLang.outsidestate}}</td>
                                        <td>
                                            <div class="form-group mr">
                                                <input type="text" class="form-control custom-form-control" id="term" data-ng-model="beneficiary.noofTimeOutState" placeholder="{{memberLang.nooftime}}" numbers-only="true" ng-change="ValidNumberThree(beneficiary.noofTimeOutState)">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group mr">
                                                <input type="text" class="form-control custom-form-control" id="noday" data-ng-model="beneficiary.noofDayOutState" placeholder="{{memberLang.noofday}}" numbers-only="true" ng-disabled="disableNoofdaysOS">
                                            </div>
                                        </td>
                                        <td>
                                            <select ui-select2 id="name" ng-model="beneficiary.reasonofMovingOutState" data-placeholder="{{memberLang.reasonformoving}}" style="width:91%;" ng-disabled="disablerReasonOfMoveOS">
                                                <option value=""></option>
                                            <option data-ng-repeat="reasonofmove in reasonofmoveouts" ng-if="UserLanguage==1" value="{{reasonofmove.id}}">{{ reasonofmove.name }}</option>
                                            <option data-ng-repeat="reasonofmove in reasonofmoveouts" ng-if="UserLanguage!=1" value="{{reasonofmove.parentId}}">{{ reasonofmove.name }}</option>
                                                <!--<option data-ng-repeat="reasonofmove in reasonofmoveouts" value="{{reasonofmove.id}}">{{ reasonofmove.name }}</option>-->
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row padding">
                        <div class="col-lg-3 col-md-4">
                            <div class="form-group">
                                <label for="email" class="select-label">{{memberLang.nativestate}}</label>
                                <div class="">
                                    <input type="text" class="form-control" placeholder="{{nativeState}}" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4col-lg-3 col-md-4">
                            <div class="form-group">
                                <label for="im-provider" class="select-label">{{memberLang.nativedist}}</label>
                                <div class="">
                                    <input type="text" class="form-control" placeholder="{{nativeDistrict}}" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4col-lg-3 col-md-4">
                            <div class="form-group">
                                <label for="mobile" class="select-label">{{memberLang.regularpartner}}</label>
                                <div class="">
                                    <input type="text" class="form-control" placeholder="{{regularpatrnerDisaply}}" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4col-lg-3 col-md-4">
                            <div class="form-group">
                                <label for="im-provider" class="select-label">{{memberLang.noofyrssexwrk}}</label>
                                <div class="">
                                    <input type="text" class="form-control" placeholder="{{beneficiary.noofSexYear}}" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---------------Family Member --------------------------------------------->
                    <!--  <div ng-hide="Hideprintfamiliymember">
                                <div style="width:100%;height:auto;padding:5px 5px;background:#f4f4f4"> <span style="font-weight:bold">{{memberLang.familiymember | uppercase}}FAMILY PROFILE</span> </div>
                                <br>
                                <div>
                                    <table class="table ">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>{{memberLang.gender}}</th>
                                                <th>{{memberLang.age}}</th>
                                                <th>{{memberLang.dob}}</th>
                                            
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in familymembers | filter: { 'deleteflag': false }">
                                                <div class="form-group">
                                                    <td> <strong class="text-cente col-sm-2">{{$index+1}}</strong>
                                                    </td>
                                                    <td>
                                                        <select ui-select2="" id="fw" ng-model="item.gender" data-placeholder="{{memberLang.gender}}" style="width:100%" ng-click="CheckGender(this,$index, item.age)" disabled>
                                                            <option value=""></option>
                                                            <option data-ng-repeat="gender in genderdisplays" ng-if="UserLanguage==1" value="{{gender.id}}">{{ gender.name }}</option>
                                                            <option data-ng-repeat="gender in genderdisplays" ng-if="UserLanguage!=1" value="{{gender.parentId}}">{{ gender.name }}</option>
                                                            
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" style="height:28px;" ng-model="item.age" ng-change="ChilredAge(this, $index)" disabled> </td>
                                                    <td>
                                                        <p class="input-group" style="width: 100%">
                                                            <input type="text" id="{{'familydobopened' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="item.dob" is-open="familydobopened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" max-date="dtmax" ng-change="ChilredDOB(this, $index)" disabled> <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="openfamilydob($event,this, $index)" disabled><i class="glyphicon glyphicon-calendar"></i></button>
                                                                    </span> </p>
                                                    </td>
                                                    
                                                </div>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>--->
                    <div class="row">

                        <!--
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="mobile" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{memberLang.vocation}} </label>
                                        <div class="col-sm-6"> {{vocationpatrnerDisaply}} </div>
                                    </div>
                                </div>
                -->

                    </div>

                    <!--
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="mobile" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{memberLang.noofyrssexwrk}} </label>
                                        <div class="col-sm-6"> {{beneficiary.noofSexYear}} </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                </div>
                            </div>
                -->

                </form>
            </div>
        </div>
        <div class="modal-footer">
            <div align="right">
                <a data-ng-click="CLOSEBUTTON()" data-dismiss="modal" class="btn btn-danger btn-sm custom-blue-light-button" role="button" style="padding:5px 20px;margin-right:10px;">{{memberLang.cancel}} </a>

                <a data-ng-click="OKBUTTON()" class="btn btn-info btn-sm" role="button" style="padding:5px 20px;margin-right:30px;" ng-disabled="createClicked">{{memberLang.ok}}</a>&nbsp;
            </div>
        </div>
    </div>

    <style>
        div.scroll {
            width: 100%;
            height: 100px;
            overflow: scroll;
        }

        .toggle.android {
            border-radius: 0px;
        }

        .toggle.android .toggle-handle {
            border-radius: 0px;
        }

        #mapCanvas {
            width: 500px;
            height: 400px;
            float: left;
        }

        #infoPanel {
            margin-left: 100px;
        }

        #infoPanel div {
            margin-bottom: 5px;
        }

    </style>
</benefmodal1>
<!--title1="Alert"-->
<validationmodal title1="Alert" visible="showValidation"> {{validatestring1}} </validationmodal>
<script>
    $('#toggle4').click(function() {
        $('.toggle4').slideToggle();
        $(this).find('i').toggleClass('fa-arrow-circle-down fa-arrow-circle-up')
        return false;
    });

</script>
<script>
    $('#toggle5').click(function() {
        $('.toggle5').slideToggle();
        $(this).find('i').toggleClass('fa-arrow-circle-down fa-arrow-circle-up')
        return false;
    });

</script>
<!--</div>-->
<script type="text/ng-template" id="template/AlertModal.html" ng-show="$first">
    <div class="modal-header">
        <h4 class="modal-title">Alert</h4>
    </div>
    <div class="modal-body"> {{AlertMessage}} </div>
    <div class="modal-footer">
        <div align="left">
            <button type="button" class="btn btn-success btn-sm " ng-click="okAlert()">Ok</button>
        </div>
    </div>
</script>


<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>
