<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-color:rgb(83, 12, 44);">
    <div class="box-header with-border">
        <h3 class="box-title">Member List</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <br/>

        <div data-ng-hide="hideSearchFilter()">

            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6" style="padding-top:5px;">
                    <span>Show</span>
                    <select ng-model="pageSize" data-placeholder="Show Entries">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                    </select>
                    <span>Entries</span>
                </div>
                <div class="col-sm-6">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            <form role="form">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for..." style="z-index:0; border-top-left-radius: 15px;border-bottom-left-radius: 15px;" data-ng-model="searchPart">
                                    <span class="input-group-btn">
                         <button class="btn btn-default" type="button" style="border-top-right-radius: 15px;border-bottom-right-radius: 15px;"><span class="glyphicon glyphicon-search"></span>
                                    </button>
                                    </span>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br />


        <div data-ng-hide="showForm()">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Beneficiary Name</th>
                        <th>Beneficiary Code</th>
                        <th>Beneficiary Email</th>
                        <th>Action</th>
                        <!--<th></th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="partner in partners| filter:searchPart |itemsPerPage:pageSize">
                        <td>{{ $index + 1 }}</td>
                        <td>{{ partner.firstName }}</td>
                        <td>{{ partner.partnerCode }}</td>
                        <td>{{ partner.email }}</td>
                        <td>
                            <a data-ng-href="/members/{{partner.id}}"><span class="glyphicon glyphicon-edit" style="color: black;"></span></a>&nbsp;
                            <a data-ng-href="/members" data-ng-click="Delete(partner.id)"><span class="glyphicon glyphicon-trash" style="color: red;" title="Bin"></span></a>&nbsp;

                        </td>
                    </tr>
                </tbody>
            </table>
            <div align="right">
                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
                </dir-pagination-controls>
            </div>
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->


<!--<div style="width:100%; height:auto; min-height:500px;background: #FFFFF0;  border: 1px solid #E6E6E6; margin: 5px auto; padding:5px;">
    <div class="row">
        <div class="col-sm-5">

            <h4 style="font-family: Arial; font-weight: bold; font-size: 19px;">Beneficiary List</h4>
        </div>
    </div>
    <br />

    <div data-ng-hide="hideSearchFilter()">
        <form role="form">
            <div class="row">
                <div class="col-lg-offset-8 col-lg-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." style="z-index:0; border-top-left-radius: 15px;border-bottom-left-radius: 15px;" data-ng-model="searchPart">
                        <span class="input-group-btn">
                         <button class="btn btn-default" type="button" style="border-top-right-radius: 15px;border-bottom-right-radius: 15px;"><span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                </div>
            </div>
            <br/>
        </form>
    </div>



    <!--  <div class="row form-horizontal">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="zone" class="col-sm-6 control-label" style="margin-top:-7px;">State:</label>
                <div class="col-sm-6">
                    <select ui-select2 id="zone" ng-model="zoneId" data-placeholder="Pick a State Area" style="width:180px;">
                        <option value=""></option>
                        <option data-ng-repeat="zone  in zones" value="{{zone.id}}">{{ zone.name }}</option>
                    </select>

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="zone" class="col-sm-6 control-label" style="margin-top:-7px;">District:</label>
                <div class="col-sm-6">
                    <select ui-select2 id="salesAreaId" ng-model="salesAreaId" data-placeholder="Pick a District Area" style="width:180px;">
                        <option value=""></option>
                        <option data-ng-repeat="salesArea in salesAreas" value="{{salesArea.id}}">{{ salesArea.name }}</option>
                    </select>
                </div>
            </div>
        </div>
        
         <div class="col-sm-4">
            <div class="form-group">
                <label for="distributionarea" class="col-sm-6 control-label">CO Org:</label>
                <div class="col-sm-6">
                    <select ui-select2 id="firstName" ng-model="partnerId" data-placeholder="Pick a CO" style="width:180px;" style="width:180px;">
                        <option value=""></option>
                        <option data-ng-repeat="partner in filterpartners" value="{{partner.id}}">{{ partner.firstName}}</option>
                    </select>
                </div>
            </div>
          
        </div>
    </div>-->




<!--    <table class="table table-bordered table-striped" data-ng-hide="showForm()">
        <thead>
            <tr>
                <th>#</th>
                <th>Beneficiary Name</th>
                <th>Beneficiary Code</th>
                <th>Beneficiary Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="partner in partners| filter:searchPart |itemsPerPage:5">
                <td>{{ $index + 1 }}</td>
                <td>{{ partner.firstName }}</td>
                <td>{{ partner.partnerCode }}</td>
                <td>{{ partner.email }}</td>
                <td>
                    <a data-ng-href="/members/{{partner.id}}"><span class="glyphicon glyphicon-edit" style="color: black;"></span></a>&nbsp;
                    <a data-ng-href="/members" data-ng-click="Delete(partner.id)"><span class="glyphicon glyphicon-trash" style="color: red;" title="Bin"></span></a>&nbsp;

                </td>
            </tr>
        </tbody>
    </table>
    <div align="right">
        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
        </dir-pagination-controls>
    </div>
</div>-->