<style>
    .tht:hover {
        color: blue;
    }
 .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }
    #wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #e6e6e6;
}
</style>

<style>
    th {
        cursor: pointer;
    }
    
    {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

</style>

<!---<script type="text/javascript">
    var sortingOrder = 'firstname';

</script> -->
<!-- Horizontal Form -->
<div class="box box-info custom-main-box" style="min-height:450px;border-top:none;" >
<!--    data-ng-init="toggleLoading()"-->
    <div class="box-header with-border custom-main-header">
        <h3 class="box-title">{{orwlanguages.fieldworkerlistorw}}</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body custom-main-body">
        <div data-ng-hide="hideSearchFilter()">
            <div class="content-custom-sub-header">
                <div class="row">
                    <div class="col-sm-5">
                        
                    </div>
                    <div class="col-sm-7">
                        <div class="row">
                            <div class="col-md-1 col-lg-1"></div>
                            <div class="col-xs-12 col-sm-5 col-md-3 col-lg-2">
                                <div data-ng-hide="hideSearchFilter()">
                                    <div class="form-group">
                                        <label for="" class="select-label">{{orwlanguages.show}} &nbsp;</label>
                                        <div class="sell">
                                            <select class="form-control select-custom" ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-7 col-md-5 col-lg-5">
                                <div class="form-group" data-ng-hide="hideSearchFilter()">
                                    <label>&nbsp;</label>
                                    <div class="input-group search-bar">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" style="border-color:#d5d7df;"><span class="glyphicon glyphicon-search"></span></button>
                                        </span>
                                        <input type="text" class="form-control ng-pristine ng-valid" placeholder="{{orwlanguages.search}}" data-ng-model="searchPart" style="border-color:#d5d7df;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <a data-ng-href="/fieldworker/create" class="btn btn-primary btn-sm form-control custom-red-button " role="button">{{orwlanguages.addNew}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--        -->
<!--
        <div align="left">
            <a data-ng-href="/fieldworkers/create" class="btn btn-primary btn-sm btn-flat" role="button">{{addnew}}</a>
        </div>
        <br/>

        <div data-ng-hide="hideSearchFilter()">
            <br/>

            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6" style="padding-top:5px;">
                    <span>{{show}}</span>
                    <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span>{{entry}}</span>
                </div>
                <div class="col-sm-6">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            <form role="form">
                                <div class="input-group">
                                    <input type="text" id="Search" class="form-control" placeholder="Search" style="z-index:0;border-radius:20px;width:140%;" data-ng-model="searchPart">
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>
-->

        <div class="content-custom-sub-body">
        <div data-ng-hide="showForm()" class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th style="padding-left:18px;">S NO.</th>
                        <!--                        <th >{{username | uppercase}}</th>
                        <th class="tht"  ng-click="UserNameFilter()" style="cursor:pointer;"><span style="color:{{backgroundCol2}};">{{username | uppercase}}</span></th>
                        
                        <th class="tht"  ng-click="FirstNameFilter()" style="cursor:pointer;"><span style="color:{{backgroundCol1}};">{{fullname | uppercase}}</span></th> -->

                        <!--
                        <th  ng-click="UserNameFilter()" style="cursor:pointer;" class="firstname"><span style="color:{{backgroundCol2}};">{{username | uppercase}}</span>&nbsp;
                            <a ng-click="sort_by('firstname')"><i class="icon-sort"></i></a>
                        </th>


                        <th  ng-click="FirstNameFilter()" style="cursor:pointer;" class="lastname"><span style="color:{{backgroundCol1}};">{{fullname | uppercase}}</span>&nbsp;
                            <a ng-click="sort_by('lastname')"><i class="icon-sort"></i></a>
                        </th>
                        -->

                         <th title="{{orwlanguages.username}}" ng-click="changeSorting('firstname')">{{orwlanguages.username | uppercase}}&nbsp;<i class="fa fa-sort" ng-class="getIcon('firstname')"></i></th>
                        <th title="{{orwlanguages.fullname}}" ng-click="changeSorting('lastname')">{{orwlanguages.fullname | uppercase}}&nbsp;<i class="fa fa-sort" ng-class="getIconOne('lastname')"></i></th>
                        <th title="{{orwlanguages.printmobile}}" ng-click="changeSorting('mobile')">{{orwlanguages.printmobile | uppercase}}&nbsp;<i class="fa fa-sort" ng-class="getIconOne('mobile')"></i></th>
                        <th title="{{orwlanguages.fieldworkeremail}}" ng-click="changeSorting('email')">{{orwlanguages.fieldworkeremail | uppercase}}&nbsp;<i class="fa fa-sort" ng-class="getIconOne('email')"></i></th>
                        <th title="{{orwlanguages.assignedsites}}" ng-click="changeSorting('name')">{{orwlanguages.assignedsites | uppercase}}&nbsp;<i class="fa fa-sort" ng-class="getIconOne('name')"></i></th>
                        <th>{{orwlanguages.action | uppercase}}&nbsp;</th>
                    </tr>
                </thead>
                <tbody id="bnbody">
                    <!--<tr dir-paginate="partner in partners| filter:searchPart |itemsPerPage:pageSize" current-page="currentpage"> orderBy:sortingOrder:reverse  -->
                    <tr dir-paginate="partner in TotalFWData  = ( partners | filter:searchPart ) |  itemsPerPage:pageSize" current-page="currentPage">
                        <td style="padding-left:18px;">{{ partner.index }}</td>
                        <td data-ng-init="useremp = getUser(partner.id)">{{ partner.firstname }}
                            <br>Get Data: {{useremp.syncintime|date:'dd-MMM-yyyy/hh:mm:ss a'}}
                            <br>Push Data: {{useremp.syncouttime|date:'dd-MMM-yyyy/hh:mm:ss a'}}</td>
                        <td>{{ partner.lastname }}</td>
                        <td>{{ partner.mobile }}</td>
                        <td>{{ partner.email }}</td>
                        <td data-ng-init="sites = getassignedSites(partner.sitesassigned)" ng-if="partner.sitesassigned.length>0">
                            <p ng-repeat="site in sites">{{ site.id }}-{{ site.name }}</p>
                        </td>
                        <td ng-if="partner.sitesassigned==null"></td>
                        <td>
                            <a data-ng-href="/fieldworker/{{partner.id}}" title="Edit">
<!--                                <span class="glyphicon glyphicon-pencil" ></span>-->
                            <img src="images/piclinks/edit.png" title="Edit" width="16px;">
                            </a>&nbsp;&nbsp;
                           
<!--                            <a style="color:#b7b8c8;">|</a>&nbsp;&nbsp;-->
                            <a data-ng-href="/syncoutdata/{{partner.id}}" title="View">
<!--                                <span class="glyphicon glyphicon-eye-open" ></span>-->
                            <img src="images/piclinks/view-icon.png" title="View" style="width:16px;height:16px;">
                            </a>&nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
            <div align="right" class="custom-pagination">
                <!-- max-size="5"-->
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                </dir-pagination-controls>
            </div>
        </div>
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->
