<style>
	/**	.nav-tabs-custom > .nav-tabs > li.active {
		border-top-color: #b71c1c;
	}
    **/
.stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }
    #wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #e6e6e6;
}
</style>

<!-- Horizontal Form -->
<div class="box box-info custom-main-box with-background" style="min-height:450px;border-top:none;"  data-ng-init="toggleLoading()">
<!--    data-ng-init="toggleLoading()"-->
	<div class="box-header with-border custom-main-header" style="padding-left:22px;">
		<a href="/fieldworkers">
            <img src="images/piclinks/back.png" width="10px" height="16px" style="margin-bottom: 5px;" />&nbsp;</a><h3 class="box-title" style="font-weight:600;">{{TIHeading}}</h3>
	</div>

	<div class="box-body custom-main-body">
		<p align="center" style="font-weight:600;margin-top: 8px;color:#ec0b6d;">{{orwlanguages.mandatoryfield}}</p>
		
		<div class="nav-tabs-custom todo-nav-tabs">
			<ul class="nav nav-tabs">
				<li class="active" style="cursor:pointer;width:50%;"><a data-target="#tab_1" data-toggle="tab">{{orwlanguages.divbasicinfo}}</a></li>
				<li style="cursor:pointer;width:50%;"><a data-target="#tab_2" data-toggle="tab">{{orwlanguages.divuserinfo}}</a></li>
				<!--ng-hide="tabtwohide"-->
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab_1">
					<br>
					<br>
					<form role="form">
						<div class="row">
							<div class="col-lg-3 col-md-4">
								<div class="form-group">
									<label for="first-name" class="select-label">{{orwlanguages.username}}</label>
									<input type="text" class="form-control custom-form-control" id="firstname" data-ng-model="fieldworker.firstname" placeholder="{{orwlanguages.username}}" disabled>
								</div>
							</div>
							<div class="col-lg-3 col-md-4">
								<div class="form-group">
									<label for="last-name" class="select-label">{{orwlanguages.fullname}}<sup>*</sup>
									</label>
									<input type="text" class="form-control custom-form-control" id="lastname" data-ng-model="fieldworker.lastname" placeholder="{{orwlanguages.fullname}}">
								</div>
							</div>
							<div class="col-lg-3 col-md-4">
								<div class="form-group">
									<label for="code" class="select-label">{{orwlanguages.printfwcode}}
									</label>
									<input type="text" class="form-control custom-form-control" id="fwcode" data-ng-model="fieldworker.fwcode" placeholder="{{orwlanguages.fwcode}}" readonly>
								</div>
							</div>
							<div class="col-lg-3 col-md-4">
								<div class="form-group">
									<label for="im-provider" class="select-label">{{orwlanguages.state}}
									</label>
									<input type="text" class="form-control custom-form-control" id="state" data-ng-model="zoneName" placeholder="{{orwlanguages.state}}" readonly>
								</div>
							</div>
							<div class="col-lg-3 col-md-4">
								<div class="form-group">
									<label for="im-provider" class="select-label">{{orwlanguages.district}}
									</label>
									<input type="text" class="form-control custom-form-control" id="district" data-ng-model="salesareaName" placeholder="{{orwlanguages.district}}" readonly>
								</div>
							</div>
							<div class="col-lg-3 col-md-4">
								<div class="form-group">
									<label for="partner-manager" class="select-label">{{orwlanguages.comanagerhdf}}
									</label>
									<input type="text" class="form-control custom-form-control" id="first-name" data-ng-model="coorgName" placeholder="{{orwlanguages.facility}}" readonly>
								</div>
							</div>
							<div class="col-lg-3 col-md-4">
								<div class="form-group">
									<label for="email" class="select-label">{{orwlanguages.email }} <sup>*</sup></label>
									<input type="email" class="form-control custom-form-control" id="email" data-ng-model="fieldworker.email" placeholder="{{orwlanguages.email}}" ng-disabled="disablemail">
								</div>
							</div>
							<div class="col-lg-3 col-md-4">
								<div class="form-group">
									<label for="mobile" class="select-label">{{orwlanguages.printmobile}}<sup>*</sup></label>
									<input type="tel" class="form-control custom-form-control" id="mobile" data-ng-model="fieldworker.mobile" placeholder="{{orwlanguages.mobile}}" maxlength="10" numbers-only>
								</div>
							</div>
							<div class="col-lg-3 col-md-4">
								<div class="form-group">
									<label for="address" class="select-label">{{orwlanguages.address}}</label>
									<textarea class="form-control custom-form-control" id="address" data-ng-model="fieldworker.address" placeholder="{{orwlanguages.address}}" rows="4"></textarea>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<!--
								<div class="form-group">
									<label for="helplineno" class="col-sm-4" style="font-weight:600;margin-top:8px;">{{orwlanguages.lat}}</label>
									<div class="col-sm-6">
										<div class="input-group">
											<input type="text" class="form-control" id="latitude" data-ng-model="fieldworker.latitude" placeholder="{{orwlanguages.lat}}"><span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-Click="toggleMapModal()" autocomplete="off"><span class="glyphicon glyphicon-search"></span>
											</button>
											</span>
										</div>
									</div>
								</div>
								-->
								<div class="form-group">
									
									<div class="row">
										<div class="col-sm-6">
                                            <label for="typology" class="select-label">{{orwlanguages.lat}}<sup>*</sup></label>
											<input type="text" class="form-control custom-form-control" id="latitude" data-ng-model="fieldworker.latitude" placeholder="{{orwlanguages.lat}}" onkeypress="return(event.charCode > 47 && event.charCode < 58) || event.charCode == 46">

										</div>
										<!--<p1> </p1>-->
										<div class="col-sm-6">
                                            <label for="typology" class="select-label">{{orwlanguages.long}}<sup>*</sup></label>
											<input type="text" class="form-control custom-form-control" id="longitude" data-ng-model="fieldworker.longitude" placeholder="Longitude" onkeypress="return(event.charCode > 47 && event.charCode < 58) || event.charCode == 46">
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-4">
								<div class="form-group">
									<label class="select-label">&nbsp;</label>
									<div style="font-size:22px;color:#f55c51;padding-left:0px;">
										<span class="glyphicon glyphicon-map-marker" aria-hidden="true" ng-click="LocateMe()" href=""></span>
									</div>
								</div>
							</div>
						</div>
						<br/>
						<br/>
						<br/>

						<div>
							<div align="right">
								<!--								-<a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView">Create </a>-->

<!--								<a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView" ng-disabled="createDisabled"  style="padding:5px 20px;">{{orwlanguages.update}} </a>&nbsp;-->


								<a data-ng-href="/fieldworkers" class="btn btn-danger btn-sm custom-blue-light-button" role="button"  style="padding:5px 20px;">{{orwlanguages.cancel}}</a>
							</div>
						</div>
					</form>
				</div>
				<!-- /.tab-pane -->
				<div class="tab-pane" id="tab_2">
					<br>
					<br>
					<form role="form">

						<div class="row">
							<div class="col-lg-3 col-md-4">
								<div class="form-group">
									<label for="first-name" class="select-label">{{orwlanguages.username}}
									</label>
									<input type="text" class="form-control custom-form-control" id="username" data-ng-model="fieldworker.firstname" placeholder="{{orwlanguages.username}}" readonly>
								</div>
							</div>
							<div class="col-lg-3 col-md-4">
								<div class="form-group">
									<label for="last-name" class="select-label">{{orwlanguages.password}}<sup>*</sup>
									</label>
									<input type="password" class="form-control custom-form-control" id="password" data-ng-model="user.password" placeholder="{{orwlanguages.password}}">
								</div>
							</div>
							<div class="col-lg-3 col-md-4">
								<div class="form-group">
									<label for="distributionRouteId" class="select-label">{{orwlanguages.langslabel}} </label>
									<select ui-select2 ng-model="fieldworker.language" data-placeholder="{{orwlanguages.langslabel}}" style="width:100%;">
										<option value=""></option>
										<option data-ng-repeat="language in languages" value="{{language.id}}">{{ language.name }}</option>
									</select>
								</div>
							</div>
						</div>

						<br/>
						<br/>
						<br/>

						<div>
							<div align="right">
							<a data-ng-href="/fieldworkers" class="btn btn-danger btn-sm custom-blue-light-button" role="button"  style="padding:5px 20px;margin-right:10px;">{{orwlanguages.cancel}}</a>
                                
							<a class="btn btn-info btn-sm" type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView" ng-disabled="createDisabled"  style="padding:5px 20px;margin-right:30px;">{{orwlanguages.saveLabel}} </a>&nbsp;

							<a class="btn btn-info btn-sm" type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView" ng-disabled="createDisabled"  style="padding:5px 20px;margin-right:30px;">{{orwlanguages.update}} </a>&nbsp;


							</div>
						</div>

					</form>
				</div>
				<!-- /.tab-pane -->
			</div>
			<!-- /.tab-content -->
		</div>

	</div>
	<!-- /.box-body -->
	<div class="box-footer">

	</div>
	<!-- /.box-footer -->
</div>
<!-- /.box -->

<mapmodal visible="mapdataModal">
	<div class="custom-modal">
		<div class="modal-header">
			<h4 class="modal-title">Select Location</h4>
		</div>
		<div class="modal-body" style="padding:15px;">
			<div id="savemodals">
				<form role="form">
					<div class="row">
						<div class="col-sm-8">
							<div id='mapCanvas' style="display:block;height:850px:width:550px;">
							</div>
						</div>
						<div class="col-sm-4">
							<div id="infoPanel">
								<b style="color:blue;">Marker Status:</b>
								<div id="markerStatus"><i>Closest matching address</i>
								</div>
								<b style="color:blue;">Current Position</b>
								<div id="info"></div>
								<b style="color:blue;">Click and drag the marker.</b>
								<div id="mapaddress"></div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="modal-footer">
			<div align="right">
				<a data-ng-click="CLOSEBUTTON()" data-dismiss="modal" class="btn btn-default btn-sm custom-blue-light-button" role="button">Cancel </a>
				<a data-ng-click="CLOSEBUTTON()" data-dismiss="modal" class="btn btn-primary btn-sm custom-pink-button" role="button">Ok</a>&nbsp;			
			</div>
		</div>
	</div>

    <style>
        div.scroll {
            width: 100%;
            height: 100px;
            overflow: scroll;
        }

        .toggle.android {
            border-radius: 0px;
        }

        .toggle.android .toggle-handle {
            border-radius: 0px;
        }

        #mapCanvas {
            width: 800px;
            height: 500px;
            float: center;
        }

        #infoPanel {
            margin-left: 100px;
        }

        #infoPanel div {
            margin-bottom: 5px;
        }

    </style>
</mapmodal>




<!--<benefmodal1 title1="{{modalTitle12}}" visible="dataModal"  >-->
<benefmodal1 title1="" visible="dataModal" >
	<div class="custom-modal">
		<div class="modal-header">
			<h4 class="modal-title" style="padding-left:10px;"><img src="images/piclinks/save.png" width="16px" height="16px" style="margin-bottom:2px;">&nbsp;&nbsp;{{orwlanguages.createdetails}}</h4>
		</div>
        <br/>
		<div class="modal-body" >
			<div id="savemodals">
				<form role="form">
					<div class="row padding">
						<div class="col-md-3">
							<div class="form-group">
								<label for="first-name" class="select-label">{{orwlanguages.username}}
								</label>
								<div class="">
                                    <input type="text" class="form-control" placeholder="{{fieldworker.firstname}}" readonly>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="last-name" class="select-label">{{orwlanguages.fullname}}
								</label>
								<div class="">
                                     <input type="text" class="form-control" placeholder="{{fieldworker.lastname}}" readonly>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="code" class="select-label">{{orwlanguages.fwcode}}
								</label>
								<div class="">
                                    <input type="text" class="form-control" placeholder="{{fieldworker.fwcode}}" readonly>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="last-name" class="select-label">{{orwlanguages.langslabel}}
								</label>
								<div class="">
                                     <input type="text" class="form-control" placeholder="{{languageName}}" readonly>
								</div>
							</div>
						</div>
                    </div>
                    <div class="row padding">
						<div class="col-md-3">
							<div class="form-group">
								<label for="im-provider" class="select-label">{{orwlanguages.state}}
								</label>
								<div class="">
                                    <input type="text" class="form-control" placeholder="{{zoneName}}" readonly>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="im-provider" class="select-label">{{orwlanguages.district}}
								</label>
								<div class="">
                                    <input type="text" class="form-control" placeholder="{{salesareaName}}" readonly>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="partner-manager" class="select-label">{{orwlanguages.comanagerhdf}}
								</label>
								<div class="">
                                    <input type="text" class="form-control" placeholder="{{coorgName}}" readonly>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							{{fieldworker.site}}
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="email" class="select-label">{{orwlanguages.email}}</label>
								<div class="">
                                    <input type="text" class="form-control" placeholder="{{fieldworker.email}}" readonly>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="mobile" class="select-label">{{orwlanguages.mobile}}
								</label>
								<div class="">
                                    <input type="text" class="form-control" placeholder="{{fieldworker.mobile}}" readonly>
							</div>
						</div>
                        </div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="address" class="select-label">{{orwlanguages.address}}</label>
								<div class="">
                                    <input type="text" class="form-control" placeholder="{{fieldworker.address}}" readonly>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="helplineno" class="select-label">{{orwlanguages.lat}}/{{orwlanguages.long}}</label>
								<div class="">
                                    <input type="text" class="form-control" placeholder="{{fieldworker.latitude}} / {{fieldworker.longitude}}" readonly>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="modal-footer">
			<div class="pull-right">
				<a  data-ng-click="cancelSave()" class="btn btn-danger" role="button" style="padding:5px 20px;margin-right:10px;">{{orwlanguages.cancel}}</a>

				<a data-ng-click="OK()" class="btn btn-info btn-sm" role="button" ng-disabled="disaveSaved" style="padding:5px 20px;margin-right:30px;">{{orwlanguages.ok}}</a>&nbsp;&nbsp;
			</div>
		</div>
	</div>

	<style>
		.toggle.android {
			border-radius: 0px;
		}
		
		.toggle.android .toggle-handle {
			border-radius: 0px;
		}
		
		#mapCanvas {
			width: 500px;
			height: 400px;
			float: left;
		}
		
		#infoPanel {
			margin-left: 100px;
		}
		
		#infoPanel div {
			margin-bottom: 5px;
		}

	</style>

</benefmodal1>

<validationmodal title1="Alert" visible="showValidation">
	{{validatestring1}}
</validationmodal>

<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>