<style>
    /*
	.stylelink {
		padding: 3px 10px;
		background: transparent;
		color: #333;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	
	.stylelink.active {
		padding: 3px 10px;
		background: #b71c1c;
		color: #fff;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	*/
    
   .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }
   
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
         border-bottom: 1px solid #e6e6e6;
        /*		background-color: #fff;*/
    }
    
/*
    #wrapper div {
        display: table-cell;
        height: auto;
    }
*/
    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
        }
        .stylelink.active {
            font-size: 12px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
    }
    
    label {
        font-weight: 600;
    }
    
    strong {
        font-weight: 600;
    }
</style>
<!--<div style="width:100%;height:auto;background:#e85a5a;">
	<div id="wrapper">
		<div style="text-align:center;">
			<a class="stylelink active" href="/employees"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FACILITY</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/mentor"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">OTHER ROLES</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/roles"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">ROLES</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/users"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">USERS</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/mentorassign"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FACILITY ASSIGN</span></a>
		</div>
	</div>

</div>-->
<!-- Horizontal Form -->
<div class="box box-info custom-main-box with-background" style="min-height:450px;border-TOP:none;">
    <div class="box-header with-border custom-main-header" style="padding:20px 10px;">
        <a href="#">
            <img src="images/piclinks/back.png" width="10px" height="16px" style="margin-bottom: 5px;" />
            &nbsp;</a><h3 class="box-title">{{TILanguage.facilityprofile}}</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    
    
   <!----- <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active" style="cursor:pointer;"><a data-target="#tab_1" data-toggle="tab">{{BASIC}}</a></li>
            <li style="cursor:pointer;"><a data-target="#tab_2" data-toggle="tab">{{NON_STATUTORY}}</a></li>
            <li style="cursor:pointer;"><a data-target="#tab_3" data-toggle="tab">{{STATUTORY}}</a></li>
            
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <div class="box-body">
                    <br />
                    <form class="form-horizontal" role="form">
                        <div class="row" style="margin:0;padding:0;">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="sales-code" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red">{{facilitycode}} </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="salesCode" data-ng-model="employee.salesCode" placeholder="Facility Code" ng-disabled="fwcodedisable" style="width:240px;"> </div>
                                </div>
                                <div class="form-group">
                                    <label for="first-name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red">{{firstname}} </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="firstName" data-ng-model="employee.firstName" placeholder="First Name" style="width:240px;"> </div>
                                </div>
                                <div class="form-group">
                                    <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:7px;">{{lastname}}</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="last-name" data-ng-model="employee.lastName" placeholder="Last Name" style="width:240px;"> </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-sm-4" style="font-weight:600;margin-top:7px;">{{pemail}}</label>
                                    <div class="col-sm-6">
                                        <input type="email" class="form-control" id="email" data-ng-model="employee.email" placeholder="Email" style="width:240px;"> </div>
                                </div>
                                <div class="form-group">
                                    <label for="city" class="col-sm-4" style="font-size:12px;color:red">{{pstate}} </label>
                                    <div class="col-sm-6">
                                        <select ui-select2 id="stateId" ng-model="employee.stateId" data-placeholder="Pick a State" style="width:240px;" ng-disabled="fwstatedisable">
                                            <option value=""></option>
                                            <option data-ng-repeat="state in states" value="{{state.id}}">{{ state.name }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="address" class="col-sm-4" style="font-weight:600;margin-top:7px;">{{paddress}}</label>
                                    <div class="col-sm-6">
                                        <textarea class="form-control" id="address" data-ng-model="employee.address" placeholder="Address" rows="3" style="width:240px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="zip" class="col-sm-4" style="font-weight:600;margin-top:7px;">{{ppincode}}</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="zip" data-ng-model="employee.zip" placeholder="Pin code" maxlength="6" style="width:240px;"> </div>
                                </div>
                                <div class="form-group">
                                    <label for="mobile" class="col-sm-4" style="font-weight:600;margin-top:7px;">{{pmobile}} </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="mobile" data-ng-model="employee.mobile" placeholder="Mobile number" maxlength="10" style="width:240px;"> </div>
                                </div>
                                <div class="form-group">
                                    <label for="city" class="col-sm-4" style="font-size:12px;color:red">{{pdistrict}} </label>
                                    <div class="col-sm-6">
                                        <select ui-select2 id="district" ng-model="employee.district" data-placeholder="Pick a District" style="width:240px;">
                                            <option value=""></option>
                                            <option data-ng-repeat="district in districts" value="{{district.id}}">{{ district.name }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <br/>
                        <div align="left">
                            <div>
                               <a data-ng-href="/" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">{{cancel}}</a> </div>
                        </div>
                    </form>
                </div>
                <br/> </div>
            <div class="tab-pane" id="tab_2">
                <div class="box-body">
                    <br />
                    <form class="form-horizontal" role="form">
                        <div class="row" style="margin:0;padding:0;">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="city" class="col-sm-4" style="color:red">{{Facility_Type}}</label>
                                    <div class="col-sm-6">
                                        <select ui-select2 id="facilitytype" ng-model="employee.facilitytype" data-placeholder="{{Facility_Type}}" style="width:240px;">
                                            <option value=""></option>
                                            <option data-ng-repeat="fs in facilitytypes" value="{{fs.id}}">{{ fs.name }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="city" class="col-sm-4" style="color:red">{{AreaofOperation}} </label>
                                    <div class="col-sm-6">
                                        <select ui-select2 id="areaofoperation" ng-model="employee.areaofoperation" data-placeholder="{{AreaofOperation}}" style="width:240px;">
                                            <option value=""></option>
                                            <option data-ng-repeat="area in areaofoperations" value="{{area.id}}">{{ area.name }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin:0;padding:0;">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{Typology}} </label>
                                    <div class="col-sm-6">
                                        <select ui-select2 id="typolog" ng-model="employee.typolog" data-placeholder="{{Typology}}" style="width:240px;" multiple>
                                            
                                            <option data-ng-repeat="typology in typologies" value="{{typology.id}}">{{ typology.name }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="city" class="col-sm-4">{{insurancecompany}} </label>
                                    <div class="col-sm-6">
                                        <select ui-select2 id="coempanelled" ng-model="employee.coempanelled" data-placeholder="{{insurancecompany}}" style="width:240px;">
                                            <option value=""></option>
                                            <option value="yes">YES</option>
                                            <option value="no">NO</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin:0;padding:0;">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="champion" class="col-sm-4" style="margin-top:4px;color:red;">{{nooftowncover}} </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="nooftowncover" data-ng-model="employee.nooftowncover" placeholder="{{nooftowncover}}" style="width:240px;"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{noofblockcovered}} </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="noofmandal" data-ng-model="employee.noofmandal" placeholder="{{noofblockcovered}}" style="width:240px;"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin:0;padding:0;">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="city" class="col-sm-4">{{corepresentationinhiv}} </label>
                                    <div class="col-sm-6">
                                        <select ui-select2 id="representationinhiv" ng-model="employee.representationinhiv" data-placeholder="{{corepresentationinhiv}}" style="width:240px;">
                                            <option value=""></option>
                                            <option value="yes">YES</option>
                                            <option value="no">NO</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="city" class="col-sm-4">{{stateornationallevel}} </label>
                                    <div class="col-sm-6">
                                        <select ui-select2 id="coamember" ng-model="employee.coamember" data-placeholder="{{stateornationallevel}}" style="width:240px;">
                                            <option value=""></option>
                                            <option value="yes">YES</option>
                                            <option value="no">NO</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin:0;padding:0;">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="city" class="col-sm-4" style="color:red">{{Implements_TI}} </label>
                                    <div class="col-sm-6">
                                        <select ui-select2 id="implementsti" ng-model="employee.implementsti" data-placeholder="{{Implements_TI}}" style="width:240px;">
                                            <option value=""></option>
                                            <option value="yes">YES</option>
                                            <option value="no">NO</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="city" class="col-sm-4" style="color:red">{{noofincome}} </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="noofincome" data-ng-model="employee.noofincome" placeholder="{{noofincome}}" style="width:240px;"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin:0;padding:0;" ng-hide="HideNoOfTis">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{nooftiimplemented}} </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="nooftis" data-ng-model="employee.nooftis" placeholder="{{nooftiimplemented}}" ng-change="Rating(employee.nooftis)" style="width:240px;" ng-disabled="nooftis_disable"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <table class="table table-responsive ">
                                        <thead>
                                            <tr>
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in tifacilities">
                                                <div class="col-sm-4">
                                                    <td width="35%" style="padding-left:15px;font-weight:600;">{{tirating}} {{$index+1}} </td>
                                                </div>
                                                <div class="col-sm-6">
                                                    <td width="65%">
                                                        <div>
                                                            <select ui-select2="" id="rating" ng-model="item.rating" data-placeholder="{{tirating}} {{$index+1}}" style="width:240px;" ng-change="TIRATING(item.rating)">
                                                                <option value=""></option>
                                                                <option data-ng-repeat="rat in tiratings" value="{{rat.id}}">{{ rat.name }}</option>
                                                            </select> <a type="submit" class="btn btn-default " ng-click="addTIRating()" ng-show="$last"><span class="glyphicon glyphicon-plus-sign" style="color: black;cursor:pointer; font-size:16px;" title="Add"></span></a>
                                                           
                                                            <a type="submit" class="btn btn-default " ng-click="DeleteTI(item.id, $index, item.beneficiaryid)" ><span class="glyphicon glyphicon-remove" style="color: black;cursor:pointer; font-size:16px;" title="Delete"></span></a>

                                                        </div>
                                                    </td>
                                                </div>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin:0;padding:0;">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">{{noofnontiimplemented}} </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="noofnonti" data-ng-model="employee.noofnonti" placeholder="{{noofnontiimplemented}}" ng-change="ProjectImp(employee.noofnonti)" style="width:240px;" ng-disabled="noofnontis_disable"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <table class="table table-responsive ">
                                        <thead>
                                            <tr> </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="itemnonti in nontifacilities">
                                                <div class="col-sm-4">
                                                    <td style="width:35%;" style="padding-left:15px !important;font-weight:600 !important;">{{nameofprojects}} - {{$index+1}} </td>
                                                </div>
                                                <div class="col-sm-6">
                                                    <td style="width:65%;">
                                                       
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" id="noofmandal" data-ng-model="itemnonti.rating" placeholder="Name of the Projects Implemented by the CO" style="width:240px;">

                                                            
                                                            <a type="submit" class="btn btn-default btn-sm" ng-click="addNONTIRating()" ng-show="$last"><span class="glyphicon glyphicon-plus-sign" style="color: black;cursor:pointer; font-size:16px;" title="Add"></span></a>
                                                         
                                                             <a type="submit" class="btn btn-default btn-sm" ng-click="DeleteNonTI(itemnonti.id, $index, itemnonti.beneficiaryid)" ng-show="$last"><span class="glyphicon glyphicon-remove" style="color: black;cursor:pointer; font-size:16px;" title="Delete"></span></a>
                                                            


                                                        </div>
                                                    </td>
                                                </div>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <br/>
                        <div align="left">
                            <div> <a data-ng-href="/employees" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel</a> </div>
                        </div>
                    </form>
                </div>
                <br/> </div>
            <div class="tab-pane" id="tab_3">
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{Registration_Number}} </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="registrationno" data-ng-model="employee.registrationno" placeholder="{{Register_Number}}" style="width:240px;"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-6 control-label" style="font-weight:600;color:red">{{RegistrationRenewalDate}} </label>
                            <div class="col-sm-6">
                                <p class="input-group" style="width:240px;">
                                    <input type="text" id="{{'datepicker' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="employee.registrationdate" is-open="RegistrationRenewal.opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" min-date="dtmax" date-disabled="disabled(date, mode)" close-text="Close"> <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="RegistrationRenewal($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{pancardno}} </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="pancard" data-ng-model="employee.pancard" placeholder="PAN Card Number" style="width:240px;" maxlength="10"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="champion" class="col-sm-6" style="font-weight:600;margin-top:4px;">{{incometaxreturn}} </label>
                            <div class="col-sm-6">
                                <select ui-select2 id="incometaxreturn" ng-model="employee.incometaxreturn" data-placeholder="{{incometaxreturn}}" style="width:240px;">
                                    <option value=""></option>
                                    <option value="yes">YES</option>
                                    <option value="no">NO</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{astatus}} </label>
                            <div class="col-sm-6">
                                <select ui-select2 id="astatus" ng-model="employee.astatus" data-placeholder="{{astatus}}" style="width:240px;">
                                    <option value=""></option>
                                    <option data-ng-repeat="status in employeestatuses" value="{{status.id}}">{{ status.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-6 control-label" style="font-weight:600;color:red">{{Registration_Number}} </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="aregistrationno" data-ng-model="employee.aregistrationno" placeholder="{{Registration_Number}}" ng-disabled="aRegistration" style="width:240px;"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{gstatus}} </label>
                            <div class="col-sm-6">
                                <select ui-select2 id="gstatus" ng-model="employee.gstatus" data-placeholder="{{gstatus}}" style="width:240px;">
                                    <option value=""></option>
                                    <option data-ng-repeat="status in employeestatuses" value="{{status.id}}">{{ status.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-6 control-label" style="font-weight:600;color:red">{{Registration_Number}} </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="gregistrationno" data-ng-model="employee.gregistrationno" placeholder="Registration Number" ng-disabled="gRegistration" style="width:240px;"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{fcrastatus}} </label>
                            <div class="col-sm-6">
                                <select ui-select2 id="frcastatus" ng-model="employee.frcastatus" data-placeholder="{{fcrastatus}}
 " style="width:240px;">
                                    <option value=""></option>
                                    <option data-ng-repeat="status in employeestatuses" value="{{status.id}}">{{ status.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-6 control-label" style="font-weight:600;color:red">{{Registration_Number}} </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="frcaregistrationno" data-ng-model="employee.frcaregistrationno" placeholder="{{Registration_Number}}" ng-disabled="fRegistration" style="width:240px;"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4 control-label" style="font-weight:600;color:red">{{dateoflastagbm}} </label>
                            <div class="col-sm-6">
                                <p class="input-group" style="width:240px;">
                                    <input type="text" id="{{'datepicker' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="employee.dateoflastabgm" is-open="LastAGBM.opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" max-date="dtmax" date-disabled="disabled(date, mode)" close-text="Close"> <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="LastAGBM($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-6 control-label" style="font-weight:600;">{{fcrarenewaldate}} </label>
                            <div class="col-sm-6">
                                <p class="input-group" style="width:240px;">
                                    <input type="text" id="{{'datepicker' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="employee.registrationrenewaldate" is-open="RegistrationRenewal2.opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" min-date="dtmax" date-disabled="disabled(date, mode)" close-text="Close"> <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="RegistrationRenewal2($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div style="margin:0;padding:5px;border-bottom:1px solid #f4f4f4;">
                    <h4 style="margin:0;padding:0;font-weight: 600">Statutory Audit Completed for the past Financial Year	
					</h4> </div>
                <br>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{ExternalAuditCompleted}} </label>
                            <div class="col-sm-6">
                                <select ui-select2 id="externalaudit" ng-model="employee.externalaudit" data-placeholder="{{ExternalAuditCompleted}}" style="width:240px;">
                                    <option value=""></option>
                                    <option value="yes">YES</option>
                                    <option value="no">NO</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="champion" class="col-sm-6" style="font-weight:600;margin-top:4px;color:red;">{{AuditReportSubmitted}} </label>
                            <div class="col-sm-6">
                                <select ui-select2 id="auditreport" ng-model="employee.auditreport" data-placeholder="{{AuditReportSubmitted}}" style="width:240px;">
                                    <option value=""></option>
                                    <option value="yes">YES</option>
                                    <option value="no">NO</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{boardhasdiscuss}} </label>
                            <div class="col-sm-6">
                                <select ui-select2 id="actionplan" ng-model="employee.actionplan" data-placeholder="{{boardhasdiscuss}}" style="width:240px;">
                                    <option value=""></option>
                                    <option value="yes">YES</option>
                                    <option value="no">NO</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6"> </div>
                </div>
                <br/>
                <div style="margin:0;padding:5px;border-bottom:1px solid #f4f4f4;">
                    <h4 style="margin:0;padding:0;font-weight: 600">Elections
					</h4> </div>
                <br>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4 control-label" style="font-weight:600;color:red">{{dateoflastelection}} </label>
                            <div class="col-sm-6">
                                <p class="input-group" style="width:240px;">
                                    <input type="text" id="{{'datepicker' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="employee.electiondate" is-open="LastElection.opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" max-date="dtmax" date-disabled="disabled(date, mode)" close-text="Close"> <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="LastElection($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-6 control-label" style="font-weight:600;color:red">{{totalnoofmembers}} </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="electionbody" data-ng-model="employee.electionbody" placeholder="{{totalnoofmembers}}" maxlength="10" style="width:240px;"> </div>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
                <div align="left">
                    <div> <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-hide="Created" style="padding:5px 20px;margin-right:10px;">Create </a> <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="Updated" style="padding:5px 20px;margin-right:10px;">Update </a> <a data-ng-href="/employees" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel</a> </div>
                </div>
            </div>
          
            <br/> </div>
    </div>
    
</div>
<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>
<validationmodal title1="Alert" visible="showValidation"> {{TabName}}
    <br> {{validatestring1}} </validationmodal>
<validationmodal title1="Alert" visible="showUniqueValidation"> {{validatestring2}} </validationmodal>
<script type="text/ng-template" id="template/Message.html">
    <div class="modal-header"> </div>
    <div class="modal-body"> {{divfacility}} {{hasbeenupdated}} </div>
    <div class="modal-footer"> </div>
</script>

<script type="text/ng-template" id="template/AlertModal.html" class="modal" class="modal fade" role="dialog">
    <div class="modal-header">
        <h4 class="modal-title">{{modalTitle}}</h4>
            </div>
    <div class="modal-body"> {{message}} </div>
</script>-------->

    <div class="box-body custom-main-body">
        <form role="form">
            <p align="center" style="color:#ec0b6d">{{TILanguage.mandatoryfield}}</p>
            <br/>
           <!-- <div class="row" style="margin:0;padding:0">
                <div class="col-sm-6">
                    
                     <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red">{{TILanguage.salesCode}}</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="code" ng-model="ti.salesCode" placeholder="{{TILanguage.salesCode}}" ng-disabled="fsnamedisable">
                        </div>
                    </div>
                   <div class="form-group">
                        <label for="city" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">{{TILanguage.facilitycode}}</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" ng-model="ti.firstName" placeholder="{{TILanguage.facilitycode}}" >
                        </div>
                    </div>

                </div>

                
            </div>-->
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="form-group">
                        <label for="zone" class="select-label">{{TILanguage.salesCode}}</label>
                        <input type="text" class="form-control custom-form-control" id="code" ng-model="ti.salesCode" placeholder="{{TILanguage.salesCode}}" ng-disabled="fsnamedisable">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="form-group">
                        <label for="city" class="select-label">{{TILanguage.facilitycode}}</label>
                        <input type="text" class="form-control custom-form-control" id="name" ng-model="tifirstName" placeholder="{{TILanguage.facilitycode}}" onkeypress="return (event.charCode > 47 && event.charCode < 58) || (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)|| event.charCode==189 ||event.charCode==32 || event.charCode==45" ng-change = "CheckDuplicate(tifirstName)">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label for="typology" class="select-label">Latitude /Longitude</label>
                        <div class="row">
                            <div class="col-sm-5">
                                <input type="text" class="form-control custom-form-control" id="latitude" data-ng-model="ti.latitude" placeholder="Latitude" readonly="true">
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control custom-form-control" id="longitude" data-ng-model="ti.longitude" placeholder="Longitude" readonly="true">
                            </div>
                            <div class="col-sm-2" style="font-size:22px;color:#f55c51;padding-left:0px;">
                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true" ng-click="LocateMe()" href=""></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="form-group">
                        <label for="route" class="select-label">{{TILanguage.address}}</label>
                        <textarea type="text" class="form-control custom-form-control" id="address" data-ng-model="ti.address" placeholder="{{TILanguage.address}}" rows="4"></textarea>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="form-group">
                        <label for="zone" class="select-label">{{TILanguage.country}}</label>
                        <select ui-select2 id="facility" ng-model="ti.countryId" data-placeholder="{{TILanguage.country}}" style="width:100%;" ng-disabled="fscodedisable">
                            <option value=""></option>
                            <option data-ng-repeat="country in countries" value="{{country.id}}">{{ country.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="form-group">
                        <label for="zone" class="select-label">{{TILanguage.state}} </label>
                        <select ui-select2 ng-model="ti.state" data-placeholder="{{TILanguage.state}}" style="width:100%;" ng-disabled="fscodedisable">
                            <option value=""></option>
                            <option data-ng-repeat="zone in zones" value="{{zone.id}}">{{ zone.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="form-group">
                        <label for="zone" class="select-label">{{TILanguage.district}}</label>
                        <select ui-select2 ng-model="ti.district" data-placeholder="{{TILanguage.district}}" style="width:100%;" ng-disabled="fscodedisable">
                            <option value=""></option>
                            <option data-ng-repeat="salesArea in salesareas" value="{{salesArea.id}}">{{ salesArea.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="form-group">
                        <label for="zone" class="select-label">{{TILanguage.town}} </label>
                            <select ui-select2 id="facility" ng-model="ti.town" data-placeholder="{{TILanguage.town}}" style="width:100%;" ng-disabled="fscodedisable">
                                <option value=""></option>
                                <option data-ng-repeat="city in cities" value="{{city.id}}">{{ city.name }}</option>
                            </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="form-group">
                        <label for="zone" class="select-label">{{TILanguage.ictcName}}</label>
                        <select ui-select2 id="facility" ng-model="ti.ictcId" data-placeholder="Pick a ICTC Center" style="width:100%;" ng-disabled="fscodedisable">
                            <option value=""></option>
                            <option data-ng-repeat="ictccenter in ictccenters" value="{{ictccenter.id}}">{{ ictccenter.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="form-group">
                        <label for="zone" class="select-label">{{TILanguage.artName}}  </label>
                        <select ui-select2 id="facility" ng-model="ti.artId" data-placeholder="Pick a ICTC Center" style="width:100%;" ng-disabled="fscodedisable">
                            <option value=""></option>
                            <option data-ng-repeat="artcenter in artcenters" value="{{artcenter.id}}">{{ artcenter.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="form-group">
                        <label for="zone" class="select-label">{{TILanguage.typology}}</label>
                        <select ui-select2 id="pillarid" ng-model="ti.typologyId" data-placeholder=" {{TILanguage.typology}}" style="width:100%" multiple="multiple">
                            <option data-ng-repeat="typology in typologies" value="{{typology.id}}">{{ typology.name }}</option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="row" style="margin:0;padding:0;">
                <!--<div class="col-sm-6">
                    
                    <div class="form-group">
                        <label for="city" class="col-sm-4" style="font-weight:600;margin-top:7px;">{{TILanguage.lastName}}</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="lastName" ng-model="ti.lastName" placeholder="{{TILanguage.lastName}}" >
                        </div>
                    </div>
                    
                </div>-->

               
                
            </div>


<!--
            <div class="row" style="margin:0;padding:0;">
                
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red">{{TILanguage.country}}</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="facility" ng-model="ti.countryId" data-placeholder="{{TILanguage.country}}" style="width:100%;" ng-disabled="fscodedisable">
								<option value=""></option>
								<option data-ng-repeat="country in countries" value="{{country.id}}">{{ country.name }}</option>
							</select>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">{{TILanguage.state}} </label>
                        <div class="col-sm-6">
                            <select ui-select2 ng-model="ti.state" data-placeholder="{{TILanguage.state}}" style="width:100%;" ng-disabled="fscodedisable">
								<option value=""></option>
								<option data-ng-repeat="zone in zones" value="{{zone.id}}">{{ zone.name }}</option>
							</select>
                        </div>
                    </div>
                </div>
                
                 
                
                
                 <div class="col-sm-6">
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red">{{TILanguage.district}}</label>
                        <div class="col-sm-6">
                            <select ui-select2 ng-model="ti.district" data-placeholder="{{TILanguage.district}}" style="width:100%;" ng-disabled="fscodedisable">
								<option value=""></option>
								<option data-ng-repeat="salesArea in salesareas" value="{{salesArea.id}}">{{ salesArea.name }}</option>
							</select>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red">{{TILanguage.town}} </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="facility" ng-model="ti.town" data-placeholder="{{TILanguage.town}}" style="width:100%;" ng-disabled="fscodedisable">
								<option value=""></option>
								<option data-ng-repeat="city in cities" value="{{city.id}}">{{ city.name }}</option>
							</select>
                        </div>
                    </div>

                </div>
                
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">{{TILanguage.ictcName}}</label>
                        <div class="col-sm-6">
                   
                            
                            <select ui-select2 id="facility" ng-model="ti.ictcId" data-placeholder="Pick a ICTC Center" style="width:100%;" ng-disabled="fscodedisable">
								<option value=""></option>
								<option data-ng-repeat="ictccenter in ictccenters" value="{{ictccenter.id}}">{{ ictccenter.name }}</option>
							</select>
                           
                        </div>
                    </div>
                </div>
                
                
                 <div class="col-sm-6">
                 <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">{{TILanguage.artName}}  </label>
                        <div class="col-sm-6">
                          
                            
                              <select ui-select2 id="facility" ng-model="ti.artId" data-placeholder="Pick a ICTC Center" style="width:100%;" ng-disabled="fscodedisable">
								<option value=""></option>
								<option data-ng-repeat="artcenter in artcenters" value="{{artcenter.id}}">{{ artcenter.name }}</option>
							</select>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red">{{TILanguage.typology}}</label>
                        <div class="col-sm-6" style="margin-top:7px;">
                            <select ui-select2 id="pillarid" ng-model="ti.typologyId" data-placeholder=" {{TILanguage.typology}}" style="width:100%" multiple="multiple">
                                  
                                    <option data-ng-repeat="typology in typologies" value="{{typology.id}}">{{ typology.name }}</option>
                                </select>
                        </div>
                    </div>
                </div>
                
                 

            

            </div>-->
            <div class="row" style="margin:0;padding:0;">
                
               <!-- <div class="col-sm-6">
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;">{{TILanguage.pincode}}</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="mobile" data-ng-model="ti.zip" placeholder="{{TILanguage.pincode}}" maxlength="6">
                        </div>
                    </div>

                </div>-->
            
                

                   
                
            </div>
            
             <div class="row" style="margin:0;padding:0;">
                 
                 <!--<div class="col-sm-6">
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;">{{TILanguage.mobile}} </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="mobile" data-ng-model="ti.mobile" placeholder="{{TILanguage.mobile}}" maxlength="10" numbers-only="true">
                        </div>
                    </div>

                </div>-->
                 
                 
                  
            </div>  
             <div class="row" style="margin:0;padding:0;">
           <!-- <div class="col-sm-6">
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;">{{TILanguage.email}} </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="email" data-ng-model="ti.email" placeholder="{{TILanguage.email}}">
                        </div>
                    </div>
                 </div>-->
                
            </div>

            <br/>
            <br/>
            <br/>



            <div align="right">
                <div>
<!--                    <a class="btn btn-primary btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Create </a>-->
                    <a data-ng-href="/" class="btn btn-danger btn-sm" role="button" style="padding:5px 20px;margin-right:10px;">Cancel</a>
                    
                    <a class="btn btn-info btn-sm" type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;">Update </a>

                </div>
            </div>


            </form>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->


<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert!!!" visible="showValidation">
    {{validatestring1}}
</validationmodal>




<mapmodal visible="mapdataModal">
    <div class="custom-modal">
        <div class="modal-header">
            <h4 class="modal-title">Select Location</h4>
        </div>
        <div class="modal-body" style="padding:15px;">
            <div id="savemodals">
                <form role="form">
                    <div class="row">
                        <div class="col-sm-8">
                            <div id='mapCanvas' style="display:block;height:850px;width:550px;">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div id="infoPanel">
                                <b style="color:blue;">Marker Status:</b>
                                <div id="markerStatus"><i>Closest matching address</i>
                                </div>
                                <b style="color:blue;">Current Position</b>
                                <div id="info"></div>
                                <b style="color:blue;">Click and drag the marker.</b>
                                <div id="mapaddress"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <div align="right">
                <a data-ng-click="CLOSEBUTTON()" data-dismiss="modal" class="btn btn-danger btn-sm" role="button" style="padding:5px 20px;margin-right:10px;">Cancel </a>
                
                <a data-ng-click="CLOSEBUTTON()" data-dismiss="modal" class="btn btn-info btn-sm" role="button" style="padding:5px 20px;margin-right:30px;">Ok</a>&nbsp;
            </div>
        </div>
        
    </div>

    <style>
        div.scroll {
            width: 100%;
            height: 100px;
            overflow: scroll;
        }

        .toggle.android {
            border-radius: 0px;
        }

        .toggle.android .toggle-handle {
            border-radius: 0px;
        }

        #mapCanvas {
            width: 800px;
            height: 500px;
            float: center;
        }

        #infoPanel {
            margin-left: 100px;
        }

        #infoPanel div {
            margin-bottom: 5px;
        }

    </style>
</mapmodal>