<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;

    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;
        border-bottom: 4px solid #ec0b6d;
    }


    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 4px solid #f4f4f4;
        /*		background-color: #fff;*/
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }
    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/

    .nav-tabs-custom>.nav-tabs>li {
        width: 19%;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .nav-tabs-custom>.nav-tabs>li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
    }

</style>

<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink active" href="/gender"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="GENDER">GENDER</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/typology"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="TYPOLOGY">TYPOLOGY</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/subtypology"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="SUB TYPOLOGY">SUB TYPOLOGY</span></a>
        </div>
        <!--
        <div style="text-align:center;">
            <a class="stylelink" href="/education"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">EDUCATION</span></a>
        </div>
-->
        <div style="text-align:center;">
            <a class="stylelink " href="/maritalstatus"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="MARITAL STATUS">MARITAL STATUS</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/employabilitystatus"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="EMPLOYABILITY STATUS">EMPLOYABILITY STATUS</span></a>
        </div>

    </div>

    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink" href="/education"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="EDUCATION" >EDUCATION</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/regularpartners"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="REGULAR PARTNER">REGULAR PARTNER</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/vocation"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="VOCATION OF THE PARTNER">VOCATION OF THE PARTNER</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink " href="/reasonformoving"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="REASON FOR MOVING">REASON FOR MOVING</span></a>
        </div>
        <!--
<div style="text-align:center;">
    <a class="stylelink " href="/nativedistrict"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">NATIVE DISTRICT</span></a>
</div>
-->

        <div style="text-align:center;">
            <a class="stylelink " href="/archiving"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="REASON FOR ARCHIVING">REASON FOR ARCHIVING</span></a>
        </div>
    </div>

</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div class="box-header with-border">
        <!--        <h3 class="box-title">Gender</h3>-->
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <div class="row" style="padding:0px 20px;">
            <div class="col-sm-5"></div>
            <div class="col-sm-7">
                <div data-ng-hide="hideSearchFilter()" class="col-sm-2  col-md-2" style="text-align:left;border-color:#e1e8ee">
                    <div>
                        <label class="showlabel">Show</label>
                    </div>
                    <div class="sell">
                <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                    </div>
                <!--					<span>Entries</span>-->
            </div>
            <div data-ng-hide="hideSearchFilter()"  class="col-sm-6 col-md-6 smright2txt">
                <form role="form">
                    <div class="input-group">
                         <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius:4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-right:none;"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                        <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search " style="z-index:0;border-left:none;border-color:#e1e8ee;border-top-right-radius:4px;border-bottom-right-radius: 4px;" data-ng-model="Search" focus="someFocusVariable">
                       
                    </div>
                </form>
            </div>
            <div  class="col-sm-2 col-md-2 smright2txt">
                <a data-ng-href="/gender/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New </a>
            </div>
            </div>
        </div>
        <br/>

        <form class="" style="padding:0px 20px;" role="form" data-ng-show="showForm()">
            <p align="center" style="color:#ec0b6d;">All fields with  <jumbotron>*</jumbotron>  are mandatory</p>
            <br/>


            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name" id="name">Language<sup>*</sup></label>
                        <div>
                            <select ui-select2 id="language" data-ng-model="gender.language" data-placeholder="Pick a language" style="width:100%;" data-ng-disabled="!isCreateView()">
                                <option value=""></option>
                                <option data-ng-repeat="language in gendlanguages" value="{{language.id}}" ng-disabled ="language.disabled">{{ language.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            <div  ng-hide="showenglishLang">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name" id="name" >Gender Name English<sup>*</sup></label>
                        <div>
                            <select ui-select2 id="occupatioenglish" data-ng-model="gender.parentId" data-placeholder="Pick a Value" style="width:100%;" data-ng-disabled="!isCreateView()">
                                <option value=""></option>
                                <option data-ng-repeat="medicine in genddisply" value="{{medicine.id}}">{{ medicine.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name" id="name">NAME<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="name" data-ng-model="gender.name" placeholder="Name" pattern='[A-Za-z\\s]*' onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode==32 " ng-change="langchange(gender.name)">

                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name" id="name">ORDER<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="orderno" data-ng-model="gender.orderno" placeholder="Order" pattern='[A-Za-z\\s]*' numbers-only ng-disabled="disableorder" ng-change="orderChange(gender.orderno)">

                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name" id="default">DEFAULT<sup>*</sup></label>
                        <div>
                            <select ui-select2 id="condition" data-ng-model="gender.defaultValue" data-placeholder="Pick a DEFAULT" style="width:100%;" ng-disabled="disableorder">
                                <option value=""></option>
                                <option value="Yes">Y</option>
                                 <option value="No">N</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <br/>
            <br/>
            <br/>



            <br>
            <div align="right">
                <div>
                    <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Create </a>

                    <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Update </a>


                    <a data-ng-href="/gender" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel</a>
                </div>
            </div>
        </form>

        <div data-ng-hide="hideSearchFilter()">

            <!--
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6" style="padding-top:5px;">
                    <span>Show</span>
                    <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span>Entries</span>
                </div>
                <div class="col-sm-6">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-5"></div>
                        <div class="col-sm-7">
                            <form role="form">
                                <div class="input-group">
                                    <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search " style="z-index:0;border-right:none;border-color:#e1e8ee;border-top-left-radius:4px;border-bottom-left-radius: 4px;" data-ng-model="Search">
                                    <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius:4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
                                    </span>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
-->
        </div>
        <br />



        <div data-ng-hide="showForm()" class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>S NO.</th>
                        <th ng-click="changeSorting('language')" title="LANGUAGE" style="cursor:pointer;">LANGUAGE<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('language')"></i></span></th>
                        <th ng-click="changeSorting('name')" title="NAME" style="cursor:pointer;">NAME<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('name')"></i></span></th>
                        <th style="width:100px;">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="gender in genders| orderBy:sort.active:sort.descending | search:Search:filterFields |itemsPerPage:pageSize" ng-style="{'color':gender.colour}">
                        <td>{{ gender.index }}</td>
                        <td>{{ gender.langName }}</td>
                        <!--                        <td data-ng-init="language = getLanguage(gender.language)">{{language.name}}</td>-->
                        <td>{{gender.name}}</td>


                        <td><a data-ng-href="/gender/{{gender.id}}"><img src="images/piclinks/edit.png" title="Edit"  width="16px"></a>&nbsp;&nbsp;&nbsp;
                            <!--
                            <a style="color:#b7b8c8;" ng-if="gender.parentFlag == false">|</a>&nbsp;&nbsp;
                            <a confirm-button="Delete(gender.id)" message="Are you sure? you want to delete?" ng-if="gender.parentFlag == false"><span class="glyphicon glyphicon-remove " style="cursor:pointer;" title="Bin"></span></a>&nbsp;
-->
<!--                            <a style="color:#b7b8c8;" ng-if="gender.parentFlag == false">|</a>&nbsp;&nbsp;-->
                            <a confirm-button="Delete(gender.id)" message="Are you sure? you want to delete?" ng-if="gender.parentFlag == false&& gender.deleteflag == false"><img src="images/piclinks/cross.png" style=";cursor:pointer" width="16px" title="Delete"></a>&nbsp;&nbsp;&nbsp;
                            <a confirm-button="Archive(gender.id)" message=" Are you sure? You Need to archive this.." ng-if="gender.deleteflag == true && gender.parentFlag == false"><span class="fa fa-archive" style="color: red;cursor:pointer;" title="Archive"></span></a>&nbsp;&nbsp;&nbsp;
                    </tr>
                </tbody>
            </table>
            <br/>
            <div align="right">
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true">
                </dir-pagination-controls>

            </div>
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->




<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>
