<style>
    .tht:hover {
        color: blue;
    }
    
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }
#wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
    }
</style>
<style>
    th {
        cursor: pointer;
    }
    
    {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

</style>
<!--
<script type="text/javascript">
    var sortingOrder = 'filterDate';

</script>
-->
<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;" data-ng-init="toggleLoading()">
    <div id="wrapper">
    <div class="stylelink active box-header with-border" style="padding:20px 10px;">
        <!---->
        <h3 class="box-title" style="font-weight:600;" data-ng-show="showForm()">{{headergroupmeeting}}</h3>
        <h3 class="box-title" style="font-weight:600;" data-ng-hide="showForm()">{{groupmeetingslabel}}</h3>
    </div>
        </div>
    <!-- /.box-header -->
    <!-- form start -->
<br/>
    <div class="box-body">
        <div class="row">
            <div class="col-sm-5"></div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-2" style="text-align:right;padding-right:0px;border-color:#e1e8ee">
                <span>Show</span>
                <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <!--					<span>Entries</span>-->
            </div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-3" style="padding-right:0px;">
                <!--
            <div class="row" style="margin:0;padding:0;">
						<div class="col-sm-5"></div>
						<div class="col-sm-7">
-->
                <form role="form">
                    <div class="input-group">
                        <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-right:none;border-color:#e1e8ee;border-top-left-radius:4px;border-bottom-left-radius: 4px;margin-top:0px;" data-ng-model="searchDep">
                        <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius:4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>

                <!--
						</div>
					</div>
-->
            </div>
            <div class="col-sm-2">
                <a data-ng-href="/groupmeeting/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New </a>
            </div>
        </div>
        <!--
        <div align="left">
            <a data-ng-href="/groupmeeting/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton()">{{addnew}}</a>
        </div>
-->
        <br/>

        <form class="form-horizontal" role="form" data-ng-show="showForm()">
            <p align="center" style="color:red;">{{mandatoryfield1}}</p>
            <br/>

            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="city" class="col-sm-4" style="font-weight: 600;margin-top: 8px;color:red;">{{date}}</label>
                        <div class="col-sm-6">
                            <p class="input-group">
                                <input type="text" id="{{'datepickerdob' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="groupmeeting.datetime" is-open="picker.dobopened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" max-date="dtmax" />
                                <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="opendob($event, $index)" ><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight: 600;margin-top: 8px;color:red;">{{printname}} </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" data-ng-model="groupmeeting.name" placeholder="{{printname}}" style="width:100%;">
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="sales-code" class="col-sm-4" style="font-weight: 600;margin-top:-4px;" ng-style="style">{{memberattendmeeting}} </label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <select ui-select2 ng-model="groupmeeting.attendees" multiple data-placeholder="" style="width:100%;height:auto;" ng-style="style">
                                    <option data-ng-repeat="partner in partners" value="{{partner.id}}">{{ partner.fullname }}</option>
                                </select>
                                <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="toggleschemesModal()" style="height:35px;"> <span class="glyphicon glyphicon-search"></span> </button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="city" class="col-sm-4" style="font-weight: 600;margin-top:4px;color:red;">{{organizedby}} </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="organised" ng-model="groupmeeting.organisedby" data-placeholder="{{organizedby}}" style="width:100%;">
                                <option value=""></option>
                                <option data-ng-repeat="fw in fieldworkers" value="{{fw.id}}">{{ fw.firstname }}</option>
                                <option data-ng-repeat="comem in Organisedcomembers" value="{{comem.id}}">{{ comem.name }}</option>
                            </select>
                        </div>
                    </div>

                    <div ng-hide="documenthide">
                        <div class="form-group">
                            <label for="others" class="col-sm-4" style="font-weight: 600;">{{printothers}}</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="others" data-ng-model="groupmeeting.others" style="width:100%;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">


                    <div class="form-group">
                        <label for="city" class="col-sm-4" style="font-weight: 600;margin-top: 8px;color:red;">{{pillar}} </label>
                        <div class="col-sm-8">
                            <span ng-repeat="zipmaster in zipmasters">
                                <input class="messageCheckbox" type="checkbox" ng-model="zipmaster.enabled" value="{{zipmaster.id}}" name="vehicle" ng-change="GetMobNumbers($index,zipmaster.name)" style="margin-top:11px;"> <label ng-class="{'color-red': zipmaster.id === 1, 'color-blue': zipmaster.id === 2, 'color-green': zipmaster.id === 3, 'color-black': zipmaster.id === 4, 'color-meganta': zipmaster.id === 5}">
<!--								{{zipmaster.name}}-->
							<div ng-if="UserLanguage==1">
									{{zipmaster.name}}
							</div>
							<div ng-if="UserLanguage==2">
								{{zipmaster.hnname}}
							</div>
							<div ng-if="UserLanguage==3">
								{{zipmaster.knname}}
							</div>
							<div ng-if="UserLanguage==4">
								{{zipmaster.taname}}
							</div>
							<div ng-if="UserLanguage==5">
								{{zipmaster.tename}}
							</div>
							<div ng-if="UserLanguage==6">
								{{zipmaster.mrname}}
							</div>
								</label><span><img src="{{zipmaster.loader}}" style="max-height:15px;max-width:15px;visibility:hidden;" id="{{$index}}"></span>&nbsp;&nbsp;&nbsp;
                            </span>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="salesmanager" class="col-sm-4" style="font-weight: 600;" style="font-weight:600;margin-top:8px;"><span style="color:red;">{{topics}} </span></label>
                        <div class="col-sm-6">
                            <div style="width:100%; height:150px;">
                                <ul style="list-style:none; margin:0; padding:0;border: 1px solid lightgrey; height: 150px; overflow:auto; border-radius: 5px; padding:5px 10px;">
                                    <li ng-repeat="mobilenumber in mobilenumbers track by $index">
                                        <!--pillarid-->
                                        <input class="eventCheckbox" type="checkbox" ng-model="mobilenumber.enabled" value="{{mobilenumber.id}}" name="vehicle">
                                        <!--<span ng-class="{'color-red': mobilenumber.pillarid === 1, 'color-blue': mobilenumber.pillarid === 2, 'color-green': mobilenumber.pillarid === 3, 'color-black': mobilenumber.pillarid === 4, 'color-meganta': mobilenumber.pillarid === 5}"><!--{{mobilenumber.name}}-->
                                        <a ng-if="UserLanguage==1" ng-class="{'color-red': mobilenumber.pillarid === 1, 'color-blue': mobilenumber.pillarid === 2, 'color-green': mobilenumber.pillarid === 3, 'color-black': mobilenumber.pillarid === 4, 'color-meganta': mobilenumber.pillarid === 5}"> {{mobilenumber.name}}</a>
                                        <a ng-if="UserLanguage==2" ng-class="{'color-red': mobilenumber.pillarid === 1, 'color-blue': mobilenumber.pillarid === 2, 'color-green': mobilenumber.pillarid === 3, 'color-black': mobilenumber.pillarid === 4, 'color-meganta': mobilenumber.pillarid === 5}">{{mobilenumber.hnname}}</a>
                                        <a ng-if="UserLanguage==3" ng-class="{'color-red': mobilenumber.pillarid === 1, 'color-blue': mobilenumber.pillarid === 2, 'color-green': mobilenumber.pillarid === 3, 'color-black': mobilenumber.pillarid === 4, 'color-meganta': mobilenumber.pillarid === 5}">{{mobilenumber.knname}}</a>
                                        <a ng-if="UserLanguage==4" ng-class="{'color-red': mobilenumber.pillarid === 1, 'color-blue': mobilenumber.pillarid === 2, 'color-green': mobilenumber.pillarid === 3, 'color-black': mobilenumber.pillarid === 4, 'color-meganta': mobilenumber.pillarid === 5}">{{mobilenumber.taname}}</a>
                                        <a ng-if="UserLanguage==5" ng-class="{'color-red': mobilenumber.pillarid === 1, 'color-blue': mobilenumber.pillarid === 2, 'color-green': mobilenumber.pillarid === 3, 'color-black': mobilenumber.pillarid === 4, 'color-meganta': mobilenumber.pillarid === 5}">{{mobilenumber.tename}}</a>
                                        <a ng-if="UserLanguage==6" ng-class="{'color-red': mobilenumber.pillarid === 1, 'color-blue': mobilenumber.pillarid === 2, 'color-green': mobilenumber.pillarid === 3, 'color-black': mobilenumber.pillarid === 4, 'color-meganta': mobilenumber.pillarid === 5}">{{mobilenumber.mrname}}</a>


                                        <!--										</span>-->
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>




                    <div class="form-group">
                        <label for="city" class="col-sm-4" style="font-weight: 600;margin-top: 8px;">{{followuprequired}}</label>
                        <div class="col-sm-6">
                            <!--							<a ng-bind="printnone"></a>-->
                            <select ui-select2 ng-model="groupmeeting.follow" multiple data-placeholder="{{followuprequired}}" style="width:100%;" ng-disabled="DisableFollowup">
                                <!--								<option value=""></option>-->
                                <option ng-repeat="todopurpose in followupgroups" value="{{todopurpose.id}}" ng-if="UserLanguage==1">{{todopurpose.name}}</option>
                                <option ng-repeat="todopurpose in followupgroups" value="{{todopurpose.id}}" ng-if="UserLanguage==2">{{todopurpose.hnname}}</option>
                                <option ng-repeat="todopurpose in followupgroups" value="{{todopurpose.id}}" ng-if="UserLanguage==3">{{todopurpose.knname}}</option>
                                <option ng-repeat="todopurpose in followupgroups" value="{{todopurpose.id}}" ng-if="UserLanguage==4">{{todopurpose.taname}}</option>
                                <option ng-repeat="todopurpose in followupgroups" value="{{todopurpose.id}}" ng-if="UserLanguage==5">{{todopurpose.tename}}</option>
                                <option ng-repeat="todopurpose in followupgroups" value="{{todopurpose.id}}" ng-if="UserLanguage==6">{{todopurpose.mrname}}</option>
                                <option value="None" selected>None</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>


            <br/>
            <br/>
            <br/>



            <!----------------------------------------------------------------------------------------------->

            <div>
                <div align="left">
                    <a class="btn btn-primary btn-sm " type="submit" role="button" data-ng-click="Savegroupmeeting()" data-ng-show="isCreateView()" style="padding:5px 20px;">{{create}}</a>&nbsp;

                    <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Updategroupmeeting()" data-ng-hide="isCreateView()"  style="padding:5px 20px;" ng-disabled="DisableUpdate">{{update}}</a>&nbsp;


                    <a data-ng-href="/groupmeetings" class="btn btn-danger btn-sm " role="button"  style="padding:5px 20px;">{{cancel}}</a>
                </div>
            </div>

        </form>


        <div data-ng-hide="hideSearchFilter()">

            <!--
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6" style="padding-top:5px;">
                    <span>{{show}}</span>
                    <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span>{{entry}}</span>
                </div>
                <div class="col-sm-6">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            <form role="form">
                                <div class="input-group">
-->
            <!--<input type="text" id="Search" class="form-control" placeholder="{{searchfor}}..." style="z-index:0; border-top-left-radius: 15px;border-bottom-left-radius: 15px;" data-ng-model="searchDep">
									<span class="input-group-btn">
                        <button class="btn btn-default" type="button" style="border-top-right-radius: 15px;border-bottom-right-radius: 15px;"><span class="glyphicon glyphicon-search"></span>
									</button>
									</span>-->
            <!--
                                    <input type="text" id="Search" class="form-control ng-pristine ng-valid" placeholder="Search for..." style="z-index:0;border-radius:20px;width:140%;" data-ng-model="searchDep">
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
-->
        </div>
        <br />


        <div data-ng-hide="showForm()">
            <table id="mytable" class="table ">
                <thead>
                    <tr>
                        <th style="width:50px;">#</th>
                        <!--                       <th class="tht" ng-click="GNameFilter()" style="cursor:pointer;" class="name"><span style="color:{{backgroundCol1}}">{{printname}}</span>&nbsp;<a ng-click="sort_by('name')"><i class="icon-sort"></i></a></th>-->
                        <th ng-click="changeSorting('name')">{{printname | uppercase}}<span style="font-size:16px;margin-left:10px;" ><i class="fa fa-sort-desc" ng-class="getIcon('name')"></i></span></th>
                        <th>{{organizedby | uppercase}}</th>
                        <th>{{pillar | uppercase}}</th>
                        <th>{{topicdiscussed | uppercase}}</th>
                        <!--                        <th id='dateCol' class="tht" ng-click="DateFilter()" style="cursor:pointer;" class="filterDate"><span style="color:{{backgroundCol2}}">{{date}}</span>&nbsp;<a ng-click="sort_by('filterDate')"><i class="icon-sort"></i></a></th>-->
                        <th ng-click="changeSorting('filterDate')">{{date | uppercase}}<span style="font-size:16px;margin-left:10px;" ><i class="fa fa-sort-desc" ng-class="getIcon('filterDate')"></i></span></th>

                        <th style="width:75px;">{{action | uppercase}}</th>
                </thead>
                <tbody id="bnbody">
                    <!--					<tr dir-paginate="groupmeeting in groupmeetings | filter:searchPart |itemsPerPage:pageSize" pagination-id="groupmeet"  current-page="currentpage">-->
                    <tr dir-paginate="groupmeeting in TotalData  = ( groupmeetings | filter:searchDep )| orderBy:sort.active:sort.descending | itemsPerPage:pageSize" current-page="currentPage" pagination-id="groupmeet">
                        <td>{{ groupmeeting.index }}</td>
                        <td>{{groupmeeting.name}}</td>

                        <td>
                            <span ng-if="groupmeeting.organisedby != 41">{{groupmeeting.Fieldworkername.firstname}}</span>

                            <!--<td>{{stakeholder.Membername.name}} data-ng-init="fwr = getFW(groupmeeting.organisedby)"</td>-->

                            <!--							<span ng-if="groupmeeting.organisedby == 41 || groupmeeting.organisedby == getuempid" data-ng-init="fwr = getCO(groupmeeting.organisedby)">{{fwr.name}}</span>-->
                            <span ng-if="groupmeeting.organisedby == 41 || groupmeeting.organisedby == getuempid">{{groupmeeting.Coname.name}}
							</span>

                        </td>

                        <td>
                            <p ng-repeat="specificpillar in groupmeeting.pillars">
                                <!--{{specificpillar.name}}-->
                                <a ng-if="UserLanguage==1" style="color:black">
									{{specificpillar.name}}
							</a>
                                <a ng-if="UserLanguage==2" style="color:black">
								{{specificpillar.hnname}}
							</a>
                                <a ng-if="UserLanguage==3" style="color:black">
								{{specificpillar.knname}}
							</a>
                                <a ng-if="UserLanguage==4" style="color:black">
								{{specificpillar.taname}}
							</a>
                                <a ng-if="UserLanguage==5" style="color:black">
								{{specificpillar.tename}}
							</a>
                                <a ng-if="UserLanguage==6" style="color:black">
								{{specificpillar.mrname}}
							</a>
                            </p>
                        </td>
                        <td>
                            <p ng-repeat="specificevent in groupmeeting.meetingtopics">
                                <!--{{specificevent.name}}-->
                                <a ng-if="UserLanguage==1" style="color:black">
									{{specificevent.name}}
							</a>
                                <a ng-if="UserLanguage==2" style="color:black">
								{{specificevent.hnname}}
							</a>
                                <a ng-if="UserLanguage==3" style="color:black">
								{{specificevent.knname}}
							</a>
                                <a ng-if="UserLanguage==4" style="color:black">
								{{specificevent.taname}}
							</a>
                                <a ng-if="UserLanguage==5" style="color:black">
								{{specificevent.tename}}
							</a>
                                <a ng-if="UserLanguage==6" style="color:black">
								{{specificevent.mrname}}
							</a>
                            </p>
                        </td>
                        <td>{{groupmeeting.datetime}}</td>


                        <td><a data-ng-href="/groupmeeting/{{groupmeeting.id}}"><span class="glyphicon glyphicon-pencil" title="Edit" ></span></a>&nbsp;
                            <!--<a data-ng-href="/groupmeeting" data-ng-click="Delete(groupmeeting.id)"><span class="glyphicon glyphicon-trash" title="Bin" style="color: red;"></span></a>-->&nbsp; </td>
                    </tr>
                </tbody>
            </table>

            <div align="right">
                <dir-pagination-controls pagination-id="groupmeet" max-size="25" direction-links="true" boundary-links="true" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                </dir-pagination-controls>

            </div>
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->




<modal1 title1="{{searchmemberTitle}}" visible="showschemesModal">
    <div style="width:100%; height:auto;  margin: 5px auto; padding:5px;">
        <br/>
        <div class="row">
            <div class="col-sm-8"></div>
            <div class="col-sm-4">
                <form role="form">
                    <div class="input-group">
                        <input type="text" class="form-control  ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-right:none;border-color:#e1e8ee;border-top-left-radius: 4px;border-bottom-left-radius:4px;margin-top:0px;" data-ng-model="searchgroupmeeting">
                        <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius:4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;margin:0px;"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                    <!--
                <div class="row">
                    <div class="col-lg-offset-6 col-lg-6">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="{{searchfor}}..." style="z-index:0; border-top-left-radius: 15px;border-bottom-left-radius: 15px;" data-ng-model="searchgroupmeeting">
                            <span class="input-group-btn">
                        <button class="btn btn-default" type="button" style="border-top-right-radius: 15px;border-bottom-right-radius: 15px;"><span class="glyphicon glyphicon-search"></span>
                            </button>
                            </span>
                        </div>
                    </div>
                </div>
-->
                </form>
            </div>
        </div>
        <br />
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{{membername}}</th>
                        <th style="text-align:center;">{{select}} ?</th>

                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="schememaster in partners | filter: searchgroupmeeting|itemsPerPage:10" pagination-id="searchmem">
                        <td>{{ schememaster.index }}</td>
                        <td>{{schememaster.fullname}}</td>
                        <td>
                            <input class="attendcheckbox" type="checkbox" ng-model="schememaster.enabled" id="{{schememaster.enabled}}" value="{{schememaster.id}}" name="vehicle">
                            <!--class="eventCheckbox"-->
                        </td>
                    </tr>
                </tbody>
            </table>
            <div align="right">
                <dir-pagination-controls pagination-id="searchmem" max-size="5" direction-links="true" boundary-links="true">
                </dir-pagination-controls>
            </div>
        </div>
        <br/>
        <div align="left">
            <button class="btn btn-success btn-sm " ng-click="SaveScheme()" style="padding:5px 20px;">{{savebutton}}</button>&nbsp;
            <button class="btn btn-success btn-sm btn-danger" ng-click="CancelModal()" style="padding:5px 20px;"> {{cancel}}</button>
        </div>
    </div>


    <style>
        .toggle.android {
            border-radius: 0px;
        }
        
        .toggle.android .toggle-handle {
            border-radius: 0px;
        }

    </style>


</modal1>



<modal1 title1="{{followupmemberTitle}}" visible="showfollowupModal">
    <div style="width:100%; height:auto; min-height:300px;  border: 1px solid #E6E6E6; margin: 5px auto; padding:5px;">
        <br/>

        <br />
        <div>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="name" class="col-sm-4" style="font-weight: 600;margin-top:8px;">{{followuprequired}}</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="name" data-ng-model="printpurpose.name" placeholder="{{followuprequired}}" style="width:260px;" ng-if="UserLanguage==1">

                        <input type="text" class="form-control" id="name" data-ng-model="printpurpose.hnname" placeholder="{{followuprequired}}" style="width:260px;" ng-if="UserLanguage==2">

                        <input type="text" class="form-control" id="name" data-ng-model="printpurpose.knname" placeholder="{{followuprequired}}" style="width:260px;" ng-if="UserLanguage==3">

                        <input type="text" class="form-control" id="name" data-ng-model="printpurpose.taname" placeholder="{{followuprequired}}" style="width:260px;" ng-if="UserLanguage==4">

                        <input type="text" class="form-control" id="name" data-ng-model="printpurpose.tename" placeholder="{{followuprequired}}" style="width:260px;" ng-if="UserLanguage==5">

                        <input type="text" class="form-control" id="name" data-ng-model="printpurpose.mrname" placeholder="{{followuprequired}}" style="width:260px;" ng-if="UserLanguage==6">
                    </div>
                </div>

                <div class="form-group">
                    <label for="city" class="col-sm-4" style="font-weight: 600;margin-top: 4px;">{{printstatus}}</label>
                    <div class="col-sm-6">
                        <select ui-select2 ng-model="newtodo.status" data-placeholder="{{printstatus}}" style="width:260px;">
                            <option value=""></option>
                            <!--<option value="1">Open</option>
							<option value="3" disabled>Close</option>-->
                            <option data-ng-repeat="delay in todostatuses" value="{{delay.id}}" ng-if="UserLanguage==1" data-ng-disabled="delay.id==3">{{ delay.name }}</option>
                            <option data-ng-repeat="delay in todostatuses" value="{{delay.id}}" ng-if="UserLanguage==2" data-ng-disabled="delay.id==3">{{ delay.hnname }}</option>
                            <option data-ng-repeat="delay in todostatuses" value="{{delay.id}}" ng-if="UserLanguage==3" data-ng-disabled="delay.id==3">{{ delay.knname }}</option>
                            <option data-ng-repeat="delay in todostatuses" value="{{delay.id}}" ng-if="UserLanguage==4" data-ng-disabled="delay.id==3">{{ delay.taname }}</option>
                            <option data-ng-repeat="delay in todostatuses" value="{{delay.id}}" ng-if="UserLanguage==5" data-ng-disabled="delay.id==3">{{ delay.tename }}</option>
                            <option data-ng-repeat="delay in todostatuses" value="{{delay.id}}" ng-if="UserLanguage==6" data-ng-disabled="delay.id==3">{{ delay.mrname }}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="city" class="col-sm-4" style="font-weight: 600;margin-top:8px;">{{followupdate}}</label>
                    <div class="col-sm-6">
                        <td style="width: 250px;">
                            <p class="input-group" style="width: 200px;">
                                <input type="text" id="{{'datepickerfollowup' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="newtodo.datetime" is-open="picker.followupopened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" min-date="mindt" style="width:220px;" />
                                <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="open($event,item, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </td>
                    </div>
                </div>


                <div>
                    <div align="left">
                        <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="SavetodoFollow()" style="padding:5px 20px;">{{savebutton}}</a>&nbsp;



                        <a data-ng-click="CancelFollow()" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">{{cancel}}</a>
                    </div>
                </div>

            </form>
        </div>
    </div>


    <style>
        .toggle.android {
            border-radius: 0px;
        }
        
        .toggle.android .toggle-handle {
            border-radius: 0px;
        }
        
        .color-green {
            color: #00a65a;
        }
        
        .color-blue {
            color: #00c0ef;
        }
        
        .color-red {
            color: #dd4b39;
        }
        
        .color-black {
            color: rgb(83, 12, 44);
        }
        
        .color-meganta {
            color: #f39c12;
        }

    </style>


</modal1>




<!--
<modal2 title1="{{modalTitle}}" visible="groupmeetingdataModal">
    <p>{{message}}</p>
</modal2>
-->

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>


<script type="text/ng-template" id="template/AlertModal.html" class="modal" class="modal fade" role="dialog">
    <div class="modal-header">
        <h4 class="modal-title">{{modalTitle}}</h4>
    </div>
    <div class="modal-body"> {{message}} </div>
</script>
