<style>
    /*
	.stylelink {
		padding: 3px 10px;
		background: transparent;
		color: #333;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	
	.stylelink.active {
		padding: 3px 10px;
		background: #b71c1c;
		color: #fff;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	*/

    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;

    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;
        border-bottom: 4px solid #ec0b6d;
    }

    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
       border-bottom: 4px solid #f4f4f4;
        /*		background-color: #fff;*/
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }

    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/

    .nav-tabs-custom>.nav-tabs>li {
        width: 19%;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 10px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 10px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
            padding: 5px 10px;
        }
        .sub_menu.active {
            font-size: 10px;
            padding: 5px 10px;
        }
        .nav-tabs-custom>.nav-tabs>li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
    }

</style>

<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink " href="/countries"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="COUNTRY">COUNTRY</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink " href="/state"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="STATE">STATE</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/district"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="DISTRICT">DISTRICT</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/town"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="TOWN">TOWN</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink active" href="/ictccenter"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ICTC">ICTC </span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/artcenter"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ART">ART </span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/ti"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="TI">TI</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/sites"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="SITES">SITES</span></a>
        </div>

        <!--<div style="text-align:center;">
            <a class="stylelink " href="/timanager"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">TI MANAGER</span></a>
        </div>-->
        <!--
        <div style="text-align:center;">
            <a class="stylelink" href="/otherroles"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">OTHER ROLES</span></a>
        </div>
-->
        <!-- <div style="text-align:center;">
            <a class="stylelink" href="/roles"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">ROLES</span></a>
        </div>-->

        <!--<div style="text-align:center;">
            <a class="stylelink" href="/users"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">USERS</span></a>
        </div>-->
        <!--
        <div style="text-align:center;">
            <a class="stylelink" href="/ictcassign"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">TI ASSIGN</span></a>
        </div>
-->
    </div>
</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div class="box-header with-border">
        <!--		<h3 class="box-title">Facility Manager/HDF List</h3>-->
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <div class="row"  style="padding:0px 20px;">
            <div class="col-sm-5">
                <div data-ng-hide="showForm()">
                    <form role="form" class=" ">
                        <div class="row" style="margin:0;padding:0;">
                            <div class="col-sm-6 pddleft">
                                <div class="form-group">
                                    <label for="zone">Country</label>
                                    <div>
                                        <select ui-select2 id="zone" ng-model="CountryID" data-placeholder="Pick a Country" style="width:100%;">
									<option value=""></option>
									<option data-ng-repeat="country  in countries" value="{{country.id}}">{{ country.name }}</option>
								</select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="salesarea">State</label>
                                    <div>
                                        <select ui-select2 id="salesarea" ng-model="stateId" data-placeholder="Pick a State" style="width:100%;">
									<option value=""></option>
									<option data-ng-repeat="zone in dispalyZones" value="{{zone.id}}">{{ zone.name }}</option>
								</select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 pddleft">
                                <div class="form-group">
                                    <label for="salesarea">District</label>
                                    <div>
                                        <select ui-select2 id="salesarea" ng-model="districtId" data-placeholder="Pick a District" style="width:100%;">
									<option value=""></option>
									<option data-ng-repeat="salesarea in displaySalesareas" value="{{salesarea.id}}">{{ salesarea.name }}</option>
								</select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="distributionarea">Town</label>
                                    <div>
                                        <select ui-select2 id="firstName" ng-model="townId" data-placeholder="Pick a Town" style="width:100%;">
									<option value=""></option>
									<option data-ng-repeat="town in displayCities" value="{{town.id}}">{{ town.name}}</option>
								</select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>

            </div>
            <div class="col-sm-7">
                <div data-ng-hide="hideSearchFilter()" class="col-sm-2  col-md-2" style="text-align:left;border-color:#e1e8ee">
                    <div>
                        <label class="showlabel">Show</label>
                    </div>
                    <div class="sell">
                        <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                    </div>
                    <!--					<span>Entries</span>-->
                </div>
                <div data-ng-hide="hideSearchFilter()" class="col-sm-6 col-md-6 smright2txt">
                    <!--
            <div class="row" style="margin:0;padding:0;">
						<div class="col-sm-5"></div>
						<div class="col-sm-7">
-->
                    <form role="form">
                        <div class="input-group">
                            <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-left-radius:4px;border-bottom-left-radius: 4px;border-color:#e1e8ee;background:none;border-right:none;"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                            <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-left:none;border-color:#e1e8ee;border-top-right-radius:4px;border-bottom-right-radius: 4px;" data-ng-model="search">

                        </div>
                    </form>

                    <!--
						</div>
					</div>
-->
                </div>
                <div class="col-sm-2 col-md-2 smright2txt">
                    <a data-ng-href="/ictccenter/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New </a>
                    <!--                <a data-ng-href="/upload-facilitymanager" class="btn btn-success btn-sm " role="button" data-ng-hide="hideCreateButton()" style="padding:5px 20px;margin-right:10px;">Upload</a>-->
                </div>
            </div>
        </div>

        <div data-ng-hide="hideSearchFilter()">

            <!--
			<div class="row" style="margin:0;padding:0;">
				<div class="col-sm-6" style="padding-top:5px;">
					<span>Show</span>
					<select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
						<option value="25">25</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
					<span>Entries</span>
				</div>
				<div class="col-sm-6">
					<div class="row" style="margin:0;padding:0;">
						<div class="col-sm-4"></div>
						<div class="col-sm-8">
							<form role="form">
								<div class="input-group">
									<input type="text" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-radius:20px;width:140%;" data-ng-model="searchPart">
								</div>
							</form>

						</div>
					</div>
				</div>

			</div>
-->
        </div>
        <br />


<!--
        <div data-ng-hide="showForm()">
            <form role="form" class="form-horizontal">
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zone" class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="font-weight:600;margin-top:5px;">Country</label>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <select ui-select2 id="zone" ng-model="CountryID" data-placeholder="Pick a Country" style="width:100%;">
									<option value=""></option>
									<option data-ng-repeat="country  in countries" value="{{country.id}}">{{ country.name }}</option>
								</select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="salesarea" class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="font-weight:600;margin-top:5px;">State</label>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <select ui-select2 id="salesarea" ng-model="stateId" data-placeholder="Pick a State" style="width:100%;">
									<option value=""></option>
									<option data-ng-repeat="zone in dispalyZones" value="{{zone.id}}">{{ zone.name }}</option>
								</select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="salesarea" class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="font-weight:600;margin-top:5px;">District</label>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <select ui-select2 id="salesarea" ng-model="districtId" data-placeholder="Pick a District" style="width:100%;">
									<option value=""></option>
									<option data-ng-repeat="salesarea in displaySalesareas" value="{{salesarea.id}}">{{ salesarea.name }}</option>
								</select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="distributionarea" class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="font-weight:600;margin-top:5px;">Town</label>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <select ui-select2 id="firstName" ng-model="townId" data-placeholder="Pick a Town" style="width:100%;">
									<option value=""></option>
									<option data-ng-repeat="town in displayCities" value="{{town.id}}">{{ town.name}}</option>
								</select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
            </form>
-->
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width:5%;">S NO.</th>
                            <!--                            <th>ICTC name</th>-->
                            <!--<th ng-click="changeSorting('langName')" title="LANGUAGE" style="cursor:pointer;">Language<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('langName')"></i></span></th>-->
                            <th ng-click="changeSorting('index')" title="TOWN NAME" style="cursor:pointer;">ICTC name<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('index')"></i></span></th>
                            <th>Code</th>
                            <th>Country</th>
                            <th>State</th>
                            <th>District</th>
                            <th>Town</th>

                            <th style="width:100px;">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="ictc in ictccenters| orderBy:sort.active:sort.descending| filter:search:startsWith |itemsPerPage:pageSize" current-page="currentpage" pagination-id="coOrgtable" ng-style="{'color':partner.colour}">
                            <td>{{ ictc.index }}</td>
                            <!-- <td>{{ ictc.langName }}</td>-->

                            <td>{{ ictc.id }} - {{ ictc.name }}</td>
                            <td>{{ ictc.code }}</td>
                            <td>{{ ictc.countryName }}</td>
                            <td>{{ ictc.stateName }}</td>
                            <td>{{ ictc.districtName }}</td>
                            <td>{{ ictc.cityName }}</td>
                            <td>
                                <!--
                                <a data-ng-href="/ictccenter/{{ictc.id}}"><span class="glyphicon glyphicon-pencil" ></span></a>&nbsp;&nbsp;
                                <a style="color:#b7b8c8;">|</a>&nbsp;&nbsp;
                                <a confirm-button="Delete(ictc.id)" message="Are you sure? you want to delete?"><span class="glyphicon glyphicon-remove" style="cursor:pointer;" title="Bin"></span></a>&nbsp;
-->

                                <a data-ng-href="/ictccenter/{{ictc.id}}"><img src="images/piclinks/edit.png" title="Edit"  width="16px"></a>&nbsp;&nbsp;&nbsp;
<!--                                <a style="color:#b7b8c8;" ng-if="ictc.parentFlag == false">|</a>&nbsp;&nbsp;-->
                                <a confirm-button="Delete(ictc.id)" message="Are you sure? you want to delete?" ng-if="ictc.parentFlag == false && ictc.deleteflag == false"><img src="images/piclinks/cross.png" style="width:16px;cursor:pointer" title="Delete">
                                &nbsp;&nbsp;&nbsp;</a>

                                <a confirm-button="Archive(ictc.id)" message=" Are you sure? You Need to archive this.." ng-if="ictc.deleteflag == true && ictc.parentFlag == false"><img src="images/piclinks/archive.png" style="cursor:pointer;width:16px;" title="Archive"></a>&nbsp;&nbsp;&nbsp;

                            </td>
                        </tr>
                    </tbody>
                </table>
                <div align="right">
                    <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" on-page-change="PageChanged(newPageNumber, oldPageNumber)" pagination-id="coOrgtable">
                    </dir-pagination-controls>
                </div>
                <!--
                <div ng-show="!partners.length" style="margin:0 auto;text-align:center;padding-top: 5%;">
                    <span style="font-size:18px;font-weight:bold;font-family:Georgia, Serif;">Please select an options</span>
                </div>
-->
            </div>
<!--        </div>-->

    </div>
    <!-- /.box-body -->
    <div class="box-footer">
<br/>
    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->
