<style>
    /*
    .stylelink {
        padding: 3px 10px;
        background: transparent;
        color: #333;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }
    
    .stylelink.active {
        padding: 3px 10px;
        background: #b71c1c;
        color: #fff;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    } */

    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;

    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;
        border-bottom: 4px solid #ec0b6d;
    }

    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 4px solid #f4f4f4;
        /*        background-color: #fff;*/
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }

    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/

    .nav-tabs-custom>.nav-tabs>li {
        width: 19%;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .nav-tabs-custom>.nav-tabs>li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
    }

</style>

<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink" href="/LangMemberList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="MEMBER LIST">MEMBER LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/LangOrwList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ORW  LIST">ORW LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink active" href="/LangTIList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="TI LIST">TI LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangOnetooneList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ONE TO ONE LIST">ONE TO ONE LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/LangMainList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="MAIN/NAV LIST">MAIN/NAV LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangConditionList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="CONDITIONS LIST">CONDITIONS LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangPRList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="PATIENT RECORD LIST">PATIENT RECORD LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangTodo"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ToDO">ToDO</span></a>
        </div>

    </div>



</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div class="box-header with-border">
        <!--        <h3 class="box-title">Gender</h3>-->
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <div class="row" style="padding:0px 20px;">
            <div class="col-sm-5"></div>
            <div class="col-sm-7">
                <div data-ng-hide="hideSearchFilter()" class="col-sm-2  col-md-2" style="text-align:left;border-color:#e1e8ee">
                    <div>
                        <label class="showlabel">Show</label>
                    </div>
                    <div class="sell">
                        <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                    </div>
                    <!--					<span>Entries</span>-->
                </div>
                <div data-ng-hide="hideSearchFilter()" class="col-sm-6 col-md-6 smright2txt">
                    <!--
            <div class="row" style="margin:0;padding:0;">
						<div class="col-sm-5"></div>
						<div class="col-sm-7">
-->
                    <form role="form">
                        <div class="input-group">
                            <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-left-radius:4px;border-bottom-left-radius: 4px;border-color:#e1e8ee;background:none;border-right:none;"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                            <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search " style="z-index:0;border-left:none;border-color:#e1e8ee;border-top-right-radius:4px;border-bottom-right-radius: 4px;" data-ng-model="Search" focus="someFocusVariable">

                        </div>
                    </form>

                    <!--
						</div>
					</div>
-->
                </div>
                <div class="col-sm-2 col-md-2 smright2txt">
                    <a data-ng-href="/LangTI/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New </a>
                </div>
            </div>
        </div>


        <form class=" " role="form" style="padding:0px 20px;" data-ng-show="showForm()">
            <p align="center" style="color:#ec0b6d;">All fields with * are mandatory</p>



            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" id="name" class="col-sm-4" style="font-weight:600;margin-top:7px;">Language<sup>*</sup></label>
                        <div class="col-sm-6">
                            <select ui-select2 id="language" data-ng-model="langtilist.language" data-placeholder="Pick a language" style="width:100%;" data-ng-disabled="!isCreateView()">
                                <option value=""></option>
                                <option data-ng-repeat="language in languages" value="{{language.id}}">{{ language.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>


            <form class="" role="form">
                <br />
                <br>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Country </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.country" placeholder="Country"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">State </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.state" placeholder="State"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">District </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.district" placeholder="District"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Town </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.town" placeholder="Town"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">TI ID</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.facility" placeholder="TI ID"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Address </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.address" placeholder="Address"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Helpline No </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.helplineno" placeholder="Helpline No"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Another Helpline No </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.anotherhelplineno" placeholder="Another Helpline No"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Event </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.eventheader" placeholder="Event"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Event Name </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.eventname" placeholder="Event Name"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Venue </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.venue" placeholder="Venue"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name"> Event Type </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.eventtype" placeholder="Event Type"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Site List </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.headersitelist" placeholder="Site List"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name"> Site Name </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.sitename" placeholder="Site Name"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">TI Profile </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.facilityprofileheader" placeholder="TI Profile"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">TI  </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.facilitycode" placeholder="TI "> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Pin Code </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.pincode" placeholder="Pin Code"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">TI Type  </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.facilitytype" placeholder="TI Type "> </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">Area of Operation </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.areaofoperation" placeholder="Area of Operation"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">CO is Empanelled for LIC/Insurance Company </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.insurancecompany" placeholder="CO is Empanelled for LIC/Insurance Company"> </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">No of Towns Covered </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.nooftowncover" placeholder="No of Towns Covered"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">No of Mandals/Talukas/Blocks Covered </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.noofblockcovered" placeholder="No of Mandals/Talukas/Blocks Covered"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">CO Representation in HIV Management and Governance at State or District Level </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.corepresentationinhiv" placeholder="CO Representation in HIV Management and Governance at State or District Level"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">CO a Member of Any State or National Level Networks </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.stateornationallevel" placeholder="CO a Member of Any State or National Level Networks"> </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">Implements TI </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.implementti" placeholder="Implements TI"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">No of Income Generating Activities Undertaken by the CO </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.noofincome" placeholder="No of Income Generating Activities Undertaken by the CO"> </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">No of TIs Implemented by the TI</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.nooftiimplemented" placeholder="No of TIs Implemented by the TI"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">TI- Rating </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.tirating" placeholder="TI-  Rating"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">No of Non TI and Non Avahan Projects Implemented by the CO </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.noofnontiimplemented" placeholder="No of Non TI and Non Avahan Projects Implemented by the CO"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">Name of the Projects Implemented by the CO </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.nameofprojects" placeholder="Name of the Projects Implemented by the CO"> </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">Registration Number </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.registrationno" placeholder="Registration Number"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">Registration Renewal Date </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.registrationrenewaldt" placeholder="Registration Renewal Date"> </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">PAN Card Number </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.pancardno" placeholder="PAN Card Number"> </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">Income tax returns filed for the last financial year </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.incometaxreturn" placeholder="Income tax returns filed for the last financial year"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">12 A Status </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.astatus" placeholder="12 A Status"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">80 G Status </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.gstatus" placeholder="80 G Status"> </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">FCRA Status </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.fcrastatus" placeholder="FCRA Status"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">Date of Last AGBM </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.dateoflastagbm" placeholder="Date of Last AGBM"> </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">External Audit Completed </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.externalaudit" placeholder="External Audit Completed"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">Audit Report Submitted </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.auditreport" placeholder="Audit Report Submitted"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">Board has discussed Audit Report and prepared Action plan </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.boardhasdiscuss" placeholder="Board has discussed Audit Report and prepared Action plan"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">Date of Last Elections </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.dateoflastelection" placeholder="Date of Last Elections"> </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">Total No.of Members in the Elected Body( No of board members) </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.totalnoofmembers" placeholder="Total No.of Members in the Elected Body( No of board members)"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">BASIC </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.basic" placeholder="Basic"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">NON STATUTORY </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.nonstatutory" placeholder="NON STATUTORY"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">STATUTORY </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.statutory" placeholder="STATUTORY"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Events </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.eventslabel" placeholder="Events"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">First Name </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.firstName" placeholder="First Name"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Mobile No</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.mobile" placeholder="Mobile No"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Last Name</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.lastName" placeholder="Last Name"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Email </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.email " placeholder="Email"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">ICTC</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.ictcName" placeholder="ICTC"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">ART</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.artName" placeholder="ART"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Typology</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.typology" placeholder="Typology"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">TI CODE</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.salesCode" placeholder="TI CODE"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="search">FW Site Link</label>
                            <div>
                                <input type="text" class="form-control" id="mandatory" data-ng-model="langtilist.fwsitelink" placeholder="FW Site Link"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="search">Search</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.search" placeholder="Search"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="show">Show</label>
                            <div>
                                <input type="text" class="form-control" id="show" data-ng-model="langtilist.show" placeholder="Show"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="search">Add New</label>
                            <div>
                                <input type="text" class="form-control" id="addnew" data-ng-model="langtilist.addNew" placeholder="Add New"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="show">Action</label>
                            <div>
                                <input type="text" class="form-control" id="action" data-ng-model="langtilist.action" placeholder="Action"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="search">All fields with * are Mandatory</label>
                            <div>
                                <input type="text" class="form-control" id="mandatory" data-ng-model="langtilist.mandatoryfield" placeholder="All fields with * are mandatory"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="show">Field Worker</label>
                            <div>
                                <input type="text" class="form-control" id="action" data-ng-model="langtilist.fieldworkerth" placeholder="Field Worker"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="search">Assigned Sites</label>
                            <div>
                                <input type="text" class="form-control" id="mandatory" data-ng-model="langtilist.passignedsites" placeholder="Assigned Sites"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="show">No Site Assigned</label>
                            <div>
                                <input type="text" class="form-control" id="action" data-ng-model="langtilist.nositeassigned" placeholder="No Site Assigned"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="search">Unassigned Site</label>
                            <div>
                                <input type="text" class="form-control" id="mandatory" data-ng-model="langtilist.pillarstarted" placeholder="Unassigned Site"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">TI Profile</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.facilityprofile" placeholder="TI Profile"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="search">Create</label>
                            <div>
                                <input type="text" class="form-control" id="mandatory" data-ng-model="langtilist.saveLabel" placeholder="Create"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Update</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langtilist.update" placeholder="Update"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="search">Cancel</label>
                            <div>
                                <input type="text" class="form-control" id="mandatory" data-ng-model="langtilist.cancel" placeholder="Cancel"> </div>
                        </div>
                    </div>
                </div>




                <div style="width:100%;height:auto;padding:5px 5px;background:#f7f7f7;">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-6" style="padding:0;">
                            <div class="form-group" style="margin:0;">
                                <label for="extended" class="col-sm-4" style="font-weight:bold;margin-top: 8px;padding:0;">Error Message</label>
                            </div>
                        </div>
                        <div class="col-sm-6" style="padding:0;"></div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">Please enter first name </label>
                            <div>
                                <input type="text" class="form-control" id="enterfirstname" data-ng-model="langtilist.enterfirstname" placeholder="Please enter first name"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">Please select TI type </label>
                            <div>
                                <input type="text" class="form-control" id="selfacilitytype" data-ng-model="langtilist.selfacilitytype" placeholder="Please select TI type"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">Please select area of operation </label>
                            <div>
                                <input type="text" class="form-control" id="selareaofopt" data-ng-model="langtilist.selareaofopt" placeholder="Please select area of operation"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">Please enter no of town covered </label>
                            <div>
                                <input type="text" class="form-control" id="enternooftowncov" data-ng-model="langtilist.enternooftowncov" placeholder="Please enter no of town covered"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name"> Please enter No of Mandals/Talukas/Blocks Covered </label>
                            <div>
                                <input type="text" class="form-control" id="entermandal" data-ng-model="langtilist.entermandal" placeholder="Please enter No of Mandals/Talukas/Blocks Covered"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">Please enter No of Income Generating Activities Undertaken by the CO </label>
                            <div>
                                <input type="text" class="form-control" id="enternoofincome" data-ng-model="langtilist.enternoofincome" placeholder="Please enter No of Income Generating Activities Undertaken by the CO"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name"> Please select Implements TI </label>
                            <div>
                                <input type="text" class="form-control" id="selimplementsti" data-ng-model="langtilist.selimplementsti" placeholder="Please select Implements TI"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">Please enter No of TIs Implemented by the TI  </label>
                            <div>
                                <input type="text" class="form-control" id="enternooftis" data-ng-model="langtilist.enternooftis" placeholder="Please enter No of TIs Implemented by the TI "> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name"> Please enter No of Non TI and Non Avahan Projects Implemented by the CO </label>
                            <div>
                                <input type="text" class="form-control" id="enternoofnontis" data-ng-model="langtilist.enternoofnontis" placeholder="Please enter No of Non TI and Non Avahan Projects Implemented by the CO"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name"> Please enter registration number </label>
                            <div>
                                <input type="text" class="form-control" id="enterregisterno" data-ng-model="langtilist.enterregisterno" placeholder="Please enter registration number"> </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name"> Please select Registration Renewal Date </label>
                            <div>
                                <input type="text" class="form-control" id="selregrenewdate" data-ng-model="langtilist.selregrenewdate" placeholder="Please select Registration Renewal Date"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name"> Please enter PAN card number </label>
                            <div>
                                <input type="text" class="form-control" id="enterpancard" data-ng-model="langtilist.enterpancard" placeholder="Please enter PAN card number"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name"> Please select 12 A Status </label>
                            <div>
                                <input type="text" class="form-control" id="selastatus" data-ng-model="langtilist.selastatus" placeholder="Please select 12 A Status"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name"> Please select 80 G Status </label>
                            <div>
                                <input type="text" class="form-control" id="selgstatus" data-ng-model="langtilist.selgstatus" placeholder="Please select 80 G Status"> </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name"> Please select FCRA Status </label>
                            <div>
                                <input type="text" class="form-control" id="selfcrastatus" data-ng-model="langtilist.selfcrastatus" placeholder="Please select FCRA Status"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name"> Please select Date of Last AGBM </label>
                            <div>
                                <input type="text" class="form-control" id="seldateofagbm" data-ng-model="langtilist.seldateofagbm" placeholder="Please select Date of Last AGBM"> </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name"> Please select External Audit Completed </label>
                            <div>
                                <input type="text" class="form-control" id="selexternalaudit" data-ng-model="langtilist.selexternalaudit" placeholder="Please select External Audit Completed"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name"> Please select Audit Report Submitted</label>
                            <div>
                                <input type="text" class="form-control" id="selauditreport" data-ng-model="langtilist.selauditreport" placeholder="Please select Audit Report Submitted"> </div>
                        </div>
                    </div>

                   <!-- <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name"> Please select Board has discussed Audit Report and prepared Action plan </label>
                            <div>
                                <input type="text" class="form-control" id="selexternalaudit" data-ng-model="langtilist.selactionplan" placeholder="Please select Board has discussed Audit Report and prepared Action plan"> </div>
                        </div>
                    </div>-->
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name"> Please select Date of Last Elections</label>
                            <div>
                                <input type="text" class="form-control" id="seldateofelection" data-ng-model="langtilist.seldateofelection" placeholder="Please select Audit Report Submitted"> </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name"> Please Total No.of Members in the Elected Body </label>
                            <div>
                                <input type="text" class="form-control" id="enterelectionbody" data-ng-model="langtilist.enterelectionbody" placeholder="Please Total No.of Members in the Elected Body( No of board members)"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name"> TI has been updated</label>
                            <div>
                                <input type="text" class="form-control" id="facilityhasupdated" data-ng-model="langtilist.facilityhasupdated" placeholder="TI has been updated"> </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name"> Please enter event name </label>
                            <div>
                                <input type="text" class="form-control" id="entereventname" data-ng-model="langtilist.entereventname" placeholder="Please enter event name"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name"> Please enter venue</label>
                            <div>
                                <input type="text" class="form-control" id="entervenue" data-ng-model="langtilist.entervenue" placeholder="Please enter venue"> </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name"> Please select event type </label>
                            <div>
                                <input type="text" class="form-control" id="seleventtype" data-ng-model="langtilist.seleventtype" placeholder="Please select event type"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name"> Event has been created</label>
                            <div>
                                <input type="text" class="form-control" id="eventcreated" data-ng-model="langtilist.eventcreated" placeholder="Event has been created"> </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name"> Event has been updated </label>
                            <div>
                                <input type="text" class="form-control" id="eventupdated" data-ng-model="langtilist.eventupdate" placeholder="Event has been updated"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="members"> Members </label>
                            <div>
                                <input type="text" class="form-control" id="eventupdated" data-ng-model="langtilist.members" placeholder=" Members"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="members">Please Enter First Name</label>
                            <div>
                                <input type="text" class="form-control" id="eventupdated" data-ng-model="langtilist.enterfirstname" placeholder=" Please Enter First Name"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="members">Name Format is not correct</label>
                            <div>
                                <input type="text" class="form-control" id="eventupdated" data-ng-model="langtilist.selactionplan" placeholder="Name Format is not correct"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="members">Select</label>
                            <div>
                                <input type="text" class="form-control" id="select" data-ng-model="langtilist.select" placeholder="select"> </div>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
                <br/>



                <br>
                <div align="right">
                    <a data-ng-href="/LangTIList" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">Cancel</a>

                    <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;">Create </a>

                    <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;">Update </a>
    </div>
    </form>

    <div data-ng-hide="hideSearchFilter()">


    </div>
    <br />



    <div data-ng-hide="showForm()" class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>S No.</th>
                    <th ng-click="changeSorting('language')" title="LANGUAGE" style="cursor:pointer;">LANGUAGE<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('language')"></i></span></th>
                    <th ng-click="changeSorting('name')" title="NAME" style="cursor:pointer;">NAME<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('name')"></i></span></th>

                    <th ng-click="changeSorting('facility')" title="Facility ID" style="cursor:pointer;">Facility ID<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('facility')"></i></span></th>

                    <th ng-click="changeSorting('address')" title="Address" style="cursor:pointer;">Address<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('address')"></i></span></th>

                    <th ng-click="changeSorting('helplineno')" title="Helpline No" style="cursor:pointer;">Helpline No<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('helplineno')"></i></span></th>
                    <th style="width:100px;">ACTION</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="langti in tilanguages| orderBy:sort.active:sort.descending | search:Search:filterFields |itemsPerPage:pageSize">
                    <td>{{ langti.index }}</td>
                    <td>{{ langti.languageName }}</td>
                    <td>{{langti.country}}</td>
                    <td>{{langti.facility}}</td>
                    <td>{{langti.address}}</td>
                    <td>{{langti.helplineno}}</td>


                    <td><a data-ng-href="/LangTI/edit/{{langti.id}}"><img src="images/piclinks/edit.png" title="Edit"  width="16px"></a>&nbsp;&nbsp;

                </tr>
            </tbody>
        </table>
        <br/>
        <div align="right">
            <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true">
            </dir-pagination-controls>

        </div>
    </div>

</div>
<!-- /.box-body -->
<div class="box-footer">

</div>
<!-- /.box-footer -->
</div>
<!-- /.box -->




<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>

<checkmodal title1="Alert" visible="showValidationNew">
    {{validatestring1}}
    <br>

    <div class="form-group">
        <div align="center">
            <div align="center">
                <a data-ng-click="OKBUTTON()" class="btn btn-success btn-sm " role="button" style="border-color:#db4242;padding:5px 20px;font-weight:bold;">Ok</a>

            </div>
        </div>
    </div>
</checkmodal>
