<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;

    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;
        border-bottom: 4px solid #ec0b6d;
    }

    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 4px solid #f4f4f4;
        /*        background-color: #fff;*/
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }

    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/

    .nav-tabs-custom>.nav-tabs>li {
        width: 19%;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .nav-tabs-custom>.nav-tabs>li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
    }

</style>

<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink" href="/LangMemberList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="MEMBER LIST">MEMBER LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/LangOrwList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ORW  LIST">ORW LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/LangTIList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="TI LIST">TI LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink active" href="/LangOnetooneList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ONE TO ONE LIST">ONE TO ONE LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/LangMainList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="MAIN/NAV LIST">MAIN/NAV LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangConditionList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="CONDITIONS LIST">CONDITIONS LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangPRList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="PATIENT RECORD LIST">PATIENT RECORD LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangTodo"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ToDO">ToDO</span></a>
        </div>

    </div>




</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div class="box-header with-border">
        <!--        <h3 class="box-title">Gender</h3>-->
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">

        <div class="row" style="padding:0px 20px;">
            <div class="col-sm-5"></div>
            <div class="col-sm-7">
                <div data-ng-hide="hideSearchFilter()" class="col-sm-2  col-md-2" style="text-align:left;border-color:#e1e8ee">
                    <div>
                        <label class="showlabel">Show</label>
                    </div>
                    <div class="sell">
                        <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                    </div>
                    <!--					<span>Entries</span>-->
                </div>
                <div data-ng-hide="hideSearchFilter()" class="col-sm-6 col-md-6 smright2txt">
                    <!--
            <div class="row" style="margin:0;padding:0;">
						<div class="col-sm-5"></div>
						<div class="col-sm-7">
-->
                    <form role="form">
                        <div class="input-group">
                            <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-left-radius:4px;border-bottom-left-radius: 4px;border-color:#e1e8ee;background:none;border-right:none;"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                            <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search " style="z-index:0;border-left:none;border-color:#e1e8ee;border-top-right-radius:4px;border-bottom-right-radius: 4px;" data-ng-model="Search" focus="someFocusVariable">

                        </div>
                    </form>

                </div>
                <div class="col-sm-2 col-md-2 smright2txt">
                    <a data-ng-href="/LangOnetoone/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New </a>
                </div>
            </div>
        </div>

        <form class=" " role="form" data-ng-show="showForm()">
            <p align="center" style="color:#ec0b6d;">All fields with * are mandatory</p>



            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" id="name" class="col-sm-4" style="font-weight:600;margin-top:7px;">Language<sup>*</sup></label>
                        <div class="col-sm-6">
                            <select ui-select2 id="language" data-ng-model="onetonelist.language" data-placeholder="Pick a language" style="width:100%;" data-ng-disabled="!isCreateView()">
                                <option value=""></option>
                                <option data-ng-repeat="language in languages" value="{{language.id}}">{{ language.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>


            <!--start-->
            <form class=" " style="padding:0px 20px;" role="form">
                <br />
                <br />
                <div class="row" style="margin:0px;">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">One To One </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.onetoneheader" placeholder="One To One"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Full Name </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.fullname" placeholder="Full Name"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Previous Answers </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.previousanswers" placeholder="Previous Answers"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Last Meeting Date </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.lastmeetingdate" placeholder="Last Meeting Date"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">More Details </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.moredetails" placeholder="More Details"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Less Details </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.lessdetails" placeholder="Less Details"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Date </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.date" placeholder="Date"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Month of Last HIV Test </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.monthofhivtest" placeholder="Month of Last HIV Test"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0px;">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Month of Last STI Test </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.monthofstitest" placeholder="Month of Last STI Test"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">HIV Result Status </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.currenthivstatus" placeholder=" HIV Result Status"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Facility Helpline Numbers </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.facilityhelplineno" placeholder="Facility Helpline Numbers"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">To Do List </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.todolist" placeholder="To Do List"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Typology</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.typology" placeholder="Typology"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Date Of Birth </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.dob" placeholder="Date Of Birth"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Nick/Street Name</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.nickname" placeholder="Nick/Street Name"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">TI Id </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.ssjpillar" placeholder="TI Id"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0px;">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Age</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.age" placeholder="Age"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Last Answered </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.lastanswer" placeholder="Last Answered"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">ToDo </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.tododisplay" placeholder="ToDo"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Prev Question List </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.prevquestionlist" placeholder="Prev Question List"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Selected </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.select" placeholder="Selected"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Message </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.message" placeholder="Message"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Todo Type </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.todotype" placeholder="Todo Type"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Todo Status </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.todostatus" placeholder="Todo Status"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0px;">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">No. of incidents in the last 6 months </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.noofincidentmonth" placeholder="No. of incidents in the last 6 months"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Month/year of Infection </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.monthyesrinfection" placeholder="Month/year of Infection"> </div>
                        </div>
                    </div>
                    <!--<div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Document/Scheme </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.documentscheme" placeholder="Document/Scheme"> </div>
                                </div>
                            </div>-->

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Reference No </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.referenceno" placeholder="Reference No"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Date of the last FS session attended </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.dateoflastfs" placeholder="Date of the last FS session attended"> </div>
                        </div>
                    </div>

                    <!--<div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Month of Last Saving </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.monthoflastsaving" placeholder="Reference No"> </div>
                                </div>
                            </div>-->
                    <!--<div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">No. of Savings Accounts </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.noofsavingaccount" placeholder="No. of Savings Accounts"> </div>
                                </div>
                            </div>-->

                    <!--<div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">No. of Insurance Products </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.noofinsuranceproduct" placeholder="No. of Insurance Products"> </div>
                                </div>
                            </div>-->
                    <!--<div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">No. of Pension Products </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.noofpensionproduct" placeholder="No. of Pension Products"> </div>
                                </div>
                            </div>-->
                    <!-- <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">No. of Investment Products </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.noofinvestmentproduct" placeholder="No. of Investment Products"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">No of Informal Savings Sources </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.noofinformalsaving" placeholder="No of Informal Savings Sources"> </div>
                                </div>
                            </div>
                        </div>-->
                    <!--<div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">No of Informal Credit Sources </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.noofinformalcredit" placeholder="No of Informal Credit Sources"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">No of Formal Credit Sources </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.noofformalcredit" placeholder="No of Formal Credit Sources"> </div>
                                </div>
                            </div>
                        </div>-->
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">When was the last membership fees paid </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.lastmembershipfeespaid" placeholder="When was the last membership fees paid"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Date and details of next event </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.dateanddetailnextevent" placeholder="Date and details of next event"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Whether board or champion positions held in the past </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.whetherbordpast" placeholder="Whether board or champion positions held in the past"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Health </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.healthpillar" placeholder="Health"> </div>
                        </div>
                    </div>
                </div>
                <!--<div class="row">
                            
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">SSJ </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.ssjpillar" placeholder="SSJ"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">SP </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.sppillar" placeholder="SP"> </div>
                                </div>
                            </div>
                        </div>-->
                <!-- <div class="row">
                            
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">FS </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.fspillar" placeholder="FS"> </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">IDS </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.idspillar" placeholder="IDS"> </div>
                                </div>
                            </div>
                        </div>-->
                <div class="row" style="margin: 0px;">

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Task Summary </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.alltaskpillar" placeholder="Task Summary"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Select TODOs </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.selecttodos" placeholder="Select TODOs"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Select Status </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.selectstatus" placeholder="Select Status"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Month Time when availed </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.monthtimeavailed" placeholder="Month Time when availed"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Reference Number </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.referencenumber" placeholder="Reference Number"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">ToDo's </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.todosprint" placeholder="ToDo's"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">All Question Answered Sucessfully</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.schemeordocument" placeholder="All Question Answered Sucessfully"> </div>
                        </div>
                    </div>
                    


                    <!-- <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Scheme or Document </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.schemeordocument" placeholder="Reference Number"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Scheme/Document </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.schemedocument" placeholder="ToDo's"> </div>
                                </div>
                            </div>-->

                    <!--<div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Month/year of Infection </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.monthyesrinfection" placeholder="Month/year of Infection"> </div>
                                </div>
                            </div>-->
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">No Of Condoms Asked </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.noofcondomask" placeholder="No Of Condoms Asked"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">No Of Condoms Provided </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.noofcondomprovide" placeholder="No Of Condoms Provided"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Date Provided </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.dateprovided" placeholder="Date Provided"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Month Availed </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.monthavailed" placeholder="Month Availed"> </div>
                        </div>
                    </div>
                    <!-- 
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Insurance </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.insurance" placeholder="Insurance"> </div>
                                </div>
                            </div>-->
                    <!-- <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Pension </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.pension" placeholder="Pension"> </div>
                                </div>
                            </div>-->
                    <!--<div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Credit </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.credit" placeholder="Credit"> </div>
                                </div>
                            </div>-->
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Remittance </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.remitance" placeholder="Remittance"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Age Group </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.agegroup" placeholder="Age Group"> </div>
                        </div>
                    </div>

                </div>
                <div class="row" style="margin:0px;">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Category </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.category" placeholder="Category"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">All Task </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.alltask" placeholder="All Task"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">CLICK YES TO REPEAT 1-1 MEETING </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.clickyestorepeat" placeholder="CLICK YES TO REPEAT 1-1 MEETING"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">CLICK NO TO VIEW ALL TASKS </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.clicknotoview" placeholder="CLICK NO TO VIEW ALL TASKS"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0px;">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Question </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.question" placeholder="Question"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Answer </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.answer" placeholder="Answer"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Last Modified Time </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.lastmodifytime" placeholder="Last Modified Time"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Consent Title</label>
                            <div>
                                <input class="form-control" id="name" data-ng-model="onetonelist.consentmsg" placeholder="Consent Title">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Month Availed </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="onetonelist.monthavailed" placeholder="Month Availed"> </div>
                                </div>
                            </div>-->
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Consent </label>
                            <div>
                                <textarea rows="3" class="form-control" id="name" data-ng-model="onetonelist.consent" placeholder="Consent"> </textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Follow Up Date</label>
                            <div>
                                <input class="form-control" id="name" data-ng-model="onetonelist.followupdate" placeholder="Follow Up Date">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">No of Days Alcohal Consumed in a week </label>
                            <div>
                                <textarea rows="3" class="form-control" id="name" data-ng-model="onetonelist.alcohalconsume" placeholder="No of Days Alcohal Consumed in a week"> </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Save</label>
                            <div>
                                <input class="form-control" id="name" data-ng-model="onetonelist.saveLabel" placeholder="Save">
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Follow Up Date</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="name" data-ng-model="onetonelist.followupdate" placeholder="Follow Up Date">
                            </div>
                        </div>
                    </div>-->
                </div>

                <div class="row" style="margin:0px;">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Update </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.update" placeholder="Update"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Ok </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.ok" placeholder="Ok"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Cancel</label>
                            <div>
                                <input class="form-control" id="name" data-ng-model="onetonelist.cancel" placeholder="Cancel">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Yes </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.yes" placeholder="Yes"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">No</label>
                            <div>
                                <input class="form-control" id="name" data-ng-model="onetonelist.fspillar" placeholder="No">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Select</label>
                            <div>
                                <input class="form-control" id="name" data-ng-model="onetonelist.select" placeholder="select">
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width:100%;height:auto;padding:5px 5px;background:#f7f7f7;">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-6" style="padding:0;">
                            <div class="form-group" style="margin:0;">
                                <label for="extended" class="col-sm-4" style="font-weight:bold;margin-top: 8px;padding:0;">Error Message</label>
                            </div>
                        </div>
                        <div class="col-sm-6" style="padding:0;"></div>
                    </div>
                </div>
                <br/>
                <div class="row" style="margin:0px;">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">Condoms Asked cannot be Empty </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.condomsaskedempty" placeholder="Condoms Asked cannot be Empty"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">Condoms Provided cannot be Empty </label>
                            <div>
                                <input rows="3" class="form-control" id="name" data-ng-model="onetonelist.condomsprovidedempty" placeholder="Condoms Provided cannot be Empty">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">Date Provided cannot be Empty </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="onetonelist.dateprovidedempty" placeholder="Date Provided cannot be Empty"> </div>
                        </div>
                    </div>

                </div>
                <!--end-->
                <br/>
                <br/>
                <br/>



                <br>
                <div align="right" style="padding:0px 20px;">
                        <a data-ng-href="/LangOnetooneList" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">Cancel</a>

                        <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;">Create </a>

                        <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;">Update </a>
                </div>
            </form>

            <div data-ng-hide="hideSearchFilter()">


            </div>
            <br />



            <div data-ng-hide="showForm()" class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>S NO.</th>
                            <th ng-click="changeSorting('language')" title="LANGUAGE" style="cursor:pointer;">LANGUAGE<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('language')"></i></span></th>
                            <th ng-click="changeSorting('name')" title="REFERENCE NO" style="cursor:pointer;">REFERENCE NO<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('name')"></i></span></th>
                            <th ng-click="changeSorting('date')" title="Date" style="cursor:pointer;">Date<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('date')"></i></span></th>
                            <th ng-click="changeSorting('currenthivstatus')" title="Current HIV Status" style="cursor:pointer;">HIV Result Status<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('currenthivstatus')"></i></span></th>
                            <th ng-click="changeSorting('facilityhelplineno')" title="Facility Helpline Numbers" style="cursor:pointer;">Facility Helpline Numbers<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('facilityhelplineno')"></i></span></th>
                            <th style="width:100px;">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="onetoone in onetoonelanguages| orderBy:sort.active:sort.descending | search:Search:filterFields  |itemsPerPage:pageSize">
                            <td>{{ onetoone.index }}</td>
                            <td>{{ onetoone.languageName }}</td>
                            <td>{{onetoone.referenceno}}</td>
                            <td>{{onetoone.date}}</td>
                            <td>{{onetoone.currenthivstatus}}</td>
                            <td>{{onetoone.facilityhelplineno}}</td>


                            <td><a data-ng-href="/LangOnetoone/edit/{{onetoone.id}}"><img src="images/piclinks/edit.png" title="Edit" width="16px"></a>&nbsp;&nbsp;

                        </tr>
                    </tbody>
                </table>
                <br/>
                <div align="right">
                    <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true">
                    </dir-pagination-controls>

                </div>
            </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->




<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>

<checkmodal title1="Alert" visible="showValidationNew">
    {{validatestring1}}
    <br>

    <div class="form-group">
        <div align="center">
            <div align="center">
                <a data-ng-click="OKBUTTON()" class="btn btn-success btn-sm " role="button" style="border-color:#db4242;padding:5px 20px;font-weight:bold;">Ok</a>

            </div>
        </div>
    </div>
</checkmodal>
