<style>
    /*
    .stylelink {
        padding: 3px 10px;
        background: transparent;
        color: #333;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }
    
    .stylelink.active {
        padding: 3px 10px;
        background: #b71c1c;
        color: #fff;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    } */

    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;

    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;
        border-bottom: 4px solid #ec0b6d;
    }

    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 4px solid #f4f4f4;
        /*        background-color: #fff;*/
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }

    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/

    .nav-tabs-custom>.nav-tabs>li {
        width: 19%;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .nav-tabs-custom>.nav-tabs>li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
    }

</style>

<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink" href="/LangMemberList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="MEMBER LIST">MEMBER LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink active" href="/LangOrwList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ORW  LIST">ORW LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/LangTIList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="TI LIST">TI LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangOnetooneList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ONE TO ONE LIST">ONE TO ONE LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/LangMainList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="MAIN/NAV LIST">MAIN/NAV LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangConditionList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="CONDITIONS LIST">CONDITIONS LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangPRList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="PATIENT RECORD LIST">PATIENT RECORD LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangTodo"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ToDO">ToDO</span></a>
        </div>

    </div>



</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div class="box-header with-border">
        <!--        <h3 class="box-title">Gender</h3>-->
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <div class="row" style="padding:0px 20px;">
            <div class="col-sm-5"></div>
            <div class="col-sm-7">
                <div data-ng-hide="hideSearchFilter()" class="col-sm-2  col-md-2" style="text-align:left;border-color:#e1e8ee">
                    <div>
                        <label class="showlabel">Show</label>
                    </div>
                    <div class="sell">
                        <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                    </div>
                    <!--					<span>Entries</span>-->
                </div>
                <div data-ng-hide="hideSearchFilter()" class="col-sm-6 col-md-6 smright2txt">
                    <!--
            <div class="row" style="margin:0;padding:0;">
						<div class="col-sm-5"></div>
						<div class="col-sm-7">
-->
                    <form role="form">
                        <div class="input-group">
                            <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-left-radius:4px;border-bottom-left-radius: 4px;border-color:#e1e8ee;background:none;border-right:none;"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                            <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search " style="z-index:0;border-left:none;border-color:#e1e8ee;border-top-right-radius:4px;border-bottom-right-radius: 4px;" data-ng-model="Search" focus="someFocusVariable">

                        </div>
                    </form>

                    <!--
						</div>
					</div>
-->
                </div>
                <div class="col-sm-2 col-md-2 smright2txt">
                    <a data-ng-href="/LangOrw/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New </a>
                </div>
            </div>
        </div>


        <form class="" role="form" style="padding:0px 20px;" data-ng-show="showForm()">
            <p align="center" style="color:#ec0b6d">All fields with * are mandatory</p>
            <br/>

            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" id="name" class="col-sm-4" style="font-weight:600;margin-top:7px;">Language</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="language" data-ng-model="langorw.language" data-placeholder="Pick a language" style="width:100%;" data-ng-disabled="!isCreateView()">
                                <option value=""></option>
                                <option data-ng-repeat="language in languages" value="{{language.id}}">{{ language.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>


            <form class="" role="form">
                <br />
                <br />
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="first-name">ORW List </label>
                            <div>
                                <input type="text" class="form-control" id="firstname" data-ng-model="langorw.fieldworkerlist" placeholder="ORW List"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="last-name">ORW Create </label>
                            <div>
                                <input type="text" class="form-control" id="lastname" data-ng-model="langorw.fieldworkercreate" placeholder="ORW Create"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="first-name">Basic Info </label>
                            <div>
                                <input type="text" class="form-control" id="firstname" data-ng-model="langorw.divbasicinfo" placeholder="Basic Info"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="last-name">User Info </label>
                            <div>
                                <input type="text" class="form-control" id="lastname" data-ng-model="langorw.divuserinfo" placeholder="User Info"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="first-name">First Name </label>
                            <div>
                                <input type="text" class="form-control" id="firstname" data-ng-model="langorw.firstname" placeholder="First Name"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="last-name">Last Name </label>
                            <div>
                                <input type="text" class="form-control" id="lastname" data-ng-model="langorw.lastname" placeholder="Last Name"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="code">TI </label>
                            <div>
                                <input type="text" class="form-control" id="ti" data-ng-model="langorw.ti" placeholder="TI"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <div>
                                <input type="text" class="form-control" id="email" data-ng-model="langorw.email" placeholder="Email"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="mobile">Mobile (+91) </label>
                            <div>
                                <input type="text" class="form-control" id="mobile" data-ng-model="langorw.mobile" placeholder="Mobile number"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="address">Address</label>
                            <div>
                                <input class="form-control" id="address" data-ng-model="langorw.address" placeholder="Address"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="first-name">User Name </label>
                            <div>
                                <input type="text" class="form-control" id="firstname" data-ng-model="langorw.username" placeholder="User Name"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="last-name">Password </label>
                            <div>
                                <input type="text" class="form-control" id="lastname" data-ng-model="langorw.password" placeholder="Password"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="last-name">Latitude</label>
                            <div>
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.lat" placeholder="Latitude"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="last-name">ORW Name </label>
                            <div>
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.fieldworkername" placeholder="ORW Name"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="last-name">ORW Code </label>
                            <div>
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.fieldworkercode" placeholder="ORW Code">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="last-name">ORW Email </label>
                            <div>
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.fieldworkeremail" placeholder="ORW Email"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="last-name">ORW Edit </label>
                            <div>
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.fieldworkeredit" placeholder="ORW Edit"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="last-name">TI Manager </label>
                            <div>
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.comanagerhdf" placeholder="TI Manager"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="last-name">TI Manager Profile </label>
                            <div>
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.comanagerhdfprofileheader" placeholder="TI Manager Profile"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="last-name">TI Manager ID </label>
                            <div>
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.comanagerhdfid" placeholder="TI Manager ID"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="last-name">Assigned Sites </label>
                            <div>
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.assignedsites" placeholder="Assigned Sites"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="last-name">ORW</label>
                            <div>
                                <input type="text" class="form-control" id="lastname" data-ng-model="langorw.fieldworkerlistorw" placeholder="ORW"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="full-name">Fullname </label>
                            <div>
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.fullname" placeholder="Fullname"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="Show">Show</label>
                            <div>
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.show" placeholder="Show">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="last-name">Search</label>
                            <div>
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.search" placeholder="Search"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="last-name">Action</label>
                            <div>
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.action" placeholder="Action"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="last-name">Print Mobile</label>
                            <div>
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.printmobile" placeholder="Print Mobile"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="addnew">Add New</label>
                            <div>
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.addNew" placeholder="Add New"></div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="printfwcode">Print FW Code</label>
                            <div>
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.printfwcode" placeholder="Print fw code"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="state">State</label>
                            <div>
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.state" placeholder="State"></div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="district">District</label>
                            <div>
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.district" placeholder="District"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="last pushed data">Last Pushed Data</label>
                            <div>
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.lastpusheddata" placeholder="Last Pushed Data"></div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="fw user name">FW Username</label>
                            <div>
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.fwusername" placeholder="FW Username"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="fw full name">FW Fullname</label>
                            <div>
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.fwfullname" placeholder="FW Fullname"></div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="Assigned">Assigned</label>
                            <div>
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.Assigned" placeholder="Assigned"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="Details">Action Details</label>
                            <div>
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.actiondetails" placeholder="Action Details"></div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="memebers updated">Members Updated</label>
                            <div>
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.memebersupdated" placeholder="Members Updated"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="memebers updated">Application</label>
                            <div>
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.application" placeholder="application"></div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="1-1">1-1</label>
                            <div>
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.onetoone" placeholder="onetoone"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="incident">Incident</label>
                            <div>
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.incident" placeholder="Incident"></div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="stakeholdermeetings">Stakeholder Meetings</label>
                            <div>
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.stakeholdermeetings" placeholder="Stakeholder Meetings"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="groupmeetings">Group Meetings</label>
                            <div>
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.groupmeetings" placeholder="Group Meetings"></div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="mandatory fields">All fields with * are mandatory</label>
                            <div>
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.mandatoryfield" placeholder="All fields with * are mandatory"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="language">Language</label>
                            <div>
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.langslabel" placeholder="Language For Label"></div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="language">Longitude</label>
                            <div>
                                <input type="latitude" class="form-control" id="latitude" data-ng-model="langorw.long" placeholder="Longitude"></div>
                        </div>
                    </div>
                </div>

                <div style="width:100%;height:auto;padding:5px 5px;background:#f7f7f7;">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-6" style="padding:0;">
                            <div class="form-group" style="margin:0;">
                                <label for="extended" class="col-sm-4" style="font-weight:bold;margin-top: 8px;padding:0;">Common</label>
                            </div>
                        </div>
                        <div class="col-sm-6" style="padding:0;"></div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="last-name">Please </label>
                            <div>
                                <input type="latitude" class="form-control" id="please" data-ng-model="langorw.please" placeholder="Please"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="last-name">Enter </label>
                            <div>
                                <input type="enter" class="form-control" id="enter" data-ng-model="langorw.enter" placeholder="Enter"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="last-name">Your </label>
                            <div>
                                <input type="text" class="form-control" id="your" data-ng-model="langorw.your" placeholder="Your"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="last-name">Invalid </label>
                            <div>
                                <input type="text" class="form-control" id="invalid" data-ng-model="langorw.invalid" placeholder="Invalid"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="last-name">Can Not </label>
                            <div>
                                <input type="text" class="form-control" id="cannot" data-ng-model="langorw.cannot" placeholder="Can Not"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="last-name">Reset </label>
                            <div>
                                <input type="text" class="form-control" id="reset" data-ng-model="langorw.reset" placeholder="Reset"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="last-name">Alert </label>
                            <div>
                                <input type="text" class="form-control" id="alert" data-ng-model="langorw.alert" placeholder="Alert"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="last-name">Thank You </label>
                            <div>
                                <input type="text" class="form-control" id="thankyou" data-ng-model="langorw.thankYou" placeholder="Thank You"> </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="last-name">Created With the Following Details </label>
                            <div>
                                <input type="text" class="form-control" id="createdetails" data-ng-model="langorw.createdetails" placeholder="Created With the Following Details"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="last-name">Update With the Following Details </label>
                            <div>
                                <input type="text" class="form-control" id="updatedetails" data-ng-model="langorw.updatedetails" placeholder="Update With the Following Details"> </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="last-name"> ORW has been created </label>
                            <div>
                                <input type="text" class="form-control" id="hasbeencreated" data-ng-model="langorw.hasbeencreated" placeholder=" ORW has been created"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="last-name"> ORW has been updated </label>
                            <div>
                                <input type="text" class="form-control" id="hasbeenupdated" data-ng-model="langorw.hasbeenupdated" placeholder=" ORW has been updated"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="last-name">Cancel </label>
                            <div>
                                <input type="text" class="form-control" id="cancel" data-ng-model="langorw.cancel" placeholder="Cancel"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="last-name">ok </label>
                            <div>
                                <input type="text" class="form-control" id="ok" data-ng-model="langorw.ok" placeholder="ok"> </div>
                        </div>
                    </div>
                </div>
                <div style="width:100%;height:auto;padding:5px 5px;background:#f7f7f7;">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-6" style="padding:0;">
                            <div class="form-group" style="margin:0;">
                                <label for="extended" class="col-sm-4" style="font-weight:bold;margin-top: 8px;padding:0;">Error Message</label>
                            </div>
                        </div>
                        <div class="col-sm-6" style="padding:0;"></div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="last-name"> Please Enter Full Name </label>
                            <div>
                                <input type="text" class="form-control" id="hasbeencreated" data-ng-model="langorw.enterfullname" placeholder="Please Enter Full Name"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="last-name">Please Enter Mobile (+91) </label>
                            <div>
                                <input type="text" class="form-control" id="entermobile" data-ng-model="langorw.entermobile" placeholder="Please Enter Mobile (+91)"> </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="last-name">Please Enter Email </label>
                            <div>
                                <input type="text" class="form-control" id="enteremail" data-ng-model="langorw.enteremail" placeholder="Please Enter Email"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="last-name"> Please Enter Password </label>
                            <div>
                                <input type="text" class="form-control" id="enterpassword" data-ng-model="langorw.enterpassword" placeholder="Please Enter Password"> </div>
                        </div>
                    </div>

                    <div class="col-sm-5 col-md-7">
                        <div class="form-group">
                            <label for="last-name"> Username already exits please refresh the page and try again </label>
                            <div>
                                <input type="text" class="form-control" id="usernameexits" data-ng-model="langorw.usernameexits" placeholder="Username already exits please refresh the page and try again"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="last-name">Email id already exits </label>
                            <div>
                                <input type="text" class="form-control" id="emailexit" data-ng-model="langorw.emailexit" placeholder="Email id already exits"> </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="last-name">Please Select Language </label>
                            <div>
                                <input type="text" class="form-control" id="sellanguage" data-ng-model="langorw.sellanguage" placeholder="Please Select Language"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="last-name">Please Select Field Worker </label>
                            <div>
                                <input type="text" class="form-control" id="selfielworker" data-ng-model="langorw.selfielworker" placeholder="Please Select Field Worker"> </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="last-name">Please Select Available Site </label>
                            <div>
                                <input type="text" class="form-control" id="selavailablesite" data-ng-model="langorw.selavailablesite" placeholder="Please Select Available Site"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="last-name">Please enter Latitude/Longitude</label>
                            <div>
                                <input type="text" class="form-control" id="selfielworker" data-ng-model="langorw.orwSaved" placeholder="Please enter Latitude/Longitude"> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="last-name">Site has been created </label>
                            <div>
                                <input type="text" class="form-control" id="sitehascreated" data-ng-model="langorw.sitehascreated" placeholder="Site has been created"> </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="last-name">Site has been updated </label>
                            <div>
                                <input type="text" class="form-control" id="sitehasupdated" data-ng-model="langorw.sitehasupdated" placeholder="Site has been updated"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="last-name">Update</label>
                            <div>
                                <input type="text" class="form-control" id="sitehasupdated" data-ng-model="langorw.update" placeholder="Update"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="last-name">Create</label>
                            <div>
                                <input type="text" class="form-control" id="saveLabel" data-ng-model="langorw.saveLabel" placeholder="Create"> </div>
                        </div>
                    </div>
                     <div class="col-sm-3">
                        <div class="form-group">
                            <label for="last-name">Select</label>
                            <div>
                                <input type="text" class="form-control" id="saveLabel" data-ng-model="langorw.select" placeholder="select"> </div>
                        </div>
                    </div>

                </div>

                <br/>
                <br/>
                <br/>



                <br>
                <div align="right">
                        <a data-ng-href="/LangOrwList" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">Cancel</a>

                        <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;">Create </a>

                        <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;">Update </a>
                </div>
            </form>

            <div data-ng-hide="hideSearchFilter()">


            </div>
            <br />



            <div data-ng-hide="showForm()" class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>S NO.</th>
                            <th ng-click="changeSorting('language')" title="LANGUAGE" style="cursor:pointer;">LANGUAGE<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('language')"></i></span></th>
                            <th ng-click="changeSorting('firstname')" title="NAME" style="cursor:pointer;">NAME<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('firstname')"></i></span></th>
                            <th ng-click="changeSorting('email')" title="NAME" style="cursor:pointer;">EMAIL<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('email')"></i></span></th>
                            <th ng-click="changeSorting('fwcode')" title="NAME" style="cursor:pointer;">ORW CODE<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('fwcode')"></i></span></th>
                            <th style="width:100px;">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="gender in orwlanguages| orderBy:sort.active:sort.descending | search:Search:filterFields  |itemsPerPage:pageSize">
                            <td>{{gender.index }}</td>
                            <td>{{gender.languageName }}</td>
                            <td>{{gender.firstname}}</td>
                            <td>{{gender.email}}</td>
                            <td>{{gender.fwcode}}</td>


                            <td><a data-ng-href="/LangOrw/edit/{{gender.id}}"><img src="images/piclinks/edit.png" title="Edit"  width="16px"></a>&nbsp;&nbsp;
                            </td>

                        </tr>
                    </tbody>
                </table>
                <br/>
                <div align="right">
                    <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true">
                    </dir-pagination-controls>

                </div>
            </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->




<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>

<checkmodal title1="Alert" visible="showValidationNew">
    {{validatestring1}}
    <br>

    <div class="form-group">
        <div align="center">
            <div align="center">
                <a data-ng-click="OKBUTTON()" class="btn btn-success btn-sm " role="button" style="border-color:#db4242;padding:5px 20px;font-weight:bold;">Ok</a>

            </div>
        </div>
    </div>
</checkmodal>
