<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;

    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;
        border-bottom: 4px solid #ec0b6d;
    }


    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 4px solid #f4f4f4;
        /*		background-color: #fff;*/
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }

    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/

    .nav-tabs-custom>.nav-tabs>li {
        width: 19%;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .nav-tabs-custom>.nav-tabs>li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
    }

</style>

<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink" href="/LangMemberList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="MEMBER LIST">MEMBER LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/LangOrwList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ORW  LIST">ORW LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/LangTIList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="TI LIST">TI LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangOnetooneList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ONE TO ONE LIST">ONE TO ONE LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/LangMainList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="MAIN/NAV LIST">MAIN/NAV LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink active" href="/LangConditionList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="CONDITIONS LIST">CONDITIONS LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangPRList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="PATIENT RECORD LIST">PATIENT RECORD LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangTodo"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ToDO">ToDO</span></a>
        </div>

    </div>



</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div class="box-header with-border">
        <!--        <h3 class="box-title">Gender</h3>-->
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">

        <div class="row" style="padding:0px 20px;">
            <div class="col-sm-5"></div>
            <div class="col-sm-7">
                <div data-ng-hide="hideSearchFilter()" class="col-sm-2  col-md-2" style="text-align:left;border-color:#e1e8ee">
                    <div>
                        <label class="showlabel">Show</label>
                    </div>
                    <div class="sell">
                        <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                    </div>
                    <!--					<span>Entries</span>-->
                </div>
                <div data-ng-hide="hideSearchFilter()" class="col-sm-6 col-md-6 smright2txt">

                    <form role="form">
                        <div class="input-group">
                            <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-eft-radius:4px;border-bottom-left-radius: 4px;border-color:#e1e8ee;background:none;border-right:none;"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                            <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search " style="z-index:0;border-left:none;border-color:#e1e8ee;border-top-right-radius:4px;border-bottom-right-radius: 4px;" data-ng-model="Search" focus="someFocusVariable">

                        </div>
                    </form>

                </div>
                <div class="col-sm-2 col-md-2 smright2txt">
                    <a data-ng-href="/LangCondition/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New </a>
                </div>
            </div>
        </div>


        <form class="" role="form" data-ng-show="showForm()">
            <p align="center" style="color:#ec0b6d">All fields with * are mandatory</p>
            <div class="row" style="margin:0;padding:0;margin-top:10px;">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" id="name" class="col-sm-4" style="font-weight:600;margin-top:7px;">Language<sup>*</sup> </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="language" data-ng-model="condition.language" data-placeholder="Pick a language" style="width:100%;" data-ng-disabled="!isCreateView()">
                                <option value=""></option>
                                <option data-ng-repeat="language in languages" value="{{language.id}}">{{ language.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>


            <form class="" role="form">

                <div>
                    <div class="row" style="margin:0;">
                        <div style="width:100%;height:auto;padding:5px 5px;color:#4a4d72;border-bottom: 2px solid #f4f4f4;"> <span style="font-weight:bold">Labels</span> </div>
                        <br/>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id">Condition List</label>
                                <div>
                                    <input type="text" class="form-control" id="listcondition" ng-model="condition.conditionsList" placeholder="Conditions List">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id">Add Condition</label>
                                <div>
                                    <input type="text" class="form-control" id="addnew" ng-model="condition.addNewCondition" placeholder="Add Condition">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id">Edit Condition</label>
                                <div>
                                    <input type="text" class="form-control" id="edit" ng-model="condition.editCondition" placeholder="Edit Condition">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id">Name</label>
                                <div>
                                    <input type="text" class="form-control" id="listcondition" ng-model="condition.memberName" placeholder="Name">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id">ID</label>
                                <div>
                                    <input type="text" class="form-control" id="listcondition" ng-model="condition.conditionId" placeholder="ID">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id">Spouse/partner</label>
                                <div>
                                    <input type="text" class="form-control" id="listcondition" ng-model="condition.spouse" placeholder="Spouse/partner">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id">Relationship</label>
                                <div>
                                    <input type="text" class="form-control" id="listcondition" ng-model="condition.relationshipc" placeholder="Relationship">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id">Action </label>
                                <div>

                                    <input type="text" class="form-control" id="action" ng-model="condition.action" placeholder="Action">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id">Show </label>
                                <div>
                                    <input type="text" class="form-control" id="show" ng-model="condition.show" placeholder="Show">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id">Search </label>
                                <div>
                                    <input type="text" class="form-control" id="search" ng-model="condition.search" placeholder="Search">
                                </div>
                            </div>
                        </div>
                        <!--
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="documentmaster-id"  >Condition</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="listcondition" ng-model="condition.conditionsList" placeholder="Conditions">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="documentmaster-id"  >Step</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="listcondition" ng-model="condition.conditionsList" placeholder="Step">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="documentmaster-id"  >Status</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="addnew" ng-model="condition.addNewCondition" placeholder="Status">
                                        </div>
                                    </div>
                                </div>
-->

                        <!--
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="documentmaster-id"  >Member Name </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="member" ng-model="condition.memberName" placeholder="Member Name">
                                        </div>
                                    </div>
                                </div>
-->

                        <!--
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="documentmaster-id"  >Head Of The Household </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="hhid" ng-model="condition.headOfTheHousehold" placeholder="Head Of The Household">
                                        </div>
                                    </div>
                                </div>
-->

                        <!--
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="documentmaster-id"  >Individual Id </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="invidualId" ng-model="condition.individualId" placeholder="Individual Id">
                                        </div>
                                    </div>
                                </div>
-->
                        <!--
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="documentmaster-id"  >Edit Condition</label>
                                        <div class="col-sm-6">

                                            <input type="text" class="form-control" id="edit" ng-model="condition.editCondition" placeholder="Edit Condition">
                                        </div>
                                    </div>
                                </div>
-->
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id">Condition </label>
                                <div>
                                    <input type="text" class="form-control" id="condition" ng-model="condition.condition" placeholder="Condition">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id">Status </label>
                                <div>

                                    <input type="text" class="form-control" id="status" ng-model="condition.status" placeholder="Status">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id">Relation Status </label>
                                <div>

                                    <input type="text" class="form-control" id="status" ng-model="condition.statusRelation" placeholder="Status of the relation">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id">Next Follow Up Date </label>
                                <div>

                                    <input type="text" class="form-control" id="status" ng-model="condition.nextFollowUpDate" placeholder="Next Follow Up Date">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id">Step </label>
                                <div>
                                    <input type="text" class="form-control" id="step" ng-model="condition.step" placeholder="Step">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id">Last Updated</label>
                                <div>

                                    <input type="text" class="form-control" id="followupname" ng-model="condition.lastupdate" placeholder="Last Updated">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id">Follow Up </label>
                                <div>

                                    <input type="text" class="form-control" id="followupsname" ng-model="condition.followUpName" placeholder="Follow Up ">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id">Follow Up Date</label>
                                <div>

                                    <input type="text" class="form-control" id="followupdate" ng-model="condition.followUpDate" placeholder="Follow Up Date">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id">Reason</label>
                                <div>

                                    <input type="text" class="form-control" id="reason" ng-model="condition.reason" placeholder="Reason">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id">Members List</label>
                                <div>

                                    <input type="text" class="form-control" id="memberslist" ng-model="condition.memberslist" placeholder="Members List">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id">Member Name </label>
                                <div>

                                    <input type="text" class="form-control" id="nameofmember" ng-model="condition.nameofmember" placeholder="Member Name">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id">Member ID</label>
                                <div>

                                    <input type="text" class="form-control" id="membername" ng-model="condition.streetname" placeholder="Member ID">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id">Phone Number </label>
                                <div>

                                    <input type="text" class="form-control" id="hotspot" ng-model="condition.hotspot" placeholder="Phone Number">
                                </div>
                            </div>
                        </div>
                        <!--
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="documentmaster-id"  >Follow Up Date </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="followupdate" ng-model="condition.followUpDate" placeholder="Follow Up Date">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="documentmaster-id"  >Next Follow Up Date </label>
                                        <div class="col-sm-6">

                                            <input type="text" class="form-control" id="followupdate" ng-model="condition.nextFollowUpDate" placeholder="Next Follow Up Date">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="documentmaster-id"  >Reason for Cancelling </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="reason" ng-model="condition.reasonForCancelling" placeholder="Reason for Cancelling">
                                        </div>
                                    </div>
                                </div>
-->
                        <!--
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="documentmaster-id"  >Action </label>
                                        <div class="col-sm-6">

                                            <input type="text" class="form-control" id="action" ng-model="condition.action" placeholder="Action">
                                        </div>
                                    </div>
                                </div>
-->

                        <!--
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="documentmaster-id"  >Case Closed </label>
                                        <div class="col-sm-6">

                                            <input type="text" class="form-control" id="caseclosed" ng-model="condition.caseClosed" placeholder="Case Closed">
                                        </div>
                                    </div>
                                </div>
-->

                        <!--
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="documentmaster-id"  >Diagnosis </label>
                                        <div class="col-sm-6">

                                            <input type="text" class="form-control" id="diagnosis" ng-model="condition.diagnosis" placeholder="Diagnosis">
                                        </div>
                                    </div>
                                </div>
-->

                        <!--
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="documentmaster-id"  >Value </label>
                                        <div class="col-sm-6">

                                            <input type="text" class="form-control" id="value" ng-model="condition.value" placeholder="Value">
                                        </div>
                                    </div>
                                </div>
-->

                        <!--
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="documentmaster-id"  >Assigned To </label>
                                        <div class="col-sm-6">

                                            <input type="text" class="form-control" id="assignedto" ng-model="condition.assignedTo" placeholder="Assigned To">
                                        </div>
                                    </div>
                                </div>
-->

                        <!--
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="documentmaster-id"  >Add Patient Record </label>
                                        <div class="col-sm-6">

                                            <input type="text" class="form-control" id="value" ng-model="condition.addPatientRecord" placeholder="Add Patient Record">
                                        </div>
                                    </div>
                                </div>
-->
                    </div>
                </div>
                <!--

                        <div>
                            <div class="row" style="margin:0;">
                                <div style="width:100%;height:auto;padding:5px 5px;color:#4a4d72;border-bottom:2px solid #f4f4f4;"> <span style="font-weight:bold">Placeholders</span> </div>
                                <br/>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="documentmaster-id"  >Select a Condition </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="select" ng-model="condition.selectCondition" placeholder="Select a Condition">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="documentmaster-id"  >Select a Reason for Cancelling </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="selectreason" ng-model="condition.selectReasonForCancelling" placeholder="Select a Reason for Cancelling">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="documentmaster-id"  >Select a Assigned To </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="selectassignedto" ng-model="condition.selectAssignedTo" placeholder="Select a Assigned To">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="edit-id"  >Show </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="show" ng-model="condition.show" placeholder="Show">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="edit-id"  >Search </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="search" ng-model="condition.search" placeholder="Search">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="edit-id"  >Status Filter </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="statusfilter" ng-model="condition.statusFilter" placeholder="Status Filter">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="documentmaster-id"  >Select a Step </label>
                                        <div class="col-sm-6">

                                            <input type="text" class="form-control" id="selectstep" ng-model="condition.selectStep" placeholder="Select a Step">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="documentmaster-id"  >Select a Status </label>
                                        <div class="col-sm-6">

                                            <input type="text" class="form-control" id="selectstatus" ng-model="condition.selectStatus" placeholder="Select a Status">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="documentmaster-id"  >Select a Diagnosis </label>
                                        <div class="col-sm-6">

                                            <input type="text" class="form-control" id="selectdiagnosis" ng-model="condition.selectDiagnosis" placeholder="Select a Diagnosis">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="documentmaster-id"  >Select Followup </label>
                                        <div class="col-sm-6">

                                            <input type="text" class="form-control" id="selectfollowup" ng-model="condition.selectfollowUp" placeholder="Select Followupp">
                                        </div>
                                    </div>
                                </div>
                            </div>
-->


                <div>
                    <div class="row" style="margin:0;">
                        <div style="width:100%;height:auto;padding:5px 5px;color:#4a4d72;border-bottom:2px solid #f4f4f4;"> <span style="font-weight:bold">Placeholders</span> </div>
                        <br/>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="documentmaster-id">Please Enter a Name</label>
                                <div>
                                    <input type="text" class="form-control" id="selectOption" ng-model="condition.enterName" placeholder="Please Enter a Name">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="documentmaster-id">Please Enter a Id</label>
                                <div>
                                    <input type="text" class="form-control" id="selectOption" ng-model="condition.enterId" placeholder="Please Enter a ID">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="documentmaster-id">Please Select an Spouse </label>
                                <div>
                                    <input type="text" class="form-control" id="selectOption" ng-model="condition.selectSpouse" placeholder="Please Select an Spouse">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="edit-id">Please Select a Status</label>
                                <div>
                                    <input type="text" class="form-control" id="selectamemberplease" ng-model="condition.selectStatus" placeholder="Please Select a Status">
                                </div>
                            </div>
                        </div>

                        <!--
<div class="col-sm-6">
    <div class="form-group">
        <label for="edit-id"  >Please Select a Condition </label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="selectconditionplease" ng-model="condition.SelectCondition" placeholder="Please Select a Condition">
        </div>
    </div>
</div>
-->
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="edit-id">Please Select Follow Up </label>
                                <div>
                                    <input type="text" class="form-control" id="selectfollowupnameplease" ng-model="condition.pleaseSelectFollowup" placeholder="Please Select Follow Up Name">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="edit-id">Please Select Follow Up Date</label>
                                <div>
                                    <input type="text" class="form-control" id="selectfollowupdateplease" ng-model="condition.pleaseSelectFollowupDate" placeholder="Please Select Follow Up Date">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="edit-id">Please Select Reason</label>
                                <div>
                                    <input type="text" class="form-control" id="selectreasonplease" ng-model="condition.pleaseselectreason" placeholder="Please Select Reason">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="edit-id">Are you sure want to save this condition?</label>
                                <div>
                                    <input type="text" class="form-control" id="suretosavethiscondition" ng-model="condition.areYouSureToWantToSave" placeholder="Are you sure want to save this condition?">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="edit-id">Thank You </label>
                                <div>
                                    <input type="text" class="form-control" id="thankyou" ng-model="condition.thankYou" placeholder="Thank You">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="edit-id">Sr No </label>
                                <div>
                                    <input type="text" class="form-control" id="thankyou" ng-model="condition.srNo" placeholder="Sr No">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="edit-id">Select Step </label>
                                <div>
                                    <input type="text" class="form-control" id="thankyou" ng-model="condition.selectStep" placeholder="Select Step">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="edit-id">Select Relationship</label>
                                <div>
                                    <input type="text" class="form-control" id="thankyou" ng-model="condition.selectRelationship" placeholder="Select Relationship">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="edit-id">Select Condition</label>
                                <div>
                                    <input type="text" class="form-control" id="thankyou" ng-model="condition.selectCondition" placeholder="Select Condition">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="edit-id">Condition has been created </label>
                                <div>
                                    <input type="text" class="form-control" id="thankyou" ng-model="condition.conditionSaved" placeholder="Condition Create">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="edit-id">Condition has been updated</label>
                                <div>
                                    <input type="text" class="form-control" id="thankyou" ng-model="condition.conditionUpdated" placeholder="Condition Update">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="edit-id">Are you sure want to update this condition?</label>
                                <div>
                                    <input type="text" class="form-control" id="suretosavethiscondition" ng-model="condition.areYouSureToWantToUpdate" placeholder="Are you sure want to update this condition?">
                                </div>
                            </div>
                        </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                                <label for="edit-id">Open Condition Already Exists...!!!</label>
                                <div>
                                    <input type="text" class="form-control" id="suretosavethiscondition" ng-model="condition.conditionAlreadyExists" placeholder="Open Condition Already Exists...!!!">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div>
                    <div class="row" style="margin:0;">
                        <div style="width:100%;height:auto;padding:5px 5px;color:#4a4d72;border-bottom:2px solid #f4f4f4;"> <span style="font-weight:bold">Buttons</span> </div>
                        <br/>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id">Edit </label>
                                <div>
                                    <input type="text" class="form-control" id="edit" ng-model="condition.edit" placeholder="Edit">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="update-id">Update </label>
                                <div>
                                    <input type="text" class="form-control" id="updatelabel" ng-model="condition.update" placeholder="Update">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="save-id">Save </label>
                                <div>
                                    <input type="text" class="form-control" id="savelabel" ng-model="condition.saveLabel" placeholder="Save">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id">Cancel </label>
                                <div>
                                    <input type="text" class="form-control" id="cancel" ng-model="condition.cancel" placeholder="Cancel">
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id">Add New</label>
                                <div>
                                    <input type="text" class="form-control" id="export" ng-model="condition.addNew" placeholder="Add New">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id">Yes </label>
                                <div>
                                    <input type="text" class="form-control" id="yes" ng-model="condition.yes" placeholder="Yes">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id">Export Data</label>
                                <div>
                                    <input type="text" class="form-control" id="export" ng-model="condition.exportData" placeholder="Export Data">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id">Add</label>
                                <div>
                                    <input type="text" class="form-control" id="addlabel" ng-model="condition.addLabel" placeholder="Add">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id">Remove</label>
                                <div>
                                    <input type="text" class="form-control" id="removelabel" ng-model="condition.removeLabel" placeholder="Remove">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id">Create Patient Record</label>
                                <div>
                                    <input type="text" class="form-control" id="removelabel" ng-model="condition.updatepatientrecord" placeholder="Create Patient Record">
                                </div>
                            </div>
                        </div>
                         <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id">Select</label>
                                <div>
                                    <input type="text" class="form-control" id="removelabel" ng-model="condition.select" placeholder="Select">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
                <br/>



                <br>
                <div align="right" style="padding: 0px 20px;">
                        <a data-ng-href="/LangConditionList" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">Cancel</a>

                        <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;">Create </a>

                        <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;">Update </a>
                </div>
            </form>

            <div data-ng-hide="hideSearchFilter()">


            </div>
            <br />



            <div data-ng-hide="showForm()" class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>S No.</th>
                            <th ng-click="changeSorting('language')" title="LANGUAGE" style="cursor:pointer;">LANGUAGE<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('language')"></i></span></th>
                            <th ng-click="changeSorting('name')" title="NAME" style="cursor:pointer;">NAME<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('name')"></i></span></th>
                            <th>CONDITION</th>
                            <th>STATUS</th>
                            <th>STEP</th>
                            <th style="width:100px;">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="condlang in conditionLanguages| orderBy:sort.active:sort.descending | search:Search:filterFields |itemsPerPage:pageSize">
                            <td>{{ condlang.index }}</td>
                            <td>{{ condlang.languageName }}</td>
                            <td>{{condlang.memberName}}</td>
                            <td>{{condlang.condition}}</td>
                            <td>{{condlang.status}}</td>
                            <td>{{condlang.step}}</td>

                            <td><a data-ng-href="/LangCondition/edit/{{condlang.id}}"><img src="images/piclinks/edit.png" title="Edit"  width="16px"></a>&nbsp;&nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br/>
                <div align="right">
                    <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true">
                    </dir-pagination-controls>

                </div>
            </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->




<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>

<checkmodal title1="Alert" visible="showValidationNew">
    {{validatestring1}}
    <br>

    <div class="form-group">
        <div align="center">
            <div align="center">
                <a data-ng-click="OKBUTTON()" class="btn btn-success btn-sm " role="button" style="border-color:#db4242;padding:5px 20px;font-weight:bold;">Ok</a>

            </div>
        </div>
    </div>
</checkmodal>
