<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;
    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;
        border-bottom: 4px solid #ec0b6d;
    }

    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 4px solid #f4f4f4;
        /*		background-color: #fff;*/
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }

    .nav-tabs-custom>.nav-tabs>li {
        width: 19%;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .nav-tabs-custom>.nav-tabs>li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
    }

</style>

<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink" href="/LangMemberList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="MEMBER LIST">MEMBER LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/LangOrwList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ORW  LIST">ORW LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/LangTIList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="TI LIST">TI LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangOnetooneList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ONE TO ONE LIST">ONE TO ONE LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/LangMainList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="MAIN/NAV LIST">MAIN/NAV LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink " href="/LangConditionList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="CONDITIONS LIST">CONDITIONS LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink active" href="/LangPRList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="PATIENT RECORD LIST">PATIENT RECORD LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangTodo"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ToDO">ToDO</span></a>
        </div>

    </div>


</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div class="box-header with-border">
        <!--        <h3 class="box-title">Gender</h3>-->
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <div class="row" style="padding:0px 20px;">
            <div class="col-sm-5"></div>
            <div class="col-sm-7">
                <div data-ng-hide="hideSearchFilter()" class="col-sm-2  col-md-2" style="text-align:left;border-color:#e1e8ee">
                    <div>
                        <label class="showlabel">Show</label>
                    </div>
                    <div class="sell">
                        <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                    </div>
                    <!--					<span>Entries</span>-->
                </div>
                <div data-ng-hide="hideSearchFilter()" class="col-sm-6 col-md-6 smright2txt">
                    <form role="form">
                        <div class="input-group">
                            <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-left-radius:4px;border-bottom-left-radius: 4px;border-color:#e1e8ee;background:none;border-right:none;"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                            <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search " style="z-index:0;border-left:none;border-color:#e1e8ee;border-top-right-radius:4px;border-bottom-right-radius: 4px;" data-ng-model="Search" focus="someFocusVariable">

                        </div>
                    </form>
                </div>
                <div class="col-sm-2 col-md-2 smright2txt">
                    <a data-ng-href="/LangPR/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New </a>
                </div>
            </div>
        </div>


        <form class="" role="form" style="padding:0px 20px;" data-ng-show="showForm()">
            <p align="center" style="color:#ec0b6d">All fields with * are mandatory</p>
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" id="name" class="col-sm-4" style="font-weight:600;margin-top:7px;">Language<sup>*</sup></label>
                        <div class="col-sm-6">
                            <select ui-select2 id="language" data-ng-model="precord.language" data-placeholder="Pick a language" style="width:100%;" data-ng-disabled="langdisable">
                                <option value=""></option>
                                <option data-ng-repeat="language in languages" value="{{language.id}}">{{ language.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <br/>
            <div class="row" style="margin:0px;">
                <div style="width:100%;height:auto;padding:5px 5px;border-bottom: 2px solid #f4f4f4;"> <span style="font-weight:bold">Labels</span> </div>
                <br/>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">Name</label>
                        <div>
                            <input type="text" class="form-control" id="name" ng-model="precord.prName" placeholder="Name">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">ID</label>
                        <div>
                            <input type="text" class="form-control" id="id" ng-model="precord.prId" placeholder="ID">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">Condition</label>
                        <div>
                            <input type="text" class="form-control" id="condition" ng-model="precord.condition" placeholder="Condition">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">Relationship</label>
                        <div>
                            <input type="text" class="form-control" id="relation" ng-model="precord.relation" placeholder="Relationship">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">Patient Flow</label>
                        <div>
                            <input type="text" class="form-control" id="patientflow" ng-model="precord.patientflow" placeholder="Patient Flow">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">Visit</label>
                        <div>
                            <input type="text" class="form-control" id="visit" ng-model="precord.visitDate" placeholder="Visit">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">Symptom</label>
                        <div>
                            <input type="text" class="form-control" id="symptons" ng-model="precord.symptom" placeholder="Symptom">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">Test Name</label>
                        <div>
                            <input type="text" class="form-control" id="symptons" ng-model="precord.testname" placeholder="Test Name">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">Date of testing</label>
                        <div>
                            <input type="text" class="form-control" id="dateoftest" ng-model="precord.dateoftest" placeholder="Date of testing">
                        </div>
                    </div>

                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">Kit Prescribed</label>
                        <div>
                            <input type="text" class="form-control" id="dateoftest" ng-model="precord.kitprescribed" placeholder="Kit Prescribed">
                        </div>
                    </div>

                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">Drugs Given</label>
                        <div>
                            <input type="text" class="form-control" id="dateoftest" ng-model="precord.drugsgiven" placeholder="Drugs Given">
                        </div>
                    </div>

                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">Findings</label>
                        <div>
                            <input type="text" class="form-control" id="dateoftest" ng-model="precord.findings" placeholder="Findings">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">Patient Record List </label>
                        <div>
                            <input type="text" class="form-control" id="memberId" ng-model="precord.prlist" placeholder="Patient Record Edit">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">Patient Record Create</label>
                        <div>
                            <input type="text" class="form-control" id="memberId" ng-model="precord.prCreate" placeholder="Patient Record Create">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">Patient Record Edit </label>
                        <div>
                            <input type="text" class="form-control" id="memberId" ng-model="precord.prEdit" placeholder="Patient Record Edit">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Action</label>
                        <div>
                            <input type="text" class="form-control" id="action" data-ng-model="precord.action" placeholder="Action">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Results of Test</label>
                        <div>
                            <input type="text" class="form-control" id="patientidfromWHP" data-ng-model="precord.result" placeholder="Results of Test">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Show</label>
                        <div>
                            <input type="text" class="form-control" id="show" data-ng-model="precord.show" placeholder="Show">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Search</label>
                        <div>
                            <input type="text" class="form-control" id="search" data-ng-model="precord.search" placeholder="Search">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Step</label>
                        <div>
                            <input type="text" class="form-control" id="step" data-ng-model="precord.prstep" placeholder="Step">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Status</label>
                        <div>
                            <input type="text" class="form-control" id="step" data-ng-model="precord.prstatus" placeholder="Status">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Followup</label>
                        <div>
                            <input type="text" class="form-control" id="step" data-ng-model="precord.prfollowup" placeholder="Followup">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">Purpose of visit</label>
                        <div>
                            <input type="text" class="form-control" id="thankYouUpdated" data-ng-model="precord.purposeofVisit" placeholder="Purpose of visit"> </div>
                    </div>
                </div>
                 <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">Self</label>
                        <div>
                            <input type="text" class="form-control" id="self" data-ng-model="precord.self" placeholder="Self"> </div>
                    </div>
                </div>
                
                 <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">Spouse/Partner</label>
                        <div>
                            <input type="text" class="form-control" id="spouse" data-ng-model="precord.spouse" placeholder="Spouse/Partner"> </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin:0px;">
                <div style="width:100%;height:auto;padding:5px 5px;border-bottom:2px solid #f4f4f4;"> <span style="font-weight:bold">Placeholders</span> </div>
                <br/>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Please enter Name</label>
                        <div>
                            <input type="text" class="form-control" id="name" data-ng-model="precord.entername" placeholder="Please enter Name">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Please enter ID</label>
                        <div>
                            <input type="text" class="form-control" id="name" data-ng-model="precord.enterid" placeholder="Please enter ID">
                        </div>
                    </div>

                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Please Select relation</label>
                        <div>
                            <input type="text" class="form-control" id="name" data-ng-model="precord.enterrelation" placeholder="Please Select relation">
                        </div>
                    </div>

                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Please select a condition</label>
                        <div>
                            <input type="text" class="form-control" id="thankYouCreated" data-ng-model="precord.selcondition" placeholder="Please select a condition">
                        </div>
                    </div>

                </div>

            </div>
            <div class="row" style="margin:0;">

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Please select Patient Flow</label>
                        <div>
                            <input type="text" class="form-control" id="confirmDelete" data-ng-model="precord.selectPf" placeholder="Please select Patient Flow">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Please select symptoms</label>
                        <div>
                            <input type="text" class="form-control" id="confirmDelete" data-ng-model="precord.selectSymptom" placeholder="Please select symptoms">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Please select date of testing</label>
                        <div>
                            <input type="text" class="form-control" id="confirmDelete" data-ng-model="precord.seldateoftesting" placeholder="Please select date of testing">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Please select test name</label>
                        <div>
                            <input type="text" class="form-control" id="confirmDelete" data-ng-model="precord.selecttestname" placeholder="Please select test name">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Please enter Result</label>
                        <div>
                            <input type="text" class="form-control" id="confirmDelete" data-ng-model="precord.enterresult" placeholder="Please enter result">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Please select Kit Prescribed</label>
                        <div>
                            <input type="text" class="form-control" id="confirmDelete" data-ng-model="precord.selkitprescribed" placeholder="Please select Kit Prescribed">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Please select Drugs Given</label>
                        <div>
                            <input type="text" class="form-control" id="confirmDelete" data-ng-model="precord.seldrugsgiven" placeholder="Please select Drugs Given">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Please enter Findings</label>
                        <div>
                            <input type="text" class="form-control" id="confirmDelete" data-ng-model="precord.selectSeenBy" placeholder="Please enter Findings">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin:0px;">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">Please select a Purpose of visit</label>
                        <div>
                            <input type="text" class="form-control" id="thankYouUpdated" data-ng-model="precord.selectpurposeofVisit" placeholder="Please select a  Purpose of visit"> </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin:0px;">
                <div style="width:100%;height:auto;padding:5px 5px;color:#4a4d72;border-bottom:2px solid #f4f4f4;"> <span style="font-weight:bold">Error Messages</span> </div>
                <br/>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="group">Patient Record has been Created</label>
                        <div>
                            <input type="text" class="form-control" id="thankYouCreated" data-ng-model="precord.thankYouCreated" placeholder="Patient Record has been Created">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="name">Patient Record has been Updated</label>
                        <div>
                            <input type="text" class="form-control" id="thankYouUpdated" data-ng-model="precord.thankYouUpdated" placeholder="Patient Record has been Updated"> </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="group">Confirm Delete</label>
                        <div>
                            <input type="text" class="form-control" id="confirmDelete" data-ng-model="precord.confirmDelete" placeholder="Confirm Delete">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="group">Patient Record Already Added</label>
                        <div>
                            <input type="text" class="form-control" id="confirmDelete" data-ng-model="precord.patientAlreadyAdded" placeholder="Patient Record Already Added">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="group">All fields in red are mandatory</label>
                        <div>
                            <input type="text" class="form-control" id="confirmDelete" data-ng-model="precord.mandatoryfield" placeholder="All  fields in red are mandatory">
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="group">Are You Sure Want To Save</label>
                        <div>
                            <input type="text" class="form-control" id="confirmDelete" data-ng-model="precord.areYouSureWantToSave" placeholder="Are You Sure Want To Save">
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="group">Are You Sure Want To Update</label>
                        <div>
                            <input type="text" class="form-control" id="confirmDelete" data-ng-model="precord.areYouSureToWantToUpdate" placeholder="Are You Sure Want To Update">
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="margin:0px;">
                <div style="width:100%;height:auto;padding:5px 5px;color:#4a4d72;border-bottom:2px solid #f4f4f4;"> <span style="font-weight:bold">Buttons</span> </div>
                <br/>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">Export Data</label>
                        <div>
                            <input type="text" class="form-control" id="exportData" data-ng-model="precord.exportData" placeholder="Export Data"> </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">Cancel</label>
                        <div>
                            <input type="text" class="form-control" id="cancel" data-ng-model="precord.cancel" placeholder="Cancel"> </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Save</label>
                        <div>
                            <input type="text" class="form-control" id="saveLabel" data-ng-model="precord.saveLabel" placeholder="Save">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">Update</label>
                        <div>
                            <input type="text" class="form-control" id="update" data-ng-model="precord.update" placeholder="Update"> </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">Add New</label>
                        <div>
                            <input type="text" class="form-control" id="addNew" data-ng-model="precord.addNew" placeholder="Add New"> </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">Edit</label>
                        <div>
                            <input type="text" class="form-control" id="edit" data-ng-model="precord.edit" placeholder="Edit"> </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Delete</label>
                        <div>
                            <input type="text" class="form-control" id="delete" data-ng-model="precord.delete" placeholder="Delete">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Add</label>
                        <div>
                            <input type="text" class="form-control" id="delete" data-ng-model="precord.add" placeholder="Add">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Remove</label>
                        <div>
                            <input type="text" class="form-control" id="delete" data-ng-model="precord.removebutton" placeholder="Remove">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Yes</label>
                        <div>
                            <input type="text" class="form-control" id="delete" data-ng-model="precord.yes" placeholder="yes">
                        </div>
                    </div>
                </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Select</label>
                        <div>
                            <input type="text" class="form-control" id="select" data-ng-model="precord.select" placeholder="select">
                        </div>
                    </div>
                </div>
            </div>
            <!--end-->
            <br/>
            <br/>
            <br/>


            <br>
            <div align="right" style="padding:0px 20px;">
                    <a data-ng-href="/LangPRList" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">Cancel</a>

                    <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;">Create </a>

                    <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;">Update </a>
            </div>
        </form>


        <div data-ng-hide="hideSearchFilter()">


        </div>
        <br />



        <div data-ng-hide="showForm()" class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>S NO.</th>
                        <th ng-click="changeSorting('language')" title="LANGUAGE" style="cursor:pointer;">LANGUAGE<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('language')"></i></span></th>
                        <th ng-click="changeSorting('prName')" title="NAME" style="cursor:pointer;">NAME<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('prName')"></i></span></th>

                        <th ng-click="changeSorting('condition')" title="CONDITION" style="cursor:pointer;">CONDITION<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('condition')"></i></span></th>

                        <th ng-click="changeSorting('relation')" title="RELATION" style="cursor:pointer;">
                            RELATION<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('relation')"></i></span></th>

                        <th ng-click="changeSorting('patientflow')" title="PATIENTFLOW" style="cursor:pointer;">PATIENT FLOW<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('patientflow')"></i></span></th>

                        <th style="width:100px;">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="prl in prlanguages| orderBy:sort.active:sort.descending | search:Search:filterFields  |itemsPerPage:pageSize">
                        <td>{{ prl.index }}</td>
                        <td>{{ prl.languageName }}</td>
                        <td>{{prl.prName}}</td>
                        <td>{{prl.condition}}</td>
                        <td>{{prl.relation}}</td>
                        <td>{{prl.patientflow}}</td>


                        <td>
                            <a data-ng-href="/LangPR/edit/{{prl.id}}"><img src="images/piclinks/edit.png" title="Edit" width="16px"></a>&nbsp;&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <div align="right">
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true">
                </dir-pagination-controls>

            </div>
        </div>



    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->




<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>

<checkmodal title1="Alert" visible="showValidationNew">
    {{validatestring1}}
    <br>

    <div class="form-group">
        <div align="center">
            <div align="center">
                <a data-ng-click="OKBUTTON()" class="btn btn-success btn-sm " role="button" style="border-color:#db4242;padding:5px 20px;font-weight:bold;">Ok</a>

            </div>
        </div>
    </div>
</checkmodal>
