<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;

    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;
        border-bottom: 4px solid #ec0b6d;
    }


    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 4px solid #f4f4f4;
        /*		background-color: #fff;*/
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }

    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/

    .nav-tabs-custom>.nav-tabs>li {
        width: 19%;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .nav-tabs-custom>.nav-tabs>li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
    }

</style>

<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink" href="/LangMemberList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="MEMBER LIST">MEMBER LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/LangOrwList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ORW  LIST">ORW LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/LangTIList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="TI LIST">TI LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangOnetooneList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ONE TO ONE LIST">ONE TO ONE LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/LangMainList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="MAIN/NAV LIST">MAIN/NAV LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangConditionList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="CONDITIONS LIST">CONDITIONS LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink " href="/LangPRList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="PATIENT RECORD LIST">PATIENT RECORD LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink active" href="/LangTodo"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ToDO">ToDO</span></a>
        </div>


    </div>



</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div class="box-header with-border">
        <!--        <h3 class="box-title">Gender</h3>-->
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <div class="row" style="padding:0px 20px;">
            <div class="col-sm-5"></div>
            <div class="col-sm-7">
                <div data-ng-hide="hideSearchFilter()" class="col-sm-2  col-md-2" style="text-align:left;border-color:#e1e8ee">
                    <div>
                        <label class="showlabel">Show</label>
                    </div>
                    <div class="sell">
                        <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                    </div>
                    <!--					<span>Entries</span>-->
                </div>
                <div data-ng-hide="hideSearchFilter()" class="col-sm-6 col-md-6 smright2txt">
                    <!--
            <div class="row" style="margin:0;padding:0;">
						<div class="col-sm-5"></div>
						<div class="col-sm-7">
-->
                    <form role="form">
                        <div class="input-group">
                            <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-left-radius:4px;border-bottom-left-radius: 4px;border-color:#d5d7df;background:none;border-right:none;"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                            <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search " style="z-index:0;border-left:none;border-color:#d5d7df;border-top-right-radius:4px;border-bottom-right-radius: 4px;" data-ng-model="Search" focus="someFocusVariable">

                        </div>
                    </form>

                    <!--
						</div>
					</div>
-->
                </div>
                <div class="col-sm-2 col-md-2 smright2txt">
                    <a data-ng-href="/LangTodo/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New </a>
                </div>
            </div>
        </div>


        <form class="" role="form" style="padding: 0px 20px;" data-ng-show="showForm()">
            <p align="center" style="color:#ec0b6d">All fields with * are mandatory</p>
            <br/>
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" id="name" class="col-sm-4" style="font-weight:600;margin-top:7px;">Language<sup>*</sup></label>
                        <div class="col-sm-6">
                            <select ui-select2 id="language" data-ng-model="todo.language" data-placeholder="Pick a language" style="width:100%;" data-ng-disabled="!isCreateView()">
                                <option value=""></option>
                                <option data-ng-repeat="language in languages" value="{{language.id}}">{{ language.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>


            <form class="" role="form">
                <br />
                <br />
                <div class="row" style="padding:0;">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">MyToDo </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="todo.mytodo" placeholder="MyToDo"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="schememaster-id">FW ToDos </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="todo.fwtodo" placeholder="FW ToDos"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Todo List </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="todo.reset" placeholder="Todo List"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="schememaster-id">Status </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="todo.status" placeholder="Status"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Due/Overdue </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="todo.due" placeholder="Due/Overdue"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="schememaster-id">Search </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="todo.search" placeholder="Search"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Cancel</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="todo.cancel" placeholder="Cancel"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="schememaster-id">Update</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="todo.update" placeholder="Update"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding:0;">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Save</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="todo.savelabel" placeholder="Save"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="schememaster-id">Edit</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="todo.edit" placeholder="Edit"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Ok</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="todo.ok" placeholder="Ok"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="schememaster-id">Member Name</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="todo.membername" placeholder="Member Name"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding:0;">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Member ID</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="todo.memberid" placeholder="Member ID"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="schememaster-id">TI</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="todo.ti" placeholder="TI"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Site</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="todo.site" placeholder="Site"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="schememaster-id">Name</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="todo.actiontype" placeholder="Name"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding:0;">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Follow Up Date</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="todo.followup" placeholder="Follow Up Date"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="schememaster-id">Action</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="todo.action" placeholder="Action"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Select Due/Overdue</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="todo.selectdue" placeholder="Select Due/Overdue"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="schememaster-id">Select Status</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="todo.selectstatus" placeholder="Select Status"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">ADD</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="todo.addbutton" placeholder="ADD"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Show</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="todo.show" placeholder="Show"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Type</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="todo.type" placeholder="Type"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Select Type </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="todo.selecttype" placeholder="Select Type"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Todo Add</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="todo.addtodo" placeholder="Todo Add"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Todo Edit</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="todo.edittodo" placeholder="Todo Edit"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Todo</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="todo.toodo" placeholder="Todo"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Fields with * are mandatory</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="todo.mandatoryfields" placeholder="Fields with * are mandatory"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding:0;">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Export</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="todo.exportData" placeholder="Export"> </div>
                        </div>
                    </div>
                     <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Please select todo</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="todo.seltodo" placeholder="Please select todo"> </div>
                        </div>
                    </div>
                     <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Please enter  FollowUp Date</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="todo.enterdate" placeholder="Please enter  FollowUp Date"> </div>
                        </div>
                    </div>
                     <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Please enter Todo Status</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="todo.selstatus" placeholder="Please enter Todo Status"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Assign To</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="todo.assignto" placeholder="Assign to"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Select</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="todo.select" placeholder="select"> </div>
                        </div>
                    </div>
               
                </div>
                <!-- <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Profile</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="todo.profile" placeholder="Profile"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Sign Out </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="todo.logout" placeholder="Sign Out"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">FW ToDos</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="todo.fwtodos" placeholder="FW ToDos"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vulnerablemember" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Not Applicable </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="todo.notapplicable" placeholder="Not Applicable"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                     <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">knowledge Base</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="todo.knowledgebasename" placeholder="knowledge Base Name"> </div>
                        </div>
                    </div>
                     <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Facility</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="todo.facility" placeholder="Facility"> </div>
                        </div>
                    </div>
                    
                </div>
-->
                <br/>
                <br/>
                <br/>



                <br>
                <div align="right">
                        <a data-ng-href="/LangTodo" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">Cancel</a>

                        <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;">Create </a>

                        <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;">Update </a>
                </div>
            </form>

            <div data-ng-hide="hideSearchFilter()">


            </div>
            <br />



            <div data-ng-hide="showForm()" class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>S NO.</th>
                            <th ng-click="changeSorting('language')" title="LANGUAGE" style="cursor:pointer;">LANGUAGE<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('language')"></i></span></th>
                            <th ng-click="changeSorting('status')" title="FOLLOWUP MEMBER" style="cursor:pointer;">STATUS<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('status')"></i></span></th>
                            <th ng-click="changeSorting('due')" title="PROFILE" style="cursor:pointer;">DUE/OVERDUE<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('due')"></i></span></th>
                            <th style="width:100px;">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="gender in todolanguages| orderBy:sort.active:sort.descending | search:Search:filterFields |itemsPerPage:pageSize">
                            <td>{{ gender.index }}</td>
                            <td>{{ gender.languageName }}</td>
                            <td>{{gender.status}}</td>
                            <td>{{gender.due}}</td>


                            <td><a data-ng-href="/LangTodo/edit/{{gender.id}}"><img src="images/piclinks/edit.png" title="Edit"  width="16px"></a>&nbsp;&nbsp;
                            </td>

                        </tr>
                    </tbody>
                </table>
                <br/>
                <div align="right">
                    <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true">
                    </dir-pagination-controls>

                </div>
            </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->




<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>

<checkmodal title1="Alert" visible="showValidationNew">
    {{validatestring1}}
    <br>

    <div class="form-group">
        <div align="center">
            <div align="center">
                <a data-ng-click="OKBUTTON()" class="btn btn-success btn-sm " role="button" style="border-color:#db4242;padding:5px 20px;font-weight:bold;">Ok</a>

            </div>
        </div>
    </div>
</checkmodal>
