<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;

    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;
        border-bottom: 4px solid #ec0b6d;
    }


    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 4px solid #f4f4f4;
        /*		background-color: #fff;*/
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }

    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/

    .nav-tabs-custom>.nav-tabs>li {
        width: 19%;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .nav-tabs-custom>.nav-tabs>li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
    }

</style>

<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink" href="/LangMemberList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="MEMBER LIST">MEMBER LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/LangOrwList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ORW  LIST">ORW LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/LangTIList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="TI LIST">TI LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangOnetooneList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ONE TO ONE LIST">ONE TO ONE LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink active" href="/LangMainList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="MAIN/NAV LIST">MAIN/NAV LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangConditionList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="CONDITIONS LIST">CONDITIONS LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/LangPRList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="PATIENT RECORD LIST">PATIENT RECORD LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/LangTodo"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ToDO">ToDO</span></a>
        </div>

    </div>



</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div class="box-header with-border">
        <!--        <h3 class="box-title">Gender</h3>-->
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">

        <div class="row" style="padding:0px 20px;">
            <div class="col-sm-5"></div>
            <div class="col-sm-7">
                <div data-ng-hide="hideSearchFilter()" class="col-sm-2  col-md-2" style="text-align:left;border-color:#e1e8ee">
                    <div>
                        <label class="showlabel">Show</label>
                    </div>
                    <div class="sell">
                        <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                    </div>
                    <!--					<span>Entries</span>-->
                </div>
                <div data-ng-hide="hideSearchFilter()" class="col-sm-6 col-md-6 smright2txt">

                    <form role="form">
                        <div class="input-group">
                            <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-left-radius:4px;border-bottom-left-radius: 4px;border-color:#e1e8ee;background:none;border-right:none;"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                            <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search " style="z-index:0;border-left:none;border-color:#e1e8ee;border-top-right-radius:4px;border-bottom-right-radius: 4px;" data-ng-model="Search" focus="someFocusVariable">

                        </div>
                    </form>

                </div>
                <div class="col-sm-2 col-md-2 smright2txt">
                    <a data-ng-href="/LangMain/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New </a>
                </div>
            </div>
        </div>


        <form class="col-sm-12" role="form" data-ng-show="showForm()">
            <p align="center" style="color:#ec0b6d;">All fields with * are mandatory</p>

            <br/>
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" id="name" class="col-sm-4" style="font-weight:600;margin-top:7px;">Language<sup>*</sup></label>
                        <div class="col-sm-6">
                            <select ui-select2 id="language" data-ng-model="langmain.language" data-placeholder="Pick a language" style="width:100%;" data-ng-disabled="!isCreateView()">
                                <option value=""></option>
                                <option data-ng-repeat="language in languages" value="{{language.id}}">{{ language.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>


            <form class="" role="form">
                <br />
                <br />
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Welcome </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.welcome" placeholder="Welcome"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="schememaster-id">Member </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.newmember" placeholder="Member"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">With Member </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.withmember" placeholder="With Member"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="schememaster-id">My To-Do's </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.mytodos" placeholder="My To-Do's"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Action Type </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.actiontype" placeholder="Action type"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="schememaster-id">No Data </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.nodata" placeholder="No Data"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Broadcast Messages</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.broadcastmessages" placeholder="Broadcast Messages"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <!--
                        <div class="form-group">
                            <label for="schememaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">No Broadcast Messages </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.nobroadcastmessages" placeholder="No Broadcast Messages"> </div>
                        </div>
-->
                        <div class="form-group">
                            <label for="schememaster-id">ToDo </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.todo" placeholder="ToDo"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Home</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.home" placeholder="Home"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="schememaster-id">Field Work</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.fieldwork" placeholder="Field Work"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Condition</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.condition" placeholder="Condition"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="schememaster-id">Patient Record</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.patientRecord" placeholder="Patient Record"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">One to One</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.onetone" placeholder="One to One"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="schememaster-id">ORW</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.orw" placeholder="ORW"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Site</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.site" placeholder="Site"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="schememaster-id">TI Manager Profile</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.tiprofile" placeholder="TI Manager Profile"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Members</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.members" placeholder="Members"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="schememaster-id">Track Application</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.trackapplication" placeholder="Track Application"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Archived Members</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.archivedmembers" placeholder="Archived Members"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="schememaster-id">Assign Field Worker to Site</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.assignfwtosite" placeholder="Assign Field Worker to Site"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Dashboard</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.dashboard" placeholder="Dashboards"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Data</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.data" placeholder="Data"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Follow Up Member</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.followupmember" placeholder="Follow Up Member"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Others </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="multilanguage.others" placeholder="Others"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Profile</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.profile" placeholder="Profile"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Sign Out </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.logout" placeholder="Sign Out"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">FW ToDos</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.fwtodos" placeholder="FW ToDos"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="vulnerablemember">Not Applicable </label>
                            <div>
                                <input type="text" class="form-control" id="action" data-ng-model="langmain.notapplicable" placeholder="Not Applicable"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Knowledge Base</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.knowledgebasename" placeholder="Knowledge Base"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Facility</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.facility" placeholder="Facility"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Roles</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.roles" placeholder="Roles"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">TI</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.tiname" placeholder="TI"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Name</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.uname" placeholder="Name"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Mobile</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.mobile" placeholder="Mobile"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Email</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.email" placeholder="Email"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Country</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.country" placeholder="Country"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">State</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.state" placeholder="State"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">District</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.district" placeholder="District"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Town</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.town" placeholder="Town"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">ICTC</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.ictc" placeholder="ICTC"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">ART</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.art" placeholder="ART"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Username</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.username" placeholder="Username"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Password</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.password" placeholder="password"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">User Status</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.status" placeholder="User Status"> </div>
                        </div>

                        <!--<div class="form-group">
                                    <label for="zone"  >User status</label>
                                    <div class="col-sm-6">
                                        <label class="radio-inline">
								<input type="radio" data-ng-model="langmain.status" value="active" ng-disabled="usernameDisable">Active
							</label>
                                        <label class="radio-inline">
								<input type="radio" data-ng-model="langmain.status" value="inactive" ng-disabled="usernameDisable">Inactive
							</label>

                                    </div>
                                </div>-->
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Update</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.update" placeholder="Update"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Cancel</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.cancel" placeholder="Cancel"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Language</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.languagelabel" placeholder="Language"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">User</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.userlabel" placeholder="User"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">ART Name</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.artname" placeholder="ART Name"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">ICTC Name</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.ictcname" placeholder="ICTC Name"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Confirm</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.confirm" placeholder="Confirm"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">What do you want to add today</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.whattoadd" placeholder="What do you want to add today"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Add member</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.addmember" placeholder="Add member"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">One to One</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.onetoone" placeholder="One to One"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Screen and Treat</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.screenandtreat" placeholder="Screen and Treat"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Add Todo</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.addtodo" placeholder="Add Todo"> </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">ok</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.ok" placeholder="ok"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Add New</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.addNew" placeholder="Add New"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Push Data</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.pushdata" placeholder="Push Data"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Edit Profile</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.editprofile" placeholder="Edit Profile"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Members Not Meet in Last 1 Month</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.membernotmeet" placeholder="Members Not Meet in Last 1 Month"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Open 1-1s Count</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.onetoonecount" placeholder="Open 1-1s Count"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Open Conditions Count</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.openconcount" placeholder="Open Conditions Count"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Open ToDos Count</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.opentodocount" placeholder="Open ToDos Count"> </div>
                        </div>
                    </div>
                    
                      <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Please Wait</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.pleasewait" placeholder="Please Wait"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Fetching Data From Server</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.fetchingdatafromserver" placeholder="Fetching Data From Server"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Get Data Success</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.getdataSuccess" placeholder="Get Data Success"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Search Member</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.searchMember" placeholder="Search Member"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">Do You Want To Loagout</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.doyouwantLogout" placeholder="Loagout"> </div>
                        </div>
                    </div>
                     <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip">All fields in <sup>*</sup> are mandatory</label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="langmain.allfieldsmandatory" placeholder="all fields in * are mandatory"> </div>
                        </div>
                    </div>

                </div>
                <br/>
                <br/>
                <br/>



                <br>
                <div align="right" style="padding:0px 20px;">
                    <div>
                        <a data-ng-href="/LangMainList" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">Cancel</a>

                        <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;">Create </a>

                        <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;">Update </a>


                    </div>
                </div>
            </form>

            <div data-ng-hide="hideSearchFilter()">


            </div>
            <br />



            <div data-ng-hide="showForm()" class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>S NO.</th>
                            <th ng-click="changeSorting('language')" title="LANGUAGE" style="cursor:pointer;">LANGUAGE<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('language')"></i></span></th>
                            <th ng-click="changeSorting('followupmember')" title="FOLLOWUP MEMBER" style="cursor:pointer;">FOLLOWUP MEMBER<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('followupmember')"></i></span></th>
                            <th ng-click="changeSorting('profile')" title="PROFILE" style="cursor:pointer;">PROFILE<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('profile')"></i></span></th>
                            <th style="width:100px;">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="gender in lhslanguages| orderBy:sort.active:sort.descending | search:Search:filterFields |itemsPerPage:pageSize">
                            <td>{{ gender.index }}</td>
                            <td>{{ gender.languageName }}</td>
                            <td>{{gender.followupmember}}</td>
                            <td>{{gender.profile}}</td>


                            <td><a data-ng-href="/LangMain/edit/{{gender.id}}"><img src="images/piclinks/edit.png" title="Edit"  width="16px"></a>&nbsp;&nbsp;
                            </td>

                        </tr>
                    </tbody>
                </table>
                <br/>
                <div align="right">
                    <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true">
                    </dir-pagination-controls>

                </div>
            </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->




<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>

<checkmodal title1="Alert" visible="showValidationNew">
    {{validatestring1}}
    <br>

    <div class="form-group">
        <div align="center">
            <div align="center">
                <a data-ng-click="OKBUTTON()" class="btn btn-success btn-sm " role="button" style="border-color:#db4242;padding:5px 20px;font-weight:bold;">Ok</a>

            </div>
        </div>
    </div>
</checkmodal>
