<!--<style>
    body {
        background-image: url("images/swasti.jpg");
        background-repeat: no-repeat;
        /*background-size: 30% 50%;*/
        background-position: 250px 220px;
        width: 100%;
        height: 100%;
        /*background-color: #5CB8E6;*/
        
        padding-top: 0px;
        padding-bottom: 0px;
        font-family: 'Roboto Slab', serif;
    }
    
    .cent {
        height: auto;
        width: 80%;
        background-color: rgb(255, 255, 255);
        margin: auto;
        border-radius: 3px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
        position: relative;
    }
    
    .form-control {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #333;
        background-color: transparent;
        background-image: none;
        border: none;
        border-radius: none;
        box-shadow: none;
        transition: none;
    }
    
    .form-control:focus {
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    .form-control::-webkit-input-placeholder {
        color: #333;
    }
    
    .form-control:-moz-placeholder {
        color: #333;
    }
    
    .form-control::-moz-placeholder {
        color: #333;
    }
    
    .form-control:-ms-input-placeholder {
        color: #333;
    }
    
    #len {
        margin-top: -50px;
    }
    
    @media screen and (max-width: 1200px) {
        #len {
            margin-top: -35px;
        }
    }
    
    @media screen and (max-width: 990px) {
        #len {
            margin-top: -15px;
        }
    }
    
    @media screen and (max-width: 770px) {
        #len {
            margin-top: -65px;
        }
    }
    
    @media screen and (max-width: 550px) {
        #len {
            margin-top: 0px;
        }
    }
    
    .has-error .form-control {
        border-color: red;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }
    
    .has-error .help-block,
    .has-error .control-label,
    .has-error .radio,
    .has-error .checkbox,
    .has-error .radio-inline,
    .has-error .checkbox-inline {
        color: red;
        padding-left: 12px;
    }
</style>-->
<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }
    
    /* body {
        background-image: url("images/BG.png");
        background-repeat: no-repeat;
        width: 100%;
        background-attachment: fixed;
        background-position: top;
    } */
    
    /* .login-box-body {
        position: relative;
        padding: 20px 70px;
        box-shadow: 0px 4px 51px 0 rgba(0, 0, 0, 0.21);
        border-radius: 5px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    } */
    
    .login-logo-image {
        width: 100px;
        border: 3px solid white;
        border-radius: 100%;
        background: #fff;
        height: 100px;
        position: absolute;
        top: -50px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        text-align: center;
        background-image: url('images/logo.png');
        background-repeat: no-repeat;
        background-size: 55% auto;
        background-position: center;
    }
    
    .labname {
        margin-bottom: 0px;
        color: #262d57;
        font-weight: 600;
        font-size: 17px;
    }

    .labname-password {
        margin-bottom: 0px;
        color: #004891;
        font-weight: 600;
        font-size: 17px;
    }
    
    .inputtxt {
        font-size: 27px;
        padding :20px 10px;
        border-color: #d5d7df;
        border-radius: 8px;
    }
.modal-lg {
    width: 500px;
}
</style>


<div class="alert alert-{{notification.type}}" style="width:250px;display: none;position:absolute;bottom:10px;left:20px;margin-left:auto;margin-right:auto;padding:10px;z-index:1;" role="alert" data-notification="{{errormsg}}"> 
    <!--{{notification.message}}&nbsp;&nbsp;
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>-->
    <div class="row" style="margin:0px;">
    <div class="col-xs-2"  ><img src="images/piclinks/alert.png" style="padding-top: 5px;"></div>
        <div class="col-xs-8"><label>ALERT</label> <br/><p>{{notification.message}}</p> </div>
        <span><button type="button" class="close" data-dismiss="alert" aria-hidden="true"><img src="images/piclinks/cross_white.png" style="margin-top: -20px;"></button></span>
    </div>
</div>
<section>
    <div id="leftHalf" class="hidden-xs">
        <img class="imagestyle" src="images/piclinks/inhiv2.png">
    </div>
    <div id="rightHalf">
        <div class="login-box-body" style="">
                <br>
                <br>
                <br>
            <p class="login-box-msg">Welcome.</p>
            <form role="form" name="form" data-ng-submit="login()">
                <label class="labname">User Name</label>
                <div class="form-group has-feedback" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                    <input type="text" name="username" id="username" class="form-control inputtxt" data-ng-model="user.username" required> <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span> </div>
                <label class="labname">Password</label>
                <div class="form-group has-feedback" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                    <input type="password" name="password" id="password" class="form-control inputtxt" data-ng-model="user.password" required> <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span> </div>
                <div class="row" style="margin:0px;">
                    <label> <a href="" ng-click="showModal1()" class="labname-password">Forget password?</a></label>
                    <!--                <div class="col-xs-8">-->
                    <!--<p style="color:red;">{{ errormsg }} </p>-->
                    <!--                    <loading align="left"></loading>-->
                    <!--                </div>-->
                    <!-- /.col -->
                    <div class="row" style="margin:0px;margin-top:15%;">
                        <button type="submit" class="btn btn-primary btn-block " style="background:#004891;border-color:#004891;color:#ffffff;font-size:22px;height:50px;border-radius: 8px;">Login</button>
                    </div>
                    <!-- /.col -->
                </div>
                <!--{{FilterDate|date:'dd-MMM-yyyy/hh:mm:ss a'}}-->
            </form>
            <br/>
            <br/>
            <br/>
            <br>
            <!--<a class="text-center">Register a new membership</a>-->
        </div>
        <!-- /.login-box-body -->
    </div>
</section>
<!-- /.login-box -->
<!--<div>

    <form role="form" name="form" data-ng-submit="login()">
        <div class="row">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6" style="padding-left: 50px;">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <div class="cent">

                    <br/>
                    <div style="width:100%; height:auto; background-color:#a73f2d; margin-top: 20px;">
                        <h4 style="margin:0px; color: white; padding: 10px;">LOG IN</h4>
                    </div>
                    <div style="padding: 30px; height:auto;">

                        <div style="width:100%; height: 45px; border:1px solid #ccc; border-radius: 5px; position: relative;">

                            <div style="display: inline-block;">
                                <span style="display:block; padding: 15px;color: #333;" class="glyphicon glyphicon-user"></span>
                            </div>
                            <div style="width:85%; display: inline-block;position: absolute;padding-top: 5px;" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                                <input type="text" placeholder="User Name" name="username" id="username" class="form-control" data-ng-model="user.username" required />
                                <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">User name is required..</span>
                            </div>

                        </div>
                        <br/>
                        <div style="width:100%; height: 45px; border:1px solid #ccc; border-radius: 5px;position: relative;">

                            <div style="display: inline-block;">
                                <span style="display:block; padding: 15px;color: #333;" class="glyphicon glyphicon-lock"></span>
                            </div>

                            <div style="width:85%; display: inline-block;position: absolute;padding-top: 5px;" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                                <input type="password" placeholder="Password" name="password" id="password" class="form-control" data-ng-model="user.password" required />
                                <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                            </div>

                        </div>
                        <br/>
                        <div>
                            <a href="" ng-click="showModal1()" style="color: #00CCFF;">Forgot password?</a>
                        </div>

                        <div style="width:100%; height:auto; color:red; font-size: 14px; margin-top: 20px;">
                            <p>{{ errormsg }} </p>
                        </div>


                        <loading></loading>
                        <div align="right">
                            <button type="submit" class="myButton">Log in</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>-->
<script type="text/ng-template" id="template/forgotpassword.html">
    <div class="modal-header">
        <h4 class="modal-title">Find Your Account</h4> </div>
    <div class="modal-body">
        <div>
            <label style="font-weight: 600;">Enter your username</label>
            <br/>
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-1"><span class="glyphicon glyphicon-envelope"></span> </div>
                <div class="col-sm-11">
                    <input type="text" placeholder="username" style="width:100%;" ng-model="data.forgotusername" /> </div>
            </div>
            <br/>
            <div ng-hide="HideSearch">
                <label>Your new password will be sent to</label>
                <br/>
                <label>{{data.usermobile}}</label>
                <br/>
                <label>{{data.useremail}}</label>
            </div>
            <div ng-hide="HideError">
                <label>User not found with username:{{HideUser}}</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success btn-sm" ng-show="HideSearch" ng-click="GetUserId()">Search</button>
        <button type="submit" class="btn btn-success btn-sm" ng-hide="HideSearch" ng-click="ResetPassword()">Continue</button>
        <button type="submit" class="btn btn-info btn-sm" ng-click="ok1()">Cancel</button>
    </div>
</script>
<div class="modal-dialog">
    <script type="text/ng-template" id="template/Brodcast_Message.html">
        <div class=" modal-header" style="padding:20px;background:#f2f3f7;">
            <div>
             <img src="images\piclinks/brodcast.png" style="width:8%;position:absolute;left:46%;">
                </div>
<!--
            <div style="padding:12px;"> 
                <a data-ng-click="OKBDM()" data-dismiss="modal" class="btn btn-info " role="button" style="background:#db4242;border-color:#db4242;padding:5px 20px;">OK</a> 
            </div>
-->
            <h4 class="stylelink active modal-title" style="display:block;text-align:center;margin-top:15px;border:none;">Broadcast Message</h4>
           <div class="box-tools " > <span data-toggle="tooltip" title="" class="badge bg-yellow" data-original-title="{{events.length}} New Messages" style="height: 30px;width:60px;border-radius:4px;font-size: 18px;font-weight:normal;position:absolute;left:44.5%;">{{events.length}}</span> </div>
        </div>
        <div class="modal-body">
            <div class="box box-success" style="border-top:none;padding-bottom:10px;">
                <div class="box-header with-border" style="border-color:#ededed;padding-left:20px;">
                    <!--                <h3 class="box-title" ng-style="style" style="margin-top:7px;">{{broadcastmessages}}</h3>-->
<!--
                    <hr>
                    <div class="box-tools pull-right" style="right:50px;top:15px;"> <span data-toggle="tooltip" title="" class="badge bg-yellow" data-original-title="{{events.length}} New Messages" style="height: 30px;width: 33px;border-radius: 50%;font-size: 18px;">{{events.length}}</span> </div>
-->
                </div>
                <div>
                    <!--						<div class="box-body chat" id="chat-box" style="overflow-y:scroll;width: auto; height:auto; max-height: 820px;">-->
                    <div class="box-body chat" id="chat-box" style="height:180px;max-height:820px;padding-left:40px;overflow-y:auto ; ">
                        <!-- chat item -->
                        <div ng-repeat="event in events">
                            <div class="item">
                                <div>
                                    <div style="width:100%;display:inline-block;">
                                        <div style="width:75%;height:auto;display:inline-block;float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" title="{{event.name}}"> <a href="" style="font-size:15px;font-weight:600;COLOR:#EA5A5A;">{{event.name}}</a> </div>
                                        <div style="width:25%;height:auto;display:inline-block;float:right;"> <small class="text-muted pull-right"><i class="fa fa-calendar-o"></i> {{event.datetime|date:'dd-MM-yyyy'}}</small> </div>
                                    </div>
                                    <div>
                                        <p style="margin:0;">{{event.venue}}</p>
                                    </div>
                                </div>
                            </div>
                            <br /> </div>
                        <div ng-show="!events.length" style="margin:0 auto;text-align:center;padding-top: 45%;"> <span style="font-size:18px;font-weight:bold;">{{nobroadcastmessages}}</span> </div>
                    </div>
                </div>
                <!-- /.chat -->
                <!-- /.box-body -->
                <div class="box-footer" style="border-top:none;">  </div>
                <!-- /.box-footer -->
            </div>
        </div>
        <div class="modal-footer">
            <div align="center"><a data-ng-click="OKBDM()" data-dismiss="modal" class="btn btn-info " role="button" style="background:#db4242;border-color:#db4242;padding:5px 20px;">OK</a>  </div>
        </div>
    </script>
</div>
