<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
        border-bottom: 4px solid #e72e5a;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
    }

    table,
    th,
    td {
        fill: #262d57;
        font-size: 14px;
    }

    th {
        background-color: #d5d7df;
        font-weight: normal;
    }

    tr {
        background-color: White;
        color: #262d57;
        font-size: 10px;
    }

</style>
<!-- Horizontal Form -->
<!--<div class="box box-info" style="min-height:450px;border-color:rgb(83, 12, 44)" >
	<div class="box-header with-border">
		<h3 class="box-title">Report Incident</h3>
	</div>-->


<div class="box box-info custom-main-box with-background" style="min-height:450px;border-top:none;" onedata-ng-init="toggleLoading()">
    <div class="box-header with-border custom-main-header">
        <a href="/conditions-list" style="padding-left:10px;">
            <!--            <span class="glyphicon glyphicon-menu-left"></span> -->
            <img src="images/piclinks/back.png" width="10px" height="16px" style="margin-bottom: 5px;" /></a>&nbsp;&nbsp;
        <h3 class="box-title" style="font-weight:600;color:#262d57;">{{PRHeading}}</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->



    <div class="box-body">
        <br/>
        <form role="form">
            <p align="center" style="color:#ec0b6d">{{PRLanguage.mandatoryfield}} </p>
            <br/>

            <div class="row padding2">
                <div class="col-lg-3 col-md-4">
                    <div class="form-group">
                        <label for="champion" class="select-label">{{PRLanguage.prName}} </label>
                        <input type="text" class="form-control custom-form-control" id="name" data-ng-model="patient.name" placeholder="{{PRLanguage.prName}}" ng-disabled="disabledmeber">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="form-group">
                        <label for="champion" class="select-label">{{PRLanguage.prId}} </label>
                        <input type="text" class="form-control custom-form-control" id="tiId" data-ng-model="patient.tiId" placeholder="{{PRLanguage.prId}}" ng-disabled="disabledmeber" numbers-only="numbers-only" maxlength="10">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="form-group">
                        <label for="zone" class="select-label">{{PRLanguage.condition}}</label>
                        <select ui-select2 id="condition" ng-model="patient.condition" data-placeholder="{{PRLanguage.condition}}" style="width:100%" ng-disabled="disabledmeber" ng-chnage="conditionChnage(patient.condition)">
                            <option value=""></option>
                            <option data-ng-repeat="condition in conditionsdsply" value="{{condition.id}}" ng-if="UserLanguage==1">{{ condition.name }}  </option>
                            <option data-ng-repeat="condition in conditionsdsply" value="{{condition.parentId}}" ng-if="UserLanguage!==1">{{ condition.name }}  </option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="form-group">
                        <label for="zone" class="select-label">{{PRLanguage.relation}} </label>
                        <select ui-select2 id="memberId" ng-model="patient.relation" data-placeholder="{{PRLanguage.relation}}" style="width: 100%;" ng-disabled="disabledmeber">
                            <option value=""></option>
                            <option value="SELF">{{PRLanguage.self}}</option>
                            <option value="SPOUSE">{{PRLanguage.spouse}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="form-group">
                        <label for="zone" class="select-label">{{PRLanguage.patientflow}}</label>
                        <select ui-select2 id="patientflow" ng-model="patient.patientFlow" data-placeholder="{{PRLanguage.patientflow}}" style="width:100%" ng-disabled="disableMigrant">
                            <option value=""></option>
                            <option data-ng-repeat="referto in refertos" ng-if="UserLanguage==1" value="{{referto.id}}">{{ referto.name}}</option>
                            <option data-ng-repeat="referto in refertos" ng-if="UserLanguage!=1" value="{{referto.parentId}}">{{ referto.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="form-group">
                        <label for="zone" class="select-label">{{PRLanguage.purposeofVisit}}</label>
                        <select ui-select2 id="purposeofvisit" ng-model="patient.purposeOfVisit" data-placeholder="{{PRLanguage.purposeofVisit}}" style="width:100%" ng-disabled="disableAssigned">
                            <option value=""></option>
                            <option data-ng-repeat="seenby in seenbys" ng-if="UserLanguage==1" value="{{seenby.id}}">{{ seenby.name }}</option>
                            <option data-ng-repeat="seenby in seenbys" ng-if="UserLanguage!=1" value="{{seenby.parentId}}">{{ seenby.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="form-group">
                        <label for="zone" class="select-label">{{PRLanguage.symptom}}</label>
                        <select ui-select2 id="pillarid" ng-model="patient.symptom" data-placeholder="{{PRLanguage.symptom}}" style="width:100%" multiple="multiple">
                            <option data-ng-repeat="symptom in symptoms" ng-if="UserLanguage==1" value="{{symptom.id}}">{{ symptom.name }}</option>
                            <option data-ng-repeat="symptom in symptoms" ng-if="UserLanguage!=1" value="{{symptom.parentId}}">{{ symptom.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>

            <div class="table">
                <table class="table">
                    <thead>
                        <tr id="rowClick">
                            <th style="padding-left:4%;"></th>
                            <th>{{PRLanguage.dateoftest}}</th>
                            <th>{{PRLanguage.testname}}</th>
                            <th>{{PRLanguage.result}}</th>
                            <th class="left"><a href="" data-ng-click="addTest()"><span class="glyphicon glyphicon-plus" title="{{PRLanguage.add}}"></span></a></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="bnbody">
                        <tr ng-repeat="test in TestArray | filter: { 'deleteflag': false }">
                            <td style="padding-left:4%;">
                                {{PRLanguage.result}} {{$index +1}}
                            </td>
<!--
                            <td>
                                <p class="input-group" style="width: 100%">
                                    <input type="text" id="{{'datepickerdob' + $index}}" class="form-control custom-form-control" datepicker-popup="{{format}}" ng-model="test.visitdate" is-open="picker.dobopened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" max-date="dtmax" style="border-right:none;border-color: #d5d7df;">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="opendob($event, $index)" style="border-left:none;background:#fff;border-color: #d5d7df">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                            <img src="images/piclinks/calender-copy-3.png" class="calddate" style="margin-bottom:4px;width:16px;">
                                        </button>
                                    </span>

                                </p>
                            </td>
-->
                            
                            
                            
                            <td >
                                <p class="input-group" style="width: 80%">
                                    <input type="text" id="{{'datepickertestdate' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="test.visitdate" is-open="test.testdateopened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" max-date="dtmax" style="border-right:none;border-color: #d5d7df;">
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="opentestdate($event, $index)" style="border-left:none;background:#fff;border-color: #d5d7df">
                                        <img src="images/piclinks/calender-copy-3.png" lass="calddate" style="margin-bottom:4px;width:16px;">
<!--                                        <i class="glyphicon glyphicon-calendar"></i>-->
                                    </button>
                                </span> </p>
                                <!--
                                <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:black; width: 60%;">{{PRLanguage.resultofTest}} {{$index +1}}
                            </label>
-->
                            </td>

                            <td>
                                <select ui-select2 id="risk" ng-model="test.testnameId" ng-change="diagnosisChange(test.testnameId, $index)" data-placeholder="{{PRLanguage.testname}}" style="width:100%;">
                                    <option value=""></option>
                                    <option data-ng-repeat="testname in test.testnames"  value="{{testname.id}}" ng-if="UserLanguage==1">{{ testname.name }}</option>
                                    <option data-ng-repeat="testname in test.testnames"  value="{{testname.parentId}}" ng-if="UserLanguage!=1">{{ testname.name }}</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control" id="floatcheck" data-ng-model="test.result" placeholder="{{PRLanguage.result}}" style="width:60%;" onkeypress="return(event.charCode > 47 && event.charCode < 58)">
                                <!--                                    numbersOnlyNegtive-->
                            </td>
                            <!--
                            <td ng-if="$last">
                                <a href="" data-ng-click="addTest(test.id, $index)" ng-class="{'adisabled': disableAddBtn}"><span class="glyphicon glyphicon-plus" title="{{PRLanguage.add}}"></span></a>
                            </td>
                            <td ng-if="!$last">
                                <a href="" data-ng-click="removeTest(test.id, $index)"><span class="glyphicon glyphicon-remove" title="{{PRLanguage.removebutton}}"></span></a>
                            </td>
-->
                            <td>
                                <a href="" data-ng-click="removeTest(test.id, $index)">
                                    <!--                                    <span class="glyphicon glyphicon-remove" title="{{PRLanguage.removebutton}}"></span>-->
                                    <img src="images/piclinks/cross.png" style="cursor:pointer;" title="{{PRLanguage.removebutton}}" width="16px;">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <br>
            <div class="row padding2">
                <div class="col-lg-3 col-md-4">
                    <div class="form-group">
                        <label for="zone" class="select-label">{{PRLanguage.kitprescribed}}
                            </label>
                        <select ui-select2 id="kitprescribed" ng-model="patient.kitPrescribed" data-placeholder="{{PRLanguage.kitprescribed}}" style="width:100%" multiple="multiple">
                                <option data-ng-repeat="kitprescrib in kitprescribs" ng-if="UserLanguage==1" value="{{kitprescrib.id}}">{{ kitprescrib.name }}</option>
                                <option data-ng-repeat="kitprescrib in kitprescribs" ng-if="UserLanguage!=1" value="{{kitprescrib.parentId}}">{{ kitprescrib.name }}</option>
                            </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="form-group">
                        <label for="zone" class="select-label">{{PRLanguage.drugsgiven}}
                            </label>
                        <select ui-select2 id="drugsgiven" ng-model="patient.drugGiven" data-placeholder="{{PRLanguage.drugsgiven}}" style="width:100%" multiple="multiple">
                                <option data-ng-repeat="medicine in medicines" ng-if="UserLanguage==1" value="{{medicine.id}}">{{ medicine.name }}</option>
                                <option data-ng-repeat="medicine in medicines" ng-if="UserLanguage!=1" value="{{medicine.parentId}}">{{ medicine.name }}</option>
                            </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="form-group">
                        <label for="champion" class="select-label">{{PRLanguage.findings}} </label>
                        <textarea type="text" class="form-control custom-form-control" id="address" data-ng-model="patient.finding" placeholder="{{PRLanguage.findings}}" rows="3"></textarea>
                    </div>
                </div>
            </div>


            <br>
            <br>
            <br>
            <div>
                <div align="right">
                    <a data-ng-href="" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;" ng-click="cancelpatientrec()">{{PRLanguage.cancel}}</a>

                    <a class="btn btn-info btn-sm" type="submit" role="button" data-ng-click="SavePatientRecord()" data-ng-show="HideSubmitButton" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;" ng-disabled="disableSave">{{PRLanguage.saveLabel}}</a>&nbsp;

                    <a class="btn btn-info btn-sm" type="submit" role="button" data-ng-click="UpdatePatientRecord()" data-ng-hide="HideUpdateButton" style="padding:5px 20px;margin-right:30px;" ng-disabled="disableUpdate">{{PRLanguage.update}}</a>&nbsp;
                    <!-- /patientrecord-list-->
                </div>
            </div>


        </form>

        <!-- /.box-body -->
        <div class="box-footer">

        </div>
        <!-- /.box-footer -->
    </div>
    <!-- /.box -->



    <style>
        .toggle.android {
            border-radius: 0px;
        }

        .toggle.android .toggle-handle {
            border-radius: 0px;
        }

    </style>

    <modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
        <p>{{message}}</p>
    </modal2>


    <validationmodal title1="Alert" visible="showValidation"> {{validatestring1}} </validationmodal>

    <script type="text/ng-template" id="template/AlertModal.html">
        <div class="modal-header">
            <h4 class="modal-title">Alert</h4>
        </div>
        <div class="modal-body">

            {{AlertMessage}}
        </div>

        <div class="modal-footer">
            <div align="left">
                <button type="button" class="btn btn-success btn-sm " ng-click="okAlert()">{{okbutton}}</button>
            </div>
        </div>
    </script>

    <shgmeetingmodal visible="confirmationModel">
        <div class="modal-header" style="color:#ffffff;padding:0px;">
            <div class="pull-right" style='padding:15px;'></div>
            <h4 class="stylelink modal-title" style="padding-left:25px;color:#262d57;font-size:16px;"><img src="images/piclinks/save.png" width="16px" height="16px" style="margin-top:3px;">&nbsp;&nbsp;&nbsp;{{modeltitle1}}</h4>
        </div>

        <div style="min-height:305px;  border: 1px solid #ffffff;" id="savemodals">
            <br>
           <form>
               <div class="row padding">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" class="" style="font-weight:600;margin-top:4px;">{{PRLanguage.prName}}</label>
                        <input type="text" class="form-control" id="name" data-ng-model="patient.name" placeholder="{{PRLanguage.prName}}" style="width:100%;" readonly>
                    </div>
                </div>
                <div class="col-sm-6">
                     <div class="form-group">
                        <label for="" class="" style="font-weight:600;margin-top:4px;">{{PRLanguage.prId}}</label>
                        <input type="text" class="form-control" id="name" data-ng-model="patient.tiId" placeholder="{{PRLanguage.prId}}" style="width:100%;" readonly>
                    </div>
                </div>
                  <div class="col-sm-6">
                          <div class="form-group">
                        <label for="" class="" style="font-weight:600;margin-top:4px;">{{PRLanguage.condition}}</label>
                       <select ui-select2 id="condition" ng-model="patient.condition" data-placeholder="{{PRLanguage.condition}}" style="width:100%" disabled>
                                    <option value=""></option>
                                    <option data-ng-repeat="condition in conditionsdsply" value="{{condition.id}}" ng-if="UserLanguage==1">{{ condition.name }}  </option>
                             <option data-ng-repeat="condition in conditionsdsply" value="{{condition.parentId}}" ng-if="UserLanguage!==1">{{ condition.name }}  </option>
                             
                                </select>
                    </div>
                </div>
                <div class="col-sm-6">
                      <div class="form-group">
                        <label for="" class="" style="font-weight:600;margin-top:4px;">{{PRLanguage.relation}}</label>
                       <select ui-select2 id="memberId" ng-model="patient.relation" data-placeholder="{{PRLanguage.relation}}" style="width: 100%;" disabled>
                            <option value=""></option>
                               <option value="SELF">{{PRLanguage.self}}</option>
                            <option value="SPOUSE">{{PRLanguage.spouse}}</option>
                        </select>
                    </div>
                </div> 
                   <div class="col-sm-6">
                            <div class="form-group">
                        <label for="" class="" style="font-weight:600;margin-top:4px;">{{PRLanguage.purposeofVisit}}</label>
                          <select ui-select2 id="purposeofvisit" ng-model="patient.purposeOfVisit" data-placeholder="{{PRLanguage.purposeofVisit}}" style="width:100%" ng-disabled="disableAssigned">
                            <option value=""></option>
                            <option data-ng-repeat="seenby in seenbys" ng-if="UserLanguage==1" value="{{seenby.id}}">{{ seenby.name }}</option>
                            <option data-ng-repeat="seenby in seenbys" ng-if="UserLanguage!=1" value="{{seenby.parentId}}">{{ seenby.name }}</option>
                        </select>
                    </div>
                </div>
               </div>
               
<!--
            <div class="row">
                <div class="col-sm-9"></div>
                <div class="col-sm-5" style="text-align:center;">
                    <div class="form-group">
                        <label for="" class="" style="font-weight:600;margin-top:4px;">{{PRLanguage.prName}}</label>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" data-ng-model="patient.name" placeholder="{{PRLanguage.prName}}" style="width:110%;" readonly>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
            
            <div class="row" style="margin:0px;">
                <div class="col-sm-9"></div>
                <div class="col-sm-5" style="text-align:center;">
                    <div class="form-group">
                        <label for="" class="" style="font-weight:600;margin-top:4px;">{{PRLanguage.prId}}</label>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" data-ng-model="patient.tiId" placeholder="{{PRLanguage.prId}}" style="width:110%;" readonly>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
            
             
            <div class="row" style="margin:0px;">
                <div class="col-sm-9"></div>
                <div class="col-sm-5" style="text-align:center;">
                    <div class="form-group">
                        <label for="" class="" style="font-weight:600;margin-top:4px;">{{PRLanguage.condition}}</label>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                       <select ui-select2 id="condition" ng-model="patient.condition" data-placeholder="{{PRLanguage.condition}}" style="width:100%" disabled>
                                    <option value=""></option>
                                    <option data-ng-repeat="condition in conditionsdsply" value="{{condition.id}}" ng-if="UserLanguage==1">{{ condition.name }}  </option>
                             <option data-ng-repeat="condition in conditionsdsply" value="{{condition.parentId}}" ng-if="UserLanguage!==1">{{ condition.name }}  </option>
                             
                                </select>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
            
             <div class="row" style="margin:0px;">
                <div class="col-sm-9"></div>
                <div class="col-sm-5" style="text-align:center;">
                    <div class="form-group">
                        <label for="" class="" style="font-weight:600;margin-top:4px;">{{PRLanguage.relation}}</label>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                       <select ui-select2 id="memberId" ng-model="patient.relation" data-placeholder="{{PRLanguage.relation}}" style="width: 100%;" disabled>
                            <option value=""></option>
                                <option value="SELF">Self</option>
                                 <option value="SPOUSE">Spouse/Partner</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row" style="margin:0px;">
                <div class="col-sm-9"></div>
                <div class="col-sm-5" style="text-align:center;">
                    <div class="form-group">
                        <label for="" class="" style="font-weight:600;margin-top:4px;">{{PRLanguage.purposeofVisit}}</label>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                          <select ui-select2 id="purposeofvisit" ng-model="patient.purposeOfVisit" data-placeholder="{{PRLanguage.purposeofVisit}}" style="width:100%" ng-disabled="disableAssigned">
                            <option value=""></option>
                            <option data-ng-repeat="seenby in seenbys" ng-if="UserLanguage==1" value="{{seenby.id}}">{{ seenby.name }}</option>
                            <option data-ng-repeat="seenby in seenbys" ng-if="UserLanguage!=1" value="{{seenby.parentId}}">{{ seenby.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
-->
            <br/>
            <div style="margin:0px;" ng-if ="hidetestresult">
                <table class="table">
                    <thead>
                        <tr id="rowClick">
                            <th style="padding-left:26px;"></th>
                            <th>{{PRLanguage.dateoftest}}</th>
                            <th>{{PRLanguage.testname}}</th>
                            <th>{{PRLanguage.result}}</th>
                        </tr>
                    </thead>
                    <tbody id="bnbody">
                        <tr ng-repeat="test in TestArray | filter: { 'deleteflag': false }">
                            <td style="padding-left:26px;width:22%;padding-top:12px;">
                                {{PRLanguage.result}} {{$index +1}}
                            </td>
                            <td>
                                <p class="input-group" style="width: 100%">
                                    <input type="text" id="{{'datepickerdob' + $index}}" class="form-control custom-form-control" datepicker-popup="{{format}}" ng-model="test.visitdate" is-open="picker.dobopened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" max-date="dtmax" readonly style="border-right:none;border-color:#d5d7df;">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" style="border-left:none;background:#eee;border-color:#d5d7df;">
                                            <img src="images/piclinks/calender-copy-3.png" class="calddate" ng-disabled="diisableSavepopup" style="margin-bottom:4px;width:16px;">
                                        </button>
                                    </span>
                                </p>
                            </td>

                            <td>
                                <select ui-select2 id="risk" ng-model="test.testnameId" ng-change="diagnosisChange(test.testnameId, $index)" data-placeholder="{{PRLanguage.testname}}" style="width:100%;" disabled>
                                    <option value=""></option>
                                    <option data-ng-repeat="testname in test.testnames"  value="{{testname.id}}" ng-if="UserLanguage==1">{{ testname.name }}</option>
                                    <option data-ng-repeat="testname in test.testnames"  value="{{testname.parentId}}" ng-if="UserLanguage!=1">{{ testname.name }}</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control" id="floatcheck" data-ng-model="test.result" placeholder="{{PRLanguage.result}}" style="width:90%;" onkeypress="return(event.charCode > 47 && event.charCode < 58)" readonly>

                            </td>
                     
                            
                        </tr>
                    </tbody>
                </table>
            </div>
           
            
        </form>
        </div>
        <br>

        <div class="form-group">
                <div align="right">
                    <a data-ng-click="" data-dismiss="modal" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">{{PRLanguage.cancel}} </a>
                    
                    <a data-ng-click="SavePatientFinal()" data-dismiss="modal" class="btn btn-info btn-sm " role="button" style="padding:5px 20px;margin-right:30px;">{{PRLanguage.yes}}</a>&nbsp;
                </div>
        </div>
        <br>

        <style>
            div.scroll {
                width: 100%;
                height: 100px;
                overflow: scroll;
            }

            .toggle.android {
                border-radius: 0px;
            }

            .toggle.android .toggle-handle {
                border-radius: 0px;
            }

            #mapCanvas {
                width: 500px;
                height: 400px;
                float: left;
            }

            #infoPanel {
                margin-left: 100px;
            }

            #infoPanel div {
                margin-bottom: 5px;
            }

        </style>
    </shgmeetingmodal>
