<style>
    /*	.stylelink {
		padding: 3px 10px;
		background: transparent;
		color: #333;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	
	.stylelink.active {
		padding: 3px 10px;
		background: #b71c1c;
		color: #fff;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	*/

    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;

    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;
        border-bottom: 4px solid #ec0b6d;
    }

    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 4px solid #f4f4f4;
        /*		background-color: #fff;*/
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }

    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/

    .nav-tabs-custom>.nav-tabs>li {
        width: 19%;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 10px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 10px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
            padding: 5px 10px;
        }
        .sub_menu.active {
            font-size: 10px;
            padding: 5px 10px;
        }
        .nav-tabs-custom>.nav-tabs>li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
    }

</style>

<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink " href="/countries"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="COUNTRY">COUNTRY</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink " href="/state"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="STATE">STATE</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/district"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="DISTRICT">DISTRICT</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/town"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="TOWN">TOWN</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/ictccenter"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ICTC">ICTC </span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/artcenter"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ART">ART </span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/ti"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="TI">TI</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink active" href="/sites"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="SITES">SITES</span></a>
        </div>


        <!--<div style="text-align:center;">
            <a class="stylelink " href="/ictccenter"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">ICTC </span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink active" href="/artcenter"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">ART </span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/ti"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">TI</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/timanager"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">TI MANAGER</span></a>
        </div>-->
        <!--
        <div style="text-align:center;">
            <a class="stylelink" href="/otherroles"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">OTHER ROLES</span></a>
        </div>
-->
        <!--<div style="text-align:center;">
            <a class="stylelink" href="/roles"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">ROLES</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/users"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">USERS</span></a>
        </div>-->
        <!--
        <div style="text-align:center;">
            <a class="stylelink" href="/ictcassign"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">TI ASSIGN</span></a>
        </div>
-->
    </div>
</div>
<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-TOP:none;">
    <!-- <div id="wrapper">
        
        <div class="stylelink active box-header with-border" style="background:#ffffff;padding:20px 10px;">
            <h3 class="box-title" style="font-weight:600;">Sites</h3>
        </div>
    </div>-->
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <div class="row" style="padding:20px 20px 0px 20px;">
            <div class="col-sm-6">
                <!--
				<a data-ng-href="/routes/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New </a>
				<a data-ng-href="/uploadroutes" class="btn btn-success btn-sm " role="button" data-ng-hide="hideCreateButton()" style="padding:5px 20px;">Upload</a>
-->
            </div>
            <div class="col-sm-6">
                <div class="row" style="margin:0px;">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-1"><button class="btn btn-danger btn-sm"></button></div>
                    <div class="col-sm-2">Archived</div>
                    <div class="col-sm-1"><button class="btn btn-info btn-sm"></button></div>
                    <div class="col-sm-2">Unassigned</div>
                </div>
            </div>
        </div>
        <br/>

        <div data-ng-hide="hideSearchFilter()">
            <div class="row">
                <div class="col-sm-5">
                    <div data-ng-hide="showForm()">
                        <form role="form" class=" ">
                            <div class="row" style="margin:0;padding:0;">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="zone">Country</label>
                                        <div>
                                            <select ui-select2 id="zone" ng-model="CountryID" data-placeholder="Pick a Country" style="width:100%;">
									<option value=""></option>
									<option data-ng-repeat="country  in countries" value="{{country.id}}">{{ country.name }}</option>
								</select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="salesarea">State</label>
                                        <div>
                                            <select ui-select2 id="salesarea" ng-model="stateId" data-placeholder="Pick a State" style="width:100%;">
									<option value=""></option>
									<option data-ng-repeat="zone in dispalyZones" value="{{zone.id}}">{{ zone.name }}</option>
								</select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="salesarea">District</label>
                                        <div>
                                            <select ui-select2 id="salesarea" ng-model="districtId" data-placeholder="Pick a District" style="width:100%;">
									<option value=""></option>
									<option data-ng-repeat="salesarea in displaySalesareas" value="{{salesarea.id}}">{{ salesarea.name }}</option>
								</select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="distributionarea">Town</label>
                                        <div>
                                            <select ui-select2 id="firstName" ng-model="townId" data-placeholder="Pick a Town" style="width:100%;">
									<option value=""></option>
									<option data-ng-repeat="town in displayCities" value="{{town.id}}">{{ town.name}}</option>
								</select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="distributionarea">TI</label>
                                        <div>
                                            <select ui-select2 id="firstName" ng-model="TiId" data-placeholder="Pick a TI" style="width:100%;">
									<option value=""></option>
									<option data-ng-repeat="ti in empDispaly" value="{{ti.id}}">{{ ti.firstName}}</option>
								</select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="col-sm-2  col-md-2" style="text-align:left;border-color:#e1e8ee">
                        <div>
                            <label class="showlabel">Show</label>
                        </div>
                        <div class="sell">
                            <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
						<option value="25">25</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 smright2txt">
                        <form role="form" class="">
                            <div class="input-group">
                                <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-left-radius:4px;border-bottom-left-radius: 4px;border-color:#e1e8ee;background:none;border-right:none;"><span class="glyphicon glyphicon-search"></span></button>
                                </span>
                                <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-left:none;border-color:#e1e8ee;border-top-right-radius:4px;border-bottom-right-radius: 4px;" ng-model="search">

                            </div>
                        </form>
                    </div>
                    <div class="col-sm-2 col-md-2 smright2txt">
                        <a data-ng-href="/site/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New </a>
                    </div>
                </div>
            </div>
        </div>
        <br />




        <div data-ng-hide="showForm()">
            <br/>
            <!--
            <form role="form" class="form-horizontal">
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zone" class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="font-weight:600;margin-top:5px;">Country</label>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <select ui-select2 id="zone" ng-model="CountryID" data-placeholder="Pick a Country" style="width:100%;">
									<option value=""></option>
									<option data-ng-repeat="country  in countries" value="{{country.id}}">{{ country.name }}</option>
								</select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="salesarea" class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="font-weight:600;margin-top:5px;">State</label>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <select ui-select2 id="salesarea" ng-model="stateId" data-placeholder="Pick a State" style="width:100%;">
									<option value=""></option>
									<option data-ng-repeat="zone in dispalyZones" value="{{zone.id}}">{{ zone.name }}</option>
								</select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="salesarea" class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="font-weight:600;margin-top:5px;">District</label>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <select ui-select2 id="salesarea" ng-model="districtId" data-placeholder="Pick a District" style="width:100%;">
									<option value=""></option>
									<option data-ng-repeat="salesarea in displaySalesareas" value="{{salesarea.id}}">{{ salesarea.name }}</option>
								</select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="distributionarea" class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="font-weight:600;margin-top:5px;">Town</label>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <select ui-select2 id="firstName" ng-model="townId" data-placeholder="Pick a Town" style="width:100%;">
									<option value=""></option>
									<option data-ng-repeat="town in displayCities" value="{{town.id}}">{{ town.name}}</option>
								</select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="distributionarea" class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="font-weight:600;margin-top:5px;">TI</label>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <select ui-select2 id="firstName" ng-model="TiId" data-placeholder="Pick a TI" style="width:100%;">
									<option value=""></option>
									<option data-ng-repeat="ti in empDispaly" value="{{ti.id}}">{{ ti.firstName}}</option>
								</select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
-->
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>S No.</th>
                            <!--						<th>SITE NAME</th>-->
                            <th ng-click="changeSorting('index')" title="SITE NAME" style="cursor:pointer;">SITE NAME<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('index')"></i></span></th>
                            <th>TI</th>
                            <th>COUNTRY</th>
                            <th>STATE</th>
                            <th>DISTRICT</th>
                            <th>TOWN</th>
                            <!--                        <th ng-style="style">MEMBER COUNT</th>-->
                            <th style="width:100px;">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr dir-paginate="route in displayroutes| orderBy:sort.active:sort.descending | filter:search:startsWith  |itemsPerPage:pageSize" pagination-id="routesId" current-page=currentpage ng-style="{'color':route.colour}">

                            <td>{{ route.index }}</td>
                            <td>{{route.id}} - {{route.name}}</td>
                            <td>{{route.tiName}} </td>
                            <td>{{route.countryName}} </td>
                            <td>{{route.stateName}} </td>
                            <td>{{route.districtName}} </td>
                            <td>{{route.cityName}} </td>

                            <!--                        <td style="padding-left:5%;">{{route.totalamounts.length}}</td>-->
                            <td ng-if="route.deleteflag == true">
                                <a data-ng-href="/site/{{route.id}}"><img src="images/piclinks/edit.png" title="Edit"  width="16px"></a>&nbsp;&nbsp;&nbsp;

                                <a confirm-button="UnDelete(route.id)" message="Do you want to Unarchive this Site?" title="Confirm Unarchive!"><img src="images/piclinks/unarchive.png" style="cursor:pointer;width:16px;" title="Unarchive"></a>&nbsp;&nbsp;&nbsp;
                            </td>

                            <td ng-if="route.deleteflag == false">
                                <a data-ng-href="/site/{{route.id}}"><img src="images/piclinks/edit.png" title="Edit"  width="16px"></a>&nbsp;&nbsp;&nbsp;
                                <!--                                <a style="color:#b7b8c8;">|</a>&nbsp;&nbsp;-->
                                <a confirm-button="Delete(route.id)" message="Do you want to Archive this Site?" title="Confirm Archive!"><img src="images/piclinks/archive.png" style="cursor:pointer;width:16px;" title="Archive"></a>&nbsp;&nbsp;&nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div align="right">
                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" pagination-id="routesId" on-page-change="PageChanged(newPageNumber, oldPageNumber)">

                </dir-pagination-controls>
            </div>
        </div>

        <div ng-show="!displayroutes.length" style="margin:0 auto;text-align:center;padding-top: 5%;">
            <span style="font-size:18px;font-weight:bold;">Please select an options</span>
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <br/>
    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->


<validationmodal title1="Alert!!!" visible="showValidation">
    {{validatestring1}}
</validationmodal>
