<h2></h2>
<div style="width:100%; height:auto; min-height:500px;  border: 1px solid #E6E6E6; margin: 5px auto; padding:5px;">    
     <div class="row" style="margin:0;padding:0;">
        
        <div align="center">
            <div class="form-group">
                <a data-ng-href="/routelinks/create" class="btn btn-primary btn-sm" role="button" data-ng-hide="hideCreateButton()"><span class="glyphicon glyphicon-plus"></span>Add New Route Link </a>
            </div>
        </div>
         
         <div>

            <h4 style="font-family: Arial; font-weight: bold; font-size: 19px;">Sales Route Link</h4>
        </div>
    </div>
    <br />


<form class="form-horizontal" role="form" data-ng-show="showForm()">
  <div class="form-group">
    <label for="partner" class="col-sm-5 control-label">Sales Agent</label>
    <div class="col-sm-6">
      <select ui-select2 ng-model="routelink.partnerId" data-placeholder="Pick a Sales Agent" style="width:180px;">
		    <option value=""></option>
		    <option data-ng-repeat="partner in partners" value="{{partner.id}}">{{ partner.salesCode +'  -  '+ partner.firstName}}</option>
			</select>
    </div>
  </div>
  
  <div class="form-group">
    <label for="distributionRoute" class="col-sm-5 control-label">Route</label>
    <div class="col-sm-6">
    	<select ui-select2 ng-model="routelink.distributionRouteId" data-placeholder="Pick a Route" style="width:180px;">
		    <option value=""></option>
		    <option data-ng-repeat="route in routes" value="{{route.id}}">{{ route.name }}</option>
			</select>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-6 col-md-offset-3" align="center">
			<data-cb-form-submit data-singular="routelink" data-plural="routelinks" data-label="Create Route Link" data-slug="routelinks" data-ng-show="isCreateView()"></data-cb-form-submit>

			<data-cb-button-update data-singular="routelink" data-plural="routelinks" data-label="Update" data-slug="routelinks" data-ng-hide="isCreateView()"></data-cb-button-update>

      <a data-ng-href="/routelinks" class="btn btn-info" role="button">Cancel</a>

      <data-cb-button-delete data-singular="original" data-slug="routelinks" data-ng-hide="isCreateView()"></data-cb-button-delete>
		</div>
	</div>
</form>

<div data-ng-hide="showForm()">
    
    <div class="col-sm-6">
  
    <div class="form-group">
      <label for="salesagent" class="col-sm-4 control-label">Sales Agent</label>
      <div class="col-sm-8">
       <select ui-select2 ng-model="salesagentId" data-placeholder="Pick a Sales Agent">
		    <option value=""></option>
		    <option data-ng-repeat="partner in partners" value="{{partner.id}}">{{ partner.salesCode +'  -  '+ partner.firstName}}</option>
			</select>
      </div>
    </div>

  </div>
<table class="table table-bordered table-striped">
  <tr>
    <th>#</th>
    <th>Sales Agent</th>
    <th>Route</th>
    <th>Action</th>
  </tr>
  <tr ng-repeat="routelink in routelinks">
    <td>{{ $index + 1 }}</td>
   <td data-ng-init="partner = getPartner(routelink.partnerId)">{{partner.firstName}}</td>
    <td data-ng-init="distributionRoute = getdistributionRoute(routelink.distributionRouteId)">{{distributionRoute.name}}</td>
    <td>
      <a data-ng-href="/routelinks/{{routelink.id}}" class="btn btn-default btn-xs" role="button"><span class="glyphicon glyphicon-edit"></span> Edit</a>
    </td>
  </tr>
</table>
    </div>
