<style>
    .tht:hover {
        color: blue;
    }

</style>

<style>
    th {
        cursor: pointer;
    }
    
    {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
    
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        padding-left: 0px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        background: #f4f4f4;
        border-bottom: 1px solid #f4f4f4;
    }
    
     .style1{
        padding-top:1.8em;
        }
    
    @media only screen and (min-width: 768px){
        .style{
            padding-left: 0px;
        }
    }

</style>

<script type="text/javascript">
    var sortingOrder = 'name';

</script>
<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;" data-ng-init="toggleLoading()">
<!--    data-ng-init="toggleLoading()"-->
    <div id="wrapper">
        <div class="stylelink box-header with-border">
            <h3 class="box-title" style="font-weight:600;color:#262d57;">{{TILanguage.headersitelist}}</h3>
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <br/>

        <div data-ng-hide="hideSearchFilter()">
            <br/>
            <div class="row padding">
                <div class="col-sm-5"></div>
                <div class="col-sm-7">
                    <div class="col-sm-1"></div>
                     <div data-ng-hide="hideSearchFilter()" class="col-xs-12 col-sm-2 col-md-2 style" style="text-align:left;">
                    <label>{{TILanguage.show}}</label>
                         <div class="sell">
                             <select ng-model="pageSize" data-placeholder="{{TILanguage.show}}" ng-change="pageFunction(pageSize)">
                                 <option value="25">25</option>
                                 <option value="50">50</option>
                                 <option value="100">100</option>
                             </select>
                        </div>
                </div>
                <div data-ng-hide="hideSearchFilter()" class="col-xs-12 col-sm-6 col-md-6 style1">
                    <form role="form">
                        <div class="input-group">
                             <span class="input-group-btn">
                                 <button class="btn btn-default" type="button" style="border-top-left-radius:4px;border-bottom-left-radius: 4px;border-color:#d5d7df;background:none;border-right:none;">
                                     <span class="glyphicon glyphicon-search" style="color:#878993;"></span></button>
                            </span>
                            <input type="text" id="Search" class="form-control ng-pristine ng-valid" placeholder="{{TILanguage.search}}" style="z-index:0;border-left:none;border-color:#d5d7df;border-top-right-radius:4px;border-bottom-right-radius: 4px;margin-top:0px;" data-ng-model="searchPart">
                        </div>
                    </form>
                </div>
                </div>
                
                <!--                -->
                <!--
                <div class="col-sm-6" style="padding-top:5px;">
                    <span>{{show}}</span>
                    <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span>{{entry}}</span>
                </div>
                <div class="col-sm-6">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            <form role="form">
                                <div class="input-group">
                                    <input type="text" id="Search" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-radius:20px;width:140%;" data-ng-model="searchPart">
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
-->

            </div>
        </div>
        <br />


        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th style="padding-left:18px;">S NO.</th>
                        <!--						<th ng-style="style">{{sitename | uppercase}}</th>-->
                        <!-- <th class="tht" ng-style="style" ng-click="SiteFilter()" style="cursor:pointer;"><span style="color:{{backgroundCol1}};">{{sitename | uppercase}}</span></th>
                        <th class="tht" ng-style="style" ng-click="FacilityFilter()" style="cursor:pointer;"><span style="color:{{backgroundCol2}};">{{facility | uppercase}}</span></th> -->

                        <!--
                        <th ng-style="style" ng-click="SiteFilter()" style="cursor:pointer;" class="name"><span style="color:{{backgroundCol1}};">{{sitename | uppercase}}</span>&nbsp;<a ng-click="sort_by('name')"><i class="icon-sort"></i></a></th>

                        <th ng-style="style" ng-click="FacilityFilter()" style="cursor:pointer;" class="FacilityName.firstName"><span style="color:{{backgroundCol2}};">{{facility | uppercase}}</span>&nbsp;<a ng-click="sort_by('FacilityName.firstName')"><i class="icon-sort"></i></a></th>
                        -->
                        <th title="{{TILanguage.sitename}}" ng-click="changeSorting('name')">{{TILanguage.sitename | uppercase}}&nbsp;&nbsp;<i class="fa fa-sort-desc" ng-class="getIcon('name')"></i></th>
                        <th title="{{TILanguage.facilitycode}}" ng-click="changeSorting('FacilityName')">{{TILanguage.facilitycode | uppercase}}&nbsp;&nbsp;<i class="fa fa-sort-desc" ng-class="getIconOne('FacilityName')"></i></th>
                        <th title="{{TILanguage.country}}" ng-click="changeSorting('CountryName')">{{TILanguage.country | uppercase}}&nbsp;&nbsp;<i class="fa fa-sort-desc" ng-class="getIcon('CountryName')"></i></th>
                        <th title="{{TILanguage.state}}" ng-click="changeSorting('StateName')">{{TILanguage.state | uppercase}}&nbsp;&nbsp;<i class="fa fa-sort-desc" ng-class="getIcon('StateName')"></i></th>
                        <th title="{{TILanguage.district}}" ng-click="changeSorting('DistrictName')">{{TILanguage.district | uppercase}}&nbsp;&nbsp;<i class="fa fa-sort-desc" ng-class="getIcon('DistrictName')"></i></th>
                        <th title="{{TILanguage.town}}" ng-click="changeSorting('TownName')">{{TILanguage.town | uppercase}}&nbsp;&nbsp;<i class="fa fa-sort-desc" ng-class="getIcon('TownName')"></i></th>
                        <th title="{{TILanguage.members}}">{{TILanguage.members | uppercase}}</th>

                        <!--  <th>s
                            <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
            {{sitename | uppercase}} 
            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
          </a>
                        </th>

                        <th>
                            <a href="" ng-click="sortType = 'FacilityName.firstName'; sortReverse = !sortReverse">
           {{facility | uppercase}}
            <span ng-show="sortType == 'FacilityName.firstName' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'FacilityName.firstName' && sortReverse" class="fa fa-caret-up"></span>
          </a>
                        </th>-->
                       <!-- <th>{{TILanguage.country | uppercase}}</th>-->
                       <!-- <th>{{TILanguage.state | uppercase}}</th>-->
                        <!--<th>{{TILanguage.district | uppercase}}</th>
                        <th>{{TILanguage.town | uppercase}}</th>-->
                       <!-- <th ng-click="changeSorting('totalamounts.length')">{{TILanguage.members | uppercase}} &nbsp;&nbsp;<i class="fa fa-sort-desc" ng-class="getIconOne('totalamounts.length')"></i></th>-->
                        
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="route in TotalData  = ( routes | filter:searchPart ) | itemsPerPage:pageSize" current-page="currentPage">
                        <td style="padding-left:18px;">{{ route.index }}</td>
                        <td>{{route.name}}</td>
                        <td>{{route.FacilityName}}</td>
                        <td>{{route.CountryName}}</td>
                        <td>{{route.StateName}}</td>
                        <td>{{route.DistrictName}}</td>
                        <td>{{route.TownName}}</td>
                        
                        <td>{{route.totalamounts.length}}</td>
                    </tr>
                </tbody>
            </table>

            <div class="padding" align="right">
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                </dir-pagination-controls>
            </div>
        </div>
 </div>
    <br/>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->
