<style>
       .stylelink {
    /*		padding: 3px 10px;*/
    background: transparent;
    color: #9d9eb3;
    font-weight: bold;
    /*		border-radius: 50px;*/
    text-decoration: none;
    font-size: 14px;
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 20px 10px;
}
.stylelink.active {
    /*		padding: 3px 10px;*/
    /*		background: #b71c1c;*/
    color: #4a4d72;
    font-weight: bold;
    /*		border-radius: 50px;*/
    text-decoration: none;
    font-size: 14px;
    /*		font-weight: 600;*/
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 20px 10px;
    border-bottom: 4px solid #e72e5a;
}
#wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #e6e6e6;
}
    
    .tht:hover {
        color: blue;
    }
    
    a {
        color: #333;
    }
    /*
    .table-striped {
        background-color: #ed7878;
    }
*/
</style>
<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div id="wrapper">
    <div class="stylelink active box-header with-border" style="padding:20px 10px;">
        <h3 class="box-title" style="font-weight:600;">SPM BUDGET</h3> </div>
</div>
    <!-- /.box-header -->
    <!-- form start -->
    <div class="box-body">
        <div class="row">
            <div class="col-sm-6">
                <a data-ng-href="/spmbudgets/create" class="btn btn-primary btn-sm " role="button" style="padding:5px 20px;">Add New </a>
            </div>
        </div>
        <br/>

        <div class="row" style="margin:0;padding:0;">
				<div class="col-sm-6" style="padding-top:5px;">
					<span>{{show}}</span>
					<select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
						<option value="25">25</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
					<span>{{entry}}</span>
				</div>
				<!--<div class="col-sm-6">
					<div class="row" style="margin:0;padding:0;">
						<div class="col-sm-4"></div>
						<div class="col-sm-8">
							<form role="form">
								<div class="input-group">
									<!--<input type="text" id="Search" class="form-control" placeholder="{{searchfor}}..." style="z-index:0; border-top-left-radius: 15px;border-bottom-left-radius: 15px;" data-ng-model="searchDep">
									<span class="input-group-btn">
                        <button class="btn btn-default" type="button" style="border-top-right-radius: 15px;border-bottom-right-radius: 15px;"><span class="glyphicon glyphicon-search"></span>
									</button>
									</span>-->
									<!--<input type="text" id="Search"  class="form-control ng-pristine ng-valid" placeholder="Search for..." style="z-index:0;border-radius:20px;width:140%;" data-ng-model="searchDep">
								</div>
							</form>

						</div>
					</div>
				</div>-->

			</div>
        <br />
        <br />
        
        <div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="zone" class="col-sm-4 control-label">Budget Year</label>
                    <div class="col-sm-6">
                        <select ui-select2 id="year" data-ng-model="SPM_Budget_Year" data-placeholder="Select Budget Year" style="width:100%;" ng-change="YearFunction(spmbudget.year)">
                            <option value=""></option>
                            <option data-ng-repeat="budget in spmbudgetyears" value="{{budget.id}}">{{budget.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="zone" class="col-sm-4 control-label">CO </label>
                    <div class="col-sm-6">
                        <select ui-select2 id="year" data-ng-model="SPM_Budget_CO" data-placeholder="Select CO" style="width:100%;" ng-change=COmember(spmbudget.facility)>
                            <option value=""></option>
                            <option ng-repeat="comem in printcomembers" value="{{comem.id}}">{{comem.firstName}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <br />
            <br />
       
            <div data-ng-hide="showForm()">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th width="10%" title="CO NAME">CO NAME</th>
                            <th title="HUMAN RESOURCES">HUMAN ...</th>
                            <th title="TRAVEL AND COMMUNICATION">TRAVEL AND ...</th>
                            <th title="GENERIC ACTIVITIES">GENERIC ...</th>
                            <th title="SPECIFIC ACTIVITIES">SPECIFIC ...</th>
                            <th title="MSM/TG - ACTIVITIES">MSM/TG ...</th>
                            <th title="ADMINISTRATIVE EXPENSES">ADMIN...</th>
                            <th title="MONITORING, EVALUATION AND LEARNING (MEAL">MEAL ...</th>
                            <th title="TOTAL AMOUNT">TOTAL AMOUNT</th>
                            <th title="TOTAL AMOUNT EXPENDITURE">EXPENDITURE</th>
                            <th title="ACTION">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--<tr dir-paginate="spmbudget in spmbudgets | filter: searchDep |itemsPerPage:pageSize">-->
                        <tr dir-paginate="spmbudget in TotalData  = ( spmbudgets | filter:searchDep ) | itemsPerPage: pageSize">
                            <td>{{ spmbudget.index }}</td>
                            <td data-ng-init="COMEM = Comemer(spmbudget.facility)">{{COMEM.firstName}}</td>
                            <td>{{spmbudget.humanresources}}</td>
                            <td>{{spmbudget.travelandcommunication}}</td>
                            <td>{{spmbudget.genericactivity}}</td>
                            <td>{{spmbudget.specificactivity}}</td>
                            <td>{{spmbudget.msgtgactivity}}</td>
                            <td>{{spmbudget.administrativeexpense}}</td>
                            <td>{{spmbudget.monitoringevaluation}}</td>
                            <td>{{spmbudget.totalamount}}</td>
                            <td>{{spmbudget.COTotal}}</td>
                            <td>
                                <a data-ng-href="/spmbudgets/{{spmbudget.id}}"><span class="glyphicon glyphicon-pencil" title="Edit" style="color: black;"></span></a>&nbsp;&nbsp;


                                <!--                                <a data-ng-href="/spmbudgets" data-ng-click="Delete(spmbudget.id)"><span class="glyphicon glyphicon-trash" style="color: red;" title="Bin"></span></a>&nbsp; </td>-->
                        </tr>
                    </tbody>
                </table>
                <div align="right">
                    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"> </dir-pagination-controls>
                </div>
                <div ng-show="!spmbudgets.length" style="margin:0 auto;text-align:center;padding-top: 5%;">
                    <span style="font-size:18px;font-weight:bold;font-family:Georgia, Serif;">Please select an options</span>
                </div>
            </div>
        </div>
    </div>
</div>