<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;

    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;
        border-bottom: 4px solid #ec0b6d;
    }


    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 4px solid #f4f4f4;
        /*		background-color: #fff;*/
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }

    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/

    .nav-tabs-custom>.nav-tabs>li {
        width: 19%;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .nav-tabs-custom>.nav-tabs>li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
        .space {
            padding: 5px 0px 5px 0px;
        }
    }

</style>

<!-- Horizontal Form -->
<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <!--
        <div style="text-align:center;">
            <a class="stylelink " href="/LangPatientRecordlist "><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">PATIENT LIST</span></a>
        </div>
-->
        <div style="text-align:center;">
            <a class="stylelink " href="/drugs-list"><span style="flex:1;white-space:pre;overflow:hidden;text-overflow: ellipsis;" title="DRUGS NAME">DRUGS NAME</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/kitprescribed-list"><span style="flex:1;white-space:pre;overflow:hidden;text-overflow: ellipsis;" title="KIT PRESCRIBED">KIT PRESCRIBED</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/purposeofvisit-list"><span style="flex:1;white-space:pre;overflow:hidden;text-overflow: ellipsis;" title="PURPOSE OF VISIT">PURPOSE OF VISIT</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/patientflow-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="PATIENT FLOW">PATIENT FLOW</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/testname-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="TEST NAME">TEST NAME</span></a>
        </div>
        <!--
        <div style="text-align:center;">
            <a class="stylelink " href="/vitalrecord-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">VITAL RECORD</span></a>
        </div>
-->
        <div style="text-align:center;">
            <a class="stylelink active" href="/symptoms-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="SYMPTOMS">SYMPTOMS</span></a>
        </div>
        <!--
<div style="text-align:center;">
    <a class="stylelink " href="/illness-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">ILLNESS</span></a>
</div>
-->
        <!--
        <div style="text-align:center;">
            <a class="stylelink " href="/vitalrecord-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">VITAL RECORD</span></a>
        </div>
-->


    </div>

</div>


<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div class="box-header with-border">
        <!--        <h3 class="box-title">Gender</h3>-->
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body" >

        <div class="row" style="padding:0px 20px;">
            <div class="col-sm-5"></div>
            <div class="col-sm-7">
                <div data-ng-hide="hideSearchFilter()" class="col-sm-2  col-md-2" style="text-align:left;border-color:#e1e8ee">
                    <div>
                        <label class="showlabel">Show</label>
                    </div>
                    <div class="sell">
                <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                    </div>
                <!--<span>Entries</span>-->
            </div>
            <div data-ng-hide="hideSearchFilter()"  class="col-sm-6 col-md-6 smright2txt">
              
                <div class="space">
                    <form role="form">
                        <div class="input-group">
                            <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-left-radius:4px;border-bottom-left-radius: 4px;border-color:#e1e8ee;background:none;border-right:none;"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                            <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search " style="z-index:0;border-left:none;border-color:#e1e8ee;border-top-right-radius:4px;border-bottom-right-radius: 4px;" data-ng-model="Search" focus="someFocusVariable">
                            
                        </div>
                    </form>
                </div>
 
            </div>
            <div class="col-sm-2 col-md-2 smright2txt">
                <a data-ng-href="/symptom/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New </a>
            </div>
            </div>
        </div>
        <br/>

        <form class="" role="form" data-ng-show="showForm()">
            <p align="center" style="color:#ec0b6d;">All fields with * are mandatory</p>
            <br/>

                <!--
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" id="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Language </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="language" data-ng-model="symptom.language" data-placeholder="Pick a language" style="width:100%;" data-ng-disabled="!isCreateView()">
                                <option value=""></option>
                                <option data-ng-repeat="language in languages" value="{{language.id}}">{{ language.name }}
                            </select>
                        </div>
                    </div>
                </div>
-->
            <!--
            <div class="row" style="margin:0;padding:0;" ng-hide="showenglishLang">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" id="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Symptom English </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="occupatioenglish" data-ng-model="symptom.parentId" data-placeholder="Pick a Value" style="width:100%;" data-ng-disabled="!isCreateView()">
                                <option value=""></option>
                                <option data-ng-repeat="symptom in englishsymptoms" value="{{symptom.id}}">{{ symptom.name }}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6"></div>
            </div>
-->
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name" id="name" >Language<sup>*</sup></label>
                        <div>
                            <select ui-select2 id="language" data-ng-model="symptom.language" data-placeholder="Pick a language" style="width:100%;" data-ng-disabled="!isCreateView()">
                                <option value=""></option>
                                <option data-ng-repeat="language in symlanguages" value="{{language.id}}" ng-disabled ="language.disabled">{{ language.name }}
                            </select>
                        </div>
                    </div>
                </div>
            <div   ng-hide="showenglishLang">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name" id="name">Symptom In English<sup>*</sup></label>
                        <div>
                            <select ui-select2 id="occupatioenglish" data-ng-model="symptom.parentId" data-placeholder="Pick a Value" style="width:100%;" data-ng-disabled="!isCreateView()">
                                <option value=""></option>
                                <option data-ng-repeat="medicine in symdisply" value="{{medicine.id}}">{{ medicine.name }}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name" id="name">Condition<sup>*</sup></label>
                        <div>
                            <select ui-select2 id="condition" data-ng-model="symptom.conditionId" data-placeholder="Pick a Condition" style="width:100%;" data-ng-disabled="disabledCOndition">
                                <option value=""></option>
                                <option data-ng-repeat="condition in conditions" value="{{condition.id}}">{{ condition.name }}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name" id="name">Symptom<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="name" data-ng-model="symptom.name" placeholder="Symptom" pattern='[A-Za-z\\s]*' onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 32">
                        </div>
                    </div>
                </div>
            </div>


            <!--
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs" align="center">
                    					<li class="active" style="cursor:pointer;width:16%;"><a data-target="#tab_1" data-toggle="tab">English</a></li>
                    <li class="active" style="cursor:pointer;"><a data-target="#tab_1" data-toggle="tab">Hindi</a></li>
                    <li style="cursor:pointer;"><a data-target="#tab_2" data-toggle="tab">Kannada</a></li>
                    <li style="cursor:pointer;"><a data-target="#tab_3" data-toggle="tab">Tamil</a></li>
                    <li style="cursor:pointer;"><a data-target="#tab_4" data-toggle="tab">Telugu</a></li>
                    <li style="cursor:pointer;"><a data-target="#tab_5" data-toggle="tab">Marathi</a></li>
                </ul>
            </div>
-->



            <!--
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <div class="row">
                        <div class="row" style="margin:0;padding:0;">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" id="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Symptom </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="hnname" data-ng-model="symptom.hnname" placeholder="Symptom" pattern='[A-Za-z\\s]*'>
                                    </div>
                                </div>
                            </div>>
                            <div class="col-sm-6"></div>
                        </div>

                        <div class="col-sm-6">
                        </div>
                    </div>
                </div>


                <div class="tab-pane" id="tab_2">
                    <div class="row">
                        <div class="row" style="margin:0;padding:0;">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" id="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Symptom </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="knname" data-ng-model="symptom.knname" placeholder="Symptom" pattern='[A-Za-z\\s]*'>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6"></div>
                        </div>

                        <div class="col-sm-6">
                        </div>
                    </div>
                </div>


                <div class="tab-pane" id="tab_3">
                    <div class="row">
                        <div class="row" style="margin:0;padding:0;">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" id="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Symptom </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="taname" data-ng-model="symptom.taname" placeholder="Symptom" pattern='[A-Za-z\\s]*'>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6"></div>
                        </div>

                        <div class="col-sm-6">
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="tab_4">
                    <div class="row">
                        <div class="row" style="margin:0;padding:0;">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" id="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Symptom </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="tename" data-ng-model="symptom.tename" placeholder="Symptom" pattern='[A-Za-z\\s]*'>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6"></div>
                        </div>

                        <div class="col-sm-6">
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_5">
                    <div class="row">
                        <div class="row" style="margin:0;padding:0;">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" id="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Symptom </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="mrname" data-ng-model="symptom.mrname" placeholder="Symptom" pattern='[A-Za-z\\s]*'>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6"></div>
                        </div>

                        <div class="col-sm-6">
                        </div>
                    </div>
                </div>
            </div>
-->





            <br/>

            <br>
            <div align="right" style="padding:0px 20px;">
                    <a data-ng-href="/symptoms-list" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px">Cancel</a>
                    
                    <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;">Create </a>

                    <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;">Update </a>
            </div>
        </form>

        <div data-ng-hide="hideSearchFilter()">

            <!--
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6" style="padding-top:5px;">
                    <span>Show</span>
                    <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span>Entries</span>
                </div>
                <div class="col-sm-6">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-5"></div>
                        <div class="col-sm-7">
                            <form role="form">
                                <div class="input-group">
                                    <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search " style="z-index:0;border-right:none;border-color:#e1e8ee;border-top-left-radius:4px;border-bottom-left-radius: 4px;" data-ng-model="Search">
                                    <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius:4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
                                    </span>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
-->
        </div>
        <br />


        <!--

        <div data-ng-hide="showForm()" class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                          <th ng-click="changeSorting('index')" title="#" style="cursor:pointer;">#<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('index')"></i></span></th>
                        <th ng-click="changeSorting('language')" title="LANGUAGE" style="cursor:pointer;">LANGUAGE<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('language')"></i></span></th>
                        <th ng-click="changeSorting('name')" title="NAME" style="cursor:pointer;">NAME<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('name')"></i></span></th>
                        <th style="width:100px;">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="symptom in symptoms | filter:Search | orderBy:sort.active:sort.descending |itemsPerPage:pageSize">
                        <td>{{ symptom.index }}</td>
                        <td data-ng-init="language = getLanguage(symptom.language)">{{language.name}}</td>
                        <td>{{symptom.name}}</td>
                        <td><a data-ng-href="/symptom/edit/{{symptom.id}}"><span class="glyphicon glyphicon-pencil" title="Edit" ></span></a>&nbsp;&nbsp;
                            <a style="color:#b7b8c8;">|</a>&nbsp;&nbsp;
                            <a confirm-button="Delete(symptom.id)" message="Are you sure? you want to delete?"><span class="glyphicon glyphicon-remove " style="cursor:pointer;" title="Bin"></span></a>&nbsp;
                    </tr>
                </tbody>
            </table>
            <br/>
            <div align="right">
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true">
                </dir-pagination-controls>

            </div>
        </div>
-->



        <div data-ng-hide="showForm()" class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <!--                        <th ng-click="changeSorting('index')" title="#" style="cursor:pointer;">#<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('index')"></i></span></th>-->
                        <th>S No.</th>
                        <th ng-click="changeSorting('langName')" title="LANGUAGE" style="cursor:pointer;">LANGUAGE<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('langName')"></i></span></th>
                        <th ng-click="changeSorting('name')" title="NAME" style="cursor:pointer;">NAME<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('name')"></i></span></th>
                        <th style="width:100px;">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="gender in symptoms| orderBy:sort.active:sort.descending | search:Search:filterFields |itemsPerPage:pageSize" ng-style="{'color':gender.colour}">
                        <td>{{ gender.index }}</td>
                        <td>{{ gender.langName }}</td>
<!--                        <td data-ng-init="language = getLanguage(gender.language)">{{language.name}}</td>-->
                        <td>{{gender.name}}</td>


                        <td><a data-ng-href="/symptom/edit/{{gender.id}}"><img src="images/piclinks/edit.png" title="Edit"  width="16px"></a>&nbsp;&nbsp;
<!--                            <a style="color:#b7b8c8;" ng-if="gender.parentFlag == false">|</a>&nbsp;&nbsp;-->
                            <a confirm-button="Delete(gender.id)" message="Are you sure? you want to delete?" ng-if="gender.parentFlag == false && gender.deleteflag == false"><img src="images/piclinks/cross.png" style="cursor:pointer" width="16px" title="Delete"></a>&nbsp;
                            
                            <a  confirm-button="Archive(gender.id)" message=" Are you sure? You Need to archive this.." ng-if="gender.deleteflag == true && gender.parentFlag == false"><img src="images/piclinks/archive.png" style="cursor:pointer;width:16px;" title="Archive"></a>&nbsp;
                    </tr>
                </tbody>
            </table>
            <br/>
            <div align="right">
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true">
                </dir-pagination-controls>

            </div>
        </div>




    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->




<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>
