<!--<div>
    {{SyncOutTime|date:'dd-MMM-yyyy hh:mm:ss a'}}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>beneficiaries</th>
            </tr>
        </thead>
        <tbody id="bnbody">
            <tr dir-paginate="partner in beneficiaries |itemsPerPage:10">
                <td>{{beneficiaries.length}}---{{ partner}}</td>

            </tr>
        </tbody>
    </table>
    
    
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>reportincidents</th>
            </tr>
        </thead>
        <tbody id="bnbody">
            <tr dir-paginate="partner in reportincidents |itemsPerPage:10">
                <td>{{reportincidents.length}}---{{ partner}}</td>

            </tr>
        </tbody>
    </table>
    
    
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>schememasters</th>
            </tr>
        </thead>
        <tbody id="bnbody">
            <tr dir-paginate="partner in schememasters |itemsPerPage:10">
                <td>{{schememasters.length}}---{{ partner}}</td>

            </tr>
        </tbody>
    </table>
    
    
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>events</th>
            </tr>
        </thead>
        <tbody id="bnbody">
            <tr dir-paginate="partner in events |itemsPerPage:10">
                <td>{{events.length}}---{{ partner}}</td>

            </tr>
        </tbody>
    </table>
    
    
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>groupmeetings</th>
            </tr>
        </thead>
        <tbody id="bnbody">
            <tr dir-paginate="partner in groupmeetings |itemsPerPage:10">
                <td>{{groupmeetings.length}}---{{ partner}}</td>

            </tr>
        </tbody>
    </table>
    
    
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>stakeholders</th>
            </tr>
        </thead>
        <tbody id="bnbody">
            <tr dir-paginate="partner in stakeholders |itemsPerPage:10">
                <td>{{stakeholders.length}}---{{ partner}}</td>

            </tr>
        </tbody>
    </table>
    
    
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>surveyanswers</th>
            </tr>
        </thead>
        <tbody id="bnbody">
            <tr dir-paginate="partner in surveyanswers |itemsPerPage:10">
                <td>{{surveyanswers.length}}---{{ partner}}</td>

            </tr>
        </tbody>
    </table>
    
    
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>todos</th>
            </tr>
        </thead>
        <tbody id="bnbody">
            <tr dir-paginate="partner in todos |itemsPerPage:10">
                <td>{{todos.length}}---{{ partner}}</td>

            </tr>
        </tbody>
    </table>
</div>-->

<div class="box box-info" style="min-height:450px;border-top:none;" >
	<div class="box-header with-border " style="background:#e85a5a;padding:20px 10px;">
		<h3 class="box-title col-sm-3" style="color:#262d57;">Last Pushed Data </h3>
        <div class="col-sm-6"></div>
         <div class="col-sm-3">
							<h3 class="box-title pull-right">{{SyncOutTime|date:'dd-MMM-yyyy hh:mm:ss a'}}</h3>
						</div>
           
					</div>
	
	<!-- /.box-header -->
	<!-- form start -->

	<div class="box-body" style="padding:20px;">
		<div align="left">
			<a data-ng-href="/fieldworker" class="btn btn-danger btn-sm btn-flat" role="button"  style="padding:5px 20px;margin-right:10px;">Cancel </a>
		</div>
       
        <br/>



<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default" ng-click="onClickBeneficiary()">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Member
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in table-responsive" role="tabpanel" aria-labelledby="headingOne">
        <br/>
     <table class="table   table-striped">
				<thead>
					<tr>
						<th>Fullname</th>
						<th>Nickname</th>
						<th>Hotspot</th>
						<th>Avahan Id</th>
						<!--<th></th>-->
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="beneficiary in beneficiaries| filter:searchPart |itemsPerPage:10" pagination-id="bnbody">
						<td>{{ beneficiary.fullname }}</td>
						<td>{{ beneficiary.nickname }}</td>
						<td>{{ beneficiary.hotspot }}</td>
						<td>{{ beneficiary.avahanid}}</td>
					</tr>
				</tbody>
			</table>
			<div align="right">
				<dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" pagination-id="bnbody">
				</dir-pagination-controls>
			</div>
    </div>
  </div>
  <div class="panel panel-default" ng-click="onClickReportIncident()">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Report Incident
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <br/>
      <table class="table   table-striped">
				<thead>
					<tr>
						<th>Member</th>
						<th>Incident Date</th>
						<th>Severity</th>
						<th>Followup Date</th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="beneficiary in reportincidents| filter:searchPart |itemsPerPage:pageSize" pagination-id="ribody">
						<td>{{ beneficiary.Membername.fullname }}</td>
						<td>{{ beneficiary.incidentdate|date:'dd-MMM-yyyy' }}</td>
						<td>{{ beneficiary.severity }}</td>
						<td>{{ beneficiary.followupdate|date:'dd-MMM-yyyy' }}</td>
					</tr>
				</tbody>
			</table>
			<div align="right">
				<dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" pagination-id="ribody">
				</dir-pagination-controls>
			</div>
    </div>
  </div>
  <div class="panel panel-default" ng-click="onClickSchemeMasters()">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Scheme Master
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <br/>
   <table class="table   table-striped">
				<thead>
					<tr>
						<th>Scheme/Document</th>
						<th>Member</th>
						<th>Stage</th>
						<th>Followup Date</th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="beneficiary in schememasters| filter:searchPart |itemsPerPage:pageSize" pagination-id="smbody">
						<td ng-if="beneficiary.documentflag==true">Document</td>
                        <td ng-if="beneficiary.documentflag==false">Scheme</td>
						<td>{{ beneficiary.Membername.fullname }}</td>
						<td>{{ beneficiary.Stage.name }}</td>
						<td>{{ beneficiary.datetime|date:'dd-MMM-yyyy' }}</td>
					</tr>
				</tbody>
			</table>
			<div align="right">
				<dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" pagination-id="smbody">
				</dir-pagination-controls>
			</div>
    </div>
  </div>
      <div class="panel panel-default" ng-click="onClickEvents()">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Event
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
        <br/>
   <table class="table   table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Venue</th>
						<th>Event Type</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="beneficiary in events| filter:searchPart |itemsPerPage:pageSize" pagination-id="evbody">
						<td>{{ beneficiary.name }}</td>
						<td>{{ beneficiary.venue }}</td>
						<td>{{ beneficiary.EventType.name }}</td>
						<td>{{ beneficiary.datetime|date:'dd-MMM-yyyy' }}</td>
					</tr>
				</tbody>
			</table>
			<div align="right">
				<dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" pagination-id="evbody">
				</dir-pagination-controls>
			</div>
    </div>
  </div>
      <div class="panel panel-default" ng-click="onClickGroupMeetings()">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Group Meeting
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
        <br/>
   <table class="table   table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Organised By</th>
						<th>Topics Discussed</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="beneficiary in groupmeetings| filter:searchPart |itemsPerPage:pageSize" pagination-id="gmbody">
						<td>{{ beneficiary.name }}</td>
						<td>{{ beneficiary.OrganisedBy.lastname }}</td>
						<td>{{ beneficiary.Topicsdiscussed }}</td>
						<td>{{ beneficiary.datetime|date:'dd-MMM-yyyy' }}</td>
					</tr>
				</tbody>
			</table>
			<div align="right">
				<dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" pagination-id="gmbody">
				</dir-pagination-controls>
			</div>
    </div>
  </div>
      <div class="panel panel-default" ng-click="onClickStakeHolders()">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Stakeholder Meeting
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
        <br/>
   <table class="table   table-striped">
				<thead>
					<tr>
						<th>Stakeholder Type</th>
						<th>Meeting Purpose</th>
						<th>Organised By</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="beneficiary in stakeholders| filter:searchPart |itemsPerPage:pageSize" pagination-id="shbody">
						<td>{{ beneficiary.StakeHolderType.name }}</td>
						<td>{{ beneficiary.PurposeOfMeeting.name }}</td>
						<td>{{ beneficiary.organisedby }}</td>
						<td>{{ beneficiary.datetime|date:'dd-MMM-yyyy' }}</td>
					</tr>
				</tbody>
			</table>
			<div align="right">
				<dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" pagination-id="shbody">
				</dir-pagination-controls>
			</div>
    </div>
  </div>
      <div class="panel panel-default" ng-click="onClickSurveyAnswers()">
    <div class="panel-heading" role="tab" id="headingSeven">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          Survey Answer
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingseven">
        <br/>
   <table class="table   table-striped">
				<thead>
					<tr>
						<th>Member</th>
						<th>Pillar</th>
						<th>Question</th>
						<th>Answer</th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="beneficiary in surveyanswers| filter:searchPart |itemsPerPage:pageSize" pagination-id="sabody">
						<td>{{ beneficiary.Membername.fullname }}</td>
						<td>{{ beneficiary.PillarName.name }}</td>
						<td>{{ beneficiary.QuestionName.question }}</td>
						<td>{{ beneficiary.answer }}</td>
					</tr>
				</tbody>
			</table>
			<div align="right">
				<dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" pagination-id="sabody">
				</dir-pagination-controls>
			</div>
    </div>
  </div>
      <div class="panel panel-default" ng-click="onClickTodos()">
    <div class="panel-heading" role="tab" id="headingEight">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          ToDo
        </a>
      </h4>
    </div>
    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
        <br/>
   <table class="table   table-striped">
				<thead>
					<tr>
						<th>Member</th>
						<th>Pillar</th>
						<th>Type</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="beneficiary in todos| filter:searchPart |itemsPerPage:pageSize" pagination-id="tobody">
						<td>{{ beneficiary.Membername.fullname }}</td>
						<td>{{ beneficiary.PillarName.name }}</td>
						<td>{{ beneficiary.ActionType.name }}</td>
						<td>{{ beneficiary.datetime|date:'dd-MMM-yyyy' }}</td>
                    </tr>
				</tbody>
			</table>
			<div align="right">
				<dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" pagination-id="tobody">
				</dir-pagination-controls>
			</div>
    </div>
  </div>
</div>
    </div>
    <div class="box-footer"></div>
</div>

    