<style>
    /*
	.stylelink {
		padding: 3px 10px;
		background: transparent;
		color: #333;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	
	.stylelink.active {
		padding: 3px 10px;
		background: #b71c1c;
		color: #fff;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	*/

    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }

    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
        /*		background-color: #fff;*/
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }

    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
        }
        .stylelink.active {
            font-size: 12px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
    }

</style>


<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        
 <div style="text-align:center;">
            <a class="stylelink " href="/roles"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ROLES">ROLES</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink active" href="/profile"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title = "PROFILE">PROFILE</span></a>
        </div>
        
       
        <div style="text-align:center;">
            <a class="stylelink " href="/users"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="USERS">USERS</span></a>
        </div>

    </div>
</div>



<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div class="box-header with-border">
        <!--		<h3 class="box-title">Facility Manager/HDF Profile</h3>-->
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body" style="padding:20px;">
        <div align="left">

        </div>
        <br/>
        <form class="form-horizontal" role="form">
            <p align="center" style="color:red">All fields in red are mandatory</p>
            <br/>
            <!---<div class="row" style="margin:0;padding:0">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-4" style="font-weight:600;margin-top:0px;">HDF Flag</label>
						<div class="col-sm-6">
							<input type="checkbox" ng-model="partner.hdfflag" ng-value="user.flag" ng-disabled="hfdflagDisabled">
						</div>
					</div>
				</div>

				<div class="col-sm-6"></div>
			</div>-->
            <div class="row" style="margin:0;padding:0">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red">Role </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="facility" ng-model="partner.roleId" data-placeholder="Pick a Role" style="width:100%;" ng-disabled="roleDisabled">
								<option value=""></option>
								<option data-ng-repeat="role in roleDisplays" value="{{role.id}}">{{ role.name}}</option>
							</select>
                        </div>
                    </div>

                </div>
            </div>
            
            <div class="row" style="margin:0;padding:0">
                <div class="col-sm-6" >
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red">TI Code </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="facility" ng-model="partner.tiId" data-placeholder="Pick a TI" style="width:100%;" ng-disabled="fscodedisable">
								<option value=""></option>
								<option data-ng-repeat="employee in displaytis" value="{{employee.id}}">{{ employee.salesCode + '-' + employee.firstName }}</option>
							</select>
                        </div>
                    </div>

                </div>
                
                <!-- <div class="col-sm-6" >
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red">TI Code </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="facility" ng-model="partner.tiId" data-placeholder="Pick a TI" style="width:100%;" ng-disabled="fscodedisable">
								<option value=""></option>
								<option data-ng-repeat="employee in displaytis" value="{{employee.id}}">{{ employee.salesCode + '-' + employee.firstName }}</option>
							</select>
                        </div>
                    </div>

                </div>
                
                 <div class="col-sm-6" >
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red">TI Code </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="facility" ng-model="partner.tiId" data-placeholder="Pick a TI" style="width:100%;" ng-disabled="fscodedisable">
								<option value=""></option>
								<option data-ng-repeat="employee in displaytis" value="{{employee.id}}">{{ employee.salesCode + '-' + employee.firstName }}</option>
							</select>
                        </div>
                    </div>

                </div>-->

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red">Country </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="first-name" ng-model="countryname" placeholder="Country" readonly>
                            <!--
                            <select ui-select2 id="facility" ng-model="ti.countryId" data-placeholder="Pick a Country" style="width:100%;" ng-disabled="fscodedisable">
								<option value=""></option>
								<option data-ng-repeat="country in countries" value="{{country.id}}">{{ country.name }}</option>
							</select>
-->
                        </div>
                    </div>
                </div>

            </div>


            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">

                    <div class="form-group">
                        <label for="city" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Name </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" ng-model="partner.name" placeholder="Enter Name" ng-disabled="fsnamedisable" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode==32">
                        </div>
                    </div>

                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">State </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="first-name" ng-model="statename" placeholder="State" readonly>
                            <!--<select ui-select2 ng-model="partner.state" data-placeholder="Pick a State" style="width:100%;">
								<option value=""></option>
								<option data-ng-repeat="zone in zones" value="{{zone.id}}">{{ zone.name }}</option>
							</select>-->
                        </div>
                    </div>
                </div>


            </div>



            <div class="row" style="margin:0;padding:0;">
<!--
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="route" class="col-sm-4" style="font-weight:600;margin-top:7px;">Address</label>
                        <div class="col-sm-6">
                            <textarea type="text" class="form-control" id="address" data-ng-model="partner.address" placeholder="Address" rows="3"></textarea>
                        </div>
                    </div>
                </div>
-->
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red">District </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="first-name" ng-model="districtname" placeholder="District" readonly>
                            <!--<select ui-select2 ng-model="partner.district" data-placeholder="Pick a District" style="width:100%;">
								<option value=""></option>
								<option data-ng-repeat="salesArea in salesAreas" value="{{salesArea.id}}">{{ salesArea.name }}</option>
							</select>-->
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red">Town </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="first-name" ng-model="townname" placeholder="Town" readonly>
                            <!--<select ui-select2 ng-model="partner.district" data-placeholder="Pick a District" style="width:100%;">
								<option value=""></option>
								<option data-ng-repeat="salesArea in salesAreas" value="{{salesArea.id}}">{{ salesArea.name }}</option>
							</select>-->
                        </div>
                    </div>
                </div>

            </div>
            <div class="row" style="margin:0;padding:0;">
<!--
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="typology" class="col-sm-4" style="font-weight:600;margin-top:4px;">Latitude /Longitude</label>

                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="latitude" data-ng-model="partner.latitude" placeholder="Latitude" readonly="true">

                        </div>
                        <p1> </p1>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="longitude" data-ng-model="partner.longitude" placeholder="Longitude" readonly="true">
                        </div>
                        <div class="col-sm-1" style="font-size:22px;color:#f55c51;padding-left:0px;">
                            <span class="glyphicon glyphicon-map-marker" aria-hidden="true" ng-click="LocateMe()" href=""></span>
                        </div>
                    </div>
                </div>
-->

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">ICTC Center </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="ictc" ng-model="ictcName" placeholder="ICTC Center" readonly>

                            <!-- <select ui-select2 id="facility" ng-model="ti.ictcId" data-placeholder="Pick a ICTC Center" style="width:100%;" ng-disabled="fscodedisable">
								<option value=""></option>
								<option data-ng-repeat="ictccenter in ictccenters" value="{{ictccenter.id}}">{{ ictccenter.name }}</option>
							</select>-->

                        </div>
                    </div>
                </div>

                <div class="row" style="margin:0;padding:0;">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;">Mobile No </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="mobile" data-ng-model="partner.helpline" placeholder="Mobile No" maxlength="10" numbers-only="true">
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">ART Center </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="art" ng-model="artName" placeholder="ART Center" readonly>

                                <!-- <select ui-select2 id="facility" ng-model="ti.artId" data-placeholder="Pick a ICTC Center" style="width:100%;" ng-disabled="fscodedisable">
								<option value=""></option>
								<option data-ng-repeat="artcenter in artcenters" value="{{artcenter.id}}">{{ artcenter.name }}</option>
							</select>-->
                            </div>
                        </div>
                    </div>

                </div>

            </div>


            <br/>
            <br/>
            <br/>



            <div align="left">
                <div>
                    <a class="btn btn-primary btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Create </a>

                    <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Update </a>

                    <a data-ng-href="/profile" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel</a>

                </div>
            </div>


        </form>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->


<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>




<script type="text/ng-template" id="template/latlong.html">
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div id='map' style="display:block;height:550px" />

            <div align="left">
                <!--                <button type="submit" class="btn btn-success btn-sm ">Save</button>-->
                <button type="submit" class="btn btn-danger btn-sm " ng-click="okFs()" style="padding:5px 20px;margin-right:10px;">Cancel</button>
            </div>
        </form>
    </div>
</script>

<mapmodal visible="mapdataModal">
    <div class="modal-header" style="color:#ffffff;padding:0px;">
        <div class="pull-right" style='padding:15px;'></div>
        <h4 class="stylelink active modal-title">Select Location</h4>
    </div>
    <div style="width:100%; height:auto; min-height:300px;  border: 1px solid #ffffff;padding:5px" id="savemodals">
        <br>
        <form class="form-horizontal" role="form" style="padding-top:20px;">
            <div class="row" style="margin:0;padding:0;font-size: 12px;">
                <div class="col-sm-19" style="padding:5px;">
                    <div id='mapCanvas' style="display:block;height:850px:width:550px;">
                    </div>
                    <div class="col-sm-4">
                        <div id="infoPanel">
                            <b style="color:blue;">Marker Status:</b>
                            <div id="markerStatus"><i>Closest matching address</i>
                            </div>
                            <b style="color:blue;">Current Position</b>
                            <div id="info"></div>
                            <b style="color:blue;">Click and drag the marker.</b>
                            <div id="mapaddress"></div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <div class="form-group">
                <div align="center">
                    <div align="center">
                        <a data-ng-click="CLOSEBUTTON()" data-dismiss="modal" class="btn btn-primary btn-sm " role="button" style="border-color:#db4242;padding:5px 20px;font-weight:bold;">Ok</a>&nbsp;

                        <a data-ng-click="CLOSEBUTTON()" data-dismiss="modal" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
        <br/>
    </div>

    <style>
        div.scroll {
            width: 100%;
            height: 100px;
            overflow: scroll;
        }

        .toggle.android {
            border-radius: 0px;
        }

        .toggle.android .toggle-handle {
            border-radius: 0px;
        }

        #mapCanvas {
            width: 800px;
            height: 500px;
            float: center;
        }

        #infoPanel {
            margin-left: 100px;
        }

        #infoPanel div {
            margin-bottom: 5px;
        }

    </style>
</mapmodal>
