<!DOCTYPE html>
<html>
<body>
	<toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
	<div>
		<div>
			<button class="btn btn-primary" style="margin: 150px;" ng-click="pop()">Show toasts</button>
		</div>
	</div>
		<!--<script src="toaster.js"></script>
        <script src="script.js"></script>-->
     
        <script type="text/ng-template" id="toasterBodyTmpl.html">
          <p>Render a template!</p>
        </script> 

</body>

</html>

