<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
    }

</style>
<!-- Horizontal Form -->
<div class=" box box-info custom-main-box with-background" style="min-height:450px;border-top:none;"  >
    <div class="box-header with-border custom-main-header">
        <h3 class="box-title">
            <a href="/todolist">
                <img src="images/piclinks/back.png" width="10px" height="16px" style="margin-bottom: 5px;" />
            </a>&nbsp;{{TodoLanguage.addtodo}}</h3>
    </div>
    
    <div class="box-body custom-main-body">
        <div >
            <form role="form">
                <p align="center" style="font-weight:600;margin-top: 8px;color:#ec0b6d;">{{TodoLanguage.mandatoryfields}}
                   
                </p>
                <br/>

<div class="row">
    <div class="col-lg-3 col-md-4">
                            <div class="form-group">
                                <label for="champion" class="select-label">{{TodoLanguage.membername + '/' +TodoLanguage.memberid}}</label>
                                <input type="text" class="form-control custom-form-control" id="name" data-ng-model="memberNameId" placeholder="Member Name" readonly>
                            </div>
                        </div>
            
            

                
                <div class="col-lg-3 col-md-4">
                            <div class="form-group">
                                <label for="condition"class="col-sm-4">{{TodoLanguage.toodo}}<sup>*</sup></label>
                                <select ui-select2 id="todotype" data-ng-model="todosone.todotype" data-placeholder="{{TodoLanguage.selecttype}}" style="width:100%;" ng-disabled="model.isDisabled">
                                    <option value=""></option>
                                    <option data-ng-repeat="todotype in todotypes" value="{{todotype.id}}" ng-if="UserLanguage==1">{{ todotype.name}}</option>
                                    <option data-ng-repeat="todotype in todotypes" value="{{todotype.parentId}}" ng-if="UserLanguage!=1">{{ todotype.name}}</option>
                                </select>
                            </div>
                        </div>
        
                
                
                
                
                
                <div class="col-lg-3 col-md-4">
                            <div class="form-group">
                                <label for="condition"class="col-sm-4">{{TodoLanguage.status}}</label>
                                <select ui-select2 id="status" data-ng-model="todosone.status" data-placeholder="{{TodoLanguage.selectstatus}}" style="width:100%;" ng-disabled="model.isDisabled">
                                    <option value=""></option>
                                    <option data-ng-repeat="typo in todostatuses" value="{{typo.id}}" ng-if="UserLanguage==1">{{ typo.name}}</option>
                                    <option data-ng-repeat="typo in todostatuses" value="{{typo.parentId}}" ng-if="UserLanguage!=1">{{typo.name}}</option>
                                </select>
                            </div>
                        </div>
       
                
                
                       <div class="col-lg-3 col-md-4">
                <div class="form-group" >
                    <label for="code" class="select-label">{{TodoLanguage.followup}}</label>
                    <p class="input-group">
                        <input type="text" id="{{'datepickerfollowup' + $index}}" class="form-control custom-form-control" datepicker-popup="{{format}}" data-ng-model="todosone.datetime" is-open="todosone.followupdatepick" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" min-date="dt1" style="border-right:none;border-color: #d5d7df;" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="conditionfollowupopen($event, $index)" style="border-left:none;background:none;border-color: #d5d7df;">
<!--                                <i class="glyphicon glyphicon-calendar"></i>-->
                                <img src="images/piclinks/calender-copy-3.png" class="calddate" style="margin-bottom:4px;width:16px;">
                            </button></span>
                    </p>
                </div>
            </div>
                </div>
        <br/> <br/> <br/>
                
                 <div>
                    <div align="right">
                        <a data-ng-href="/" class="btn btn-danger btn-sm custom-blue-light-button" role="button" style="padding:5px 20px;margin-right:10px;">{{TodoLanguage.cancel}}</a> 
                      
                        <a class="btn btn-info btn-sm" type="submit" role="button" data-ng-click="SaveTodo()"  ng-disabled="submitDisable" style="padding:5px 20px;margin-right:20px;">{{TodoLanguage.savelabel}}</a>&nbsp;
                    </div>
                </div>
        </form>
    </div>
        <br/>
    <div class="box-footer"> </div>
    </div>
<!-- /.box-body -->
</div>
           
            
          




<!-- /.box -->

<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>


<!--<validationmodal title1="Alert" visible="showValidation">
    {{validatestring}}
</validationmodal>-->



<validationmodal title1="Alert" visible="showUniqueValidation">
    {{validatestring1}}
</validationmodal>

