<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }

    .tht:hover {
        color: blue;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 10px 20px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .space {
            padding: 5px 0px 5px 0px;
        }
    }

    @media screen and (min-width: 780px) {
        .align {
            padding-left: 0px;
            padding-right: 0px;
        }
        .align1 {
            padding-right: 0px;
        }
        .align2 {
            padding-left: 0px;
        }
    }

</style>

<style>
    th {
        cursor: pointer;
    }

        {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

</style>
<!--
<script>
table th.active {color: blue;}
$(document).ready(function(){
    $("#rowClick > th").click(function(){
        $(this).toggleClass("active");
    });
});
</script>
-->
<!--
<script type="text/javascript">
    var sortingOrder = 'name';
</script>
-->

<!-- Horizontal Form -->
<div class="box box-info custom-main-box" style="min-height:450px;border-top:none;" data-ng-init="toggleLoading()">
    <!--  .box-header  data-ng-init="toggleLoading()" -->
    <div class="box-header with-border custom-main-header">
        <h3 class="box-title">{{todolabel.reset}}</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body custom-main-body">
        <div class="content-custom-sub-header">
            <div class="row">
                <div class="col-sm-5">
                    <div class="row" data-ng-hide="hideSearchFilter()">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label for="maritalstatus" class="select-label">{{todolabel.status}} </label>
                                <select ui-select2="" id="maritalstatus" data-ng-model="statusId" data-placeholder="{{todolabel.status}}" style="width:100%">
                                    <option value=""></option>
                                    <option ng-repeat="todostatuse in todostatuseDisply" ng-if="UserLanguage==1" value="{{todostatuse.id}}">{{todostatuse.name}}</option>
                                    <option ng-repeat="todostatuse in todostatuseDisply" ng-if="UserLanguage!=1"value="{{todostatuse.parentId}}">{{todostatuse.name}}</option>
                                </select>
                            </div>
                        </div>
                        <!--- <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <label for="maritalstatus" class="select-label">{{todolabel.step}} </label>
                                <select ui-select2="" id="maritalstatus" data-ng-model="stepId" data-placeholder="{{todolabel.selectStep}}" style="width:100%">
                                    <option value=""></option>
                                    <option ng-repeat="step in conditionsteps" ng-if="UserLanguage==1" value="{{step.id}}">{{step.name}}</option>
                                    <option ng-repeat="step in conditionsteps" ng-if="UserLanguage!=1" value="{{step.parentId}}">{{step.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <label for="maritalstatus" class="select-label">{{todolabel.status}} </label>
                                <select ui-select2="" id="maritalstatus" data-ng-model="statusId" data-placeholder="{{todolabel.selectStatus}}" style="width:100%">
                                    <option value=""></option>
                                    <option ng-repeat="status in conditionstatuses" ng-if="UserLanguage==1" value="{{status.id}}">{{status.name}}</option>
                                    <option ng-repeat="status in conditionstatuses" ng-if="UserLanguage!=1" value="{{status.parentId}}">{{status.name}}</option>
                                </select>
                            </div>
                        </div>--->
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="row">
                        <div class="col-sm-12 col-md-2 col-lg-2 align">
                            <div class="form-group" data-ng-hide="hideSearchFilter()">
                                <label for="maritalstatus" class="select-label">{{todolabel.show}} </label>
                                <div class="sell">
                                    <select class="form-control select-custom" ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-5 col-md-5 align1">
                            <div data-ng-hide="hideSearchFilter()">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <div class="input-group search-bar">
                                        <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" style="border-color:#d5d7df;">
                                            <span class="glyphicon glyphicon-search"></span></button>
                                        </span>
                                        <input type="text" id="Search" class="form-control ng-pristine ng-valid" placeholder="{{todolabel.search}}" data-ng-model="searchInput" focus="someFocusVariable" style="border-color:#d5d7df;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <a data-ng-href="" class="btn btn-success btn-sm form-control custom-blue-dark-button" role="button" ng-click="exportData()" style="padding:5px 20px;"><img src="images/piclinks/export-icon-copy.png" style="width:8px;">&nbsp;&nbsp;{{todolabel.exportData}}</a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-2 col-md-2 align2">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <a data-ng-href="" class="btn btn-primary btn-sm form-control custom-red-button" role="button" ng-click="openMemberPouupOpen()" ng-if="roles.enableTodo" style="padding:5px 20px;">{{todolabel.addbutton}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-custom-sub-body">
            <div data-ng-hide="showForm()" class="table-responsive">
                <table class="table">
                    <thead>
                        <tr id="rowClick">
                            <th title="#" ng-click="changeSorting('index')" style="padding-left:30px;">S NO.&nbsp;&nbsp;
                                <i class="fa fa-sort-desc" ng-class="getIcon('index')"></i>
                            </th>
                            <th title="{{todolabel.membername + '/' +todolabel.memberid}}" ng-click="changeSorting('Membername')">{{todolabel.membername + '/' +todolabel.memberid}}&nbsp;&nbsp;<i class="fa fa-sort-desc" ng-class="getIcon('Membername')"></i>
                            </th>

                            <th title="{{todolabel.actiontype}}" ng-click="changeSorting('ActionType')">{{todolabel.actiontype}}&nbsp;&nbsp;&nbsp;<i class="fa fa-sort-desc" ng-class="getIcon('ActionType')"></i>
                            </th>
                            <th title="{{todolabel.status}}" ng-click="changeSorting('StatusName')">{{todolabel.status}}&nbsp;&nbsp;<i class="fa fa-sort-desc" ng-class="getIcon('StatusName')"></i>
                            </th>
                            <th title="{{todolabel.followup}}" ng-click="changeSorting('datetime')">{{todolabel.followup}}&nbsp;&nbsp;<i class="fa fa-sort-desc" ng-class="getIcon('datetime')"></i>
                            </th>

                            <th title="{{todolabel.action}}" data-ng-show="roles.enableTodo">{{todolabel.action}}</th>
                        </tr>
                    </thead>
                    <tbody id="bnbody">
                        <tr dir-paginate="todo in  todos | filter:searchInput |  orderBy:sort.active:sort.descending | itemsPerPage:pageSize" pagination-id="zonesid">
                            <td style="padding-left:30px;">{{ todo.index }}</td>
                            <td>{{ todo.Membername}}</td>
                            <td>{{ todo.ActionType }}</td>
                            <td>{{ todo.StatusName }}</td>
                            <td>{{ todo.datetime|date:'dd-MMM-yyyy' }}</td>


                            <td>
                                &nbsp;&nbsp;
                                <a data-ng-href="/todoedit/{{todo.id}}" data-ng-show="roles.enableTodo">
<!--                                    <span class="glyphicon glyphicon-pencil" title="edit" style="color:#333;"></span>-->
                                <img src="images/piclinks/edit.png" title="Edit" width="16px;"></a>&nbsp;&nbsp;


                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div align="right" class="custom-pagination">
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" pagination-id="zonesid" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                </dir-pagination-controls>
            </div>
            <div ng-show="!ConditionList.length" style="margin:0 auto;text-align:center;padding-top: 5%;">
                <span style="font-size:18px;font-weight:bold;font-family:Georgia, Serif;">{{todolabel.pleaseSelectanOptions}}</span>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->





<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>

<script type="text/ng-template" id="template/memberpopup.html">
    <div class="custom-modal">
        <div class="modal-header" style="border-bottom: none;">
            <h4 class="modal-title" style="padding-left:14px;">{{ConditionLanguage.memberslist}}</h4>
        </div>
        <div class="modal-body">
            <form role="form">
                <div class="row padding">
                    <div class="col-lg-offset-7 col-lg-5">
                        <div class="form-group">
                            <div class="input-group search-bar">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" style="border-color:#d5d7df"><span class="glyphicon glyphicon-search"></span>
                                </button>
                                </span>
                                <input type="text" id="Search" class="form-control ng-pristine ng-valid" placeholder="Search" data-ng-model="searchInput" focus="someFocusVariable" style="border-color:#d5d7df">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="padding-left:30px;">S NO.</th>
                            <th>{{ConditionLanguage.nameofmember | uppercase}}</th>
                            <th>{{ConditionLanguage.streetname | uppercase}}</th>
                            <th>{{ConditionLanguage.hotspot | uppercase}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="partner in partners | filter:searchInput |itemsPerPage:10" ng-click="okMemberpopup(partner.id)" onmouseover="" style="cursor:pointer;">
                            <td style="padding-left:30px;">{{ partner.index }}</td>
                            <td> {{partner.fullname}} </td>
                            <td>{{partner.tiId}}</td>
                            <td>{{partner.phonenumber}}</td>
                        </tr>
                    </tbody>
                </table>
                <div align="right" class="custom-pagination">
                    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"> </dir-pagination-controls>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div align="right">
                <a data-ng-click="cancelMemberPopup()" data-dismiss="modal" class="btn btn-default btn-sm custom-blue-light-button" role="button" style="padding:5px 20px;margin-right:20px;">{{ConditionLanguage.cancel}}</a>
            </div>
        </div>
    </div>
</script>
