<style>
    /*
    .stylelink {
        padding: 3px 10px;
        background: transparent;
        color: #333;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }
    
    .stylelink.active {
        padding: 3px 10px;
        background: #b71c1c;
        color: #fff;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }
    */
        .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }
    
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
/*        background-color: #fff;*/
    }
    
/*
    #wrapper div {
        display: table-cell;
        height: auto;
    }
*/
    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding:5px 10px;
        }
        .stylelink.active {
            font-size: 12px;
            padding:5px 10px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        img{
            width:80%;
        }
    }

</style>

<!--<div style="width:100%;height:auto;background:#e85a5a;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink" href="/zones"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">STATE</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/sales-areas"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">DISTRICT</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/cities"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">TOWN</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/employees"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FACILITY</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink active" href="/routes"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SITE</span></a>
        </div>
    </div>

</div>-->

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div id="wrapper">
	<div class=" stylelink active box-header with-border" style="background:#ffffff;padding:20px 10px;">
		<h3 class="box-title" style="font-weight:600;">Site</h3>
	</div>
        </div>
    <div class="box-header with-border">
<!--        <h3 class="box-title">Site</h3>-->
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <div align="center">
            <h4>XLS file should be in the following format.</h4>
            <img src="images/xlsroutesImage.png">
            <br/>
            <br/>
            <a href="/xlssheets/xlsroutes.xlsx" target="_blank">Click here to download sample xls file</a>
        </div>

        <div>
            <br/>
            <p>
                <input type="file" name="xlfile" id="xlf" /> ... click here to select a file
            </p>
        </div>
        <br/>

        <div class="table-responsive">
            <table class="table">
               <thead>
                    <tr>
                        <th style="width:50px;">#</th>
                        <th>SITE NAME</th>
                        <th>FACILITY</th>
                        <th>DISTRICT</th>
                        <th>STATE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="prospect in xlsentries |itemsPerPage:5">
                        <td>{{ prospect.index+1 }}</td>
                        <td>{{ prospect.name }}</td>
                        <td>{{ prospect.partnerId }}</td>
                        <td>{{ prospect.salesAreaId }}</td>
                        <td>{{ prospect.zoneId }}</td>
                    </tr>
                </tbody>
            </table>

            <div align="right">
                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="false">
                </dir-pagination-controls>
            </div>
        </div>

        <br/>
        <br/>
        <br/>
        <div align="left">
            <button ng-click="Save()" class="btn btn-success btn-sm " ng-hide="hideSubmit" style="padding:5px 20px;margin-right:10px;">Submit</button>
            <button ng-click="Validate()" class="btn btn-success btn-sm " ng-hide="hideValidate" ng-disabled="DisableValidate" style="padding:5px 20px;margin-right:10px;">Validate</button>
            <a href="/site">
                <button class="btn btn-danger btn-sm " style="padding:5px 20px;">Cancel</button>
            </a>
        </div>
        <a download="errorlog.txt" id="downloadlink" style="display: none" align="center">Download Error Text</a>

    </div>
</div>


<modal2 title1="{{modalTitle}}" visible="sitedataModal">
	<p>{{message}}</p>
</modal2>


<modal2 title1="{{ValidationmessageTitle}}" visible="sheetValidation">
	<p>{{Validationmessage}}</p>
</modal2>

<validationmodal title1="Alert!!!" visible="showValidation">
	{{validatestring1}}
</validationmodal>


<validationmodal title1="Alert!!!" visible="xlsValidation">
	{{validatestringxls}}
</validationmodal>

