<style>
    /*
	.stylelink {
		padding: 3px 10px;
		background: transparent;
		color: #333;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	
	.stylelink.active {
		padding: 3px 10px;
		background: #b71c1c;
		color: #fff;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}*/
	  .stylelink {
		background: transparent;
		color: #fff;
        font-weight:bold;
		text-decoration: none;
		font-size: 14px;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
        padding:20px 10px;
       
	}
	
	.stylelink.active {
		color: #fff;
         font-weight:bold;
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
         padding:20px 10px;
        border-bottom:4px solid #cc3535;
	}
	.sub_menu {
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
		padding: 10px 10px;
		border-bottom: 2px solid transparent;
		color: #333;
	}
	
	.sub_menu.active {
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
		padding: 10px 10px;
		color: #000;
		font-weight: bold;
		border-bottom: 2px solid #01adfb;
	}
	
	#wrapper {
		display: table;
		table-layout: fixed;
		width: 100%;
		height: auto;
        border-bottom: 1px solid #e6e6e6;
/*		background-color: #fff;*/
	}
	
	#wrapper div {
		display: table-cell;
		height: auto;
	}
	/*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/
	
	 .nav-tabs-custom > .nav-tabs > li {
        width: 19%;
    }
	
	@media screen and (max-width: 480px) {
		.stylelink {
			font-size: 10px;
             padding:5px 10px;
		}
		.stylelink.active {
			font-size: 10px;
            padding:5px 10px;
		}
		.sub_menu {
			font-size: 10px;
             padding:5px 10px;
		}
		.sub_menu.active {
			font-size: 10px;
             padding:5px 10px;
		}
         .nav-tabs-custom > .nav-tabs > li {
         position: relative;
    display: block;
    padding:10px;
            text-align: center;
            width:180px;
        }
	}


</style>

<!--<div style="width:100%;height:auto;background:#f8fafb;">
    <div id="wrapper">
        <div style="text-align:center;padding: 20px 0px;">
            <a class="stylelink" href="/zones"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">State</span></a>
        </div>
        <div style="text-align:center;padding: 20px 0px;">
            <a class="stylelink" href="/sales-areas"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">District</span></a>
        </div>
        <div style="text-align:center;padding: 20px 0px;">
            <a class="stylelink" href="/cities"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">Town</span></a>
        </div>
        <div style="text-align:center;padding: 20px 0px;">
            <a class="stylelink active" href="/co-organisation"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">Facility</span></a>
        </div>
        <div style="text-align:center;padding: 20px 0px;">
            <a class="stylelink" href="/routes"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">Site</span></a>
        </div>
    </div>

</div>-->

<div style="width:100%;height:auto;background:#e85a5a;">
	<div id="wrapper">
		<div style="text-align:center; ">
			<a class="stylelink active" href="/facilitymanager"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FACILITY MANAGER/HDF</span></a>
		</div>
		<div style="text-align:center; ">
			<a class="stylelink" href="/mentor"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">OTHER ROLES</span></a>
		</div>
		<div style="text-align:center; ">
			<a class="stylelink" href="/roles"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">ROLES</span></a>
		</div>
		<div style="text-align:center; ">
			<a class="stylelink" href="/users"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">USERS</span></a>
		</div>
		<div style="text-align:center; ">
			<a class="stylelink" href="/mentorassign"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FACILITY ASSIGN</span></a>
		</div>
	</div>
</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
	<div class="box-header with-border">
		<h3 class="box-title">Facility Manager/HDF</h3>
	</div>
	<!-- /.box-header -->
	<!-- form start -->

	<div class="box-body" style="padding:20px;">
		<div align="center">
			<h4>XLS file should be in the following format.</h4>
			<img src="images/xlscoorgimage.png" style="width:80%;">
			<br/>
			<br/>
			<a href="/xlssheets/xlscoorg.xlsx" target="_blank">Click here to download sample xls file</a>
		</div>

		<div>
			<br/>
			<p>
				<input type="file" name="xlfile" id="xlf" /> ... click here to select a file
			</p>
		</div>
		<br/>

		<div class="table-responsive">
			<table class="table  table-striped">
				<thead>
					<tr>
						<th style="width:50px;">#</th>
						<th ng-style="style">NAME</th>
						<th ng-style="style">DISTRICT</th>
						<th ng-style="style">FACILITY ID</th>
						<th ng-style="style">HELPLINE NO</th>
						<th ng-style="style">ADDRESS</th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="prospect in xlsentries |itemsPerPage:5">
						<td>{{ prospect.index+1 }}</td>
						<td>{{ prospect.name }}</td>
						<td>{{ prospect.district }}</td>
						<td>{{ prospect.facilityid }}</td>
						<td>{{ prospect.helpline }}</td>
						<td>{{ prospect.address }}</td>
					</tr>
				</tbody>
			</table>

			<div align="right">
				<dir-pagination-controls max-size="5" direction-links="true" boundary-links="false">
				</dir-pagination-controls>
			</div>
		</div>

		<br/>
		<br/>
		<br/>
		<div align="left">
			<button ng-click="Save()" class="btn btn-success btn-sm btn-flat" ng-hide="hideSubmit" style="padding:5px 20px;margin-right:10px;">Submit</button>
			<button ng-click="Validate()" class="btn btn-success btn-sm btn-flat" ng-hide="hideValidate" ng-disabled="DisableValidate" style="padding:5px 20px;margin-right:10px;">Validate</button>
			<a href="/facilitymanager">
				<button class="btn btn-danger btn-sm btn-flat" style="padding:5px 20px;margin-right:10px;">Cancel</button>
			</a>
		</div>
		<a download="errorlog.txt" id="downloadlink" style="display: none" align="center">Download Error Text</a>

	</div>
</div>


<modal2 title1="{{modalTitle}}" visible="managerdataModal">
	<p>{{message}}</p>
</modal2>


<modal2 title1="{{ValidationmessageTitle}}" visible="sheetValidation">
	<p>{{Validationmessage}}</p>
</modal2>

<validationmodal title1="Alert!!!" visible="showValidation">
	{{validatestring1}}
</validationmodal>


<validationmodal title1="Alert!!!" visible="xlsValidation">
	{{validatestringxls}}
</validationmodal>
