<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;
    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;
        border-bottom: 4px solid #ec0b6d;
    }

    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 4px solid #f4f4f4;
        /*		background-color: #fff;*/
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }

    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/

    .nav-tabs-custom>.nav-tabs>li {
        width: 9%;
        text-align: center;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 10px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 10px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
            padding: 5px 10px;
        }
        .sub_menu.active {
            font-size: 10px;
            padding: 5px 10px;
        }
        .nav-tabs-custom>.nav-tabs>li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
    }

</style>

<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">

        <div style="text-align:center;">
            <a class="stylelink " href="/roles"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ROLES">ROLES</span></a>
        </div>
        <!--
        <div style="text-align:center;">
            <a class="stylelink " href="/profile"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title = "PROFILE">PROFILE</span></a>
        </div>
-->


        <div style="text-align:center;">
            <a class="stylelink active" href="/users"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="USERS PROFILE">USERS PROFILE</span></a>
        </div>

    </div>
</div>


<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div class="box-header with-border">
        <!--		<h3 class="box-title">{{heading}}</h3>-->
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">


        <p align="center" style="color:#ec0b6d;">All fields with * are mandatory</p>
        <br/>
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active" style="cursor:pointer;padding-left:10px;"><a data-target="#tab_1" data-toggle="tab">PROFILE</a></li>
                <li style="cursor:pointer;"><a data-target="#tab_2" data-toggle="tab">USER</a></li>
                <!--ng-hide="tabtwohide"-->
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1" style="padding:0;">
                    <br/>
                    <!--
                </div>
                </div>
-->
                    <form class=" " role="form">
                        <div class="row" style="margin:0;padding:0;">
                            <div>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="role">Roles<sup>*</sup></label>
                                        <div>
                                            <select ui-select2 id="role" ng-model="user.roleId" data-placeholder="Pick a Role" style="width:100%;" ng-disabled="roleDisable">
								<option value=""></option>
								<option data-ng-repeat="role in roleDisplays" value="{{role.id}}" >{{ role.name }}</option>
							</select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-ng-if="createShow">
                                <div class="form-group" data-ng-hide="hideTI">
                                    <div class="col-sm-3">
                                        <label for="role">TI<sup>*</sup></label>

                                        <div id="comgr">
                                            <select ui-select2 data-ng-model="user.usrName" data-placeholder="Pick a TI " style="width:100%;" ng-disabled="userDisable1">
									<option value=""></option>
									<option data-ng-repeat="comember in comembers" value="{{comember}}">{{ comember.firstName|lowercase }}</option>
								</select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" data-ng-hide="hideICTC">
                                    <div class="col-sm-3">
                                        <label for="role">ICTC<sup>*</sup></label>

                                        <div id="comgr">
                                            <select ui-select2 data-ng-model="user.usrName" data-placeholder="Pick a ICTC " style="width:100%;" ng-disabled="userDisable1">
									<option value=""></option>
									<option data-ng-repeat="ictccenter in ictccenterdisplay" value="{{ictccenter}}">{{ ictccenter.name|lowercase }}</option>
								</select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" data-ng-hide="hideART">
                                    <div class="col-sm-3">
                                        <label for="role">ART<sup>*</sup></label>

                                        <div id="comgr">
                                            <select ui-select2 data-ng-model="user.usrName" data-placeholder="Pick a ART " style="width:100%;" ng-disabled="userDisable1">
									<option value=""></option>
									<option data-ng-repeat="artcenter in artcenterdisplay" value="{{artcenter}}">{{ artcenter.name|lowercase }}</option>
								</select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div data-ng-if="editShow">
                                <div class="form-group" data-ng-hide="hideTI">
                                    <div class="col-sm-3">
                                        <label for="role">TI<sup>*</sup></label>

                                        <div id="comgr">
                                            <select ui-select2 data-ng-model="user.tiId" data-placeholder="Pick a TI " style="width:100%;" ng-disabled="userDisable1">
									<option value=""></option>
									<option data-ng-repeat="comember in comembers" value="{{comember.id}}">{{ comember.firstName|lowercase }}</option>
								</select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" data-ng-hide="hideICTC">
                                    <div class="col-sm-3">
                                        <label for="role">ICTC<sup>*</sup></label>

                                        <div id="comgr">
                                            <select ui-select2 data-ng-model="user.ictcId" data-placeholder="Pick a ICTC " style="width:100%;" ng-disabled="userDisable1">
									<option value=""></option>
									<option data-ng-repeat="ictccenter in ictccenterdisplay" value="{{ictccenter.id}}">{{ ictccenter.name|lowercase }}</option>
								</select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" data-ng-hide="hideART">
                                    <div class="col-sm-3">
                                        <label for="role">ART<sup>*</sup></label>

                                        <div id="comgr">
                                            <select ui-select2 data-ng-model="user.artId" data-placeholder="Pick a ART " style="width:100%;" ng-disabled="userDisable1">
									<option value=""></option>
									<option data-ng-repeat="artcenter in artcenterdisplay" value="{{artcenter.id}}">{{ artcenter.name|lowercase }}</option>
								</select>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="role">Name<sup>*</sup></label>
                                    <div>
                                        <input type="text" class="form-control" id="name" data-ng-model="user.firstname" placeholder="Enter Name" style="width:100%;" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode==32">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="role">Mobile<sup>*</sup></label>
                                    <div>
                                        <input type="text" class="form-control" id="mobile" data-ng-model="user.mobile" placeholder="Mobile" style="width:100%;" maxlength="10" numbers-only="true">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="role">Email<sup>*</sup></label>
                                    <div>
                                        <input type="email" class="form-control" id="email" data-ng-model="user.email" placeholder="Email" style="width:100%;">
                                    </div>
                                </div>

                            </div>


                            <div class="col-sm-3">
                                <div class="form-group" ng-hide="hideCountry">
                                    <label for="zone">Country<sup>*</sup></label>
                                    <div>
                                        <select ui-select2 id="facility" ng-model="user.countryId" data-placeholder="Pick a Country" style="width:100%;" ng-disabled="userDisable">
								<option value=""></option>
								<option data-ng-repeat="country in countries" value="{{country.id}}">{{ country.name }}</option>
							</select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group" ng-hide="hideState">
                                    <label for="zone">State<sup>*</sup></label>
                                    <div>
                                        <select ui-select2 ng-model="user.state" data-placeholder="Pick a State" style="width:100%;" ng-disabled="userDisable">
								<option value=""></option>
								<option data-ng-repeat="zone in zones" value="{{zone.id}}">{{ zone.name }}</option>
							</select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group" ng-hide="hideDistrict">
                                    <label for="zone">District<sup>*</sup></label>
                                    <div>
                                        <select ui-select2 ng-model="user.district" data-placeholder="Pick a District" style="width:100%;" ng-disabled="userDisable">
								<option value=""></option>
								<option data-ng-repeat="salesArea in salesareas" value="{{salesArea.id}}">{{ salesArea.name }}</option>
							</select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group" ng-hide="hideTown">
                                    <label for="zone">Town<sup>*</sup></label>
                                    <div>
                                        <select ui-select2 id="facility1" ng-model="user.town" data-placeholder="Pick a Town" style="width:100%;" ng-disabled="userDisable">
								<option value=""></option>
								<option data-ng-repeat="city in cities" value="{{city.id}}">{{ city.name }}</option>
							</select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group" ng-hide="hideictcdata">
                                    <label for="zone">ICTC<sup>*</sup></label>
                                    <div>
                                        <select ui-select2 id="facility2" ng-model="user.ictcId" data-placeholder="Pick a ICTC" style="width:100%;" ng-disabled="userDisable">
								<option value=""></option>
								<option data-ng-repeat="ictccenter in ictccenters" value="{{ictccenter.id}}">{{ ictccenter.name }}</option>
							</select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group" ng-hide="hideartdata">
                                    <label for="zone">ART<sup>*</sup></label>
                                    <div>
                                        <select ui-select2 id="facility3" ng-model="user.artId" data-placeholder="Pick a ART" style="width:100%;" ng-disabled="userDisable">
								<option value=""></option>
								<option data-ng-repeat="artcenter in artcenters" value="{{artcenter.id}}">{{ artcenter.name }}</option>
							</select>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br/>
                        <br/>
                        <br/>
                        <div align="right">
                            <div>
                                <a data-ng-href="/users" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:30px;">Cancel</a>

                            </div>
                        </div>
                    </form>
                </div>

                <div class="tab-pane" id="tab_2" style="padding:0;">
                    <br/>
                    <form class=" " role="form">

                        <div class="row" style="padding:0;margin:0;">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="role">Username<sup>*</sup></label>
                                    <div>
                                        <input type="text" class="form-control" id="userName" data-ng-model="user.username" placeholder="Username" style="width:100%;" ng-disabled="usernameDisable" ng-change="checkUserName(user.username)">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="role">Password<sup>*</sup></label>
                                    <div>
                                        <input type="password" class="form-control" id="password" data-ng-model="user.password" placeholder="Password" style="width:100%;">
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="zone">User status</label>
                                    <div>
                                        <label class="radio-inline">
								<input type="radio" data-ng-model="user.status" value="active" ng-disabled="usernameDisable">Active
							</label>
                                        <label class="radio-inline">
								<input type="radio" data-ng-model="user.status" value="inactive" ng-disabled="usernameDisable">Inactive
							</label>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="distribution-area">Language</label>
                                    <div>
                                        <select ui-select2 id="partner" ng-model="user.language" data-placeholder="Pick a Language" style="width: 100%;">
								<option value=""></option>
								<option data-ng-repeat="language in languages" value="{{language.id}}">{{ language.name }}</option>
							</select>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <br/>
                        <br/>
                        <br/>
                        <div align="right">
                                <a data-ng-href="/users" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">Cancel</a>

                                <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-hide="Saved" style="padding:5px 20px;margin-right:30px;" ng-disabled="disableButton">Create </a>

                                <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="Updated" style="padding:5px 20px;margin-right:30px;" ng-disabled="disableButton">Update </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->

<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>

<validationmodal title1="Alert" visible="showUniqueValidation">
    {{validatestring2}}
</validationmodal>
