<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;

    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;
        border-bottom: 4px solid #ec0b6d;
    }


    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 4px solid #f4f4f4;
        /*		background-color: #fff;*/
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }

    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/

    /*
    tbody tr td {
        color:#9d9eb3;
        
    }
*/

    thead tr th {
        color: #4a4d72;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 10px 20px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
    }

    .table-responsive {
        overflow-x: hidden;
    }

</style>

<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink " href="/countries"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="COUNTRY">COUNTRY</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink active" href="/state"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="STATE">STATE</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/district"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="DISTRICT">DISTRICT</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/town"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="TOWN">TOWN</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/ictccenter"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ICTC">ICTC </span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/artcenter"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="ART">ART </span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/ti"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="TI">TI</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/sites"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;" title="SITES">SITES</span></a>
        </div>
        <!--<div style="text-align:center;">
			<a class="stylelink" href="/employees"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FACILITY</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/routes"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SITE</span></a>
		</div>-->
    </div>

</div>


<!-- Horizontal Form -->
<!--<div class="box box-info" style="min-height:450px;border-color:#b71c1c;margin-top:5px;">-->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div class="box-header with-border">
        <!--		<h3 class="box-title">State</h3>-->
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body" >

        <div class="row" style="padding:0px 20px;">
            <div class="col-sm-5"></div>
            <div class="col-sm-7">
                <div data-ng-hide="hideSearchFilter()" class="col-sm-2  col-md-2" style="text-align:left;border-color:#e1e8ee">
                    <div>
                        <label class="showlabel">Show</label>
                    </div>
                    <div class="sell">
                        <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
						<option value="25">25</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
                    </div>
                    <!--					<span>Entries</span>-->
                </div>
                <div data-ng-hide="hideSearchFilter()" class="col-sm-6 col-md-6 smright2txt">
                    <form role="form">
                        <div class="input-group">
                            <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-left-radius: 4px;border-bottom-left-radius: 4px;border-color:#d5d7df;background:none;border-right:none;"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                            <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-radius:2px;border-left:none;border-color:#d5d7df;border-top-right-radius:4px;border-bottom-right-radius: 4px;" data-ng-model="search">

                        </div>
                    </form>
                </div>
                <div class="col-sm-2 col-md-2 smright2txt">
                    <a data-ng-href="/state/create" class="btn btn-primary btn-sm  " role="button" data-ng-hide="hideCreateButton()" style="padding:5px 20px;">Add New </a>&nbsp;&nbsp;&nbsp;
                    <!--                <a data-ng-href="/uploadstate" class="btn btn-success btn-sm  " role="button" data-ng-hide="hideCreateButton()" style="padding:5px 20px;">Upload</a>-->
                </div>
            </div>
        </div>
        <br/>

        <form class=" " role="form" style="padding:20px;" data-ng-show="showForm()">

            <!--			<toaster-container toaster-options="{'position-class': 'toast-container-custo','time-out': 3000, 'close-button':true, 'newest-on-top':false}"></toaster-container>-->
            <toaster-container toaster-options="{'position-class': 'toast-container-custo','time-out': 3000,'body-output-type': 'template'}"></toaster-container>



            <p align="center" style="color:#ec0b6d;">All fields with <sup>*</sup> are mandatory</p>
            <br/>
            <div class="row" style="margin:0;padding:0">


                <div class="col-sm-3" style="padding-left: 0px;">
                    <div class="form-group">
                        <label for="name">State<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="name" data-ng-model="zonename" placeholder="State Name" pattern='[A-Za-z\\s]*' onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode==32" ng-change="CheckDuplicate(zonename)">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">State Code<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="someInput" data-ng-model="zone.code" placeholder="State Code" pattern='[A-Za-z\\s]*' ng-disabled="statecodeDisable" maxlength="2" ng-change="orderChange(zone.code)">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">

                    <!--
                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red">Member Count </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="count" data-ng-model="zone.membercount" placeholder="Member Count" pattern='[A-Za-z\\s]*' numbers-only maxlength="4" ng-disabled="membercountDisable">
                        </div>
                    </div>
-->
                    <div class="form-group">
                        <label for="zone">Country<sup>*</sup></label>
                        <div>
                            <select ui-select2 id="zoneId" ng-model="zone.countryId" data-placeholder="Pick a Country" style="width: 100%;" ng-disabled="disablecountry">
								<option value=""></option>
								<option data-ng-repeat="country in countries" value="{{country.id}}">{{ country.name }}</option>
							</select>
                        </div>
                    </div>
                </div>

            </div>
            <br/>
            <br/>
            <br/>

            <div align="right">
                    <a data-ng-href="/state" class="btn btn-danger btn-sm  " role="button" style="padding:5px 20px;margin-right:10px;"> Cancel</a>
                    
                    <a class="btn btn-info btn-sm  " type="submit" role="button" data-ng-click="SaveZone()" data-ng-show="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;">Create </a>&nbsp;&nbsp;&nbsp;

                    <a class="btn btn-info btn-sm  " type="submit" role="button" data-ng-click="UpdateZone()" data-ng-hide="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;">Update </a>
            </div>
        </form>

        <div data-ng-hide="hideSearchFilter()">

            <div class="row" style="margin:0;padding:0;">
                <!--
				<div class="col-sm-6" style="padding-top:5px;">
					<span>Show</span>
					<select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
						<option value="25">25</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
					<span>Entries</span>
				</div>
				<div class="col-sm-6">
-->
                <!---	<div class="row" style="margin:0;padding:0;">
						<div class="col-sm-4"></div>
						<div class="col-sm-8">
							<form role="form">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Search for..." style="z-index:0; border-top-left-radius: 15px;border-bottom-left-radius: 15px;" data-ng-model="searchZone">
									<span class="input-group-btn">
                        <button class="btn btn-default" type="button" style="border-top-right-radius: 15px;border-bottom-right-radius: 15px;"><span class="glyphicon glyphicon-search"></span></button>
									</span>
								</div>
							</form>

						</div>
					</div>--->
                <!--
                    	<div class="row" style="margin:0;padding:0;">
						<div class="col-sm-5"></div>
						<div class="col-sm-7">
							<form role="form">
								<div class="input-group">
									<input type="text" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-radius:2px;border-right:none;border-color:#e1e8ee;border-top-left-radius:4px;border-bottom-left-radius: 4px;" data-ng-model="searchZone" >
									   <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius: 4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
									</span>
								</div>
							</form>

						</div>
					</div>
				</div>
-->

            </div>
        </div>
        <br />


        <div data-ng-hide="showForm()" class="table-responsive">

            <!--
            <form class="form-horizontal" role="form">

                <div class="form-group">
                    <label for="zone" class="col-sm-2" style="font-weight:600;margin-top:5px;padding-left:30px;">Country</label>
                    <div class="col-sm-10">
                        <select ui-select2 id="zone" ng-model="countryId" data-placeholder="Pick a Country" style="width:180px;">
							<option value=""></option>
							<option data-ng-repeat="country  in countries" value="{{country.id}}">{{ country.name }}</option>
						</select>
                    </div>
                </div>

            </form>
-->
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr style="border-bottom:1px solid #ccc;">
                            <!--
                        <th style="width:50px;">#</th>
                        <th>STATE</th>
-->

                            <th style="width:50px;">S NO.</th>
                            <th ng-click="changeSorting('index')" title="STATE" style="cursor:pointer;">STATE<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('index')"></i></span></th>
                            <th>STATE CODE</th>
                            <th>COUNTRY</th>
                            <th style="width:100px;">ACTION</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr dir-paginate="zone in TotalData  = ( zones| orderBy:sort.active:sort.descending  | filter:search:startsWith ) |itemsPerPage:pageSize" pagination-id="zonesid" current-page="currentPage">
                            <td>{{ zone.index }}</td>
                            <td>{{zone.name}}</td>
                            <td>{{zone.code}}</td>
                            <td>{{zone.CountryName}}</td>
                            <td>
                                <a data-ng-href="/state/{{zone.id}}"><img src="images/piclinks/edit.png" title="Edit"  width="16px"></a>&nbsp;&nbsp;
                                <!--
                                <a style="color:#b7b8c8;">|</a>&nbsp;&nbsp;
                                <a confirm-button="Delete(zone.id)" message="Are you sure? you want to delete?">
                                <span class="glyphicon glyphicon-remove" style="cursor:pointer;border-left:1px solid #" title="Bin"></span>
                            </a>&nbsp;
-->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br/>
            <div align="right">
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" pagination-id="zonesid" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                </dir-pagination-controls>
            </div>
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->


<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>
