/**
 Copyright (c) 2014 BrightPoint Consulting, Inc.

 Permission is hereby granted, free of charge, to any person
 obtaining a copy of this software and associated documentation
 files (the "Software"), to deal in the Software without
 restriction, including without limitation the rights to use,
 copy, modify, merge, publish, distribute, sublicense, and/or sell
 copies of the Software, and to permit persons to whom the
 Software is furnished to do so, subject to the following
 conditions:

 The above copyright notice and this permission notice shall be
 included in all copies or substantial portions of the Software.

 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 OTHER DEALINGS IN THE SOFTWARE.
 */

.chart-wrapper {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  margin-bottom: 10px;
}


.chart-wrapper .chart-title {
  border-bottom: 1px solid #d7d7d7;
  color: #666;
  font-size: 14px;
  font-weight: 200;
  padding: 7px 10px 4px;
}

.chart-wrapper .chart-stage {
  /*min-height: 240px;*/
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
}

.chart-wrapper .chart-notes {
  background: #fbfbfb;
  border-top: 1px solid #e2e2e2;
  color: #808080;
  font-size: 12px;
  padding: 8px 10px 5px;
}
.chart-wrapper svg{
position: relative;
left: 50%;
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
transform: translateX(-50%);
}

.row > *{
    padding-left: 20px !important;
}

.row+.row>* {
    padding-top:5px !important;
}


        #total-projects {
                background: #33CC99;
                width: 200px;
                position:relative;
                height:60px;
                font-size: 29px;
                color: white;
                vertical-align: middle;
                text-align: center;
                padding-top: 12px;
                padding-bottom: 0px;
            }

        #net-donations {
                background: #33CC99;
                width: 200px;
                position:relative;
                height:60px;
                font-size: 29px;
                color: white;
                vertical-align: middle;
                text-align: center;
                padding-top: 12px;
                padding-bottom: 0px;
            }
        .dc-select-menu {
                background: #FB6B6B;
                width: 80%;
                border:none;
                position:relative;
                height:31px;
                font-size: 15px;
                color: #ffffff;
                vertical-align: middle;
                text-align: center;
                padding-top: 4px;
                padding-bottom: 0px;


            }




.background {
    fill: #FFFFFF;
    fill-opacity: 0.01;
}

.component {
    fill: #e1e1e1;
}

.component .label {
    font-family: Myriad, "Helvetic Neue", Helvetica, Arial;
    text-anchor: middle;
    fill: #0000FF;
}

.arc {
    stroke-weight: 0.1;
    fill: #4e8fff;
}

.arc2 {
    stroke-weight: 0.1;
    fill: #3660b0;
}

.label {
    font-family: Myriad, "Helvetic Neue", Helvetica, Arial;
    text-anchor: middle;
}

.radial-svg {
    display: block;
    margin: 0 auto;
}

/*******************************************************/

.header {
    background: #fff;
    box-shadow: 0 0 5px #666;
    height: 63px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1500;
}

.main-container-admin {
    margin: auto 25px;
    min-height: 100%;
    position: relative;
    padding: 0;
}

.logo {
    float: left;
    margin: 6px 0;
    width: 140px;
    height: 56px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

h3 {
    margin: 0 0 10px 0;
    color: #616161;
}

.blueError {
    background: url(../img/blue-error.png) no-repeat #fff right 10px;
    border-color: #00adee;
    box-shadow: 0 0 5px #d1f2ff inset;
}

.loginOuterWapper {
    display: table;
    height: 100%;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
}

.loginInnerWapper {
    display: table-cell;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.loginWrapper {
    background: #F7F7F7;
    border: 1px solid #CCC;
    color: #868686;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 15px;
    width: 310px;
}

input {
    background: #FFF;
    border: 1px dotted #888;
    font-size: 14px;
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 10px;
}

input[type='submit'] {
    background: #00acf1;
    border: 1px solid #00acf1;
    color: #fff;
    width: 100px;
    transition: all 0.2s ease ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    position: relative;
    left: 90px;
    top: 7px;
}

input[type='submit']:hover {
    background: #0093CF;
    border: 1px solid #00acf1;
    color: #fff;
}

.footer {
    bottom: 0;
    border-top: 1px solid #eee;
    color: #333;
    font-size: 12px;
    position: fixed;
    background-color: black;
    width: 100%;
    color: #ffffff;
}

.footer .footer-content-admin {
    /*  margin: auto;
     position: relative;*/
    padding: 0 25px;
}

.footer-top {
    /*  display: block;
     width: 100%;
     height: 40px;*/
}

.wincere-logo {
    background: url(../img/wincere-logo-new.png) no-repeat right 7px;
    display: table;
    height: 40px;
    float: right;
    line-height: 40px;
    padding-right: 52px;
    text-decoration: none;
    width: auto;
}

.footer-top p {
    line-height: 40px;
    padding: 0;
    margin: 0px;
    width: auto;
}

.footer-top p a {
    display: block;
    float: left;
    margin-right: 30px;
    text-decoration: none;
}

.footer-copyright {
    bottom: 10px;
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    width: 195px;
}
.footer-poweredbBy {
    float: right;
}
.footer-links {

}
a {
    color: #FFFFFF;
}

  .userDetailsAlertBox{
        position: relative;
        top: 80px;
        left: 560px;
        width: 250px;
        height: 90px;
        display:none;
        background: #0093CF;
        color: #ffffff;
        font-size: 18px;
        padding: 19px;
        border-radius: 12px;
    }